<div class="search-form">
  <div class="input-group form-group">
    <input type="text" class="form-control search-text" placeholder="Search...">
    <span class="input-group-btn">
      <button  class="btn btn-success">Go</button>
    </span>
  </div><!-- /input-group -->
</div>
<div class="toggle-all">
  <em>
    <a href="#" class="select-all" >select all</a> /
    <a href="#" class="select-none" >deselect all</a>
  </em>
</div>

<div class="tree tree-container" style=""></div><!--display:none;-->
