<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-globe"></span> Basemap <b class="caret"></b>
  </a>
  <ul class="dropdown-menu" style="width: 400px;height: 200px;overflow-y: scroll">
    <li>
      <div id="basemapGallery" class="clearfix">

        <% basemaps.each(function(basemap) { %>
          <div class="esriBasemapGalleryNode" data-id="<%= basemap.get('id') %>">
            <img class="esriBasemapGalleryThumbnail" src="<%= basemap.get('thumb') %>" alt="<%= basemap.get('id') %>" />
            <div class="esriBasemapGalleryLabelContainer">
              <%= basemap.get('id') %>
            </div>
          </div>
        <% }); %>

      </div>
    </li>
  </ul>
</li>
