<div class="cluster-popup">
  <h5><%= obj.properties.admName%> has <%= obj.properties.activityid.length %> projects </h5>

  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#charts-pane-sector" role="tab" data-toggle="tab" data-i18n="amp.gis:activities-sectors">Sectors</a></li>
    <li><a href="#charts-pane-donor" role="tab" data-toggle="tab" data-i18n="amp.gis:activities-donors">Funding Organizations</a></li>
    <li><a href="#projects-pane" role="tab" data-toggle="tab" data-i18n="amp.gis:activities-projectlist">Project List</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="charts-pane-sector">
      <div class="amp-chart">
      <img class="loading" src="img/loading-icon.gif" /><svg></svg></div>
    </div>
    <div class="tab-pane" id="charts-pane-donor">
      <img class="loading" src="img/loading-icon.gif" />
    	<div class="amp-chart"><svg class="dash-chart"></svg></div>
    </div>
    <div class="tab-pane" id="projects-pane">
      <!-- this template is for adm clusters -->
      <div class="scroll-container">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th data-i18n="amp.gis:activities-project-title">Title</th>
              <th class="text-right" data-i18n="amp.gis:activities-commitments">Actual Commitments</th>
              <th class="text-right" data-i18n="amp.gis:activities-disbursements">Actual Disbursements</th>
            </tr>
          </thead>
          <tbody class="project-list">
          </tbody>
        </table>
        <img class="loading" src="img/loading-icon.gif" />
      </div>
      <div class="btn btn-sm btn-info load-more"><span data-i18n="amp.gis:popup-loadmore">load more</span>...</div>
    </div>
  </div>
</div>
