<% if (obj.isPerformanceToggleAvailable) { %>
<div class="radio" style="margin-top: 2px;">
  		<label>
    		<input type="checkbox" class="map-header-performance-button" <%=(obj.isPerformanceToggleSelected ? 'checked' : '')%> />
    		<span class="styled-checkbox"></span>
    		<span data-i18n="amp.gis:title-performance-tooltip[title]" data-placement="bottom" data-toggle="tooltip"><span id="map-header-performance" title="" data-i18n="amp.gis:title-performance-selector" data-original-title="">Good Performance Projects View</span></span>
  		</label>
</div>
<% } %>