<div class="legend-header text-center" >
  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#legend" href="#legend-content">
    Legend
  </a>
</div>
<div id="legend-content" class="accordion-body collapse">
   <div class="accordion-inner">
    Legend things will go here
    TODO: colourful divs arranged nicely.
    <h3>Some title</h3>
    <ul>
      <li>Some legend items</li>
      <li>Maybe a list, maybe a table...</li>
      <li>Some might be divs </li>
    </ul>

    <hr />
    <h3>Some other title</h3>
    <ul>
      <li>Some legend items</li>
      <li>Maybe a list, maybe a table...</li>
      <li>Some might be divs </li>
    </ul>

    <h3>Some title</h3>
    <ul>
      <li>Some legend items</li>
      <li>Maybe a list, maybe a table...</li>
      <li>Some might be divs </li>
    </ul>
  </div>
</div>
