<% if (obj.isGapAnalysisAvailable) { %>
	<div class="radio" style="margin-top: 2px;">
  		<label>
    		<input type="checkbox" class="map-header-gap-analysis-button" <%=(obj.isGapAnalysisSelected ? 'checked' : '')%> />
    		<span class="styled-checkbox"></span>
    		<span data-i18n="amp.gis:title-gap-analysis-tooltip[title]" data-placement="bottom" data-toggle="tooltip"><span id="map-header-gap-analysis" title="" data-i18n="amp.gis:title-gap-analysis-selector" data-original-title="">Gap Analysis View Available</span></span>
  		</label>
  	</div>
<% } %>