
	<% _.each(obj.activities, function(activity){ var activityJSON = activity.toJSON();%>

		<tr>
      <td>
        <a target="_blank" href="<%= activityJSON.ampUrl %>" title="<%= activityJSON["Project Title"] %>">
          <%= (activityJSON["Project Title"].length>35 ? activityJSON["Project Title"].substring(0, 33)+'...': activityJSON["Project Title"]) %>
        </a>
      </td>
      <td class="text-right">
        <% if(activityJSON["Actual Commitments"]){ %>
            <%= activityJSON["Actual Commitments"] %>
        <% } else { %>
          -
        <% }%>
      </td>
      <td class="text-right">
        <% if(activityJSON["Actual Disbursements"]){ %>
            <%= activityJSON["Actual Disbursements"] %>
        <% } else { %>
          -
        <% }%>
      </td>
    </tr>
	<% });%>

