
	<% console.log('obj', obj);  _.each(obj.activities, function(activity){ %>
		<tr>
      <td><a href="<%= activity.ampUrl %>" title="<%= activity["Project Title"] %>"><%= (activity["Project Title"].length>27 ? activity["Project Title"].substring(0, 30)+'...': activity["Project Title"]) %></a></td>
      <td class="text-right">
        <% if(activity["Actual Commitments"]){ %>
            <%= activity["Actual Commitments"] %>
        <% } else { %>
          -
        <% }%>
      </td>
      <td class="text-right">
        <% if(activity["Actual Disbursements"]){ %>
            <%= activity["Actual Disbursements"] %>
        <% } else { %>
          -
        <% }%>
      </td>
    </tr>
	<% });%>

