<!-- this template is for project sites -->
<div class="cluster-popup">
  <h5><%= projects.length %> projects are geocoded here</h5>

  <div class="scroll-container">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Title</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody class="project-list">
        <%   _.each(projects, function(project){  %>
        <tr>
          <td><!--= project.feature.properties.title --></td>
          <td><!--= this.app.data.activities.get(project.feature.properties.activity[0]).get('totalCommitments') --></td>
          <!--<td><= JSON.stringify(this.app.data.activities.get(project.feature.properties.activity[0])) </td-->

          <!--<td><= project.feature.properties.activity[0] ></td>-->

        </tr>
        <% });%>
      </tbody>
    </table>
  </div>
  <div class="btn btn-sm btn-info load-more">load more...</div>
</div>
