<span class="cluster-popup">
  <span class="templateBugWorkaround">
    <h5>
      <a target="_blank" href="<%= activityJSON.ampUrl %>" title="<%= activityJSON["Project Title"] %>">
        <%= activityJSON["Project Title"]%>
      </a>
    </h5>
    <p>
      <strong><span data-i18n="amp.gis:activities-project-id">AMP ID</span>:</strong>
      <%= activityJSON['AMP ID'] %><br/>
      <strong><span data-i18n="amp.gis:popup-project-site">Site</span>:</strong>
      <%=  properties.title %><br/>
      <strong><span data-i18n="amp.gis:activities-donors">Funding Organization</span>:</strong>
      <%= activityJSON["donorNames"] %><br/>
      <strong><span data-i18n="amp.gis:activities-sectors">Sectors</span>:</strong>
      <%= activityJSON["sectorNames"] %><br/><br/>
      <strong><span data-i18n="amp.gis:activities-project-description">Description</span>:</strong>
      <%= properties.description %><br/>
    </p>
  </span>
</span>
