
<% _.each(obj.activities, function(activity){ var activityJSON = activity.toJSON();%>
<tr>
    <td>
        <a target="_blank" href="<%= activityJSON.detailsUrl %>" title="<%= activityJSON["name"] %>">
        <%= (activityJSON["name"].length > 35 ? activityJSON["name"].substring(0, 33)+'...': activityJSON["name"]) %>
        </a>
    </td>
    <td>
        <%= (activityJSON["description"].length > 35 ? activityJSON["description"].substring(0, 33)+'...': activityJSON["description"]) %>
    </td>
    <td>
        <%= activityJSON["country"] %>
    </td>
    <td>
        <%= activityJSON["type"] %>
    </td>
</tr>
<% });%>

