<span class="templateBugWorkaround">

  <h3 data-i18n="amp.gis:title-<%= title.replace(/ /g,'') %>"><%= title %></h3>

  <% if (status === 'loading') { %>
    <p><em data-18n="amp.gis:legend-loading">Loading...</em></p>
  <% } else { %>
    <% colourBuckets.each(function(bucket) { %>
      <div>
        <span style="background: <%= bucket.hex() %> !important" class="color-block legend-sample"></span>
        <%= bucket.get('value')[0] %>&mdash;<%= bucket.get('value')[1] %>
      </div>
    <% }) %>
  <% } %>
</span>
