/JobLog.properties
/application.properties
/ehcache.xml
/hibernate-dialect.xml
/hibernate.cfg.xml
/initSQL/
/jasperreports.properties
/java/
/org/
/quartz.properties
/saiku-datasources/
/saiku-repository/
/saiku.properties
/standAloneAmpHibernate.cfg.xml
