BODY {
	MARGIN: 0px 0px 0px
}
BODY {
	FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TH {
	FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
INPUT {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, arial, helvetica, sans-serif
}
.hdboxone {
	FONT-WEIGHT: bold; BACKGROUND: #255a96; MARGIN: 10px 10px 10px 0px; COLOR: #ffffff
}
.hdboxtwo {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: #15ade4; MARGIN: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.hdboxthree {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: #e4c46b; MARGIN: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.hdboxfour {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: #3dae9c; MARGIN: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.title_topic {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #4b1b7f; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
A.topmenu {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #4b1b7f; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
A.topmenu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #4b1b7f; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
A.topmenu:active {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #4b1b7f; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
A.topmenu:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #4b1b7f; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
.navstring {
	FONT-SIZE: 8.5pt; COLOR: #333333; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
.border {
    border-right: #C0C0C0 1px solid;
    BORDER-TOP: #C0C0C0 1px solid;
    BORDER-LEFT: #C0C0C0 1px solid;
    BORDER-BOTTOM: #C0C0C0 1px solid;
}
.border2 {
    border-right: #C0C0C0 1px solid;
    BORDER-TOP: #C0C0C0 1px ;
    BORDER-LEFT: #C0C0C0 1px ;
    BORDER-BOTTOM: #C0C0C0 1px solid;
}

a.text {font-family:verdana,arial, HELVETICA;font-weight:normal;color:#000000;text-decoration:none;}
a:visited.text {color:#000000;text-decoration:none;}
a:hover.text {color:#000000;text-decoration:underline;}

a.title_topic {font-size:10pt;font-family:verdana,arial,sans-serif;font-weight:bold;color:#330099;text-decoration:none;}
a:visited.title_topic {font-size:10pt;font-family:verdana,arial,sans-serif;font-weight:bold;color:#330099;text-decoration:none;}
a:hover.title_topic {font-size:10pt;font-family:verdana,arial,sans-serif;font-weight:bold;color:#330099;text-decoration:underline;}

.title {font-size:10pt;font-family:verdana,arial, HELVETICA;color:#330099; font-weight:bold;}
.topic_title {font-size:10pt;font-family:verdana,arial, HELVETICA;color:#330099; font-weight:bold;}
.title_topic {font-size:10pt;font-family:verdana,arial, HELVETICA;color:#330099; font-weight:bold;}
.titletopic {font-size:10pt;font-family:verdana,arial, HELVETICA;color:#330099; font-weight:bold;}
.youthtitle {font-size:10pt;font-family:verdana,arial, HELVETICA;color:#FFFFFF; font-weight:bold;}
.PageTitle {font-size:12pt;font-family:verdana,arial, HELVETICA;color:#000000; font-weight:bold;}
.text {font-size:9pt;font-family:verdana,arial, HELVETICA;color:#000000;}
.comment {font-size:9pt;font-family:verdana,arial, HELVETICA;color:#999999;}
.welcometext{font-size:13pt; font-family:verdana,arial;color:#CD1318; font-weight:bold;}
.highlight {font-size:9pt;font-family:verdana,arial, HELVETICA; color:#330099;}

.HighlightColor {background-color: #dedede;}
.TableHeader {font-family: Verdana, Arial;font-size : 10pt;font-weight: bold;}
.RowColorOdd {background-color: #efefef;}
.RowColorEven {background-color: #dedede;}
.Navbar {font-family: Verdana, Arial;font-size : 9pt;font-weight: bold;}
.PageTitle {font-family: Verdana, Arial;font-size : 16pt;}
.Attribution {font-family: Verdana, Arial;font-size : 8pt;margin-top: 5px;}
.error {font-family: Verdana, Arial;font-size : 8pt;color: #AA0000;font-weight: bold;}
.tiny {font-family: Verdana, Arial;font-size : 8pt;}
