.preview_container {
  font-family: 'open_sansregular', sans-serif;
  margin-left: 30px;
  margin-right: 50px;
}

.preview_title {
  margin-left: 10px;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px;
  height: auto;
  display: inline-block;
}

.preview_icons {
  display: inline-block;
}

.preview_icons img {
  height: 20px;
  width: 20px;
}

.preview_icons object {
  height: 20px;
  width: 20px;
}

.preview_icons ul {
  margin-left: 30px;
  columns: 5;
  column-rule: 1px solid #ebebeb;
}

.preview_icons ul li {
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.preview_status_container {
  margin-left: 10px;
  margin-top: 20px;
  padding: 10px;
  background-color: #f5faff;
}

.preview_status_title {
  display: inline-block !important;
  margin-left: 10px;
  margin-right: 5px;
}

.preview_status_detail {
  display: inline-block !important;
  font-family: 'open_sansextrabold', sans-serif;
  margin-right: 20px;
}

.status_title_class {

}

.status_group_class {

}

.preview_categories {
  margin-top: 20px;
  margin-left: 15px;
  border-bottom: 1px solid #ebebeb;
}

.preview_categories ul {
  columns: 5;
  column-rule: 1px solid #ebebeb;
  line-height: 150%;
}

.preview_categories ul li {
  list-style-type: none;
  font-size: 0.9em;
  font-weight: bold;
  color: #778293;
  margin-left: 20px;
  padding-left: 4px;
  cursor: pointer;
}

.preview_categories ul li:hover {
  color: #1d2531;
  background-color: #f8f8f8;
  position: relative;
}

.preview_categories ul li:hover:after {
  /* content: url('../../../assets/images/arrow.svg'); */
  height: 14px;
  width: 14px;
  display: block;
  position: absolute;
  left: -13px;
  top: 2px;
}

.preview_category_selected {
  color: #1d2531;
  /* background-color: #f8f8f8; */
  position: relative;
}

.preview_category_selected:after {
  /* content: url('../../../assets/images/arrow.svg'); */
  height: 14px;
  width: 14px;
  display: block;
  position: absolute;
  left: -13px;
  top: 2px;
}

.preview_content {
  vertical-align: top;
}

.preview_summary {
  width: 300px;
}

.summary_container {
  margin-top: 30px;
  padding-right: 20px;
}

.summary_section_title {
  background-color: #3a84b3;
  color: #FFFFFF;
  font-size: 1.3em;
  margin-bottom: 15px;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
}

.summary_section_group {
  background-color: #f5faff;
  margin-top: 15px;
  padding-bottom: 10px;
}

.summary_field_name {
  padding-left: 15px;
}

.summary_field_value {
  padding-left: 15px;
  font-family: 'open_sansextrabold', sans-serif;
  margin-bottom: 15px;
}

.main_group_container {
  margin-top: 30px;
}

.section_title_class {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 30px;
}

.section_group_class {
  margin-right: 10px;
  margin-bottom: 20px;
}

.section_subtitle_class {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100%;
}

.section_field_name {
  font-size: 0.85em;
  color: #767676;
  font-weight: bold;
  margin-bottom: 5px;
}

.section_field_value {
  font-weight: bold;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.box_container {
  border: 1px solid #ebebeb;
}

.box_table {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-collapse: collapse;
  width: 100%;
}

.box_table td {
  width: 33%;
  padding-left: 20px;
  border-bottom: 1px solid #ebebeb;
}

.box_table tr td:nth-child(2) {
  border: 1px solid #ebebeb;
}

.two_box_table {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
}

.two_box_table td {
  width: 50%;
  padding-left: 20px;
}

.two_box_table tr td:first-child {
  border-right: 1px solid #ebebeb;
}

.box_field_name {
  font-size: 0.85em;
  color: #767676;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}

.box_field_value {
  font-weight: bold;
  padding-bottom: 10px;
}

.box_field_value_tight {
  font-weight: bold;
}

.percent_field_name {
  display: inline-block;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 10px;
  width: 70%;
}

.percent_field_value {
  display: inline-block;
  color: #3a84b3;
  font-weight: bold;
  width: 15%;
  padding-left: 5%;
  padding-top: 10px;
  vertical-align: top;
}

.project_cost_left {
  display: inline-block;
  width: 55%;
  background-color: #f8fff5;
  margin-left: 10px;
  padding-left: 20px;
  padding-top: 10px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}

.project_cost_right {
  display: inline-block;
  width: 43%;
  padding-left: 20px;
  padding-top: 10px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.project_cost_title {
  display: block;
  font-size: 0.85em;
  color: #767676;
  font-weight: bold;
  margin-bottom: 5px
}

.project_cost_currency {
  display: block;
  width: 100%;
  font-size: 2em;
  text-align: right;
  padding-bottom: 10px;
  padding-right: 10px;
}

.project_cost_date {
  display: block;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
  line-height: 30px;
}

.sector_title {
  background-color: #f4f4f4;
  color: #9d9d9d;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 8px;
  margin-bottom: 15px;
  font-size: 0.85em;
  font-weight: bold;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.table_raw {
  display: table-row;
}


.alignRight {
  text-align: right;
}

.tableCell {
  padding-left: 10px;
}

.tableValue {
  width: 100%;
  float: left;
  font-weight: bold;
}

.paddingBottom {
  padding-bottom: 10px;
}

.paddingBottomLarge {
  padding-bottom: 20px;
}

.box_table2 {
  width: 100%;
}

.box_table2 td {
  width: 33%;
  padding-left: 20px;
}

.box_table2 tr td:nth-child(2) {
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}

.tablify_inner_cell {
  display: inline-block;
  padding-bottom: 5px;
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.tablify_outer_cell {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid #ebebeb;
}

.nodata {
  padding-left: 10px;
  padding-bottom: 10px;
  vertical-align: top;
  font-weight: bold;
}

.noborder {
  border: 0;
}

.top_warning_text {
  color: red;
  margin-left: 10px;
  padding: 5px;
  display: inline-block;
  width: 100%;
}

.structure_title {
  background-color: #f4f4f4;
  color: #3a84b3;
  border: 1px solid #ebebeb;
  padding: 8px;
  margin-bottom: 15px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
}

.structures_coordinates_table {
  width: 50%;
}

.structures_coordinates_value {
  border: none;
  font-weight: bold;
}
