#layers-manager-popup {
  z-index: 1020;
  position: fixed !important;
  top: 6%;
  left: 50%;
  min-height: 600px;
  max-height: 650px;
  min-width: 805px;
  max-width: 900px;
  /* original -- width: 805px; now dynamic*/
  margin-left: -415px;
  /* left margin compromise between 875 and 805 */ 
  font-size: 12px;
}

#layers-wizard .dd-selected {
    overflow: hidden;
    display: block;
    padding: 10px;
    font-weight: bold;
    }
   .dd-selected-description-truncated {
    text-overflow: ellipsis;
    white-space: nowrap;
}
#layers-wizard .dd-desc {
    color: #aaa;
    display: block;
    overflow: hidden;
    font-weight: normal;
    line-height: 1.4em;
    font-size:16px;
    margin-bottom: 2px;
}

#layers-wizard .dd-options {
    border: solid 1px #ccc;
    border-top: none;
    list-style: none;
    box-shadow: 0px 1px 5px #ddd;
    display: none;
    position: absolute;
    z-index: 2000;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: auto;
}

#layers-wizard .dd-select {
    border-radius: 2px;
    border: solid 1px #ccc;
    position: relative;
    cursor: pointer;
}

#layers-wizard .dd-pointer-down {
    border: solid 5px transparent;
    border-top: solid 5px #000;
}
#layers-wizard .dd-pointer {
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
}

#layers-wizard .not-active{
    pointer-events: none;
    cursor: default;
}
#layers-wizard .wizard-panel-body{
	height:240px;
	overflow-y:auto;
}

#layers-wizard{
	max-height:500px;
	overflow-y:auto;
}
#layers-wizard .required-field{
	color: red;
	font-size:14px;
	font-weight: bold;
}
#layers-wizard .progress-indicator{
  display: block;
  margin: 0 auto;
}

#layers-wizard .tooltip-align {
    vertical-align: middle;
}
#layers-wizard .tooltip-logo {
    height: 14px;
    width: 14px;
}

#layers-wizard .tooltip.right .tooltip-inner {
    background-color:#428bca;    
 }
#layers-wizard .tooltip.right .tooltip-arrow {
          border-right-color: #428bca;         
}

#layer-manager-admin .tooltip.right .tooltip-inner {
    background-color:#428bca; 
    max-width: 300px;
    word-break: break-all;   
 }
#layer-manager-admin .tooltip.right .tooltip-arrow {
    border-right-color: #428bca;         
}
#layer-manager-admin .show-tooltip{
	font-weight: bold;
	font-size: 16; 
}

.zero-category-enabled {
  display: inline !important;
}


.wizard-container{
  margin:0 15px 0 15px;
}
.wizard-message-section{
  min-height:80px;
}
#layer-manager-admin table{
    table-layout: fixed;    
}


#layer-manager-admin th.col-description, #layer-manager-admin th.col-name, #layer-manager-admin th.col-email{
	width: 22%;
}

/*admin page */
#amp-header.layers-admin {
        position:relative !important;
        width: 100% !important;
        z-index:200;
 }
 #layers-manager-popup.layers-admin{
     position: relative !important;
     max-height: none;
     min-height: 500px;
     z-index:100 !important;
 }    
 #amp-footer.layers-admin {
    z-index: 2000;
    position: relative;
    width: 100%;
}

h1.admintitle{
    font-size: 16px;
    text-transform: none;
    color: #376091;
    padding: 0px 0px 5px 0px;
    border-bottom: 1px dotted #cccccc;
    margin: 0px 0px 10px 0px;
}
/**Multi-lingual tabs*/
.tab.active li a{
	background-color:grey;
}

.save-tab {
	border-collapse: separate;
	border: 1px solid #999;
	padding: .25em .5em;
	background: #edf5ff;
}

.save-text {
	border-radius: 4px !important;
	padding: 0.05em !important;
	margin: 0.4em 0.12em !important;
	width: 85%;
}

.nav > ul {
	border-bottom: 1px solid #ddd;
} 
.nav > li.tab {
border: 1px solid #BEBDB6;
background-color: #ededed;
margin-right: 3px;
float: left;
margin-bottom: -1px;
position: relative;
display: block;
}

.nav > li.tab.focused {
font-weight: bold;
background-color: white;
}

.nav > li.tab.focused > a {
background-color: white;
}

.nav > li.tab > a {
padding: 5px 5px;
margin-right: 2px;
line-height: 1.42857143;
border: 1px solid transparent;
border-radius: 4px 4px 0 0;
}

