<table width="740" class="admin">
	<tr>
		<td class="title" colspan=4><center>Acronyms</center></td>
	</tr>
	<tr>
		<td width=10% valign="top">AECI</td>
		<td width=40% valign="top">The Agency for International Cooperation (Spain)</td>
		<td width=10% valign="top">LDC</td>
		<td width=40% valign="top">Low income country</td>
	</tr>
	<tr>
		<td width=10% valign="top">ADB</td>
		<td width=40% valign="top">Asian Development Bank</td>
		<td width=10% valign="top">LMDG</td>
		<td width=40% valign="top">Like-minded donor group</td>
	</tr>
	<tr>
		<td width=10% valign="top">AFD</td>
		<td width=40% valign="top">French Agency for Development</td>
		<td width=10% valign="top">MARD</td>
		<td width=40% valign="top">Ministry of Agriculture and Rural Development</td>
	</tr>
	<tr>
		<td width=10% valign="top">ASEAN</td>
		<td width=40% valign="top">Association of Sout-East Asia Nations</td>
		<td width=10% valign="top">MDGs</td>
		<td width=40% valign="top">Millenium Development Goals</td>
	</tr>
	<tr>
		<td width=10% valign="top">BADC</td>
		<td width=40% valign="top">Belgian Administration for Development Cooperation</td>
		<td width=10% valign="top">MFA</td>
		<td width=40% valign="top">Ministry of Foreign Affairs</td>
	</tr>
	<tr>
		<td width=10% valign="top">BMZ</td>
		<td width=40% valign="top">German Ministry for Economic Cooperation and Development</td>
		<td width=10% valign="top">MOCI</td>
		<td width=40% valign="top">Ministry of Culture and Information</td>
	</tr>
	<tr>
		<td width=10% valign="top">BTC</td>
		<td width=40% valign="top">Belgian Technical Cooperation</td>
		<td width=10% valign="top">MOET</td>
		<td width=40% valign="top">Ministry of Education and Training</td>
	</tr>
	<tr>
		<td width=10% valign="top">CG</td>
		<td width=40% valign="top">Consultative Group</td>
		<td width=10% valign="top">MOF</td>
		<td width=40% valign="top">Ministry of Finance</td>
	</tr>
	<tr>
		<td width=10% valign="top">CoA</td>
		<td width=40% valign="top">Court of Auditors</td>
		<td width=10% valign="top">MOFA</td>
		<td width=40% valign="top">Ministry of Foreign Affairs</td>
	</tr>
	<tr>
		<td width=10% valign="top">CoJ</td>
		<td width=40% valign="top">Court of Justice</td>
		<td width=10% valign="top">MOFI</td>
		<td width=40% valign="top">Ministry of Fisheries</td>
	</tr>
	<tr>
		<td width=10% valign="top">CoR</td>
		<td width=40% valign="top">Committee of the Regions</td>
		<td width=10% valign="top">MOH</td>
		<td width=40% valign="top">Ministry of Health</td>
	</tr>
	<tr>
		<td width=10% valign="top">CPRGS</td>
		<td width=40% valign="top">Comprehensive Poverty Reduction and Growth Strategy</td>
		<td width=10% valign="top">MOJ</td>
		<td width=40% valign="top">Ministry of JusticeMOLISA Ministry of Labour, Invalids and Social Affairs</td>
	</tr>
	<tr>
		<td width=10% valign="top">CSP</td>
		<td width=40% valign="top">Country Strategy Paper</td>
		<td width=10% valign="top">MOT</td>
		<td width=40% valign="top">Ministry of Trade</td>
	</tr>
	<tr>
		<td width=10% valign="top">DAC</td>
		<td width=40% valign="top">Development Assistance Committee of OECD</td>
		<td width=10% valign="top">MPI</td>
		<td width=40% valign="top">Ministry of Planning and Investment</td>
	</tr>
	<tr>
		<td width=10% valign="top">DAD</td>
		<td width=40% valign="top">Development Assistance Database</td>
		<td width=10% valign="top">MS</td>
		<td width=40% valign="top">Member State</td>
	</tr>
	<tr>
		<td width=10% valign="top">DANIDA</td>
		<td width=40% valign="top">Danish International Development Agency</td>
		<td width=10% valign="top">NGO</td>
		<td width=40% valign="top">Non-Governmental Organisation</td>
	</tr>
	<tr>
		<td width=10% valign="top">DFID</td>
		<td width=40% valign="top">Department for International Development, UK</td>
		<td width=10% valign="top">ODA</td>
		<td width=40% valign="top">Official Development Assistance</td>
	</tr>
	<tr>
		<td width=10% valign="top">DGCID</td>
		<td width=40% valign="top">Directorate General for International Cooperation and Development (France)</td>
		<td width=10% valign="top">OECD</td>
		<td width=40% valign="top">Organisation for Economic Cooperation and Development</td>
	</tr>
	<tr>
		<td width=10% valign="top">DGCS</td>
		<td width=40% valign="top">Directorate General for Development Cooperation (Italy)</td>
		<td width=10% valign="top">PGAE</td>
		<td width=40% valign="top">Partnership Group for Aid Effectiveness</td>
	</tr>
	<tr>
		<td width=10% valign="top">DGDC</td>
		<td width=40% valign="top">Directorate General for Development Cooperation (Belgium)</td>
		<td width=10% valign="top">PFM</td>
		<td width=40% valign="top">Public Finance Management</td>
	</tr>
	<tr>
		<td width=10% valign="top">DGIS</td>
		<td width=40% valign="top">Directorate General for International Cooperation (the Netherlands)</td>
		<td width=10% valign="top">PMU</td>
		<td width=40% valign="top">Project Management Unit</td>
	</tr>
	<tr>
		<td width=10% valign="top">DSE</td>
		<td width=40% valign="top">German Foundation for International Development</td>
		<td width=10% valign="top">PRSC</td>
		<td width=40% valign="top">Poverty Reduction Support Credit</td>
	</tr>
	<tr>
		<td width=10% valign="top">ECB</td>
		<td width=40% valign="top">European Central Bank</td>
		<td width=10% valign="top">SEDP</td>
		<td width=40% valign="top">Socio-Economic Development Plan</td>
	</tr>
	<tr>
		<td width=10% valign="top">EEC</td>
		<td width=40% valign="top">European Economic Community</td>
		<td width=10% valign="top">SIA</td>
		<td width=40% valign="top">Social Impact Assessment</td>
	</tr>
	<tr>
		<td width=10% valign="top">EESC</td>
		<td width=40% valign="top">European Economic and Social Committee</td>
		<td width=10% valign="top">SIDA</td>
		<td width=40% valign="top">Swedish International Development Agency</td>
	</tr>
	<tr>
		<td width=10% valign="top">EIA</td>
		<td width=40% valign="top">Environmental Impact Assessment</td>
		<td width=10% valign="top">SMEs</td>
		<td width=40% valign="top">Small and Medium EnterprisesSOE State Owned Enterprise</td>
	</tr>
	<tr>
		<td width=10% valign="top">EIB</td>
		<td width=40% valign="top">European Investment Bank</td>
		<td width=10% valign="top">SPS</td>
		<td width=40% valign="top">Sector Programme Support</td>
	</tr>
	<tr>
		<td width=10% valign="top">EP</td>
		<td width=40% valign="top">European Parliament</td>
		<td width=10% valign="top">SWAP</td>
		<td width=40% valign="top">Sector-Wide Approach</td>
	</tr>
	<tr>
		<td width=10% valign="top">EU</td>
		<td width=40% valign="top">European Union</td>
		<td width=10% valign="top">TA</td>
		<td width=40% valign="top">Technical Assistance</td>
	</tr>
	<tr>
		<td width=10% valign="top">GNI</td>
		<td width=40% valign="top">Gross National Income</td>
		<td width=10% valign="top">TC</td>
		<td width=40% valign="top">Technical Cooperation</td>
	</tr>
	<tr>
		<td width=10% valign="top">GoV</td>
		<td width=40% valign="top">Government</td>
		<td width=10% valign="top">UK</td>
		<td width=40% valign="top">United Kingdom</td>
	</tr>
	<tr>
		<td width=10% valign="top">GTZ</td>
		<td width=40% valign="top">German Agency for Technical Cooperation</td>
		<td width=10% valign="top">UN</td>
		<td width=40% valign="top">United Nations</td>
	</tr>
	<tr>
		<td width=10% valign="top">HCS</td>
		<td width=40% valign="top">Hanoi Core Statement</td>
		<td width=10% valign="top">WB</td>
		<td width=40% valign="top">World Bank’s Country Assistance Strategy</td>
	</tr>
	<tr>
		<td width=10% valign="top">HIV/AIDS</td>
		<td width=40% valign="top">Human Immune Deficiency Virus/ Acquired Immune-Deficiency Syndrome</td>
		<td width=10% valign="top">WTO</td>
		<td width=40% valign="top">World Trade Organisation</td>
	</tr>
	<tr>
		<td width=10% valign="top">KfW</td>
		<td width=40% valign="top">Kreditanstalt Fuer Wiederaufbau, German Bank for Reconstruction and Development (Germany)</td>
		<td width=10% valign="top">&nbsp;</td>
		<td width=40% valign="top">&nbsp;</td>
	</tr>
</table>