<table>
	<tr>
		<td colspan = 4>
			<h2>EU Cooperation in Nicaragua</h2>
			<h3>Policy Orientations</h3>
			<h4>EU Joint Statement to the CG meeting in 2006</h4>
			<p><b>In order to underline the commitment of all EU donors to close co-operation for the development of Vietnam, the EU Presidency delivers an opening statement at each CG
			meeting, summarising the main issues and concerns of the EU Member Sates and the European Commission. The summary of the statement delivered at the CG meeting held
			in Hanoi in December 2006 is reproduced below.	</b></p>
			<p>The report of the Government of Vietnam to the Consultative Group shows that Vietnam has once again taken major steps in modernising its economic structures, upgrading its legal
			systems and advancing its sector policies. The EU applauds the Government and people of Vietnam for these achievements. In this introductory statement on behalf of the EU donors,
			I wish to draw your attention to six specific issues. A more detailed analysis is contained in a written statement (…).</p>
			<p><strong>1. SEDP.</strong> SEDP is a comprehensive national plan based on wide consultations. EU Member States and European Commission (EC) welcome the opportunity to work with the Government
			of Vietnam and other donors on the implementation of SEDP at the level of line ministries and provinces. We are committed to align our development cooperation with the
			main orientations of the SEDP and confident that the macroeconomic targets are robust and manageable. The EU is still concerned about the plight of ethnic minorities who, despite
			remarkable Government efforts, are not benefiting enough from Vietnam’s economic development. Access to social services, such as health and education, in the poorest and remote
			areas and social cohesion also remain a concern. EU would also encourage the government to do more to combat HIV/AIDS.</p>
			<p><strong>2. WTO.</strong> The EU congratulates Vietnam for its accession to WTO, approved by the WTO’s General Council on 7 November. The implementation of WTO commitments will require further
			efforts to accelerate reforms particularly in areas of state-owned enterprises, financial sector public administration and judiciary. As we heard yesterday at the business forum, EU businesses
			remain concerned about the slow pace of equitisation. We also heard that there remain uncertainties on the implementing legislation regarding the Common Investment Law
			and key aspects of the banking reform, and that this has a dampening impact on overall business confidence and prospect to develop the private sector in Vietnam. The EU would be
			grateful to hear the Government’s view on these issues.</p>
			<p><strong>3. Democratic governance.</strong> Modernising its public sector through Public Administration Reform (PAR) is a major task for the Government of Vietnam. Although legal changes have
			been made, the willingness of administrators to implement changes in an efficient and transparent manner does not always match expectations. The provincial administrations have
			wide powers but very limited supervision bodies, and some provinces even have issued directives which contradict the national laws. Contradicting regulations, wide discretionary
			powers in the interface with businesses and citizens, and lack of accountability and transparency all create opportunities for corruption. Needless to say, corruption is a major factor
			that slows down Vietnam’s development efforts. It is also a fact that corruption influences perceptions about development assistance in donor countries. The EU therefore welcomes
			the key priority given by Government to the fight against corruption and requests the Government to step up its anti-corruption measures through systemic changes on various fronts
			which enhance accountability checks and balances and increase transparency. We would like to ask to the status of the government’s preparation of an anti-corruption action plan,
			which we at the mid-term CG meeting were informed would be ready before the end of 2006?</p>
			<p>Other important aspects of governance include a strengthened National Assembly and an enhanced role of civil society and the media. The EU is interested to learn from Government
			about its plans for the further strengthening of the oversight and representation roles of the National Assembly, and regulating the organisation of the National Assembly. The EU
			would ask for progress in ensuring independence of the media as well as in establishing a legal framework for the development of a strong civil society.</p>
			<p><strong>4. Rule of law and respect of human rights.</strong> The EU considers that the rule of law not only safeguards human rights but is also a crucial precondition for sustainable development. The
			rule of law, as well as fundamental freedom of expression, of association, of assembly and of religion, play an essential role in empowering disadvantaged parts of the population and
			thereby allow them to improve their standard of living. A strong and independent judiciary system is a precondition for a society based on the rule of law, therefore the EU request the
			Government to speed up the judiciary and legal sector reforms including abolition of death penalty, ratification of the Convention establishing the International Criminal Court and
			the Convention against Torture. (…)</p>
			<p><strong>5. Aid effectiveness.</strong> We congratulate Vietnam for hosting an initiative of UN reform over the past year, and look forward to the progress. The new Decree 131 on ODA Management
			and other related laws set up a legal framework for more efficient aid delivery. The EU requests the Government to speed up the capacity building of PMUs, so that line ministries and
			provinces can make full use of the revised legislation. The EU has actively aligned to government plans and financial management systems though increased general budget support
			(Poverty Reduction Support Credit PRSC), to sector budget support in education sector, rural transport sector, and poverty reduction programme P135 National Target Programme on
			Rural Water and Sanitation and to sector-wide approaches in health and forestry. The EU asks, what steps are being taken to increase clarity on the respective roles of line ministries
			and crosscutting ministries in the execution and implementation of budget support and sector-wide programmes?</p>
			<p>EU is strongly committed to see real progress in the harmonisation agenda. We encourage the government to push the harmonization agenda further, and to engage emerging new
			donors in the harmonization efforts. For EU an early agreement on cost norms, in which donors align to Government cost norms, will be the test of the seriousness of both donors and
			the government of Vietnam to move the harmonisation agenda forward.</p>
			<p><strong>6. Future challenges.</strong> Vietnam has a good chance to advance to the level of a Middle-Income Country within the next few years. This would change the nature of our development
			co-operation in favour of other forms of partnership and increased international trade and investment. The road towards future should be such that prosperity is not endangered by
			economic insecurity, social problems or environmental problems, or emerging health risks, such as avian influenza. In the words of national leaders, the current and future policies
			strive to improve the ‘quality of growth’ . Modern Vietnam has a diversity of people and successful economic development should include all of them: young and old people, different
			ethnic groups and people with different personal talents.</p>
			<p>Vietnam and EU have long-lasting cooperation through the member states and the European Commission. We have jointly worked for some of the remarkable successes of Vietnam
			like launching shipbuilding, improving telecommunications and modernising hospitals. We stand ready to cooperate with new challenges. We would like to flag already our interest
			to start discussions with you next year on the evolution of our relationship, following Vietnam’s graduation from a low-income country to a middle-income country status.</p>
		</td>
	</tr>
</table>