<div id="sectors_graph">
	<strong>You need to upgrade your Flash Player</strong>
</div>

<!-- Sectors Pie script-->
<script type="text/javascript">
// <![CDATA[  
	var so = new SWFObject("/ampie.swf", "sectors_graph", "700", "630", "8", "#FFFFFF");
	so.addVariable("path", "/");
	so.addVariable("settings_file", escape("/charts/settings/sectors_large.xml"));       
	so.addVariable("data_file", escape("<%= url_for(:action => :sectors_chart_data, :format => 'xml', :dname => @donor.non_localized_name) %>"));  
	so.addVariable("preloader_color", "#999999");
	so.write("sectors_graph");
// ]]>
</script>
<!-- end of sectors pie script -->