//
// AMP layout and bootstrap overrides
// --------------------------------------------------

#amp-header {
  z-index: @amp_menu_layer;
  position: relative;  // for layering
  height: @amp_menu_height;
  color: @amp_content;
  background: @amp_content_bg;
}

#sidebar-tools{
  border-right: 2px solid  @amp_inverse_bg;
  background: @amp_inverse_bg;
}
#sidebar {
  z-index: @amp_sidebar_layer;
  position: absolute;
  top: @amp_menu_height;
  left: 0;
  bottom: 0;
  width: @amp_sidebar_width;
  background: @amp_inverse_bg;
  color: @amp_inverse;  
  height:100%;

  .glyphicon-info-sign {
    color: @amp_sidebar_help_icon;
  }

  .sidebar-icons-only-button {
    background: none;
    border: 0;
    height: 44px;
    position:relative;
    text-align: right;
    padding-right: 11px;
    display: inline-block;
    letter-spacing: -6px;
    width:100%;

  }

  .sidebar-icons-only-button i {
    font-size:11pt;
  }


}


#sidebar.sidebar-icons-only {

/*SeeAlso amp-map.less for more .sidebar-icons-only styles on #map-container */

  width: @amp_sidebar_icons_only_width;
  top: @amp_menu_height;

  //hide labels of the accordion
  .panel h3>span + span {
    display:none;
  }

  .sidebar-icons-only-button {
    background: none;
    border: 0;
    padding-left:0;
    text-align: center;
    width: 100%;
  }



}


.accordion-group {
  // This sucks, but we need to use panel to make accordion parent collapse work,
  // but we don't actually want the panel styles.
  // ticket to watch: https://github.com/twbs/bootstrap/issues/10966
  >.panel{
    border: 0;
    border-radius: 0;
    margin: 0;
    margin-top: 2px;
  }
}

.accordion-box {

  color: @amp_content;
  background: @amp_content_bg;

  input[type="checkbox"]{
    display:none;
  }

  .accordion-heading {

    > a {
      display: block;
      color: @amp_sidebar_header_text_active;
      background: @amp_sidebar_header_active_bg ;
      text-decoration: none;

      &.collapsed {
        background: @amp_sidebar_header_bg;
        color: @amp_sidebar_header_text_inactive;
      }

      &.collapsed:hover,{
        // see amp-icons.less for the icon swaps on hover
        color: @amp_sidebar_header_text_active;
      }

      h3 {
        margin: 0;
        padding: 7px 21px;
        font-size: 13px;
        font-weight: @extrabold;
        line-height: 20px;  // matched to icon
        text-transform: uppercase;
        background-image: url(../img/checkered_pattern.png);
      }
    }
  }

  .accordion-body {
    height: auto;

    .layer-heading-container {
      background: transparent;
      border-bottom: 1px solid @amp_content_highlight_bg;
      color: desaturate(lighten(@amp_emph, 30%), 30%) ;

      &:hover,
      &.active{
        cursor:pointer;
        background-color: @amp_content_highlight_bg;
        color: @amp_emph;
      }

      label:hover{
        cursor:pointer;
      }

      label,
      h4 {
        margin: 0;
        background: transparent;
        font-weight: 600;
        font-size: 0.9em;
        padding: 10px 16px;
      }
    }
  }

}


.description {
  padding: 10px 10px;
  background: @amp_sidebar_description_bg;

  color: @amp_emph;
  font-size: 0.9em;
  font-weight: 600;
  margin:0;
}



// TODO: find better way.
// needed the label to be near full width so all clicks are captured.
// David: would something like `display:block` be possible?
#tool-layers{
  .layer-heading-container {
    label{
      width: 90%;
    }
  }
}


#sidebar .accordion-inner .content small {
  font-style: italic;
}


#tool-tools{
  .btn{
    min-width: 48%;
  }
}

.available-maps ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#tool-layers-manager{
  margin:10px;
 .btn-layers-manager{
    width: 80%;
  }
}