
div.grayBorder {
	margin: 10px; 
	padding: 8px; 
	border: 1px solid #cccccc; 
	height: 97%;


}
div.otherCriteriaBigTable{
	padding: 0px; 
	height: 65%;
}

div.otherCriteriaBigTable div.grouping_selector_wrapper_body {
	overflow: auto;
}

.memberSelectorHeader {
	font-weight: bold; 
	font-size: small;
	margin: 5px;
}

div.memberSelectorInputWrapper {
	margin: 4px;
}

input.memberSelectorTextbox {
	height: 18px; 
	vertical-align: top;
	font-size: 10px;
}

.memberSelectorButton  {
	padding-left:1px;
	padding-right: 1px;
	padding-bottom: 2px; 
	font-size: 9px; 
	height: 17px;
}


.clrfix:before,
.clrfix:after {
  content: "";
  display: table;
}
.clrfix:after {
  clear: both;
}
.clrfix {
  *zoom: 1;
}

.yui-panel {
    border-collapse: separate;
    font-family:arial;
	font-size:12px !important;
}