<div class="node small">
  <div class="selectable"></div>
  <div class="toggle-nav">
    <% if(name.length > 63){ %>
      <span title="<%= name %>"><%= name.substring(0,60) %>...</span>
    <% } else { %>
      <%= name %>
    <% } %>

    <span class="count <%= (hideCount ? 'hidden' : '') %>">(<%= numSelected %> / <%= numPossible %>)</span>
    <span class="expanded">+</span>
  </div>

  <% /*TODO: fix hardcode of 'unkown' */
  if (obj.name && obj.name.indexOf("unkown")>-1) { %>
    &nbsp;<a href="#"
      data-toggle="popover"
      data-container="body"
      data-placement="right"
      data-trigger="click"
      data-content="projects that aren't tagged to a specific child.">
      <span class="glyphicon glyphicon-info-sign"></span>
    </a>
  <%}%>
</div>
