a
{
	color: #000000;
	font-weight: bold
}

a:link 
{
	color: #0000FF;
	font-weight: bold
}

.requiredField
{
	color: #FF0000
}

.separator1
{
	color: #FFFFFF;
	font-weight: bold;
	background-color: #000279;
	font-size: 14px
}

.separator2
{
	color: #0000FF;
	font-weight: bold;
	background-color: #89AAE5
}

#linkEditActivityMenu {
	color: #0000FF;
	font-size: 13px
}

.editActivityMenuTitle {
	background-color: #BCD4F6;
	font-size: 14px;
	color:#000000;
	font-weight: bold
}

#menuElement {
	text-decoration: none;
	font-size: 12px
}