a
{
	color: #000000;
	font-weight: bold
}

a:link 
{
	color: #27415F;
	font-weight: bold
}

.requiredField
{
	color: #FF0000
}

.separator1
{
	color: #FFFFFF;
	font-weight: bold;
	background-color: #27415F;
	font-size: 14px;
	padding-left:8px;
}

.separator2
{
	color: #0000FF;
	font-weight: bold;
	background-color: #89AAE5
}

#linkEditActivityMenu {
	color: #0000FF;
	font-size: 13px;
	cursor: pointer
}

.editActivityMenuTitle {
	background-color: #dbe5f1;
	font-size: 14px;
	color:#000000;
	font-weight: bold;
}

#menuElement {
	text-decoration: none;
	font-size: 8pt;
}