a.header_title,a.header_title:link,a.header_title:hover,A.header_title:active, A.header_title:visited {
	font-family: Verdana,Tahoma,Arial,sans-serif;
	color:#D6D6D6;
	font-size:19px;
	letter-spacing:2px;
	text-decoration:none;
	text-transform:uppercase;
	font-size:18px;!important
	letter-spacing:2px;!important
}

a.header_text:link, a.header_text, A.header_text:active, A.header_text:visited{
	position:relative;
	padding: 5 10 5 10px;
	font-family: Verdana,Tahoma,Arial,sans-serif;
	font-size: 7pt;		  
	font-weight:normal;
	text-align: center ;
	text-transform:uppercase;
	text-decoration:none;
	color: #ffffff;
}

a.header_text:hover {
	color: #ffffff;
	background-color:#222e5d;
	position:relative;
	padding: 5 10 5 10px;
	font-family: Verdana,Tahoma,Arial,sans-serif;
	font-size: 7pt;		  
	font-weight:normal;
	text-align: center ;
	text-transform:uppercase;
	text-decoration:none; 
}

BODY
{
	font-family: Verdana,Tahoma,Arial,sans-serif;
}

.first-of-type{
	background-color:#376091;
}
DIV.loginWidget {
  border-color: #e7e7e7;
  background-color: #F8F8F8;
  border-style: solid;
  border-width: 1px;
  min-height: 40px;
}
A.loginWidget, A.loginWidget:link, a.loginWidget, A.loginWidget:active, A.loginWidget:visited {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 12px;
    line-height: 1.42857143;
    color: #333;
	text-decoration:none;
	display: inline;
	font-weight: bold;	
	margin-left: 15px;	  
}

.loginWidget:hover{
	color:yellow;
}

.footerText
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	color:white;
}
	#demo .yui-nav{

	}
	#demo .yui-nav li {
		margin-right:0;
 	}

	#demo .yui-content { border-top-width: 2px; border-top-style: solid; border-top-color: #006699;}
	
	#demo .yui-nav li a { 
			float:left;
			cursor:pointer; 
			text-decoration: none; 
			font-size: 12px; 
			font-weight:bold;
			color:#376091;
			margin:0pt 0px 0pt 0pt;
			/* background:#3754A1 url(tableftcornerunsel.gif) no-repeat scroll left top;*/
			background-color:#FFFFFF;
			border-top:1px solid #D0D0D0;
			border-left:1px solid #D0D0D0;
			border-right:1px solid #D0D0D0;
			margin-right:7px;
			
	}
	
	#demo li.selected a{
			float:left;
			cursor:pointer; 
			text-decoration: none; 
			font-size: 12px;
			font-weight:bold; 
			/* background:#222E5D url(tableftcorner.gif) no-repeat scroll left top; */
			color: #FF6000;
			background-color:#F7F7F7;
	}

   
    #demo .longTab{
            width:100%;
            float:none;
            font-size:12px;
            color:#000000;
            font-weight:bold;
            height:25px;
            background-color:#C7D4DB;
			line-height:25px;
			
	}
	#demo li a div{ 
			/* background:url(tabrightcornerunsel.gif) no-repeat scroll right top;*/
			padding: 4px 10px 4px 10px;
	}
		
	#demo li.selected a div{ 
			/*background:url(tabrightcorner.gif) no-repeat scroll right top;*/
			padding: 4px 10px 4px 10px;
	}
	#demo .yui-nav li a:hover {
	    /* background: #455786 url(tableftcornerhover.gif) left top no-repeat;   */
	}
       
        #demo li.selected .nohover a:hover {/* background:#222E5D url(tableftcorner.gif)  no-repeat scroll left top; */}
        
        #demo li.selected .nohover a:hover div {/* background: url(tabrightcorner.gif) right top no-repeat; */}
	
	#demo .yui-nav li a:hover div {
	    /*background: url(tabrightcornerhover.gif) right top no-repeat; */
	}
	#demo .yui-content {
		border:1px solid #CCCCCC;
	}
	#demo .yui-nav a {
		border-color:#A3A3A3;
		border-style:solid;
		border-width:0pt 0px;
		color:#000000;
		position:relative;
		text-decoration:none;
	}
	#demo .yui-nav {
		border-bottom:#1px solid #D0D0D0;
	}
	
	#tab_no_link .yui-nav{

	}
	#tab_no_link .yui-nav li {
		margin-right:0;
 	}

	#tab_no_link .yui-content { border-top-width: 2px; border-top-style: solid; border-top-color: #006699;}
	
	#tab_no_link .yui-nav li a { 
			float:left;
			cursor:text; 
			text-decoration: none; 
			font-size: 8pt; 
			color:#fff;
			background-color: white;
			margin:0pt 0px 0pt 0pt;
			background:#3754A1 url(tableftcornerunsel.gif) no-repeat scroll left top;
	}
	
	#tab_no_link li.selected a{
			float:left; 
			text-decoration: none; 
			font-size: 8pt; 
			background:#222E5D url(tableftcorner.gif) no-repeat scroll left top;
			color: white;
	}

   
    #tab_no_link .longTab{
            width:100%;
            float:none;
            font-size:12px;
            color:white;
            font-weight:bold;
            height:25px;
            padding-top:5px;
            background-color:#222E5D
			
	}
	#tab_no_link li a div{ 
			background:url(tabrightcornerunsel.gif) no-repeat scroll right top;
			padding: 4px 10px 4px 10px;
	}
		
	#tab_no_link li.selected a div{ 
			background:url(tabrightcornerunsel.gif) no-repeat scroll right top;
			padding: 4px 10px 4px 10px;
	}
	#tab_no_link .yui-nav li a:hover {
	    background: #3754A1 url(tableftcornerunsel.gif) left top no-repeat;  
	}
       
        #tab_no_link li.selected .nohover a:hover {background:#222E5D url(tableftcorner.gif)  no-repeat scroll left top;}
        
        #tab_no_link li.selected .nohover a:hover div {background: url(tabrightcorner.gif) right top no-repeat;}
	
	#tab_no_link .yui-nav li a:hover div {
	    background: url(tabrightcornerunsel.gif) right top no-repeat;
	}
	#tab_no_link .yui-content {
		border-top:1px solid #000;
	}
	#tab_no_link .yui-nav a {
		border-color:#A3A3A3;
		border-style:solid;
		border-width:0pt 0px;
		color:#000000;
		position:relative;
		text-decoration:none;
	}
	#tab_no_link .yui-nav {
		border-color:#222E5D;
		border-style:solid;
		border-width:0pt 0pt 2px;
	}

a.settingsLink:link, a.settingsLink, A.settingsLink:active, A.settingsLink:visited{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 8pt;		  
	font-weight:normal;
	text-decoration:none;
}
a.settingsLink:hover{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 8pt;		  
	font-weight:normal;
	text-decoration:none;
}

	
a.settingsLinkDisable{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 8pt;		  
	font-weight:normal;
	text-decoration:none;
	color: #EEEEEE ;
}

a.nohoverlink{
	text-decoration:none;
}
a.nohoverlink:hover{
	background-color:transparent;
}