


.label 
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	COLOR: #666666; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}

.heading 
{
	TEXT-TRANSFORM: uppercase;
   FONT-FAMILY: Arial, Helvetica, sans-serif;
	COLOR: #d6d6d6; 
   TEXT-DECORATION: none;
   LETTER-SPACING: 2px;
   FONT-SIZE: 20px;
}


A.heading 
{
	FONT-SIZE: 19px;
	TEXT-TRANSFORM: uppercase; 
	COLOR: #d6d6d6; 
   FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	LETTER-SPACING: 2px; 
	TEXT-DECORATION: none
}

A.heading:visited 
{
	FONT-SIZE: 19px;
	TEXT-TRANSFORM: uppercase; 
	COLOR: #d6d6d6; 
	LETTER-SPACING: 2px; 
	TEXT-DECORATION: none
}

A.heading:hover 
{
	FONT-SIZE: 19px;
	TEXT-TRANSFORM: uppercase; 
	COLOR: #d6d6d6; 
	LETTER-SPACING: 2px; 
	TEXT-DECORATION: none
}

A.nav 
{
	PADDING-TOP: 5px; 	
	PADDING-RIGHT: 7px; 
	PADDING-LEFT: 9px; 
	PADDING-BOTTOM: 5px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 10px; 
	TEXT-TRANSFORM: uppercase; 
	COLOR: #ffffff; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px; 
	BACKGROUND-COLOR: #5a5b5a; 
	TEXT-DECORATION: none;
	HEIGHT: 13px;
}

A.nav:visited 
{
	PADDING-TOP: 5px; 
	PADDING-RIGHT: 7px; 
	PADDING-LEFT: 9px; 
	PADDING-BOTTOM: 5px; 	
	FONT-WEIGHT: normal; 
	FONT-SIZE: 10px; 
	TEXT-TRANSFORM: uppercase; 
	COLOR: #ffffff; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px; 
	BACKGROUND-COLOR: #5a5b5a; 
	TEXT-DECORATION: none;
	HEIGHT: 13px;
}

A.nav:hover 
{
	PADDING-TOP: 5px; 
	PADDING-RIGHT: 7px; 
	PADDING-LEFT: 9px; 
	PADDING-BOTTOM: 5px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 10px; 
	TEXT-TRANSFORM: uppercase; 
	COLOR: #ffffff; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px; 
	BACKGROUND-COLOR: #003399; 
	TEXT-DECORATION: none;
	HEIGHT: 13px;
}

A.nav1 
{
	PADDING-RIGHT: 8px; 
	PADDING-LEFT: 27px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 7px; 
	TEXT-TRANSFORM: capitalize; 
	COLOR: #fdfdfa; 
	PADDING-TOP: 7px; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px; 
	BACKGROUND-COLOR: #4a4a48; 
	HEIGHT: 28px; 
	TEXT-DECORATION: none
}

A.nav1:visited 
{
	PADDING-RIGHT: 8px; 
	PADDING-LEFT: 27px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 7px; 
	TEXT-TRANSFORM: capitalize; 
	COLOR: #b5b5b2; 
	PADDING-TOP: 7px; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px; 
	BACKGROUND-COLOR: #5a5b5a; 
	HEIGHT: 28px; 
	TEXT-DECORATION: none
}




A.comment 
{
	MARGIN-BOTTOM: 22px; 
	COLOR: #999999
}
A.comment:visited 
{
	MARGIN-BOTTOM: 22px; 
	COLOR: #999999
}
A.comment:hover 
{
	MARGIN-BOTTOM: 22px; 
	COLOR: #999999
}

A.sub-nav 
{
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 10px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 3px; 
	TEXT-TRANSFORM: uppercase; 
	COLOR: #f4f4f2; 
	PADDING-TOP: 3px; 
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px; 
	HEIGHT: 20px; 
	BACKGROUND-COLOR: #3754a1; 
	TEXT-DECORATION: none
}

A.sub-navSelected 
{
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 10px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 3px; 
	TEXT-TRANSFORM: uppercase; 
	COLOR: #f4f4f2; 
	PADDING-TOP: 3px; 
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px; 
	HEIGHT: 20px; 
	BACKGROUND-COLOR: #222e5d; 
	TEXT-DECORATION: none
}

A.sub-navGov 
{
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 10px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 3px; 
	TEXT-TRANSFORM: uppercase; 
	FONT-COLOR: #ffffff;
	PADDING-TOP: 3px;
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px; 
	BACKGROUND-IMAGE: url(../module/aim/images/tab-right.gif);
	HEIGHT: 20px; 
	WIDTH: 200px;
	TEXT-DECORATION: none;
}


A.sub-navGovSelected
{
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 10px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 3px; 
	TEXT-TRANSFORM: uppercase; 
	FONT-COLOR: #ffffff;
	PADDING-TOP: 3px; 
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px;
 	BACKGROUND-IMAGE: url(../module/aim/images/tab-rightselected.gif);
	HEIGHT: 20px; 
	TEXT-DECORATION: none;
}

A.sub-navGovSelected:hover
{
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 10px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 3px; 
	TEXT-TRANSFORM: uppercase; 
	FONT-COLOR: #ffffff;
	PADDING-TOP: 3px; 
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px;
 	BACKGROUND-IMAGE: url(../module/aim/images/tab-righthover.gif);
	HEIGHT: 20px; 
	TEXT-DECORATION: none;
}


A.sub-nav3 
{
	PADDING-RIGHT: 9px; 
	PADDING-LEFT: 20px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 3px; 
	TEXT-TRANSFORM: uppercase; 
	COLOR: #f4f4f2; 
	PADDING-TOP: 3px; 
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px; 
	HEIGHT: 20px; 
	BACKGROUND-COLOR: #333366; 
	TEXT-DECORATION: none
}

A.sub-nav3:visited 
{
	PADDING-RIGHT: 9px; 
	PADDING-LEFT: 20px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 3px; 
	TEXT-TRANSFORM: uppercase; 
	COLOR: #f4f4f2; 
	PADDING-TOP: 3px; 
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px; 
	HEIGHT: 20px; 
	BACKGROUND-COLOR: #333366; 
	TEXT-DECORATION: none
}
A.sub-nav3:hover 
{
	PADDING-RIGHT: 9px; 
	PADDING-LEFT: 20px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 3px; 
	TEXT-TRANSFORM: uppercase; 
	COLOR: #fdfdfa; 
	PADDING-TOP: 3px; 
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px; 
	HEIGHT: 20px; 
	BACKGROUND-COLOR: #333366; 
	TEXT-DECORATION: none
}

.sub-nav3 
{
	PADDING-RIGHT: 9px; 
	PADDING-LEFT: 20px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 3px; 
	TEXT-TRANSFORM: uppercase; 
	COLOR: #f4f4f2; 
	PADDING-TOP: 3px; 
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px; 
	HEIGHT: 20px; 
	BACKGROUND-COLOR: #333366; 
	TEXT-DECORATION: none
}

.sub-nav3-selected 
{
	PADDING-RIGHT: 9px; 
	PADDING-LEFT: 20px; 
	PADDING-BOTTOM: 3px; 
	PADDING-TOP: 3px;
	FONT-WEIGHT: normal; 
	FONT-SIZE: 10px; 
	TEXT-TRANSFORM: uppercase; 
	COLOR: #fdfdfa; 
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px; 
	HEIGHT: 20px; 
	BACKGROUND-COLOR: #333366; 
	TEXT-DECORATION: none
}

A.sub-nav:visited 
{
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 10px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 3px; 
	TEXT-TRANSFORM: uppercase; 
	COLOR: #f4f4f2; 
	PADDING-TOP: 3px; 
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px; 
	HEIGHT: 20px; 
	BACKGROUND-COLOR: #3754a1; 
	TEXT-DECORATION: none
}

A.sub-nav:hover 
{
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 10px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 3px; 
	TEXT-TRANSFORM: uppercase; 
	COLOR: #fdfdfa; 
	PADDING-TOP: 3px; 
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px; 
	HEIGHT: 20px; 
	BACKGROUND-COLOR: #222e5d; 
	TEXT-DECORATION: none
}

.sub-nav 
{
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 10px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 3px; 
	TEXT-TRANSFORM: uppercase; 
	COLOR: #f4f4f2; 
	PADDING-TOP: 3px; 
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px; 
	HEIGHT: 20px; 
	BACKGROUND-COLOR: #3754a1; 
	TEXT-DECORATION: none
}

.sub-nav-selected 
{
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 10px; 
	PADDING-BOTTOM: 3px; 
	PADDING-TOP: 3px;
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	TEXT-TRANSFORM: uppercase; 
	COLOR: #fdfdfa; 
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px; 
	HEIGHT: 20px; 
	BACKGROUND-COLOR: #222e5d; 
	TEXT-DECORATION: none
}

A.sub-nav2 
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 10px; 
	TEXT-TRANSFORM: uppercase; 
	COLOR: #97b7ce; 
	WHITE-SPACE: nowrap;
	TEXT-DECORATION: none
}

A.sub-nav2:visited 
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 10px; 
	TEXT-TRANSFORM: uppercase; 
	COLOR: #97b7ce; 
	WHITE-SPACE: nowrap; 
	TEXT-DECORATION: none
}

A.sub-nav2:hover 
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 10px; 
	TEXT-TRANSFORM: uppercase; 
	COLOR: #fdfdfa; 
	WHITE-SPACE: nowrap; 
	TEXT-DECORATION: none
}

.sub-nav2-selected 
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 10px; 
	TEXT-TRANSFORM: uppercase; 
	COLOR: #fdfdfa; 
	WHITE-SPACE: nowrap
}


.c6c6c6 
{
	COLOR: #c6c6c6
}

.home-bg-header 
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 17px; 
	COLOR: #91a3b1; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}

.home-bg-text 
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	COLOR: #d0d9df; 
	LINE-HEIGHT: 13px; 
	PADDING-TOP: 5px; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	HEIGHT: 20px
}

.bg-header 
{
	PADDING-LEFT: 19px; 
	FONT-SIZE: 23px; 
	COLOR: #91a3b1; 
	PADDING-TOP: 15px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	LETTER-SPACING: 1px; 
	TEXT-DECORATION: none
}



.box-border-nopadding 
{
	BORDER-RIGHT: #c9c9c7 1px solid; 
	BORDER-TOP: #c9c9c7 1px solid; 
	BORDER-LEFT: #c9c9c7 1px solid; 
	BORDER-BOTTOM: #c9c9c7 1px solid; 
	WHITE-SPACE: normal; 
	BACKGROUND-COLOR: #ffffff
}

.borderTLBR
{
	BORDER-TOP: #dddddd 1px solid; 
	BORDER-BOTTOM: #dddddd 1px solid; 
	BORDER-RIGHT: #dddddd 1px solid; 
	BORDER-LEFT: #dddddd 1px solid; 
}


.b-dotted-lg 
{
	BORDER-TOP-STYLE: none; 
	BORDER-BOTTOM: #c5c6cb 1px dashed; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none
}

.red-log 
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	COLOR: #a30636; 
	LETTER-SPACING: 2px
}
.f-names 
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 5px; 
	COLOR: #5d5d5d
}
	
.page-title 
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13pt; 
	COLOR: #94a2b4
}

.box-border 
{
	BORDER-RIGHT: #c9c9c7 1px solid; 
	PADDING-RIGHT: 5px; 
	BORDER-TOP: #c9c9c7 1px solid; 
	PADDING-LEFT: 5px; 
	PADDING-BOTTOM: 9px; 
	BORDER-LEFT: #c9c9c7 1px solid; 
	PADDING-TOP: 6px; 
	BORDER-BOTTOM: #c9c9c7 1px solid; 
	WHITE-SPACE: nowrap; 
	BACKGROUND-COLOR: #ffffff
}

.box-title 
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	COLOR: #5d5d5d; 
}

.page-intro 
{
	BORDER-RIGHT: #c5c6cb 1px dashed; 
	PADDING-RIGHT: 5px; 
	BORDER-TOP: 0px; 
	PADDING-LEFT: 15px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 9px; 
	PADDING-BOTTOM: 6px; 
	TEXT-TRANSFORM: uppercase; 
	BORDER-LEFT: 0px; 
	COLOR: #737373; 
	PADDING-TOP: 13px; 
	BORDER-BOTTOM: 0px
}
.subtitle-blue 
{
	BORDER-RIGHT: 1px; 
	BORDER-TOP: 1px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11pt; 
	PADDING-BOTTOM: 10px; 
	BORDER-LEFT: 1px; 
	COLOR: #014e86; 
	PADDING-TOP: 16px; 
	BORDER-BOTTOM: 1px; 
	LETTER-SPACING: 1px
}

.subtitle-blue-1
{
	BORDER-RIGHT: 1px; 
	BORDER-TOP: 1px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 9pt; 
	PADDING-BOTTOM: 5px; 
	BORDER-LEFT: 1px; 
	COLOR: #014e86; 
	PADDING-TOP: 5px; 
	BORDER-BOTTOM: 1px; 
	LETTER-SPACING: 1px
}

.subtitle-blue-2
{
	BORDER-RIGHT: 1px; 
	BORDER-TOP: 1px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 8pt; 
	PADDING-BOTTOM: 5px; 
	BORDER-LEFT: 1px; 
	COLOR: #014e86; 
	PADDING-TOP: 5px; 
	BORDER-BOTTOM: 1px; 
	LETTER-SPACING: 1px
}

.subtitle-blue-3
{
	BORDER-RIGHT: 1px; 
	BORDER-TOP: 1px; 
	FONT-SIZE: 18pt; 
	PADDING-BOTTOM: 10px; 
	BORDER-LEFT: 1px; 
	PADDING-TOP: 16px; 
	BORDER-BOTTOM: 1px; 
	LETTER-SPACING: 1px;
	font-family: Verdana;
	font-size: 18px;
	color: #0066FF;
}

.dr-menu 
{
	TEXT-DECORATION: none;
	FONT-SIZE: 11px; 
	COLOR: #313131
}


.dr-menu-special 
{
	TEXT-DECORATION: none;
	FONT-SIZE: 11px; 
	COLOR: #313131;
	font-weight:bold;
}


.dr-dialogmenu 
{
	FONT-SIZE: 11px;
	WIDTH:53px;
	COLOR: #313131
}


.crumb 
{
	COLOR: #999999
}
.r-dotted-l-l-g-buttom 
{
	BORDER-TOP-STYLE: none; 
	BORDER-BOTTOM: #999999 1px dashed; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none
}
.red-f-name 
{
	FONT-WEIGHT: bold; 
	COLOR: #cc0000
}

TD 
{
	FONT-WEIGHT: normal; 
	FONT-SIZE: 12px;
}

TABLE {
	border-spacing: 0;
}

.home-scroll 
{
	BORDER-RIGHT: #c5c6cb 1px dotted; 
	PADDING-RIGHT: 10px; 
	BORDER-TOP: 0px; 
	PADDING-LEFT: 10px; 
	MARGIN-BOTTOM: 10px; 
	PADDING-BOTTOM: 10px; 
	OVERFLOW: auto; 
	BORDER-LEFT: 0px; 
	BOTTOM: 5px; 
	LINE-HEIGHT: 14px; 
	PADDING-TOP: 10px; 
	BORDER-BOTTOM: 0px; 
	HEIGHT: 149px;
}

.note 
{
	COLOR: #cc0000
}


.r-dotted 
{
	BORDER-RIGHT: #9a9ca6 1px dashed; 
	BORDER-TOP: 0px; 
	BORDER-LEFT: 0px; 
	BORDER-BOTTOM: 0px
}

.r-dotted-lg 
{
	BORDER-RIGHT: #c5c6cb 1px dashed; 
	BORDER-TOP: 0px;
	BORDER-LEFT: 0px; 
	BORDER-BOTTOM: 0px
}

.r-dotted-lg-buttom 
{
	BORDER-TOP-STYLE: none;
	BORDER-BOTTOM: #999999 1px dashed; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none
}

.langs 
{
	BORDER-RIGHT: #323232 1px solid; 
	BORDER-TOP: #323232 1px solid; 
	FONT-SIZE: 11px; 
	BORDER-LEFT: #323232 1px solid; 
	COLOR: #313131; 
	BORDER-BOTTOM: #323232 1px solid; 
	LETTER-SPACING: 2px; 
	BACKGROUND-COLOR: #e7e7e1;
}
BODY 
{
	FONT-SIZE: 12px; 
	MARGIN: 0px; 
	COLOR: #484846; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	BACKGROUND-COLOR: #ffffff
}

.no-padding
{
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 10px; 
	PADDING-TOP: 0px;
}


.textalb 
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; font-style: normal ; 
	font-weight: bold ; 
	color: #FFFFFF; 
	text-decoration: none
}
.textnegru 
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; font-style: normal ; 
	font-weight: bold ; 
	color: #000000; 
	text-decoration: none
}

.t-name
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; font-style: normal ; 
	font-weight: bold ; 
	color: #000000; 
	padding-right: 7px;
	text-decoration: none
}

.head1-name
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 20px; 
	LETTER-SPACING: 2px;
	COLOR: #919191; 
	padding-left: 7px;
	text-decoration: none
}

.head2-name
{
	font-size: 14px; 
   font-family: Verdana, Arial, Helvetica, sans-serif; 
	LETTER-SPACING: 0px;
	COLOR: #919191; 
	padding-left: 7px;
	text-decoration: none
}

.head3-name
{
	font-size: 10px; 
   font-family: Verdana, Arial, Helvetica, sans-serif; 
	LETTER-SPACING: 0px;
	COLOR: #000000; 
	padding-left: 7px;
	text-decoration: none
}

.v-name
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; font-style: normal ; 
	font-weight: bold ; 
	color: #006699; 
	padding-left: 7px;
	text-decoration: none
}

A.menu
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; font-style: normal ; 
	font-weight: bold ; 
	color: #FFFFFF; 
}
A.menu:visited 
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; font-style: normal ; 
	font-weight: bold ; 
	color: #FFFFFF; }
A.menu:hover 
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; font-style: normal ; 
	font-weight: bold ; 
	color: #FFFFFF; }

.buton, input[type="button"], input[type="reset"],input[type="submit"] 
{  
background-color:#5E8AD1; border-top: 1px solid #99BAF1; border-left:1px solid #99BAF1; border-right:1px solid #225099; border-bottom:1px solid #225099; font-size:11px; color:#FFFFFF; font-weight:bold; padding-left:5px; padding-right:5px; padding-top:3px; padding-bottom:3px;}

.button 
{  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	color: #000000; 
	text-decoration: none; 
	background-color: #ECF3FD; 
	border-color: #FFFFFF #003399 #003399 #FFFFFF; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px
}

.text_search 
{
		  font-family: Verdana, Arial, Helvetica, sans-serif; 
		  font-size: 8pt; 
		  font-style: normal
} 

.text_searchbold 
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 8pt; 
	COLOR: #000000; 
	FONT-STYLE: normal; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	text-decoration: none
}

.feedbk
{
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px;
	FONT-WEIGHT: normal; 
	FONT-SIZE: 7pt; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 	
	TEXT-TRANSFORM: uppercase; 
	COLOR: #ffffff; 
	WHITE-SPACE: nowrap; 
	LETTER-SPACING: 0px; 
}

A.header
{
	FONT-SIZE: 18px;
	COLOR: #91a3b1; 
	LETTER-SPACING: 1px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}

A.header:visited 
{
	FONT-SIZE: 18px;
	COLOR: #91a3b1; 
	LETTER-SPACING: 1px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}

A.header:hover 
{
	FONT-SIZE: 18px;
	COLOR: #91a3b1; 
	LETTER-SPACING: 1px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}

A.up-menu
{
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8pt; font-style: normal ; 
	FONT-WEIGHT: bold ; 
	LETTER-SPACING: 1px; 
	COLOR: #91a3b1; 
}
A.up-menu:visited 
{
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8pt; font-style: normal ; 
	FONT-WEIGHT: bold ; 
	LETTER-SPACING: 1px; 
	COLOR: #91a3b1; 
}
A.up-menu:hover 
{
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8pt; font-style: normal ; 
	FONT-WEIGHT: bold ; 
	LETTER-SPACING: 1px; 
	COLOR: #91a3b1; 
}

.inp-text
{
	FONT-SIZE: 11px; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	COLOR: #000000
}

.amt 
{
	FONT-SIZE: 11px; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	COLOR: #000000;
	text-align: right
}

.colHeaderOver 
{
	background-color: #bbbbbb;	
}

.colHeaderLink
{
	background-color: #eeeeee;
}

.rowNormal { background-color: #ffffff; } 
.rowAlternate { background-color: #fff5f5; } 



.visi1 { visibility: visible }
.visi2 { visibility: hidden }
.disp1 { display: block }
.disp2 { display: none }

A.imglink
{
	TEXT-DECORATION: none
}

A.imglink:visited 
{
	TEXT-DECORATION: none
}

A.imglink:hover 
{
	TEXT-DECORATION: none
}

.level1 {
 	LIST-STYLE-TYPE:circle;
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px;	
}
.level2 {
	LIST-STYLE-TYPE:square;
	PADDING-LEFT: 20px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px;	
}
.level3 {
	LIST-STYLE-TYPE:disc;
	PADDING-LEFT: 40px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px;	
}

.box-border-alt1
{
	BORDER-RIGHT: #c9c9c7 1px solid; 
	PADDING-RIGHT: 5px; 
	BORDER-TOP: #c9c9c7 1px solid; 
	PADDING-LEFT: 5px; 
	PADDING-BOTTOM: 9px; 
	BORDER-LEFT: #c9c9c7 1px solid; 
	PADDING-TOP: 6px; 
	BORDER-BOTTOM: #c9c9c7 1px solid; 
	WHITE-SPACE: nowrap; 
	BACKGROUND-COLOR: #f4f4f2
}

.headerLink
{
	background-color: #5a5b5a;	
}

.headerLinkOver
{
	background-color: #006699;
}

#navlinks {
 height:1.3em;
 line-height:1.3em;
 BACKGROUND-COLOR: #3754a1; 
 color:#ffffff;
}

#navlinks ul{
 margin: 0px;
 padding: 0 0px;
  BACKGROUND-COLOR: #3754a1;  
}

#navlinks li{
 margin: 0px;
 padding: 0px;
 font-family: Verdana,Tahoma,Arial,sans-serif;
 font-size: 11px;
 float:left;
 list-style-type:none;
 border-right:1px solid #ffffff;
 BACKGROUND-COLOR: #3754a1; 
 white-space:nowrap;
}

#navlinks a {
 padding:4 10 4 10px;		  
 font-size: 11px;
 display:block;
 font-weight:normal;
 text-align: center ;
 text-transform:uppercase;
 text-decoration:none;
 BACKGROUND-COLOR: #3754a1; 
 color: #ffffff;
}

#navlinks .selected,#navlinks a:hover{
 padding:4 10 4 10px;
 font-weight:normal;
 text-transform:uppercase;
 text-decoration:none;
 color: #ffffff;
 background-color:#222e5d;
}

#menu {
 color:#ffffff;
}

#menu ul{
 margin: 0px;
 padding: 0 0px;
}

#menu li{
height:22px;		  
 margin: 0px;
 padding: 0px;
 border-right:1px solid #aaaaaa; 
 font-family: Verdana,Tahoma,Arial,sans-serif;
 font-size: 7pt;
 float:left;
 list-style-type:none;
 white-space:nowrap;
}

#menu .noLink{
 font-weight:normal;
 text-align: center ;
 text-transform:uppercase;
 text-decoration:none;
 color: #ffffff;
}

A.head-menu-link,A.head-menu-link:active, A.head-menu-link:visited{
 position:relative;
 top: 5px;
 padding: 5 10 5 10px;
 font-family: Verdana,Tahoma,Arial,sans-serif;
 font-size: 7pt;		  
 font-weight:normal;
 text-align: center ;
 text-transform:uppercase;
 text-decoration:none;
 color: #ffffff;
}


A.head-menu-link:hover {
 color: #ffffff;
 background-color:#222e5d;
position:relative;
top: 5px;
padding: 5 10 5 10px;
font-family: Verdana,Tahoma,Arial,sans-serif;
font-size: 7pt;		  
font-weight:normal;
text-align: center ;
text-transform:uppercase;
text-decoration:none; 
}

#gen {
	display: inline;		  
}

#head-middle		{
 height:22px;
}
.reportsBorderTable {
	border-collapse: collapse; 
}

.reportsBorderTD {
	cellpadding: 0px;
	cellspacing: 0px;
	padding: 0px;
	margin: 0px;
	font-family:Arial,Helvetica,sans-serif;
}

#subtabsFinancial {
background-color:#CCDBFF;
font-family:Arial,Helvetica,sans-serif;
font-size:8pt;
padding:2px 4px;
}
#subtabsFinancial span {
	color:#484846;
	padding-left:4px;
	padding-right:4px;
}
#subtabsFinancial a {
	font-family:Arial,Helvetica,sans-serif;
	font-size:8pt;
	padding-left:4px;
	padding-right:4px;
    color:#05528B;
	text-decoration:underline;
	
}
#subtabsFinancial a:hover {
	text-decoration:none;
	
}
div.addOrgBox{border:1px solid #c9c9c7;margin:10px;padding:10px;}
div.addOrgBoxInner{border:1px solid #c9c9c7;padding:10px;}
div.addOrgBox h1{background:#dddddb; text-align:center;font-size:12px; color:#484846;padding:3px 0px;}
div.addOrgBox div.labels{float:left;width:150px;}
div.addOrgBox div.form{float:left;}
div.addOrgBox ul li {list-style:none;clear:both;}
div.addOrgBox ul li label {display:block;float:left;width:120px;}
div.addOrgBox div.buttons{clear:both;text-align:center;color:#fff;}
div.addOrgBox div.buttons input{color:#fff;}

.contact-form td {
	padding: 5px 10px 5px 10px;	
}