.custom-legend {
    display: inline-block;
    width: 100%;
}

.custom-legend ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.custom-legend .two-rows {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.custom-legend {
    margin-top: 15px;
    margin-bottom: 15px;
}

.custom-legend .row {
    border-bottom: 1px solid #ddd;
}

.custom-legend ul li {
    display: block;
}

.custom-legend ul li .label {
    white-space: normal;
    font-size: 10px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 2px;
    text-align: left;
    line-height: 15px;
}

.custom-legend .label {
    color: #000000;
}

.legend-container {
    border: 1px solid #ddd;
}

.legend-title {
    border-bottom: 1px solid #ddd;
}

.custom-legend .label.amount,
.legend-title .amount {
    font-size: 12px;
    font-weight: bold;
}

.custom-legend ul li .symbol {
    display: inline-block;
    border-radius: 100%;
    background-clip: padding-box;
    height: 12px;
    margin-top: 3px;
    width: 12px;
}

.chart-legend {
    height: 110px;
}