body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
h6 {
	font-size: 9pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #005E8A;
	padding-left: 10px;


}
td {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
.dta {
	font-size: 7pt;
	color: #999999;
}
.tlt {

	color: #005E8A;
	font-weight: normal;
}
a.nt {
	font-size: 10px;
	color: #0066CC;
	text-decoration: none;
	font-weight: bold;
}
a.nt:hover {
	font-size: 10px;
	color: #1A8CFF;
	text-decoration: underline;
	font-weight: bold;
}
a.nt:visited {
	font-size: 10px;
	color: #0066CC;
	text-decoration: none;
	font-weight: bold;
}

/* CSS Document */

FONT {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

TD {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A:link {
	COLOR: #006699
}
A:active {
	COLOR: #006699
}
A:visited {
	COLOR: #006699
}
A:hover {
	COLOR: #AEB9C1; TEXT-DECORATION: underline
}

.bodyline {
	BACKGROUND-COLOR: #ffffff;
	border: 1px solid #B0B0B2;

}
.forumline {
	border: 1px solid #B0B0B2;
}
TD.row1 {
	BACKGROUND-COLOR: #FFFFFF
}
TD.row2 {
	BACKGROUND-COLOR: #E8F1F8
}
TD.row3 {
	BACKGROUND-COLOR: #FFFFFF
}

TD.rowpic {
	BACKGROUND-IMAGE: url(templates/subSilver/images/cellpic2.jpg); BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffffff
}
TH {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(templates/subSilver/images/cellpic3.gif); COLOR: #ffa34f; HEIGHT: 25px; BACKGROUND-COLOR: #006699
}
TD.cat {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; BACKGROUND-IMAGE: url(templates/subSilver/images/cellpic1.gif); BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px; BACKGROUND-COLOR: #d1d7dc
}
TD.catHead {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; BACKGROUND-IMAGE: url(templates/subSilver/images/cellpic1.gif); BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px; BACKGROUND-COLOR: #d1d7dc
}
TD.catSides {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; BACKGROUND-IMAGE: url(templates/subSilver/images/cellpic1.gif); BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px; BACKGROUND-COLOR: #d1d7dc
}
TD.catLeft {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; BACKGROUND-IMAGE: url(templates/subSilver/images/cellpic1.gif); BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px; BACKGROUND-COLOR: #d1d7dc
}
TD.catRight {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; BACKGROUND-IMAGE: url(templates/subSilver/images/cellpic1.gif); BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px; BACKGROUND-COLOR: #d1d7dc
}
TD.catBottom {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; BACKGROUND-IMAGE: url(templates/subSilver/images/cellpic1.gif); BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px; BACKGROUND-COLOR: #d1d7dc
}
TD.cat {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 29px; BORDER-RIGHT-WIDTH: 0px
}
TD.catHead {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 29px; BORDER-RIGHT-WIDTH: 0px
}
TD.catBottom {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 29px; BORDER-RIGHT-WIDTH: 0px
}
TH.thHead {
	BORDER-RIGHT: #ffffff solid;
	BORDER-TOP: #ffffff solid;
	FONT-WEIGHT: bold;
	BORDER-LEFT: #ffffff solid;
	BORDER-BOTTOM: #ffffff solid;
	HEIGHT: 28px;
	background-image: url(their_files/cellpic3.gif);
}
TH.thSides {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
TH.thTop {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
TH.thLeft {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
TH.thRight {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
TH.thBottom {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
TH.thCornerL {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
TH.thCornerR {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
TD.row3Right {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; BACKGROUND-COLOR: #d1d7dc
}
TD.spaceRow {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; BACKGROUND-COLOR: #d1d7dc
}
TH.thHead {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TD.catHead {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TH.thSides {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TD.catSides {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TD.spaceRow {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TH.thRight {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TD.catRight {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TD.row3Right {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TH.thLeft {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TD.catLeft {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TH.thBottom {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
TD.catBottom {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
TH.thTop {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TH.thCornerL {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TH.thCornerR {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
.maintitle {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #000000; LINE-HEIGHT: 120%; FONT-FAMILY: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.gen {
	FONT-SIZE: 10px
}
.genmed {
	FONT-SIZE: 11px
}
.gensmall {
	FONT-SIZE: 10px
}
.gen {
	COLOR: #575757;
	padding-left: 7px;
	text-transform: uppercase;

}
.genmed {
	COLOR: #000000
}
.gensmall {
	COLOR: #000000
}
A.gen {
	COLOR: #006699; TEXT-DECORATION: none
}
A.genmed {
	COLOR: #006699; TEXT-DECORATION: none
}
A.gensmall {
	COLOR: #006699; TEXT-DECORATION: none
}
A.gen:hover {
	COLOR: #dd6900; TEXT-DECORATION: underline
}
A.genmed:hover {
	COLOR: #dd6900; TEXT-DECORATION: underline
}
A.gensmall:hover {
	COLOR: #dd6900; TEXT-DECORATION: underline
}
.mainmenu {
	FONT-SIZE: 11px; COLOR: #000000
}
A.mainmenu {
	COLOR: #006699; TEXT-DECORATION: none
}
A.mainmenu:hover {
	COLOR: #dd6900; TEXT-DECORATION: underline
}
.cattitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #006699; LETTER-SPACING: 1px
}
A.cattitle {
	COLOR: #006699; TEXT-DECORATION: none
}
A.cattitle:hover {
	TEXT-DECORATION: underline
}
.forumlink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #006699
}
A.forumlink {
	COLOR: #006699; TEXT-DECORATION: none
}
A.forumlink:hover {
	COLOR: #dd6900; TEXT-DECORATION: underline
}
.nav {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000
}
A.nav {
	COLOR: #006699; TEXT-DECORATION: none
}
A.nav:hover {
	TEXT-DECORATION: underline
}
.topictitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000
}
A.topictitle:link {
	COLOR: #006699; TEXT-DECORATION: none
}
A.topictitle:visited {
	COLOR: #5493b4; TEXT-DECORATION: none
}
A.topictitle:hover {
	COLOR: #dd6900; TEXT-DECORATION: underline
}
.name {
	FONT-SIZE: 11px; COLOR: #000000
}
.postdetails {
	FONT-SIZE: 10px; COLOR: #000000
}
.postbody {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
A.postlink:link {
	COLOR: #006699; TEXT-DECORATION: none
}
A.postlink:visited {
	COLOR: #5493b4; TEXT-DECORATION: none
}
A.postlink:hover {
	COLOR: #dd6900; TEXT-DECORATION: underline
}
.code {
	BORDER-RIGHT: #d1d7dc 1px solid; BORDER-TOP: #d1d7dc 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #d1d7dc 1px solid; COLOR: #006600; BORDER-BOTTOM: #d1d7dc 1px solid; FONT-FAMILY: Courier, 'Courier New', sans-serif; BACKGROUND-COLOR: #fafafa
}
.quote {
	BORDER-RIGHT: #d1d7dc 1px solid; BORDER-TOP: #d1d7dc 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #d1d7dc 1px solid; COLOR: #444444; LINE-HEIGHT: 125%; BORDER-BOTTOM: #d1d7dc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fafafa
}
.copyright {
	FONT-SIZE: 10px; COLOR: #444444; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: -1px
}
A.copyright {
	COLOR: #444444; TEXT-DECORATION: none
}
A.copyright:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}

TEXTAREA {
	FONT: 11px Verdana, Arial, Helvetica, sans-serif;
	COLOR: #000000;
	border: 1px solid #666666;
}
SELECT {
	BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; FONT: 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-RIGHT-COLOR: #000000
}
INPUT.post {
	BACKGROUND-COLOR: #ffffff;
	border: 1px solid #B9C2CA;
}
TEXTAREA.post {
	border: 1px solid #B9C2CA;
}
SELECT {
	BACKGROUND-COLOR: #ffffff
}
INPUT {
	TEXT-INDENT: 2px;
}


INPUT.mainoption {
	FONT-WEIGHT: bold;
	BACKGROUND-COLOR: #fafafa;
	border: 1px solid #666666;
}
INPUT.liteoption {
	FONT-WEIGHT: normal; BACKGROUND-COLOR: #fafafa
}
.helpline {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #dee3e7; BORDER-BOTTOM-STYLE: none
}
.bt-sub {
	color: #E8F1F8;
	background-color: #5E8BB4;
	font-size: 8px;
	font-weight: bold;
	border-top: 1px solid #1C65A8;
	border-right: 1px solid #1C65A8;
	border-bottom: 1px solid #1C65A8;
	border-left: 1px solid #1C65A8;
}
.bt-items {
	color: #E8F1F8;
	background-color: #4A78A2;
	font-size: 8px;
	font-weight: bold;
	border: 1px solid #5E8BB4;

}
