
div.grayBorder {
	margin: 10px; 
	padding: 8px; 
	border: 1px solid #cccccc; 
	height:235px;


}
div.otherCriteriaBigTable{
	padding: 0px; 
	height: 65%;
}

.memberSelectorHeader {
	font-weight: bold; 
	font-size: small;
	margin: 5px;
}

div.memberSelectorInputWrapper {
	margin: 4px;
}

input.memberSelectorTextbox {
	height: 18px; 
	vertical-align: top;
	font-size: 10px;
}

.memberSelectorButton  {
	padding-left:1px;
	padding-right: 1px;
	padding-bottom: 2px; 
	font-size: 9px; 
	height: 17px;
}

/*---rafy was here---*/
td.wrklist div.workspacelist{background: url(../images/arrow-014E86.gif) no-repeat center left #F2F2F2;
padding: 3px 10px 3px 3px;
margin-bottom: 1px;
font-size: 12px;
text-decoration: none;
height: 20px;
line-height: 20px;
background-position: 5px 7px;
text-indent: 20px;
width:45%;
}
td.wrklist div.workspacelist a{text-decoration:none; color:#737373;}
td.wrklist div.workspacelist a:hover{text-decoration:underline;color:#376091;}

div.filterContainerTabs div#gisfilters{float:left;width:100%;}
html.ie div.filterContainerTabs div#gisfilters div.groupingSelector, html.ie div.filterContainerTabs div#gisfilters div.membersSelector{float:left;width:50%;}
html.ie div.filterContainerTabs div.innerTab{ padding:10px; overflow:auto;height:200px;}
html.ie div.filterContainerTabs div.innerTab li{list-style:none;}
html.ie div.filterContainerTabs div#gisfilters div.groupingSelector ul, html.ie div.filterContainerTabs div#gisfilters div.membersSelector ul{width:90%;margin:0 auto;}
html.ie div.filterContainerTabs div#gisfilters div.groupingSelector{border-right:1px solid #ccc;}




div.innertabheader{border-bottom: 1px solid #CCC; background: url(/TEMPLATE/ampTemplate/img_2/ins_header.gif) repeat-x top; height: 31px;position:relative;}
html.ie div.innertabheader{border-bottom: 1px solid #CCC; background: url(/TEMPLATE/ampTemplate/img_2/ins_header.gif);height:25px; }
html.ie div.innertabheader h3 {height: 25px; line-height: 25px; text-indent: 11px; float: left; font-size: 11px; color: #767676; margin: 0; padding: 0;}
html.ie  div.filterContainerTabs .otherCriteriaFoofet{border-top:1px solid #ccc;padding:10px;}
html.ie .groupingselector ul li a { padding: 5px; font-size: 12px; display: block; background: white; color: black; text-decoration: none;}
html.ie .groupingselector ul li a:hover{background:#bfd2df}
html.ie div.filterContainerTabs div.othercriteriafoofet select {background: white;border: 1px solid #D0D0D0;color: black;font-size: 11px;padding: 0px;width: 150px;}
html.ie div.filterContainerTabs div.othercriteriafoofet #calendarform label {width: 100px;font-size: 11px;display: inline-block;}
html.ie div.filterContainerTabs div.tabSubmit{clear:both;text-align:center;}
html.ie div.innertabheader input.buttonx{margin-top:3px;}
html.ie div.innertabheader input.inputx{margin-top:5px;vertical-align:top;}
html.ie div.menucontainer{margin:0 auto;width:1000px;}
.subtitle-blue {
BORDER-RIGHT: 1px;
BORDER-TOP: 1px;
FONT-WEIGHT: bold;
FONT-SIZE: 11pt;
PADDING-BOTTOM: 10px;
BORDER-LEFT: 1px;
COLOR: #014e86;
PADDING-TOP: 16px;
BORDER-BOTTOM: 1px;
LETTER-SPACING: 1px;
border-right: 1px;
border-top: 1px;
border-left: 1px;
border-bottom: 1px;}
legend.admtoolsttl{position:absolute;top:-10px;left:10px;}
.grouping_selector_wrapper{float:left; padding: 0px; height: 230px;background: white; width:35%;  border:1px solid #ccc;padding:0px 0px 5px 0px;}
.member_selector_wrapper{float:right; padding: 0px; height: 230px;background: white;width:64%; border:1px solid #ccc;padding:0px 0px 5px 0px;}
html.ie .grouping_selector_wrapper{float:left; padding: 0px; height: 230px;background: white; width:35%;  border:1px solid #ccc;}
html.ie .member_selector_wrapper{float:right; padding: 0px; height: 230px;background: white;width:64%; border:1px solid #ccc;}
.grouping_selector_wrapper h3, .member_selector_wrapper  h3{width:40%;margin:0px;padding:8px;}
.grouping_selector_wrapper h3{width:100%;}
.grouping_selector_wrapper ul{margin:0px; padding:0px;width:95%;margin:0 auto;overflow:auto;}
html.ie .grouping_selector_wrapper ul{margin:0px; padding:0px;width:90%;overflow:auto;}
.grouping_selector_wrapper ul li{list-style:none;text-aligb:left;color:#000;border-bottom:1px solid #ccc;}
html.ie .grouping_selector_wrapper tr, html.ie .grouping_selector_wrapper tr td{padding:0px;}
html.ie .grouping_selector_wrapper tr {height:20px;}
.grouping_selector_wrapper ul li a{color:#000;font-weight:bold;display:block;padding:7px;}
.grouping_selector_wrapper ul li a:hover{text-decoration:underline;}
.member_selector_wrapper .memberSelectorInputWrapper{width:50%;position:absolute;top:1px;right:5px;text-align:right;}
div.filtercontainer{overflow:auto;width:95px;}
.member_selector_wrapper #membercontainer ul{margin:0px;padding:0px;white-space:normal;}
.member_selector_wrapper #membercontainer ul li{list-style:none;padding:5px 0px 0px 5px;font-size:11px;white-space:normal;}
.member_selector_wrapper #membercontainer ul li li{padding-left:35px;}
.kSearchBox{width:450px; font-size: 12px;margin:0 auto;text-align:center;padding:20px;}
html.ie .kSearchBox{width:100%; font-size: 12px;text-align:center;margin:0 auto;height:100px;clear:both;}
li.tri{list-style:none;padding:0px 0px 5px 0px;}
#tabview_container{height:90%;}
#otherCriteriaBigTable{height:550px;}
.membercontainer{height:200px;overflow:auto;}
.selector_type_cont{padding:2px;margin:0px;}
a.settingsbut{float:left;display:block;width:250px;}