<script type="text/javascript">
	function openPreviewActivity(id) {
		window.open('/aim/viewActivityPreview.do~public=true~pageId=2~activityId=' + id, '_blank');
	}
</script>

<div class='chart-tops-info-category'>
	<span>
		<b><%= (context.x.fmt || context.x.raw) %></b> - <%= model.get('adjtype')%> -  		
		<span data-i18n="<%= app.settings.numberMultiplierDescription %>"></span>
		<%= model.get('currency') %>
	</span>
</div>
<div class="chart-tops-info-container">
	<div class="chart-tops-info-content">
		<% if(values === undefined) { %>
			<img alt="" src="/TEMPLATE/ampTemplate/dashboard/build/img/loading-icon.gif">
			<span data-i18n="amp.dashboard:download-rendering">Rendering...</span>
		<% } else { %>
			<% var rowClass = ''; %>
			<table>
				<tr>
					<th><span data-i18n="amp.dashboard:chart-tops-table-projecttitle">Project Title</span></th>
					<th><span data-i18n="amp.dashboard:chart-tops-table-amount">Amount</span></th>
				</tr>			
			<% _(values).each(function(row, i) { %>
          		<% 	if (i % 2 === 0) rowClass = 'odd_row';
    				else rowClass = ''; %>
    			<tr class="<%=rowClass%>">
    				<td>
    					<span class='pointer' onclick='openPreviewActivity(<%=row.id%>)'><%=row.name%></span>
    				</td>
    				<td><%=row.formattedAmount%></td>
    			</tr>
        	<% }) %>
        	</table>
		<% } %>
	</div>
</div>