<div>
	<span class="number-divider-detail"></span>
</div>
<div class="panel-default">
	<div class="chart-tops-info-container">
		<div class="chart-tops-info-content">
			<% if(error) { %>
				<div class="alert alert-danger" role="alert">
					<strong><span data-i18n="amp.dashboard:error">Error</span></strong>
					<span data-i18n="amp.dashboard:error-detail">The Aid Management Platform has temporarily encountered an issue. We apologize for any inconvenience.</span>
				</div>
			<% } else if(values === undefined) { %>
				<img alt="" src="/TEMPLATE/ampTemplate/dashboard/build/img/loading-icon.gif">
				<span data-i18n="amp.dashboard:download-rendering">Rendering...</span>
			<% } else { %>
				<% var rowClass = ''; %>
				<table class="table table-striped">
					<thead>
					<tr>
						<th class="header-row"><span data-i18n="amp.dashboard:chart-tops-table-projecttitle">Project Title</span></th>
						<th class="header-row"><span class="funding-type-title-column"></span> (<%=
							model.get('currency') %>)</th>
					</tr>
					</thead>
					<tbody>
				<% _(values).each(function(row, i) { %>
					<tr>
						<td scope="row">
							<a class="title-column" target="_blank"
							   href="/aim/viewActivityPreview.do~activityId=<%=row.id%>" title="<%=row.name%>">
								<%=row.name%>
							</a>
						</td>
						<td class="amount-column"><%=row.formattedAmount%></td>
					</tr>
				<% }) %>
					</tbody>
				</table>
			<% } %>
			<div class="btn btn-success load-more" style="display: none"><span
					data-i18n="amp.dashboard:chart-tops-table-loadmore">load
				more</span>...</div>
		</div>
	</div>
</div>
