<style>
rect.bordered {
	stroke: #E6E6E6;
	stroke-width: 2px;
}

text.mono {
	font-size: 9pt;
	font-family: Arial;
	fill: #000;
}

text.axis-workweek {
	fill: #000;
}

text.axis-worktime {
	fill: #000;
}
</style>

<div class="col-xs-12 <% if (!model.get('big')) { %>col-md-6<% } else { %> big-chart-<%= model.get('bigN')%> <% } %>">

  <div class="panel panel-chart">
    <div class="panel-heading fix-title-height">
      <% if (model.get('showTotal') === true) { %>
	      <span class="pull-right big-number">
	        <b class="chart-total"></b>
	        <span class="chart-currency"></span>
	      </span>
      <% } %>
      <h2 data-i18n="amp.dashboard:chart-<%= model.get('name').replace(/ /g,'') %>"><%= model.get('title') %></h2>
    </div>
	
    <div class="panel-body">
      <div class="chart-container">
        <h3 class="dash-chart-diagnostic text-center"></h3>
        <div class="dash-chart-wrap <%= (model.get('alternativeContainerClass') !== undefined ? model.get('alternativeContainerClass') : '')%>">
        </div>
        <button type="button" class="btn btn-link btn-xs pull-right reset" style="display:none" data-i18n="amp.dashboard:chart-reset">reset others</button>
      </div>
    </div>

    <div class="panel-footer clearfix">

      <div class="pull-right">

        <div class="btn-group">
          <% _(views).each(function(view) { %>
            <button type="button" data-view="<%= view %>"
                class="chart-view btn btn-sm btn-<%= (view === model.get('view')) ? 'primary' : 'default' %>">
              <span class="glyphicon glyphicon-<%= {
                bar: 'signal',
                multibar: 'signal',
                heatmap: 'stats',
                pie: 'adjust',
                table: 'th-list'
              }[view] %>"></span>
            </button>
          <% }) %>
        </div>

        <div class="btn-group">
          <a
            class="btn btn-sm btn-default download"
            download="AMP <%= model.get('title') %> - <%= (new Date()).toISOString().split('T')[0] %>.png"
            target="_blank">
            <span class="glyphicon glyphicon-cloud-download"></span>
          </a>
          <button type="button" class="btn btn-sm btn-<%= model.get('big') ? 'primary' : 'default' %> expand hidden-xs hidden-sm" <%= model.get('disableResize') ? 'disabled' : ''%>>
            <span class="glyphicon glyphicon-fullscreen"></span>
          </button>
        </div>

      </div><!-- buttons in .pull-right -->

      <% if (model.get('adjtype') && model.get('showMeasuresSelector') === true) { %>
        <form class="form-inline dash-form dash-adj-type" role="form">
          <select class="form-control like-btn-sm ftype-options">
            <option>...</option>
            <!-- gets populated after settings load -->
          </select>
          <span class="cheat-lineheight"></span>
        </form>
      <% } %>
      
      <% if (model.get('chartType') === 'fragmentation') { %>
		<form class="form-inline dash-form dash-xaxis-options" role="form">
        	<select class="form-control like-btn-sm xaxis-options">
            	<option>...</option>
            	<!-- gets populated after settings load -->
          	</select>
          	<span class="cheat-lineheight"></span>
        </form>
	<% } %>

    </div>
  </div>

  <div class="export-modal"></div>
</div>