<div class="col-xs-12 <% if (!model.get('big')) { %>col-md-6<% } else { %> big-chart-<%= model.get('bigN')%> <% } %>">

  <div class="panel panel-chart">
    <div class="panel-heading fix-title-height">
      <% if (model.get('showTotal') === true) { %>
	      <div class="pull-right big-number">
	        <b class="chart-total"></b>
	        <span class="chart-currency"></span>
	      </div>
      <% } %>
      <div class="chart-title">
	      <h2 data-i18n="amp.dashboard:chart-<%= model.get('name').replace(/ /g,'') %>"><%= model.get('title') %></h2>
	      <% if (model.get('chartType') === 'fragmentation') { %>
	      	<% var help_icon_text = app.translator.translateSync('amp.dashboard:chart-heatmap-help-text-' + model.get('heatmap_type'));%>
	      	<img src="/TEMPLATE/ampTemplate/dashboard/build/img/questionmark1.png" class="question_mark nv-series" data-title="<%= help_icon_text %>">
	      <% } %>
      </div>
    </div>

    <div class="panel-body">
      <div class="chart-container">
        <h3 class="dash-chart-diagnostic text-center"></h3>
        <div class="dash-chart-wrap <%= (model.get('alternativeContainerClass') !== undefined ? model.get('alternativeContainerClass') : '')%>">
        </div>
        <button type="button" class="btn btn-link btn-xs pull-right reset" style="display:none" data-i18n="amp.dashboard:chart-reset">reset others</button>
      </div>
      <% if (model.get('source')) { %>
        <div class="dash-chart-source"><%= model.get('source') %></div>
      <% } %>
      <div class="alert alert-warning negative-values-message" role="alert">
          <strong data-i18n="amp.dashboard:negatives-values">Negative values are not represented in this chart.</strong><br>
          <span data-i18n="amp.dashboard:negatives-values-parag">Please switch to bar chart or table view to view all values.</span>
      </div>
    </div>

    <div class="panel-footer clearfix">

      <div class="pull-right">

        <div class="btn-group">
          <% _(views).each(function(view) { %>
            <button data-i18n="amp.dashboard:chart-tooltip-<%= view %>-chart[title]" data-toggle="tooltip" title="View data in <%= view %> chart" type="button" data-view="<%= view %>"
                class="chart-view btn btn-sm btn-<%= (view === model.get('view')) ? 'primary' : 'default' %>">
              <span class="glyphicon glyphicon-<%= {
                bar: 'signal',
                multibar: 'signal',
                heatmap: 'stats',
                pie: 'adjust',
                table: 'th-list'
              }[view] %>"></span>
            </button>
          <% }) %>
        </div>

        <div class="btn-group">
          <a data-i18n="amp.dashboard:chart-tooltip-download-chart[title]" data-toggle="tooltip" title="Download image or table"
            class="btn btn-sm btn-default download"
            download="AMP <%= model.get('title') %> - <%= (new Date()).toISOString().split('T')[0] %>.png"
            target="_blank">
            <span class="glyphicon glyphicon-cloud-download"></span>
          </a>
          <button data-i18n="<%= model.get('big') ? 'amp.dashboard:chart-tooltip-collapse-chart[title]' : 'amp.dashboard:chart-tooltip-expand-chart[title]' %>" data-toggle="tooltip" title="<%= model.get('big') ? 'Collapse chart' : 'Expand chart' %>" type="button" class="btn btn-sm btn-<%= model.get('big') ? 'primary' : 'default' %> expand hidden-xs hidden-sm" <%= model.get('disableResize') ? 'disabled' : ''%>>
            <span class="glyphicon glyphicon-fullscreen"></span>
          </button>
        </div>

      </div><!-- buttons in .pull-right -->

        <% if (model.get('adjtype') && model.get('showMeasuresSelector') === true) { %>
          <form class="form-inline dash-form dash-adj-type" role="form">
            <select class="form-control like-btn-sm ftype-options" style=" width: 180px; text-overflow: ellipsis;">
              <option>...</option>
              <!-- gets populated after settings load -->
            </select>
            <span class="cheat-lineheight"></span>
          </form>
        <% } %>

        <% if (model.get('programType') && model.get('showProgramType') === true) { %>
          <form class="form-inline dash-form dash-program-type" role="form">
            <select class="form-control like-btn-sm program-options" style="width: 180px; text-overflow: ellipsis;">
              <option>...</option>
            </select>
            <span class="cheat-lineheight"></span>
          </form>
        <% } %>

      <% if (model.get('chartType') === 'fragmentation') { %>
		<form class="form-inline dash-form dash-xaxis-options" role="form">
        	<select class="form-control like-btn-sm xaxis-options">
            	<option>...</option>
            	<!-- gets populated after settings load -->
          	</select>
          	<span class="cheat-lineheight"></span>
        </form>
        <button type="button" class="btn btn-sm btn-default heatmap-switch">
            <span data-i18n="amp.dashboard:chart-swap-axes">Swap Axes</span>
        </button>
	 <% } %>

    </div>
  </div>

  <div class="export-modal"></div>
</div>
