<div>
  <h4 class="inline-heading" data-i18n="amp.dashboard:filters-active">Active Filters</h4>
  <button type="button" class="btn btn-sm btn-default hide-filter-details">
    <span class="glyphicon glyphicon-eye-close"></span>
    <span data-i18n="amp.dashboard:filters-hide-details">Hide filter details</span>
  </button>
</div>
<% _(applied).each(function(filter) { %>
  <h5>
    <a href="#filter-detail-<%= filter.id %>" data-toggle="collapse" aria-expanded="false"><%= filter.name %></a>
    (<%= filter.detail.length %>)
  </h5>
  <ul id="filter-detail-<%= filter.id %>" class="collapse">
    <% _(filter.detail).each(function(detail) { %>
      <li><%= detail %></li>
    <% }) %>
  </ul>
<% }) %>