<div class="modal fade" data-keyboard="false" data-backdrop="static" id="<%= m.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog <%= m.specialClass %>">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span data-i18n="amp.dashboard:close" class="sr-only">Close</span></button>
        <h4 class="modal-title text-<%= m.tone %>" data-i18n="<%= m.i18nTitle %>"><%= m.title %></h4>
      </div>
      <div class="modal-body">
        <% if (m.content) { %>
          <%= m.content %>
        <% } %>
        <% if (m.messages) { %>
          <% _(m.messages).each(function(message) { %>
            <p><%= message %></p>
          <% }) %>
        <% } %>
      </div>      
    </div>
  </div>
</div>
