<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="panel">
    <div class="panel-body">
      <h3 data-i18n="amp.dashboard:dashboard-settings" class="inline-heading">Settings</h3>
      <button type="button" class="btn btn-sm btn-default pull-right dash-settings-button">
        <span class="glyphicon glyphicon-edit"></span>
        <span data-i18n="amp.dashboard:settings-edit">edit settings</span>
      </button>
    </div>
  </div>
</div>

<div class="dash-settings-modal modal fade" id="<%= details.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span data-i18n="amp.dashboard:close" class="sr-only">Close</span></button>
        <span data-i18n="amp.dashboard:edit-dashboard-settings-apply">Apply settings</span>
      </div>
      <div class="panel-body">
        <div class="tab-content filter-options">
          <div class="tab-pane active">
            <ul class="sub-filters-titles nav nav-pills nav-stacked">
              <li class="active">
                <a href="#"><span data-i18n="amp.dashboard:settings-currency">Currency</span></a>
              </li>
              <li>
                <a href="#"><span data-i18n="amp.dashboard:settings-calendar">Calendar Type</span></a>
              </li>
            </ul>
            <div class="sub-filters-content">
              <select class="form-control">
                <option>Australian Dollar</option>
                <option>Canadian Dollar</option>
                <option>Chinese Yuan</option>
                <option>Danish Kroner</option>
                <option>Euro</option>
                <option>Indonesian Rupiah</option>
                <option>Japanese Yen</option>
                <option selected>US Dollar</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer clearfix text-right">
        <button type="button" class="btn btn-warning" data-i18n="amp.dashboard:cancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" data-i18n="amp.dashboard:apply" data-dismiss="modal">Apply</button>
      </div>
    </div>
  </div>
</div>
