<div id="add_sector_link">
	<%= button_to_remote "Add Another Focal Sector", 
		:url => add_sector_country_strategies_path(:index => index),
		:loading => "$('add_sector_loading').show()",
		:complete => "$('add_sector_loading').hide()" %>
</div>