<div class="focal_province">
	<select name="country_strategy[sector_detail_attributes][<%= index %>][province_ids][]" id="focal_province_<%= index %>">
		<option value="">National</option>
		<%= options_from_collection_for_select(Province.all, :id, :name, focal_province.id) %>
	</select>

	<%= link_to_function "Delete", <<-END_JS
			if ($('.focal_province').length > 1) {
				$(this).parents('.focal_province').remove();
			} else {
				alert("Please add at least one Focal Province.")
			}
		END_JS
	%>
</div>