<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SourceConn" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\SISFIN\Difemd.mdb" />
    <add name="DestinationConn" connectionString="SERVER=localhost;UID=root;PWD=m0n1t0r;DATABASE=sisfin_db;PORT=3306;" />
  </connectionStrings>
  <appSettings>
    <add key="IsAutomated" value="false" />
    <add key="Tables" value="age,act" />
    <add key="DeleteTableData" value="false" />
    <add key="Script" value="script1.sql,script2.sql" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>