[submodule "amp/TEMPLATE/ampTemplate/node_modules/amp-boilerplate"]
	path = amp/TEMPLATE/ampTemplate/node_modules/amp-boilerplate
	url = https://github.com/devgateway/amp-boilerplate.git
[submodule "amp/TEMPLATE/ampTemplate/node_modules/amp-filter"]
	path = amp/TEMPLATE/ampTemplate/node_modules/amp-filter
	url = https://github.com/devgateway/amp-filter.git
