[submodule "amp/TEMPLATE/ampTemplate/node_modules/amp-filter"]
	path = amp/TEMPLATE/ampTemplate/node_modules/amp-filter
	url = https://github.com/example/amp-filter.git
[submodule "amp/TEMPLATE/ampTemplate/node_modules/amp-settings"]
	path = amp/TEMPLATE/ampTemplate/node_modules/amp-settings
	url = https://github.com/example/amp-settings.git
[submodule "amp/TEMPLATE/ampTemplate/node_modules/amp-boilerplate"]
	path = amp/TEMPLATE/ampTemplate/node_modules/amp-boilerplate
	url = https://github.com/example/amp-boilerplate.git
[submodule "amp/TEMPLATE/ampTemplate/node_modules/amp-translate"]
	path = amp/TEMPLATE/ampTemplate/node_modules/amp-translate
	url = https://github.com/example/amp-translate.git
