[submodule "amp/TEMPLATE/ampTemplate/node_modules/amp-boilerplate"]
	path = amp/TEMPLATE/ampTemplate/node_modules/amp-boilerplate
	url = git@github.com:devgateway/amp-boilerplate.git
[submodule "amp/TEMPLATE/ampTemplate/node_modules/amp-translate"]
	path = amp/TEMPLATE/ampTemplate/node_modules/amp-translate
	url = git@github.com:devgateway/amp-translate.git
[submodule "amp/TEMPLATE/ampTemplate/node_modules/amp-filter"]
	path = amp/TEMPLATE/ampTemplate/node_modules/amp-filter
	url = git@github.com:devgateway/amp-filter.git
[submodule "deploy"]
	path = deploy
	url = https://github.com/devgateway/amp-deploy.git
	branch = CDIP
