amp/TEMPLATE/ampTemplate/node_modules/amp-settings/dist/
amp/TEMPLATE/ampTemplate/node_modules/amp-settings/src/compiled-css/amp-settings.css
amp/TEMPLATE/ampTemplate/node_modules/amp-settings/src/compiled-js/amp-settings.js
amp/TEMPLATE/ampTemplate/node_modules/amp-boilerplate/src/compiled-js/amp-boilerplate.js
amp/TEMPLATE/ampTemplate/node_modules_10/
amp/TEMPLATE/ampTemplate/node_modules/amp-filter/node/node_modules/
amp/TEMPLATE/ampTemplate/node_modules/amp-filter/node/
amp/TEMPLATE/ampTemplate/node_modules/amp-filter/node_modules/
amp/TEMPLATE/ampTemplate/node_modules/amp-boilerplate/dist/amp-boilerplate.js
amp/TEMPLATE/ampTemplate/node_modules/amp-filter/dist/amp-filter.css
amp/TEMPLATE/ampTemplate/node_modules/amp-filter/src/compiled-css/amp-filter.css
amp/TEMPLATE/ampTemplate/node_modules/amp-filter/src/compiled-js/amp-filter.js
amp/TEMPLATE/ampTemplate/node_modules/amp-filter/dist/amp-filter.js
amp/TEMPLATE/ampTemplate/node_modules/amp-state/node/
amp/TEMPLATE/ampTemplate/node_modules/amp-translate/node/
amp/TEMPLATE/ampTemplate/node_modules/amp-translate/node_modules/
.idea/
amp/TEMPLATE/reampv2/node/node_modules/
amp/TEMPLATE/reampv2/node/
amp/gen-src/
/amp/gen-src/
src/main/java/org/digijava/module/translation/jaxb/Trn.java
src/main/java/org/digijava/module/translation/jaxb/ObjectFactory.java
src/main/java/org/digijava/module/translation/jaxb/Language.java
src/main/java/org/digijava/module/translation/jaxb/Translations.java
src/main/java/org/digijava/module/help/jaxbi/Adapter1.java
src/main/java/org/digijava/module/help/jaxbi/HelpLang.java
src/main/java/org/digijava/module/help/jaxbi/ObjectFactory.java
src/main/java/org/digijava/module/help/jaxbi/AmpHelpRoot.java
src/main/java/org/dgfoundation/amp/reports/xml/Sort.java
src/main/java/org/dgfoundation/amp/reports/xml/Hierarchies.java
src/main/java/org/dgfoundation/amp/reports/xml/Children.java
src/main/java/org/dgfoundation/amp/reports/xml/Values.java
src/main/java/org/dgfoundation/amp/reports/xml/YearRange.java
src/main/java/org/dgfoundation/amp/reports/xml/AmountFormat.java
src/main/java/org/dgfoundation/amp/reports/xml/ParentColumn.java
src/main/java/org/dgfoundation/amp/reports/xml/Filters.java
src/main/java/org/dgfoundation/amp/reports/xml/ReportArea.java
src/main/java/org/dgfoundation/amp/reports/xml/Contents.java
src/main/java/org/dgfoundation/amp/reports/xml/Measures.java
src/main/java/org/dgfoundation/amp/reports/xml/Headers.java
src/main/java/org/dgfoundation/amp/reports/xml/ReportParameter.java
src/main/java/org/dgfoundation/amp/reports/xml/ObjectFactory.java
src/main/java/org/dgfoundation/amp/reports/xml/Columns.java
src/main/java/org/dgfoundation/amp/reports/xml/Column.java
src/main/java/org/dgfoundation/amp/reports/xml/Output.java
src/main/java/org/dgfoundation/amp/reports/xml/Config.java
src/main/java/org/dgfoundation/amp/reports/xml/Settings.java
src/main/java/org/dgfoundation/amp/reports/xml/Report.java
src/main/java/org/dgfoundation/amp/reports/xml/Sorting.java
src/main/java/org/dgfoundation/amp/reports/xml/GroupingOption.java
src/main/java/org/dgfoundation/amp/reports/xml/Cell.java
src/main/java/org/dgfoundation/amp/reports/xml/package-info.java
src/main/java/org/dgfoundation/amp/reports/xml/Filter.java
