amp/TEMPLATE/ampTemplate/node_modules/amp-settings/dist/
amp/TEMPLATE/ampTemplate/node_modules/amp-settings/src/compiled-css/amp-settings.css
amp/TEMPLATE/ampTemplate/node_modules/amp-settings/src/compiled-js/amp-settings.js
amp/TEMPLATE/ampTemplate/node_modules/amp-boilerplate/src/compiled-js/amp-boilerplate.js
amp/TEMPLATE/ampTemplate/node_modules_10/
amp/TEMPLATE/ampTemplate/node_modules/amp-filter/node/node_modules/
amp/TEMPLATE/ampTemplate/node_modules/amp-filter/node/
amp/TEMPLATE/ampTemplate/node_modules/amp-filter/node_modules/
amp/TEMPLATE/ampTemplate/node_modules/amp-boilerplate/dist/amp-boilerplate.js
amp/TEMPLATE/ampTemplate/node_modules/amp-filter/dist/amp-filter.css
amp/TEMPLATE/ampTemplate/node_modules/amp-filter/src/compiled-css/amp-filter.css
amp/TEMPLATE/ampTemplate/node_modules/amp-filter/src/compiled-js/amp-filter.js
amp/TEMPLATE/ampTemplate/node_modules/amp-filter/dist/amp-filter.js
amp/TEMPLATE/ampTemplate/node_modules/amp-state/node/
amp/TEMPLATE/ampTemplate/node_modules/amp-translate/node/
amp/TEMPLATE/ampTemplate/node_modules/amp-translate/node_modules/
.idea/
amp/TEMPLATE/reampv2/node/node_modules/
amp/TEMPLATE/reampv2/node/
amp/generated-sources/
/amp/generated-sources/
