<h4 data-i18n="amp.dashboard:download-preview">Preview:</h4>

<!-- This 'modal' div fixes AMP-19525: In FF when the chart is drawn (for less than a second) in 'svg-wrap', sometimes the mouse cursor is over one of the bars and triggers the tooltip,
that process is not fully performed thus resulting in incomplete html which is rejected by the browser :(  -->
<div class="modal-preview-area">
</div>
<div class="preview-area">
	<div class="svg-wrap hidden">
  	</div>
  	<div class="canvas-wrap hidden">
  	</div>
  	<div class="table-wrap hidden">
  	</div>
</div>

<div class="text-center">
  <a class="btn btn-success download-chart disabled">
    <span class="glyphicon glyphicon-download"></span>
    <span data-i18n="amp.dashboard:download-rendering" class="word">Rendering...</span>
  </a>
</div>
