<div class="col-xs-12 col-md-5">
  <div class="panel">
    <div class="panel-body">
      <button type="button" class="btn btn-sm btn-default pull-right show-filters">
        <span class="glyphicon glyphicon-edit"></span>
        <span data-i18n="amp.dashboard:filters-edit">Edit filters</span>
      </button>
      <h3 class="inline-heading" data-i18n="amp.common:title-filters">Filters</h3>
      <div class="applied-filters">
        <em data-i18n="amp.common:filters-loading">Loading...</em>
      </div>
    </div>
  </div>
</div>
<div id="filter-popup"></div>
