<div class="modal" data-backdrop="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title"><%= title %></h2>
      </div>
      <div class="modal-body">
        <div class="filter-options"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-warning cancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-sm btn-success apply" data-dismiss="modal">Apply</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
