<div class="node small">
  <div class="selectable"></div>
  <div class="toggle-nav"><%= name %>
    <span class="count"><%= numSelected %> / <%= numPossible %></span>
    <span class="expanded">+</span>
  </div>

  <% /*TODO: fix hardcode of 'unkown' */
  if (obj.name === "unkown"){ %>
    &nbsp;<a href="#"
      data-toggle="popover"
      data-container="body"
      data-placement="right"
      data-trigger="click"
      data-content="projects that aren't tagged to a specific child.">
      <span class="glyphicon glyphicon-info-sign"></span>
    </a>
  <%}%>
</div>
