<?xml version="1.0" encoding="utf-8"?>
<!-- This mostly deals with Spring Security configuration for AMP -->
<!-- Please do not put your http patterns here, use module-spring.xml files !! -->
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/security 
                    http://www.springframework.org/schema/security/spring-security.xsd
					http://www.springframework.org/schema/context
					http://www.springframework.org/schema/context/spring-context.xsd">

	<beans:import resource="classpath:/applicationContext.xml" />

	<beans:bean id="customHttpFirewall" class="org.springframework.security.web.firewall.DefaultHttpFirewall"/>
	<http-firewall ref="customHttpFirewall"/>


	<!-- by default allow displaying of the flag -->
	<http pattern="/aim/default/displayFlag.do**" security="none" />

    <http pattern="/translation/switchLanguage.do**"  entry-point-ref="digestEntryPoint" realm="AMP-Realm" >
        <intercept-url pattern="/**" access="permitAll" />
    </http>

	<http pattern="/robots.txt" security="none" />
	<http pattern="/favicon.ico" security="none" />
	<http pattern="/" security="none" />

	<http pattern="/translation/ajaxTranslator.do**" security="none" />

    <http pattern="/aim/confirmRegisteration.do**" security="none" />

	<http pattern="/aim/showRegisterUser.do**" security="none" />

    <http pattern="/aim/showChangePassword.do**" security="none" />

    <http pattern="/aim/changePassword.do**" security="none" />

    <http pattern="/aim/showEmailForm.do**" security="none" />

    <http pattern="/aim/resetUserPassword.do**" security="none" />

	<http pattern="/aim/registerUser.do**" security="none" />

	<http pattern="/aim/csvExport.do**" security="none" />

	<http pattern="/viewNewAdvancedReport.do**" entry-point-ref="digestEntryPoint" realm="AMP-Realm" >
 		<intercept-url pattern="/**" access="permitAll" />
	</http>
	<http pattern="/aim/viewNewAdvancedReport.do**" entry-point-ref="digestEntryPoint" realm="AMP-Realm" >
 		<intercept-url pattern="/**" access="permitAll" />
	</http>
	<http pattern="/aim/xlsExport.do**" security="none" />

    <http pattern="/aim/pdfExport.do**" security="none" />



	<http pattern="/aim/viewActivityHistory.do**" security="none" />
	<http pattern="/exception/showExceptionReport.do**" security="none" />

    <http pattern="/aim/viewActivityPreview.do**" security="none"  />


    <http pattern="/aim/exportActToPDF.do**" security="none"  />

	<http pattern="/aim/exportActToWord.do**" security="none"  />

	<http pattern="/aim/default/previewActivity.do**" security="none" />

	<http pattern="/showPrinterFriendlyPage.do**" security="none"  />

	<http pattern="/gis/showPublicGis.do**" security="none" />
	<http pattern="/gis/getFoundingDetails.do**" security="none" />
	<http pattern="/gis/showAdditionalGraphics.do**" security="none" />
	<http pattern="/budgetexport/budgetExportService.do**" security="none" />
	<!--
	<http pattern="/esrigis/**" security="none" />
	 -->
	<http pattern="/rest/**" security="none" />
    <http pattern="/api-docs/**" security="none" />

	<http pattern="/TEMPLATE/ampTEMPLATE**" security="none" />
	<http pattern="/TEMPLATE/ampTemplate/gisModule/dist/**" security="none" />
    <http pattern="/TEMPLATE/ampTemplate/gisModule/dev/**" security="none" />
    <http pattern="/TEMPLATE/ampTemplate/gisModule/**" security="none" />
    <http pattern="/gis/boundaries/**" security="none" />

	<http pattern="/TEMPLATE/ampTemplate/dashboard/**" security="none" />
	<http pattern="/TEMPLATE/ampTemplate/dashboard/build/**" security="none" />

	<http pattern="/TEMPLATE/reamp/modules/ampoffline/download/**" security="none" />
	<http pattern="/TEMPLATE/reamp/modules/activity/preview/**" security="none" />
	<http pattern="/TEMPLATE/reampv2/build/**" security="none" />

    <http pattern="/TEMPLATE/ampTemplate/saikuui_reports/**" security="none" />


	<!-- match images -->
	<http pattern="[^ \t\r\n\v\f]+\.(gif|jpg|jpeg|tiff|png|js|css|swf|eot|woff|woff2|ttf)(\?)?.*$"
		request-matcher="regex" security="none" />

	<!-- alllow bypass for login page -->
	<http pattern="/showLayout.do/?layout=login" request-matcher="regex"
		security="none" />

	<http pattern="/showLayout.do/?layout=viewActivityHistory" request-matcher="regex"
		security="none" />

	<!-- import digi module spring configuration files -->
	<beans:import resource="classpath:../../repository/**/module-spring.xml" />

	<!-- uncomment this to see debugging info about spring security -->
	<!-- <debug/> -->

    <!-- Pages with anonymous access -->
  <!--   <http pattern="/aim/viewActivityPreview.do**"  entry-point-ref="digestEntryPoint" realm="AMP-Realm" >
        <intercept-url pattern="/**" access="permitAll" />
    </http>
   -->
    <http pattern="/calendar/showCalendarView.do**"  entry-point-ref="digestEntryPoint" realm="AMP-Realm" >
        <intercept-url pattern="/**" access="permitAll" />
    </http>
    <http pattern="/calendar/default/showCalendarView.do**"  entry-point-ref="digestEntryPoint" realm="AMP-Realm" >
        <intercept-url pattern="/**" access="permitAll" />
    </http>
    <http pattern="/calendar/showCalendarEvent.do**"  entry-point-ref="digestEntryPoint" realm="AMP-Realm" >
        <intercept-url pattern="/**" access="permitAll" />
    </http>
    <http pattern="/calendar/showEvents.do**"  entry-point-ref="digestEntryPoint" realm="AMP-Realm" >
        <intercept-url pattern="/**" access="permitAll" />
    </http>
    <http pattern="/gis/pdfExport.do**"  entry-point-ref="digestEntryPoint" realm="AMP-Realm" >
        <intercept-url pattern="/**" access="permitAll" />
    </http>

    <http pattern="/aim/reportsFilterPicker.do**"  entry-point-ref="digestEntryPoint" realm="AMP-Realm" >
        <intercept-url pattern="/**" access="permitAll" />
    </http>
    <http pattern="/reportsFilterPicker.do**"  entry-point-ref="digestEntryPoint" realm="AMP-Realm" >
        <intercept-url pattern="/**" access="permitAll" />
    </http>

    <http pattern="/contentrepository/documentManager.do**"  entry-point-ref="digestEntryPoint" realm="AMP-Realm" >
        <intercept-url pattern="/**" access="permitAll" />
    </http>

    <http pattern="/viewTeamReports.do**"  entry-point-ref="digestEntryPoint" realm="AMP-Realm" >
        <intercept-url pattern="/**" access="permitAll" />
    </http>

    <http pattern="/aim/viewTeamReports.do*"  entry-point-ref="digestEntryPoint" realm="AMP-Realm" >
        <intercept-url pattern="/**" access="permitAll" />
    </http>

    <http pattern="/um/user/showResetForm.do*"  entry-point-ref="digestEntryPoint" realm="AMP-Realm" >
        <intercept-url pattern="/**" access="permitAll" />
    </http>

    <http pattern="/um/userResetPassword.do*"  entry-point-ref="digestEntryPoint" realm="AMP-Realm" >
        <intercept-url pattern="/**" access="permitAll" />
    </http>

    <http pattern="/index.do*"  entry-point-ref="digestEntryPoint" realm="AMP-Realm" >
        <intercept-url pattern="/**" access="permitAll" />
    </http>
	<http pattern="/translation/showNewAdvancedTranslation.do*"  entry-point-ref="digestEntryPoint" realm="AMP-Realm" >
		<intercept-url pattern="/**" access="permitAll" />
	</http>


	<beans:bean id="logoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
		<beans:constructor-arg index="0" value="/showLayout.do/?layout=login" />
		<beans:constructor-arg index="1">
			<beans:list>
				<beans:bean id="securityContextLogoutHandler" class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler" />
			</beans:list>
		</beans:constructor-arg>
<!--		<beans:property name="filterProcessesUrl" value="/j_spring_logout" />-->
	</beans:bean>
	<!-- set the digestEntryPoint to set up the HTTP headers for digest -->
	<http entry-point-ref="digestEntryPoint" realm="AMP-Realm" use-expressions="true">
		<!-- do not allow anonymous tokens, they are enabled by default ! -->
		<anonymous enabled="false" />

		<!-- digest filter reference, as the authentication filter for the security
			chain -->
		<custom-filter ref="digestFilter" position="BASIC_AUTH_FILTER" />

		<!-- all the rest of the AMP pages need the user to be authenticated -->
		<intercept-url pattern="/**" access="hasRole('ROLE_AUTHENTICATED')" />


		<!-- standard logout url to terminate the session and delete Tomcat cookies -->
<!--<logout delete-cookies="JSESSIONID" logout-url="/j_spring_logout" />-->

<!--		 &ndash;&gt;-->

		<custom-filter position="LOGOUT_FILTER" ref="logoutFilter" />
	</http>


	<beans:bean id="passwordEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder"
				factory-method="getInstance"/>


	<!-- the authentication manager references the auth service -->
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="digiUserDetailsService">
			<password-encoder ref="passwordEncoder" />
		</authentication-provider>

	</authentication-manager>

	<!-- auth service used to query the database and get the user bean -->
	<beans:bean id="digiUserDetailsService"
		class="org.digijava.kernel.security.auth.DigiUserDetailsService">
		<beans:property name="populateGroupAuthorities">
			<beans:value>false</beans:value>
		</beans:property>
	</beans:bean>

	<!-- digest filter - this will check the HTTP headers and perform authentication 
		if an Authorization section is found -->
	<beans:bean id="digestFilter"
		class="org.springframework.security.web.authentication.www.DigestAuthenticationFilter">
		<beans:property name="userDetailsService" ref="digiUserDetailsService" />
		<beans:property name="authenticationEntryPoint" ref="digestEntryPoint" />
	</beans:bean>

	<!-- this will set the necessary headers to commence handshake -->
	<beans:bean id="digestEntryPoint"
		class="org.digijava.kernel.security.auth.AjaxDigestAuthenticationEntryPoint">
		<beans:property name="realmName" value="AMP-Realm" />
		<beans:property name="key" value="testNonce" />
		<beans:property name="nonceValiditySeconds" value="10000" />
	</beans:bean>

	<context:component-scan base-package="org.digijava.kernel.services"/>
	<context:component-scan base-package="org.digijava.kernel.security.auth"/>

</beans:beans>   
