<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"> 

	<display-name>AMP 2.0</display-name>
	<description>Aid Management Platform</description>

	<!-- ******************************************* -->
	<!-- * DO NOT ADD ANYTHING BEFORE THIS SEGMENT * -->
	<!-- ******************************************* -->

	<filter>
		<filter-name>javamelody</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>javamelody</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<listener>
		<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>

	<filter>
		<filter-name>gzipRequestFilter</filter-name>
		<filter-class>org.digijava.kernel.web.gzip.GzipRequestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>gzipRequestFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>
			org.dgfoundation.amp.error.keeper.DigiXmlECSLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.dgfoundation.ecs.ContextLoaderListener
		</listener-class>
	</listener>
	<!--                 SEGMENT END                 -->
	<!--  ADD ENTRIES BELOW -->

   <filter>
      <filter-name>characterEncodingFilter</filter-name>
      <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
      <init-param>
         <param-name>encoding</param-name>
         <param-value>utf-8</param-value>
      </init-param>
   </filter>
   
   <filter>
        <filter-name>populateTLSRequestFilter</filter-name>
        <filter-class>org.digijava.kernel.request.PopulateTLSRequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>populateTLSRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
   
	<filter>
		<filter-name>HibernateFilter</filter-name>
		<filter-class>org.digijava.kernel.startup.HibernateSessionRequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HibernateFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
    </filter-mapping>

   <filter>
      <filter-name>springSecurityFilterChain</filter-name>
      <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
   </filter>
   <filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>

	<!-- Web listener -->
	<listener>
		<listener-class>
			org.digijava.kernel.startup.ConfigLoaderListener
		</listener-class>
	</listener>

	<filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>	
	<listener>
    	<listener-class>org.digijava.kernel.startup.AmpSessionListener</listener-class>
	</listener>

	<!-- Correct EhCache shutdown -->
 	<listener>
          <listener-class>net.sf.ehcache.constructs.web.ShutdownListener</listener-class>
     </listener>
     
    <context-param>
		<param-name>log4jExposeWebAppRoot</param-name>
		<param-value>false</param-value>
	</context-param>
     
	<context-param>
		<param-name>patchAMP</param-name>
		<param-value>
			org.digijava.module.aim.patches.DBPatcher:patchAMPDB
		</param-value>
	</context-param>


	<!-- Apache Wicket -->
    <filter>
        <filter-name>OnePagerApplication</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
          <param-name>applicationClassName</param-name>
          <param-value>org.dgfoundation.amp.onepager.OnePagerApp</param-value>
        </init-param>
		<init-param>
            <param-name>configuration</param-name>
            <param-value>deployment</param-value>
		</init-param>
    </filter>
    <filter-mapping>
        <filter-name>OnePagerApplication</filter-name>
        <url-pattern>/wicket/*</url-pattern>
    </filter-mapping>

	<filter>
		<filter-name>showMasterLayout</filter-name>
		<filter-class>
			org.digijava.kernel.request.ShowMasterLayout
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>showMasterLayout</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>
			org.digijava.module.aim.startup.AMPStartupListener
		</listener-class>
	</listener>

	<!-- Quartz Listener -->
	<listener>
		<listener-class>org.digijava.module.aim.startup.QuartzStartupListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<filter>
		<filter-name>ampClientDetector</filter-name>
		<filter-class>org.digijava.kernel.ampapi.filters.AmpClientDetectorFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ampClientDetector</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>apiCompatFilter</filter-name>
		<filter-class>org.digijava.kernel.ampapi.endpoints.activity.utils.ApiCompatFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>apiCompatFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>hibernateEntityResolverFilter</filter-name>
		<filter-class>org.digijava.kernel.ampapi.filters.HibernateEntityResolverFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>hibernateEntityResolverFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>

	<!-- Jersey Servlet  -->
	<servlet>
		<servlet-name>AMP API End Points</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
		    <param-name>com.sun.jersey.config.property.packages</param-name>
		    <param-value>
                io.swagger.jaxrs.json,
                io.swagger.jaxrs.listing,
                org.digijava.kernel.ampapi.endpoints
            </param-value>
	    </init-param>
    	<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
			<param-value>org.digijava.kernel.ampapi.authentication.AuthRequestFilter</param-value>
		</init-param>
    	<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
			<param-value>org.digijava.kernel.ampapi.endpoints.common.ApiResponseFilter</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ResourceFilters</param-name>
			<param-value>org.digijava.kernel.ampapi.endpoints.security.AuthorizerResourceFilterFactory</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	 </servlet>
 	<servlet-mapping>
		<servlet-name>AMP API End Points</servlet-name>
 		<url-pattern>/rest/*</url-pattern>
 	</servlet-mapping>
	<!-- End Jersey  -->

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.digijava.module.aim.config.AMPActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>
				/repository/struts-config.xml,
				/repository/admin/struts-config.xml,
				/repository/calendar/struts-config.xml,
				/repository/aim/struts-config.xml,
				/repository/editor/struts-config.xml,
				/repository/translation/struts-config.xml,
				/repository/um/struts-config.xml,
				/repository/exception/struts-config.xml,
				/repository/digifeed/struts-config.xml,
				/repository/gateperm/struts-config.xml,
				/repository/help/struts-config.xml,
				/repository/contentrepository/struts-config.xml, /repository/categorymanager/struts-config.xml,
				/repository/sdm/struts-config.xml,
				/repository/message/struts-config.xml,				
				/repository/parisindicator/struts-config.xml,
				/repository/search/struts-config.xml,
				/repository/content/struts-config.xml,
				/repository/xmlpatcher/struts-config.xml,
				/repository/esrigis/struts-config.xml,
				/repository/budgetexport/struts-config.xml,
				/repository/gpi/struts-config.xml				
			</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>factory</param-name>
			<param-value>
				org.digijava.kernel.util.DigiMessageResourcesFactory
			</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<!-- JFREE Chart Start -->
	<servlet>
		<servlet-name>DisplayChart</servlet-name>
		<servlet-class>
			org.jfree.chart.servlet.DisplayChart
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayChart</servlet-name>
		<url-pattern>/aim/DisplayChart.img</url-pattern>
	</servlet-mapping>
	<!-- JFREE Chart End -->
	<!-- Standard Action Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- Struts Tag Library Descriptors -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/exceptionHandle.do</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/exceptionHandle.do</location>
	</error-page>
	<error-page>
	<error-code>403</error-code>
		<location>/showLayout.do?layout=login</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/exceptionHandle.do</location>
	</error-page>
	<jsp-config>
	<taglib>
		<taglib-uri>/taglib/struts-bean</taglib-uri>
		<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglib/struts-html</taglib-uri>
		<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglib/struts-logic</taglib-uri>
		<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglib/struts-nested</taglib-uri>
		<taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglib/struts-tiles</taglib-uri>
		<taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglib/digijava</taglib-uri>
		<taglib-location>/WEB-INF/digijava.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglib/gateperm</taglib-uri>
		<taglib-location>/repository/gateperm/gateperm.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglib/category</taglib-uri>
		<taglib-location>/WEB-INF/category.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglib/globalsettings</taglib-uri>
		<taglib-location>/WEB-INF/globalsettings.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglib/resourcesettings</taglib-uri>
		<taglib-location>/WEB-INF/resourcesettings.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglib/aim</taglib-uri>
		<taglib-location>/WEB-INF/aim.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglib/moduleVisibility</taglib-uri>
		<taglib-location>/WEB-INF/moduleVisibility.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglib/featureVisibility</taglib-uri>
		<taglib-location>
			/WEB-INF/featureVisibility.tld
		</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglib/fieldVisibility</taglib-uri>
		<taglib-location>/WEB-INF/fieldVisibility.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglib/editlivejava</taglib-uri>
		<taglib-location>/WEB-INF/taglib.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglib/jstl-core</taglib-uri>
		<taglib-location>/WEB-INF/c.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglib/fmt</taglib-uri>
		<taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglib/displaytag</taglib-uri>
		<taglib-location>
			/WEB-INF/tld/displaytag-11.tld
		</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglib/jstl-functions</taglib-uri>
		<taglib-location>/WEB-INF/fn.tld</taglib-location>
	</taglib>
	</jsp-config>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Restricted Resources</web-resource-name>
			<description>
				You are not allowed to view configuration files from the
				web, directly
			</description>
			<url-pattern>*.xml</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>DigiAdmin</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>AMP Monitoring</realm-name>
	</login-config>

	<security-role>
		<role-name>monitoring</role-name>
	</security-role>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Monitoring</web-resource-name>
			<url-pattern>/monitoring</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>monitoring</role-name>
		</auth-constraint>
	</security-constraint>

	<resource-ref>
		<description>Main DB Connection</description>
		<res-ref-name>ampDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>
