<% form_tag :action => 'do_login' do %>
	<table class="loginForm" align="center">
		<tbody>
			<tr>
				<td colspan=2>
					<% if flash[:notice] %>
						<div class="error"><%= flash[:notice] %></div>
					<% end %>
				</td>
			</tr>
			<tr>
				<td>Username</td>
				<td>
					<%= collection_select("name", "id" , @donors, "id", "name") %>
				</td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input name="password" type="password" /></td>
			</tr>
			<tr>
				<td colspan="2"><%= submit_tag "Login" %></td>
			</tr>
		</tbody>
	</table>
<% end %>