<center>
	<table width="740" class="admin">
			<tr>
				<td class="title"><%= ll(:downloads, :title) %></td>
			</tr>
			<tr>
				<td><%= ll(:downloads, :available_shortly) %></td>
			</tr>
	</table>
</center>