<configuration>

    <turboFilter class="ch.qos.logback.classic.turbo.DuplicateMessageFilter"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- set it to TRACE to see hibernate query parameters, INFO is default -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="default.file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/amp.log</file>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/amp-%d.log</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="amp-email" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/amp-email.log</file>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/amp-email-%d.log</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Limit the org.apache category to INFO as its DEBUG is verbose -->
    <logger name="org.apache" level="INFO" />

    <!-- Limit the org.quartz category to INFO as its DEBUG is verbose -->
    <logger name="org.quartz" level="TRACE" />

    <logger name="org.digijava" level="TRACE" /> <!-- DEBUG default -->

    <logger name="org.dgfoundation" level="TRACE" /> <!-- DEBUG default -->

    <!-- SET to DEBUG to see wicket page render times -->
    <logger name="org.apache.wicket.devutils.inspector.RenderPerformanceListener" level="DEBUG" />

    <!-- Limit JSF logging to DEBUG.  FINER and FINEST will not be logged -->
    <logger name="javax.enterprise.resource.webcontainer.jsf" level="INFO" />

    <logger name="org.hibernate" level="TRACE" />

    <logger name="net.sf.hibernate.cache" level="ERROR" />

    <logger name="net.sf.ehcache.hibernate" level="ERROR" />

    <!-- SET to TRACE in order to see queries and their value, INFO is default -->
    <logger name="org.hibernate.SQL" level="TRACE" />

    <!-- SET to TRACE in order to see queries and their value, INFO is default -->
    <logger name="org.hibernate.type" level="INFO" />

    <logger name="amp-email" additivity="false" level="DEBUG">
        <appender-ref ref="amp-email" />
    </logger>

    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="default.file" />
    </root>
</configuration>
