.dropdown {
    width: 100%;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #f3f5f8;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

.download_btn_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.button, .button:focus, .button:hover, .button:active, .button:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 45px;
    border-radius: 5px;
    background-color: #1d8c5f !important;
    outline: none;
}

.button_text {
    padding-left: 6px;
}
