<div class="filters-area-button">
    <input type="button" id="filters-button" class="buttonify" value="Filter"/>
    <input type="button" id="save-button" class="buttonify" value="Save"/>
    <input type="button" id="settings-button" class="buttonify" value="Settings"/>
</div>
<div id="filters-collapsible-area">
    <h3 class="right_text blue_widget">Applied filters</h3>
    <div id="dynamic-filters-region">
    	<img src="/TEMPLATE/ampTemplate/tabs/css/images/ajax-loader.gif"/>
    </div>
</div>
<div id="dynamic-legends-region"></div>
<div id="dynamic-results-region"></div>

<!-- TODO: Evaluate if having these templates here is the best approach or we should move it to another file. -->
<script type="text/template" id="filters-dialog-template">
	<span>Content of the Filters Dialog.</span>
</script>
<script type="text/template" id="settings-dialog-template">
	<span>Content of the Settings Dialog.</span>
</script>