<span><%= currencyCode %></span> - <span id='show-legends-link-<%= id%>' class='pointer'>Show Legends...</span>
<div style="display:none">
	<div id="show_legend_pop_box" style="font-family: Arial, sans-serif; display: block;">
		<b class="red">*red</b> - New Draft. These are new activities that have been saved as drafts.
		<hr>
		<b class="green">*green text</b> - New Unvalidated. These are new activities that have never been approved by the workspace manager.
		<hr>
		<b class="blue">blue text</b> - Validated activities.
		<hr>
		<b class="red">red</b> - Existing Drafts. These are activities that have been saved once and edited and saved as drafts.
		<hr>
		<b class="green">green text</b> - Existing Un-validated. These are activities that have been approved at least once by the workspace manager. These are edited activities that are not approved.
	</div>
</div>