<div class="save-tab-container">
	<table width="100%" align="center">
		<tbody>
			<tr>
				<td>
					<span data-i18n="tabs.common:newTabName">Name:</span>
				</td>
				<td>
					<input class="full-width" type="text" id="newTabNameInput" value="<%=name%>">
				</td>
			</tr>
	</table>
	<br>
	<div style="margin-right: auto; margin-left: auto; text-align: center;">
		<input type="button" name="saveTabsBtn" id="saveTabsBtn" class="buttonify" data-i18n="tabs.common:saveTabsBtn" value="Save Tab" /> 
	</div>
</div>