<div class="settings-container">
	<table width="400" align="center">
		<tbody>
			<tr>
				<td width="40%" data-i18n="tabs.common:currency">Currency</td>
				<td>
					<select name="currency" onchange="initFormatPopup();" id="currency" class="dropdwn_sm"> 
						<% for(var c in currencies) { %> 
							<% 
							var selected = ''; 
							if(selectedCurrency != undefined && selectedCurrency != null && currencies[c].id === selectedCurrency) { 
								selected = "selected = 'selected' "; 
							} 
							%>
							<option value="<%= currencies[c].id%>"<%= selected %>><%= currencies[c].name%></option> <% } %>
					</select>
				</td>
			</tr>
			<tr>
				<td width="40%" data-i18n="tabs.common:calendar">Calendar</td>
				<td>
					<select name="calendar" onchange="initFormatPopup();" id="calendar" class="dropdwn_sm"> 
						<% for(var c in calendars) { %> 
							<% 
							var selected = ''; 
							if(selectedCalendar != undefined && selectedCalendar != null && calendars[c].id === selectedCalendar) { 
								selected = "selected = 'selected' "; 
							} 
							%>
						<option value="<%= calendars[c].id%>"<%= selected %> ><%=calendars[c].name%></option> <% } %>
					</select>
				</td>
			</tr>
	</table>
	<br>
	<div>
		<div style="margin-right: auto; margin-left: auto; text-align: center;">
			<input type="button" name="applyFormat" id="applyFormatBtn" class="buttonify" data-i18n="tabs.common:applyFormat" value="Apply Format" /> 
			<input type="button" name="applyFormat" onclick="ResetCustom(2);" class="buttonify" data-i18n="tabs.common:reset" value="Reset" />
		</div>
	</div>
</div>