.modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.is_invalid {
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

.text_is_invalid {
    color: #dc3545;
    font-size: 12px;
}

.checkbox_label {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
}