td.mainHeader{
	background-color : #F2F4FC;
	background-image : url(../images/headerBgr.gif);
	background-position : top;
	background-repeat : repeat-x;
	font-weight : bold;
	font-size : 10px;
	color : #2D3F7B;
	text-transform : uppercase;
}

td.leftBorder {
	background-color : #F2F4FC;
	background-image : url(../images/leftBorder.gif);
	background-position : left;
	background-repeat : repeat-y;
}

td.rightBorder {
	background-color : #F2F4FC;
	background-image : url(../images/rightBorder.gif);
	background-position : right;
	background-repeat : repeat-y;
}

td.bottomBorder {
	background-color : #F2F4FC;
	background-image : url(../images/bottomBorder.gif);
	background-position : bottom;
	background-repeat : repeat-x;
}

td.rowItem {
	background-color : #F2F4FC;
	background-image : url(../images/rowItemBgr.gif);
	background-position : center;
	background-repeat : repeat-x;
}

input.rowItemButton {
	height:20px;
	background-color : #F2F4FC;
	background-image : url(../images/rowItemBgr.gif);
	background-position : center;
	background-repeat : repeat-x;
	border: 1px solid;
	border-left-color : #B9B9B9;
	border-top-color : #B9B9B9;
	border-bottom-color : #858585;
	border-right-color : #858585;
	color : #2F3759;
}

input.rowItemField {
	height:20px;
	background-color : white;
	border: 1px solid;
	border-left-color : #858585;
	border-top-color : #858585;
	border-bottom-color : #EAEAEA;
	border-right-color : #EAEAEA;
}

td.groupContainer {
	border : 1px solid;
	border-left-color : #C8D2DD;
	border-top-color : #C8D2DD;
	border-bottom-color : White;
	border-right-color : White;
	background-color : #EDF0FC;
}

a.cmsCategory:link,a.cmsCategory:active,a.cmsCategory:visited {
	color : #404A77;
	text-decoration:none;
	font-weight : bold;
	font-size : 12px;
}

a.cmsCategory:hover		{
	color : #5F6BA9;
	text-decoration:underline;
	font-weight : bold;
	font-size : 12px;
}

font.cmsCategory {
	color : #404A77;
	text-decoration:none;
	font-weight : bold;
	font-size : 12px;
}

a.cmsSubcategory:link,a.cmsSubcategory:active,a.cmsSubcategory:visited {
	color : black;
	text-decoration:none;
	font-weight : normal;
	font-size : 10px;
}

a.cmsSubcategory:hover		{
	color : red;
	text-decoration:underline;
	font-weight : normal;
	font-size : 10px;
}

font.cmsSmallText {
	color : black;
	text-decoration:none;
	font-weight : normal;
	font-size : 10px;
}

font.cmsTitleText {
	color : black;
	text-decoration:none;
	font-weight : bold;
	font-size : 10px;
}

td.bradcrampCell {
	background-image : url(../images/bradcrampBgr.gif);
	background-position : center;
	background-repeat : repeat-x;
}

tr.itemRowOdd {
	background-color : #E6E9F9;
}

tr.itemRowEven {
	background-color : #EEF0FB;
}
td.itemRowSeparator {
	background-color : #D5DAF4;
	border-top : 1px solid #A8A9C4;
	border-bottom : 1px solid #F3F4FC;
}
th.itemHeader{
	background-color : #BCC2DB;
	color : #2D3F7B;
	font-weight : bold;
	font-size : 10px;
	height : 15px;
}

/* Tab styles*/
td.tabContentArea {
	background-color : #E5E8F5;
	border: 1px solid #979CAC;
	border-top : 0px none;
}

td.activeTab {
	background-color : #E5E8F5;
    border-top : 1px solid #979CAC;	
}

td.inactiveTab {
	background-color : #C9CEE2;
	border-bottom : 1px solid #979CAC;
	border-top : 1px solid #979CAC;	
}