.idea
*.iml
target
gen-src
generated-sources
META-INF
WEB-INF/classes
WEB-INF/lib
jackrabbit
lucene
api-docs
Dockerfile
TEMPLATE/ampTemplate/node_modules/amp-boilerplate/node
TEMPLATE/ampTemplate/node_modules/amp-boilerplate/node_modules
TEMPLATE/ampTemplate/node_modules/gis-layers-manager/node
TEMPLATE/ampTemplate/node_modules/gis-layers-manager/node_modules
TEMPLATE/ampTemplate/node_modules/amp-settings/node
TEMPLATE/ampTemplate/node_modules/amp-settings/node_modules
TEMPLATE/ampTemplate/node_modules/amp-translate/node
TEMPLATE/ampTemplate/node_modules/amp-translate/node_modules
TEMPLATE/ampTemplate/node_modules/amp-state/node
TEMPLATE/ampTemplate/node_modules/amp-state/node_modules
TEMPLATE/ampTemplate/node_modules/amp-filter/node
TEMPLATE/ampTemplate/node_modules/amp-filter/node_modules
TEMPLATE/ampTemplate/gisModule/dev/node
TEMPLATE/ampTemplate/gisModule/dev/node_modules
TEMPLATE/ampTemplate/dashboard/dev/node
TEMPLATE/ampTemplate/dashboard/dev/node_modules
TEMPLATE/reamp/node
TEMPLATE/reamp/node_modules
TEMPLATE/reampv2/node
TEMPLATE/reampv2/node_modules
