.idea/
META-INF/
amp.iml
gen-src/
gen-src/
target/
jackrabbit/
lucene/

#jrebel files - usually local dirs
rebel.xml
/api-docs/
/derby.log
**/.DS_Store
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/digijava/module/translation/jaxb/Trn.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/digijava/module/translation/jaxb/ObjectFactory.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/digijava/module/translation/jaxb/Language.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/digijava/module/translation/jaxb/Translations.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/digijava/module/help/jaxbi/Adapter1.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/digijava/module/help/jaxbi/HelpLang.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/digijava/module/help/jaxbi/ObjectFactory.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/digijava/module/help/jaxbi/AmpHelpRoot.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/Sort.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/Hierarchies.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/Children.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/Values.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/YearRange.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/AmountFormat.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/ParentColumn.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/Filters.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/ReportArea.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/Contents.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/Measures.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/Headers.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/ReportParameter.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/ObjectFactory.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/Columns.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/Column.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/Output.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/Config.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/Settings.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/Report.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/Sorting.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/GroupingOption.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/Cell.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/package-info.java
/Users/brianbrix/IdeaProjects/amp_copy/amp/src/main/java/org/dgfoundation/amp/reports/xml/Filter.java
src/main/java/org/digijava/module/translation/jaxb/Trn.java
src/main/java/org/digijava/module/translation/jaxb/ObjectFactory.java
src/main/java/org/digijava/module/translation/jaxb/Language.java
src/main/java/org/digijava/module/translation/jaxb/Translations.java
src/main/java/org/digijava/module/help/jaxbi/Adapter1.java
src/main/java/org/digijava/module/help/jaxbi/HelpLang.java
src/main/java/org/digijava/module/help/jaxbi/ObjectFactory.java
src/main/java/org/digijava/module/help/jaxbi/AmpHelpRoot.java
src/main/java/org/dgfoundation/amp/reports/xml/Sort.java
src/main/java/org/dgfoundation/amp/reports/xml/Hierarchies.java
src/main/java/org/dgfoundation/amp/reports/xml/Children.java
src/main/java/org/dgfoundation/amp/reports/xml/Values.java
src/main/java/org/dgfoundation/amp/reports/xml/YearRange.java
src/main/java/org/dgfoundation/amp/reports/xml/AmountFormat.java
src/main/java/org/dgfoundation/amp/reports/xml/ParentColumn.java
src/main/java/org/dgfoundation/amp/reports/xml/Filters.java
src/main/java/org/dgfoundation/amp/reports/xml/ReportArea.java
src/main/java/org/dgfoundation/amp/reports/xml/Contents.java
src/main/java/org/dgfoundation/amp/reports/xml/Measures.java
src/main/java/org/dgfoundation/amp/reports/xml/Headers.java
src/main/java/org/dgfoundation/amp/reports/xml/ReportParameter.java
src/main/java/org/dgfoundation/amp/reports/xml/ObjectFactory.java
src/main/java/org/dgfoundation/amp/reports/xml/Columns.java
src/main/java/org/dgfoundation/amp/reports/xml/Column.java
src/main/java/org/dgfoundation/amp/reports/xml/Output.java
src/main/java/org/dgfoundation/amp/reports/xml/Config.java
src/main/java/org/dgfoundation/amp/reports/xml/Settings.java
src/main/java/org/dgfoundation/amp/reports/xml/Report.java
src/main/java/org/dgfoundation/amp/reports/xml/Sorting.java
src/main/java/org/dgfoundation/amp/reports/xml/GroupingOption.java
src/main/java/org/dgfoundation/amp/reports/xml/Cell.java
src/main/java/org/dgfoundation/amp/reports/xml/package-info.java
src/main/java/org/dgfoundation/amp/reports/xml/Filter.java
