<?xml version="1.0"?>
<Context path="/" debug="0" reloadable="true" swallowOutput="true" allowLinking="true">
  <Resource defaultTransactionIsolation="READ_COMMITTED" driverClassName="com.mysql.jdbc.Driver" maxActive="100" maxIdle="30" maxWait="10000" 
  name="ampDS" removeAbandoned="true" type="javax.sql.DataSource" url="" username="" password=""/>
  <Manager className="org.apache.catalina.session.PersistentManager" debug="0" distributable="false" saveOnRestart="false">
  	<Store className="org.apache.catalina.session.FileStore"/>
  </Manager>
</Context>
