<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- ================================= -->
    <!-- Preserve messages in a local file -->
    <!-- ================================= -->


    <!-- ============================== -->
    <!-- Append messages to the console -->
    <!-- ============================== -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
        <param name="Target" value="System.out"/>
        <param name="Threshold" value="DEBUG"/> <!-- set it to TRACE to see hibernate query parameters, INFO is default -->

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>

    <appender name="default.file" class="org.dgfoundation.amp.logging.DailyRollingHostNameFileAppender">
        <param name="file" value="${catalina.base}/logs/[hostname].log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
        </layout>
    </appender>

    <appender name="amp-mail" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${catalina.base}/logs/amp-email.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
        </layout>
    </appender>

    <!-- ================ -->
    <!-- Limit categories -->
    <!-- ================ -->

    <!-- Limit the org.apache category to INFO as its DEBUG is verbose -->
    <category name="org.apache">
        <priority value="INFO"/>
    </category>

    <!-- Limit the org.quartz category to INFO as its DEBUG is verbose -->
    <category name="org.quartz">
        <priority value="INFO"/>
    </category>

    <category name="org.digijava"> <!-- DEBUG default -->
        <priority value="INFO"/>
    </category>

    <category name="org.dgfoundation"> <!-- DEBUG default -->
        <priority value="INFO"/>
    </category>
    <category name="org.apache.wicket.devutils.inspector.RenderPerformanceListener">
        <priority value="DEBUG"/>   <!-- SET to DEBUG to see wicket page render times -->
    </category>

    <!--<category name="mondrian.rolap">
            <priority value="WARN"/>
        </category>

        <category name="mondrian.gui">
            <priority value="WARN"/>
        </category>

        <category name="mondrian.sql">
            <priority value="INFO"/>
        </category>

        <category name="mondrian.mdx">
            <priority value="INFO"/>
        </category>
    -->
    <!-- Limit JSF logging to DEBUG.  FINER and FINEST will not be logged -->
    <category name="javax.enterprise.resource.webcontainer.jsf">
        <priority value="INFO" />
    </category>

    <category name="org.hibernate">
        <priority value="ERROR"/>
    </category>

    <category name="net.sf.hibernate.cache">
        <priority value="ERROR"/>
    </category>

    <category name="net.sf.ehcache.hibernate">
        <priority value="ERROR"/>
    </category>

    <category name="org.digijava">
        <priority value="INFO"/>
    </category>


    <category name="org.hibernate.SQL">
        <priority value="INFO"/>   <!-- SET to TRACE in order to see queries and their value, INFO is default -->
    </category>

    <category name="org.hibernate.type">
        <priority value="INFO"/>   <!-- SET to TRACE in order to see queries and their value, INFO is default -->
    </category>

    <category name="amp-email" additivity="false">
        <priority value="DEBUG"/>
        <appender-ref ref="amp-mail" />
    </category>

    <!-- ======================= -->
    <!-- Setup the Root category -->
    <!-- ======================= -->

    <root>
        <priority value="INFO" />
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="default.file"/>
    </root>

</log4j:configuration>