#firstChartTypeSelect_object {
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
}

#secondChartTypeSelect_object {
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
}