.table_header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.table_header_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_container {
    align-items: center;
    float: right;
}