<html>
<head><title>translations</title>
  <script language="Javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script language="Javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script language="Javascript" src="http://cdnjs.cloudflare.com/ajax/libs/i18next/1.6.3/i18next-1.6.3.min.js"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<script language="Javascript">

</script>

</head>
<body>
      <div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading" data-i18n="gis.common:member_login">Member Login</h2>
        <div data-i18n="gis.common:username">Username</div><input type="email" class="form-control"  required autofocus >
        <div data-i18n="gis.common:password">Password</div>
        <input type="password" class="form-control"  required>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="add" data-i18n="gis.common:add">Login</button>
        <br/>
        <div>
        <a href="/aim/showChangePassword.do" id="changePassword" data-i18n="gis.common:changePassword">Click here to change your password</a>
        </div>
      </form>

    </div>
  
    <script>

var searchTranslations = function(){
  var postit = {};
  _.each($("*[data-i18n^='gis.']"), function(i, val) {
      var key = $(i).attr('data-i18n');
      var value = $(i).text();
      postit[key] = value;
  });
  postJSON('/rest/translations/label-translations', postit, function(data) {
      $.each(data, function(key, value) {
          $("*[data-i18n='" + key + "']").text(value);
      });
  });
};

var postJSON = function(url, data, callback) {
    return jQuery.ajax({
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        'type': 'POST',
        'url': url,
        'data': JSON.stringify(data),
        'dataType': 'json',
        'success': callback
    });
};

$(searchTranslations);


    </script>
    </body>

</html>