<!-- Mark selected langauge-->
<script language="javascript">
    $(document).ready(
        function() {
            $('#language_<%= I18n.locale %>').prepend('<img src="/images/checked.gif" height="22" align="absmiddle" width="12" border="0" />');
        });
</script>

<li>
	<a href="#" class="no_cursor"><%= ll(:navigation, :language) %></a>
    <a href="#" class="arrow" onclick="return tm(this)"><img src="/images/menuarrow.gif" width="17" height="22" border="0" align="absmiddle"/></a>
    <ul>
		<li>
			<%= link_to ll(:navigation, :language_es), params.merge(:locale => 'es'), :id => "language_es" %>
		</li>
		
		<li>
			<%= link_to ll(:navigation, :language_en), params.merge(:locale => 'en'), :id => "language_en" %>
		</li>
    </ul>
</li>