<h2><%= header t('.title') %></h2>
<table border="0" width="740" cellpadding="2" cellspacing="0">
  <tr><td class="title" colspan="2">Download the ODAmoz Reports<br/><br/></td></tr>
  <tr>
    <td>&nbsp;</td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/Mozambique%20Donor%20Atlas%202008.pdf">Mozambique Donor Atlas for 2008</a> (pdf
	file, 1.45 Mb)</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="txt" width="100%"><b>2008 Reports</b></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="txt">
      <a href="resources/reports/3Q_2008_Report_disagregated.zip">3rd Quarter Report 2008</a>
	(zipped excel file, 350 Kb)</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="txt">
      <a href="resources/reports/3Q_2008_Report_disagregated.zip">2nd Quarter Report 2008</a>
	(zipped excel file, 296 Kb)</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="txt">
      <a href="resources/reports/1Q_2008_Report_disagregated.zip">1st Quarter Report 2008</a>
	(zipped excel file, 507 Kb)</td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td class="txt" width="100%"><strong>Donor Atlas for 2006 with Forecasts
	from 2007 - 2010</strong></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/Mozambique_Country_Donor_Atlas_2006_-_Forecasts_2007-2010_Final.zip">
	Mozambique Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (Zipped
	pdf file, 2.1 Mb)</td>
  </tr>
  <tr>
    <td><img alt="" src="resources/reports/austria%20flag.gif" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/Austria%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	Austria Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf
	format, 793 Kb)</td>
  </tr>
  <tr>
    <td><img alt="" src="resources/reports/belgium%20flag.gif" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/Belgium%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	Belgium Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf
	format, 777 Kb)</td>
  </tr>
  <tr>
    <td><img alt="" src="resources/reports/canadaflag.gif" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/Canada%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	Canada Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format,
	794 Kb)</td>
  </tr>
  <tr>
    <td><img alt="" src="resources/reports/denmark%20flag.gif" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/Denmark%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	Denmark Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf
	format, 1 Mb)</td>
  </tr>
  <tr>
    <td><img alt="" src="resources/reports/ec%20flag.gif" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/EC%202006%20-%20Forecasts%202007-2010%20Report%20ODAmoz.pdf">
	EC Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format, 3.3
	Mb)</td>
  </tr>
  <tr>
    <td><img alt="" src="resources/reports/finland%20flag.gif" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/Finland%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	Finland Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf
	format, 765 Kb)</td>
  </tr>
  <tr>
    <td><img alt="" src="resources/reports/france%20flag.gif" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/France%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	France Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format,
	829 Kb)</td>
  </tr>
  <tr>
    <td><img alt="" src="resources/reports/germany%20flag.gif" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/Germany%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	Germany Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf
	format, 910 Kb)</td>
  </tr>
  <tr>
    <td><img alt="" src="resources/reports/ireland%20flag.gif" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/Ireland%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	Ireland Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf
	format, 757 Kb)</td>
  </tr>
  <tr>
    <td><img alt="" src="resources/reports/italy%20flag.gif" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/Italy%202006%20-%20Forecastst%202007%20-%202010%20Report%20ODAmoz.pdf">
	Italy Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format,
	1 Mb)</td>
  </tr>
  <tr>
    <td><img alt="" src="resources/reports/japanflag.gif" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/Japan%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	Japan Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format,
	2.6 Mb)</td>
  </tr>
  <tr>
    <td>
      <img alt="" src="resources/reports/netherlands%20flag.gif" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/Netherlands%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	Netherlands Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf
	format, 1 Mb)</td>
  </tr>
  <tr>
    <td><img alt="" src="resources/reports/norwayflag.gif" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/Norway%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	Norway Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format,
	992 Kb)</td>
  </tr>
  <tr>
    <td><img alt="" src="resources/reports/portugal%20flag.gif" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/Portugal%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	Portugal Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf
	format, 1.7 Mb)</td>
  </tr>
  <tr>
    <td><img alt="" src="resources/reports/spain%20flag.gif" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/Spain%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	Spain Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format,
	926 Kb)</td>
  </tr>
  <tr>
    <td><img alt="" src="resources/reports/sweden%20flag.gif" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/Sweden%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	Sweden Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format,
	1 Mb)</td>
  </tr>
  <tr>
    <td><img alt="" src="resources/reports/switzerlandflag.gif" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/Switzerland%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	Switzerland Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf
	format, 797 Kb)</td>
  </tr>
  <tr>
    <td class="style1">
      <img alt="" src="resources/reports/uk%20flag.gif" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/UK%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	UK Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format, 815
	Kb)</td>
  </tr>
  <tr>
    <td class="style1">
      <img alt="" src="resources/reports/usaidflag.jpg" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/USAID%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	USA Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format,
	789 Kb)</td>
  </tr>
  <tr>
    <td class="style1"><img border="0" src="resources/reports/afdb.jpg"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/ADB%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	ADB Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format,
	895 Kb)</td>
  </tr>
  <tr>
    <td class="style1">
      <img alt="" src="resources/reports/fao.gif" width="28" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/FAO%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	FAO Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format,
	795 Kb)</td>
  </tr>
  <tr>
    <td class="style1">
      <img alt="" src="resources/reports/undp.gif" width="14" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/UNDP%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	UNDP Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format,
	959 Kb)</td>
  </tr>
  <tr>
    <td class="style1">
      <img alt="" src="resources/reports/unesco.gif" width="35" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/UNESCO%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAMoz.pdf">
	UNESCO Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format,
	803 Kb)</td>
  </tr>
  <tr>
    <td class="style1">&nbsp;</td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/UNFPA%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	UNFPA Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format,
	734 Kb)</td>
  </tr>
  <tr>
    <td class="style1">
      <img alt="" src="resources/reports/UNHabitatlogo.gif" width="28" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/UNHABITAT%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	UNHABITAT Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf
	format, 664 Kb)</td>
  </tr>
  <tr>
    <td class="style1">&nbsp;</td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/UNHCR%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	UNHCR Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format,
	661 Kb)</td>
  </tr>
  <tr>
    <td class="style1">&nbsp;</td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/UNICEF%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	UNICEF Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format,
	863 Kb)</td>
  </tr>
  <tr>
    <td class="style1">&nbsp;</td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/UNIDO%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	UNIDO Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format,
	693 Kb)</td>
  </tr>
  <tr>
    <td class="style1">&nbsp;</td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/WFP%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	WFP Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format, 1
	Mb)</td>
  </tr>
  <tr>
    <td class="style1">
      <img alt="" src="resources/reports/who.gif" width="28" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/WHO%202006%20-%20Forecasts%202007%20-%202010%20Report%20ODAmoz.pdf">
	WHO Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf format,
	755 Kb)</td>
  </tr>
  <tr>
    <td class="style1">
      <img alt="" src="resources/reports/worldbankflag.jpg" width="40" height="27"></td>
    <td class="txt" width="100%">
      <a target="_blank" href="resources/reports/Worldbank%202006%20-%20Forecasts%202006%20-%202007%20Report%20ODAmoz.pdf">
	World Bank Donor Atlas for 2006 with forecasts from 2007 - 2010</a> (pdf
	format, 1.3 Mb)</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="txt" width="100%">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="txt" width="100%"><b>1st Quarter 2007 Reports</b></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="txt">
      <a href="resources/reports/1Q_2007_ODAmozReport.zip">1st Quarter Report 2007</a>
	(zipped excel file, 507 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/austria%20flag.gif"></td>
    <td class="txt">
      <a href="resources/reports/Austria%201Q2007%20Final%20Report%20290507.xls">Austria
        1st Quarter Report 2007</a> (Excel format, 81 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/belgium%20flag.gif"></td>
    <td class="txt">
      <p align="left">
        <a href="resources/reports/Belgium%201Q2007%20Final%20Report%20290507.xls">Belgium 1st Quarter Report 2007</a> (Excel format,&nbsp;41 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/canadaflag.gif"></td>
    <td class="txt">
      <a href="resources/reports/Canada%201Q2007%20Final%20Report%20290507.xls">Canada
        1st Quarter Report 2007</a></a> (Excel format,&nbsp;45 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/denmark%20flag.gif"></td>
    <td class="txt">
      <a href="resources/reports/Denmark%201Q2007%20Final%20Report%20290507.xls">Denmark
        1st Quarter Report 2007</a></a> (Excel format,&nbsp;89 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/ec%20flag.gif"></td>
    <td class="txt">
      <a href="resources/reports/EC%201Q2007%20Final%20Report%20290507.xls">EC
        1st Quarter Report 200</a>7</a> (Excel format,&nbsp;454 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/finland%20flag.gif"></td>
    <td class="txt">
      <a href="resources/reports/Finland%201Q2007%20Final%20Report%20290507.xls">Finland
        1st Quarter Report 2007</a></a> (Excel format,&nbsp;43 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/france%20flag.gif"></td>
    <td class="txt">
      <a href="resources/reports/France%201Q2007%20Final%20Report%20290507.xls">France
        1st Quarter Report 2007</a></a> (Excel format,&nbsp;56 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/germany%20flag.gif"></td>
    <td class="txt">
      <a href="resources/reports/Germany%201Q2007%20Final%20Report%20290507.xls">Germany
        1st Quarter Report 2007</a></a> (Excel format,&nbsp;94 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/ireland%20flag.gif"></td>
    <td class="txt">
      <a href="resources/reports/Ireland%201Q2007%20Final%20Report%20290507.xls">Ireland
        1st Quarter Report 2007</a></a>
      (Excel format,&nbsp;50 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/italy%20flag.gif"></td>
    <td class="txt">
      <a href="resources/reports/Italy%201Q2007%20Final%20Report%20290507.xls">Italy
        1st Quarter Report 2007</a></a>
      (Excel format,&nbsp;95 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/japanflag.gif"></td>
    <td class="txt">
      <a href="resources/reports/Japan%201Q2007%20Final%20Report%20290507.xls">Japan
        1st Quarter Report 200</a>7</a> (Excel format,&nbsp;43 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/netherlands%20flag.gif"></td>
    <td class="txt">
      <a href="resources/reports/Netherlands%201Q2007%20Final%20Report%20290507.xls">Netherlands
        1st Quarter Report 2007</a></a> (Excel format,
      84&nbsp; Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/norwayflag.gif"></td>
    <td class="txt">
      <a href="resources/reports/Norway%201Q2007%20Final%20Report%20290507.xls">Norway
        1st Quarter Report 200</a>7</a>
      (Excel format,&nbsp;63 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/portugal%20flag.gif"></td>
    <td class="txt">
      <a href="resources/reports/Portugal%201Q2007%20Final%20Report%20290507.xls">Portugal
        1st Quarter Report 2007</a></a>
      (Excel format,&nbsp;164 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/spain%20flag.gif"></td>
    <td class="txt">
      <a href="resources/reports/Spain%201Q2007%20Final%20Report%20290507.xls">Spain
        1st Quarter Report 2007</a></a> (Excel format,&nbsp;70 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/sweden%20flag.gif"></td>
    <td class="txt">
      <a href="resources/reports/Sweden%201Q2007%20Final%20Report%20290507.xls">Sweden
        1st Quarter Report 2007</a></a> (Excel format,&nbsp;66 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/switzerlandflag.gif"></td>
    <td class="txt">
      <a href="resources/reports/Switzerland%201Q2007%20Final%20Report%20290507.xls">Switzerland
        1st Quarter Report 2007</a></a> (Excel format,&nbsp;51 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/uk%20flag.gif"></td>
    <td class="txt">
      <a href="resources/reports/UK%201Q2007%20Final%20Report%20290507.xls">UK
        1st Quarter Report 2007</a></a>
      (Excel format,&nbsp;57 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/afdb.jpg"></td>
    <td class="txt">
      <a href="k">African Development Bank
        1st Quarter Report 2007</a></a> (Excel format,&nbsp;52 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/fao.gif"></td>
    <td class="txt">
      <a href="k">FAO
        1st Quarter Report 2007</a></a> (Excel format,&nbsp;62 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/usaidflag.jpg"></td>
    <td class="txt">
      <a href="resources/reports/USAID%201Q2007%20Final%20Report%20290507.xls">USAID 1st
	Quarter Report 2007</a></a> (Excel format,&nbsp;41 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/undp.gif"></td>
    <td class="txt">
      <a href="resources/reports/UNDP%201Q2007%20Final%20Report%20290507.xls">UNDP
        1st Quarter Report 2007</a></a> (Excel format,&nbsp;71 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/unesco.gif"></td>
    <td class="txt">
      <a href="resources/reports/UNESCO%201Q2007%20Final%20Report%20290507.xls">UNESCO
        1st Quarter Report 2007</a></a> (Excel format,&nbsp;86 Kb)</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="txt">
      <a href="resources/reports/UNFPA%201Q2007%20Final%20Report%20290507.xls">UNFPA 1st Quarter Report 2007</a></a> (Excel format,&nbsp;27 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/UNHabitatlogo.gif"></td>
    <td class="txt">
      <a href="resources/reports/UNHABITAT%201Q2007%20Final%20Report%20290507.xls">UN
        HABITAT
        1st Quarter Report 2007</a></a> (Excel format,&nbsp;27 Kb)</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="txt">
      <a href="resources/reports/UNHCR%201Q2007%20Final%20Report%20290507.xls">UNHCR 1stQuarter Report 2007</a></a>
      (Excel format,&nbsp;101 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/uncef.jpg"></td>
    <td class="txt">
      <a href="resources/reports/UNICEF%201Q2007%20Final%20Report%20290507.xls">UNICEF
        1stQuarter Report 2007</a></a>
      (Excel format,&nbsp;101 Kb)</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="txt">
      <a href="resources/reports/UNIDO%201Q2007%20Final%20Report%20290507.xls">UNIDO 1st Quarter Report 2007</a></a> (Excel format,&nbsp;80 Kb)</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
    <td class="txt">
      <a href="resources/reports/WFP%201Q2007%20Final%20Report%20290507.xls">WFP 1st Quarter Report 2007</a></a> (Excel format,&nbsp;80 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/who.gif"></td>
    <td class="txt">
      <a href="resources/reports/WHO%201Q2007%20Final%20Report%20290507.xls">WHO
        1st Quarter Report 2007</a></a> (Excel format,&nbsp;80 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/worldbankflag.jpg"></td>
    <td class="txt">
      <a href="resources/reports/Worldbank%201Q2007%20Final%20Report%20290507.xls">World Bank
        1st Quarter Report 2007</a></a> (Excel format,&nbsp;90 Kb)</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="txt" width="100%">
      &nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="txt" width="100%">
      <a class="txt" href="resources/reports/ODAmoz_2006_Report.zip">2006 Report
	by Donor</a>
	(zipped excel file, 273 Kb)</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="txt" width="100%"><b>3rd Quarter 2006 Reports</b></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="txt">
      <a class="txt" href="resources/reports/ODAmoz%203Q%202006%20Report.zip">3Q 2006 ODAmoz Report by Donor</a>
      (zipped excel file, 139 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/austria%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20AUSTRIA.xls">Austria
        3rd Quarter Report 2006</a> (Excel format, 81 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/belgium%20flag.gif"></td>
    <td class="txt">
      <p align="left">
        <a target="_blank" class="txt" href="resources/reports/3Q%202006%20BELGIUM.xls">Belgium 3rd Quarter Report 2006</a> (Excel format,&nbsp;41 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/canadaflag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20CANADA.xls">Canada 3rd Quarter Report 2006</a> (Excel format,&nbsp;45 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/denmark%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20DENMARK.xls">Denmark 3rd Quarter Report 2006</a> (Excel format,&nbsp;89 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/ec%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20EC.xls">EC 3rd Quarter Report 2006</a> (Excel format,&nbsp;454 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/finland%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20FINLAND.xls">Finland 3rd Quarter Report 2006</a> (Excel format,&nbsp;43 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/france%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20FRANCE.xls">France 3rd Quarter Report 2006</a> (Excel format,&nbsp;56 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/germany%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20GERMANY.xls">Germany 3rd Quarter Report 2006</a> (Excel format,&nbsp;94 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/ireland%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20IRELAND.xls">Ireland 3rd Quarter Report 2006</a>
      (Excel format,&nbsp;50 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/italy%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20ITALY.xls">Italy 3rd Quarter Report 2006</a>
      (Excel format,&nbsp;95 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/japanflag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20JAPAN.xls">Japan 3rd Quarter Report 2006</a> (Excel format,&nbsp;43 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/netherlands%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20NETHERLANDS.xls">Netherlands 3rd Quarter Report 2006</a> (Excel format,
      84&nbsp; Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/norwayflag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20NORWAY.xls">Norway 3rd Quarter Report 2006</a>
      (Excel format,&nbsp;63 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/portugal%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20PORTUGAL.xls">Portugal 3rd Quarter Report 2006</a>
      (Excel format,&nbsp;164 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/spain%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20SPAIN.xls">Spain 3rd Quarter Report 2006</a> (Excel format,&nbsp;70 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/sweden%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20SWEDEN.xls">Sweden 3rd Quarter Report 2006</a> (Excel format,&nbsp;66 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/switzerlandflag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20SWITZERLAND.xls">Switzerland 3rd Quarter Report 2006</a> (Excel format,&nbsp;51 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/uk%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20UK.xls">UK 3rd Quarter Report 2006</a>
      (Excel format,&nbsp;57 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/afdb.jpg"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20BAD.xls">African Development Bank
        3rd Quarter Report 2006</a> (Excel format,&nbsp;52 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/fao.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20FAO.xls">FAO 3rd Quarter Report 2006</a> (Excel format,&nbsp;62 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/usaidflag.jpg"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20USA.xls">USAID 3rd Quarter Report 2006</a> (Excel format,&nbsp;41 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/undp.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20UNDP.xls">UNDP 3rd Quarter Report 2006</a> (Excel format,&nbsp;71 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/unesco.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20UNESCO.xls">UNESCO 3rd Quarter Report 2006</a> (Excel format,&nbsp;86 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/UNHabitatlogo.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20UNHABITAT.xls">UN
        HABITAT 3rd Quarter Report 2006</a> (Excel format,&nbsp;27 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/uncef.jpg"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20UNICEF.xls">UNICEF 3rd Quarter Report 2006</a>
      (Excel format,&nbsp;101 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/who.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20WHO.xls">WHO 3rd Quarter Report 2006</a> (Excel format,&nbsp;80 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/worldbankflag.jpg"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/3Q%202006%20WORLD%20BANK.xls">World Bank 3rd Quarter Report 2006</a> (Excel format,&nbsp;90 Kb)</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="txt" width="100%">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="txt" width="100%"><b>2nd Quarter 2006 Reports</b></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="txt">
      <a class="txt" href="resources/reports/Aggregated%202Q%202006%20ODAmoz%20Extract%20020820061.zip">
        2Q 2006 ODAmoz Report by Donor</a> (zipped excel file, 403 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/austria%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/Austria%202Q%202006%20ODAmoz%20extract_02082006.xls">Austria
        2nd Quarter Report 2006</a> (Excel format, 75 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/belgium%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/Belgium%202Q%202006%20ODAmoz%20extract_02082006.xls">Belgium 2nd Quarter Report 2006</a> (Excel format,&nbsp;34 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/canadaflag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/Canada%202Q%202006%20ODAmoz%20extract_02082006.xls">Canada 2nd Quarter Report 2006</a> (Excel format,&nbsp;40 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/denmark%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/Denmark%202Q%202006%20ODAmoz%20extract_02082006.xls">Denmark 2nd Quarter Report 2006</a> (Excel format,&nbsp;86 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/ec%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/EC%202Q%202006%20ODAmoz%20extract_02082006.xls">EC 2nd Quarter Report 2006</a> (Excel format,&nbsp;365 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/finland%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/Finland%202Q%202006%20ODAmoz%20extract_02082006.xls">Finland
        2nd Quarter Report 2006</a> (Excel format,&nbsp;32 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/france%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/France%202Q%202006%20ODAmoz%20extract_02082006.xls">France 2nd Quarter Report 2006</a> (Excel format,&nbsp;45 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/germany%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/Germany%202Q%202006%20ODAmoz%20extract_02082006.xls">Germany 2nd Quarter Report 2006</a> (Excel format,&nbsp;84 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/ireland%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/Ireland%202Q%202006%20ODAmoz%20extract_02082006.xls">Ireland 2nd Quarter Report 2006</a> (Excel format,&nbsp;43 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/italy%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/Italy%202Q%202006%20ODAmoz%20extract_02082006.xls">Italy 2nd Quarter Report 2006</a> (Excel format,&nbsp;83 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/japanflag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/Japan%202Q%202006%20ODAmoz%20extract_02082006.xls">Japan 2nd Quarter Report 2006</a> (Excel format,&nbsp;37 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/netherlands%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/Netherlands%202Q%202006%20ODAmoz%20extract_02082006.xls">Netherlands
        2nd Quarter Report 2006</a> (Excel format,&nbsp;52 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/norwayflag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/Norway%202Q%202006%20ODAmoz%20extract_02082006.xls">Norway 2nd Quarter Report 2006</a> (Excel format,&nbsp;52 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/portugal%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/Portugal%202Q%202006%20ODAmoz%20extract_02082006.xls">Portugal 2nd Quarter Report 2006</a> (Excel format,&nbsp;112 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/spain%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/Spain%202Q%202006%20ODAmoz%20extract_02082006.xls">Spain 2nd Quarter Report 2006</a> (Excel format,&nbsp;60 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/sweden%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/Sweden%202Q%202006%20ODAmoz%20extract_02082006.xls">Sweden 2nd Quarter Report 2006</a> (Excel format,&nbsp;58 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/switzerlandflag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/Switzerland%202Q%202006%20ODAmoz%20extract_02082006.xls">Switzerland
        2nd Quarter Report 2006</a> (Excel format,&nbsp;41 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/uk%20flag.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/UK%202Q%202006%20ODAmoz%20extract_02082006.xls">UK 2nd Quarter Report 2006</a> (Excel format,&nbsp;49 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/afdb.jpg"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/ADB%202Q%202006%20ODAmoz%20extract_02082006.xls">
        African Development Bank 2nd Quarter Report 2006</a> (Excel format,&nbsp;50 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/fao.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/FAO%202Q%202006%20ODAmoz%20extract_02082006.xls">
        FAO 2nd Quarter Report 2006</a> (Excel format,&nbsp;50 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/usaidflag.jpg"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/USAID%202Q%202006%20ODAmoz%20extract_02082006.xls">
        USAID 2nd Quarter Report 2006</a> (Excel format,&nbsp;31 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/undp.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/UNDP%202Q%202006%20ODAmoz%20extract_02082006.xls">UNDP
        2nd Quarter Report 2006</a> (Excel format,&nbsp;87 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/unesco.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/UNESCO%202Q%202006%20ODAmoz%20extract_02082006.xls">
        UNESCO 2nd Quarter Report 2006</a> (Excel format,&nbsp;67 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/uncef.jpg"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/UNICEF%202Q%202006%20ODAmoz%20extract_02082006.xls">
        UNICEF 2nd Quarter Report 2006</a> (Excel format,&nbsp;94 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/who.gif"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/WHO%202Q%202006%20ODAmoz%20extract_02082006.xls">
        WHO 2nd Quarter Report 2006</a> (Excel format,&nbsp;64 Kb)</td>
  </tr>
  <tr>
    <td align="center"><img border="0" src="resources/reports/worldbankflag.jpg"></td>
    <td class="txt">
      <a target="_blank" class="txt" href="resources/reports/World%20Bank%202Q%202006%20ODAmoz%20extract_02082006.xls">
        World Bank 2nd Quarter Report 2006</a> (Excel format,&nbsp;76 Kb)</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr><td>&nbsp;</td>
    <td class="txt" width="100%"><b>1st Quarter 2006 Reports</b></td>
  </tr>
  <tr><td>&nbsp;</td>
    <td class="txt"><a href="resources/reports/1Q%202006%20%20ODAmoz%20Report%20by%20Donor.zip" class="txt">1Q 2006
        ODAmoz Report by Donor</a> (zipped excel file, 300 Kb)</td>
  </tr>
  <tr><td>&nbsp;</td>
    <td class="txt"><a href="resources/reports/1Q%202006%20%20ODAmoz%20Report%20by%20Sector.zip" class="txt">1Q 2006
        ODAmoz Report by Sector (DAC)</a> (zipped excel file, 300 Kb)</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr><td>&nbsp;</td>
    <td class="txt"><b>4th Quarter 2005 Reports</b></td>
  </tr>
  <tr><td>&nbsp;</td>
    <td class="txt"><a target="_blank" href="resources/reports/EU_DbIS_3Q2005_On_Budget.xls" class="txt">EU+ DbIS Aggregated
        4th Quarter Report 2005 of all countries</a>(Excel format, 2.6 Mb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/austria%20flag.gif"></td>
    <td class="txt"><a target="_blank" href="resources/reports/Austria%20DbIS%20Extract%204Q%202005.pdf" class="txt">Austria
        4th Quarter Report 2005</a> (pdf format,&nbsp;612 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/belgium%20flag.gif"></td>
    <td class="txt"><a target="_blank" href="resources/reports/Belgium%20DbIS%20Extract%204Q%202005.pdf" class="txt">Belgium
        4th Quarter Report 2005</a> (pdf format,&nbsp;437 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/canadaflag.gif"></td>
    <td class="txt"><a target="_blank" href="resources/reports/Canada%20DbIS%20Extract%204Q%202005.pdf" class="txt">
        Canada 4th Quarter Report 2005</a> (pdf format,&nbsp;438 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/denmark%20flag.gif"></td>
    <td class="txt"><a target="_blank" href="resources/reports/Denmark%20DbIS%20Extract%204Q%202005.pdf" class="txt">Denmark
        4th Quarter Report 2005</a> (pdf format,&nbsp;435 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/ec%20flag.gif"></td>
    <td class="txt"><a target="_blank" href="resources/reports/EC%20DbIS%20Extract%204Q%202005.pdf" class="txt">EC 4th
        Quarter Report 2005</a> (pdf format,&nbsp;3 Mb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/finland%20flag.gif"></td>
    <td class="txt"><a target="_blank" href="resources/reports/Finland%20DbIS%20Extract%204Q%202005.pdf" class="txt">Finland
        4th Quarter Report 2005</a> (pdf format,&nbsp;402 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/france%20flag.gif"></td>
    <td class="txt"><a target="_blank" href="resources/reports/France%20DbIS%20Extract%204Q%202005.pdf" class="txt">France
        4th Quarter Report 2005</a> (pdf format,&nbsp;469 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/germany%20flag.gif"></td>
    <td class="txt"><a target="_blank" href="resources/reports/Germany%20DbIS%20Extract%204Q%202005.pdf" class="txt">Germany
        4th Quarter Report 2005</a> (pdf format,&nbsp;664 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/ireland%20flag.gif"></td>
    <td class="txt"><a target="_blank" href="resources/reports/Ireland%20DbIS%20Extract%204Q%202005.pdf" class="txt">Ireland
        4th Quarter Report 2005</a> (pdf format,&nbsp;502 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/italy%20flag.gif"></td>
    <td class="txt"><a target="_blank" href="resources/reports/Italy%20DbIS%20Extract%204Q%202005.pdf" class="txt">Italy
        4th Quarter Report 2005</a> (pdf format,&nbsp;807 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/japanflag.gif"></td>
    <td class="txt"><a target="_blank" href="resources/reports/Japan%20DbIS%20Extract%204Q%202005.pdf" class="txt">
        Japan 4th Quarter Report 2005</a> (pdf format,&nbsp;390 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/netherlands%20flag.gif"></td>
    <td class="txt"><a target="_blank" href="resources/reports/Netherlands%20DbIS%20Extract%204Q%202005.pdf" class="txt">Netherlands
        4th Quarter Report 2005</a> (pdf format,&nbsp;1.7 MB)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/norwayflag.gif"></td>
    <td class="txt"><a target="_blank" href="resources/reports/Norway%20DbIS%20Extract%204Q%202005.pdf" class="txt">
        Norway 4th Quarter Report 2005</a> (pdf format,&nbsp;447 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/portugal%20flag.gif"></td>
    <td class="txt"><a target="_blank" href="resources/reports/Portugal%20DbIS%20Extract%204Q%202005.pdf" class="txt">Portugal
        4th Quarter Report 2005</a> (pdf format,&nbsp;958 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/spain%20flag.gif"></td>
    <td class="txt"><a target="_blank" href="resources/reports/Spain%20DbIS%20Extract%204Q%202005.pdf" class="txt">Spain
        4th Quarter Report 2005</a> (pdf format,&nbsp;520 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/sweden%20flag.gif"></td>
    <td class="txt"><a target="_blank" href="resources/reports/Sweden%20DbIS%20Extract%204Q%202005.pdf" class="txt">Sweden
        4th Quarter Report 2005</a> (pdf format,&nbsp;581 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/switzerlandflag.gif"></td>
    <td class="txt"><a target="_blank" href="resources/reports/Switzerland%20DbIS%20Extract%204Q%202005.pdf" class="txt">Switzerland
        4th Quarter Report 2005</a> (pdf format,&nbsp;463 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/uk%20flag.gif"></td>
    <td class="txt"><a target="_blank" href="resources/reports/UK%20DbIS%20Extract%204Q%202005.pdf" class="txt">UK 4th
        Quarter Report 2005</a> (pdf format,&nbsp;589 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/usaidflag.jpg"></td>
    <td class="txt"><a target="_blank" href="resources/reports/USAID%20DbIS%20Extract%204Q%202005.pdf" class="txt">
        USAID 4th
        Quarter Report 2005</a> (pdf format,&nbsp;414 Kb)</td>
  </tr>
  <tr>
    <td><img border="0" src="resources/reports/worldbankflag.jpg"></td>
    <td class="txt"><a target="_blank" href="resources/reports/World%20Bank%20DbIS%20Extract%204Q%202005.pdf" class="txt">&nbsp;World
        Bank 4th
        Quarter Report 2005</a> (pdf format,&nbsp;538 Kb)</td>
  </tr>
</table>