<h2><%= header t('.title') %></h2>
<center>
	<table width="740" class="admin">
			
			<% @donors_with_websites.each do |donor| %>
				<tr>
					<td align="left">
						<%= auto_link(donor.field_office_website, :all, :target => '_blank') { donor.name.titleize } %>
					</td>
				</tr>
			<% end %>
  <tr><td colspan="2" class="title">Links to Relevant Sites<br/><br/></td></tr>
  <tr>

  <td class="txt"><a href="http://www.delmoz.cec.eu.int/" target="_blank" class="txt">
  EC Delegation to Mozambique</a></td>
  </tr>
    <tr>
 
  <td class="txt"><a target="_blank" class="txt" href="http://www.bmaa.gv.at">
  Austria</a> </td>
    </tr>
    <tr>
 
  <td class="txt"><a target="_blank" class="txt" href="http://www.ambmaputo.um.dk/en">
  Denmark</a> </td>
    </tr>
    <tr>
 
  <td class="txt"><a target="_blank" class="txt" href="http://www.finland.org.mz/en/">Finland</a> </td>
    </tr>
    <tr>
 
  <td class="txt"><a target="_blank" class="txt" href="http://www.maputo.diplo.de/">Germany</a> </td>
    </tr>
    <tr>
 
  <td class="txt">
  <a target="_blank" class="txt" href="http://www.mofa.go.jp/policy/oda/index.html">Japan</a> </td>
    </tr>
    <tr>
 
  <td class="txt"><a target="_blank" class="txt" href="http://www.mfa.nl/map-en/homepage">Netherlands</a> </td>
    </tr>
    <tr>
 
  <td class="txt">
  <a target="_blank" class="txt" href="http://www.norway.org.mz/">Norway</a> </td>
    </tr>
    <tr>
 
  <td class="txt"><a target="_blank" class="txt" href="http://www.ipad.mne.gov.pt/">Portugal</a> </td>
    </tr>
    <tr>
 
  <td class="txt">
  <a target="_blank" class="txt" href="http://www.swedenabroad.com/pages/start____8902.asp">
  Sweden</a> </td>
    </tr>
    <tr>
 
  <td class="txt"><a target="_blank" class="txt" href="http://www.swisscooperation.org.mz/">Switzerland</a> </td>
    </tr>
    <tr>
 
  <td class="txt"><a target="_blank" class="txt" href="http://www.usaid.gov/mz/">USAID</a> </td>
    </tr>
    <tr>
 
  <td class="txt"><a target="_blank" class="txt" href="http://www.worldbank.org/mozambique">World Bank
  </a> </td>
    </tr>
  <tr>

  <td class="txt"><a href="http://www.pap.org.mz/" target="_blank" class="txt">
  PAP (Budget Support Program Aid Partnership)</a></td>
  </tr>
  <tr>

  <td class="txt"><a href="http://www.delmoz.cec.eu.int/" target="_blank" class="txt">
  Aid Harmonization</a></td>
  </tr>
  <tr>

  <td class="txt"><a href="http://www.oecd.org/dac" target="_blank" class="txt">
  The OECD Development Assistance Committee DAC</a></td>
  </tr>
  <tr>

  <td class="txt"><a href="http://www.oecd.org/dataoecd/50/17/5037721.htm" target="_blank" class="txt">
  OECD DAC/CRS Databases</a></td>
  </tr>
    <tr>

  <td class="txt"><a target="_blank" class="txt" href="http://www.dnpo.gov.mz/">Direcção
    Nacional do Plano e Orçamento (DNPO)</a></td>
    </tr>
  <tr>

  <td class="txt"><a target="_blank" class="txt" href="http://www.mpd.gov.mz/">
  Ministério da Planificação e Desenvolvimento (MPD)</a></td>
  </tr>
	</table>
</center>