//
// AMP layout and bootstrap overrides
// --------------------------------------------------

#map-container {
  z-index: @amp-map-layer;
  position: absolute;
  top: @amp-menu-height;
  left: @amp-sidebar-width;
  right: 0;
  bottom: 0;

  #map-header {
    z-index:50;
    position: absolute;
    height: @amp-map-header-height;
    width: 100%;
    opacity: 0.8;
    color: @amp-text;
    background:#222;
    border-radius: 0;
  }
  #map-canvas {
    min-height: 300px
  }

  #legend {
    background: @amp-bg-inverse;
    color: @amp-text-inverse;

    padding: 5px;
    width: 300px;
    
    z-index: 50;
    position: fixed;    
    bottom: 0;
    right: 90px;

    .legend-header > a {
      color: @amp-text-inverse;      
      display: block;
      padding: 4px;
    }

    #legend-content {
      background: lighten(@amp-bg,10%);
      color: @amp-text;   
      font-size: 12px;
      padding:4px;
      overflow-y: scroll;
      max-height: 200px;
      h3 {
        font-weight: 700;
        font-size: 12px;
      }
    }
  }
}


// ESRI Overrides
.esriSimpleSlider{
  background-color: #333;
  color:#eee;
  opacity: 0.8;
}

.esriSimpleSliderDecrementButton:hover,
.esriSimpleSliderIncrementButton:hover{
  background-color: #222;
  color:#fff;
  opacity: 1;
}

.esriSimpleSliderTL {
  top: (@amp-map-header-height + 10);
}
