//
// AMP Variables and bootstrap overrides
// --------------------------------------------------

@amp-bg: #eee;
@amp-text: #222;

@amp-bg-inverse: #0d263c;
@amp-text-inverse: #eef;


// dimensions

@amp-menu-height: 31px;

@amp-sidebar-width: 300px;
@amp-sidebar-quality-height: 31px;

@amp-map-header-height: 45px;


// layering

@amp-menu-layer: 200;
@amp-sidebar-layer: 100;
@amp-map-layer: 0;
