
.color-blocks {
  &, li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.618em;
  }
  .color {
    display: inline-block;
    height: 1.2em;
    width: 1.2em;
    margin: 0 0.3em 0 0;
    border: 1px solid #ccc;
  }
}

.loading-icon {
    background: url('../img/loading-icon.gif') no-repeat center center;
    height:100%;
    min-height: 50px;
    min-width: 50px;
}
