.legend-sample {
  display: inline-block;
}
.color-block {
  width: 1em;
  height: 1em;
}
.color-circle {
  width: 1em;
  height: 1em;
  border-radius: 1em;
  border: 1px solid #444;
}
.legend-sample.map-adm-icon {
  display: block;
  float: left;
  width: 60px;
  font-size: 0.8em;
}

.loading-icon {
  background: url('../img/loading-icon.gif') no-repeat center center;
  height:100%;
  min-height: 50px;
  min-width: 50px;
}
