body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: @light;
  background: @amp-inverse-bg;
}


h4 {
  padding: 4px;
  font-size: 16px;
  font-weight: 700;
  color: @amp-emph;
  background: @amp-content-highlight-bg;

  label {
    margin: 0;
  }
}

.description {
  padding: 0 4px;
}
