//
// AMP layout and bootstrap overrides
// --------------------------------------------------

body {  // TODO: put this in a more appropriate place
  background: @amp-inverse-bg;
}

#map-container {
  z-index: @amp-map-layer;
  position: absolute;
  top: @amp-menu-height;
  left: @amp-sidebar-width;
  right: 0;
  bottom: 5px;
  border-radius: 0 0 0 5px;
  overflow: hidden;

  // TODO: header bar's height is too big, seems to be fault of #map-header .navbar-brand. but no easy to fix.
  #map-header {
    z-index:50;
    position: absolute;
    height: @amp-map-header-height;
    width: 100%;
    color: @amp-map-header;
    background: @amp-map-header-bg;
    border-radius: 0;

    #basemap-gallery{
      color: @amp-content;

      a,
      a:hover {
        text-decoration: none;
      }

      > a {
          color: @amp-inverse;
          display: block;
          padding: 9px;
      }
    }
  }
  #map-canvas {
    /* always expand to fill the map container */
    height: 100%;
    width: 100%;
  }

  #legend {
    z-index: 50;
    position: fixed;
    bottom: 0;
    right: 90px;
    padding: 5px;
    width: 300px;
    color: @amp-inverse;
    background: @amp-inverse-bg;

    .legend-header {
      &:hover,a, a:hover{
        text-decoration: none;
      }

      > a {
          color: #eee;
          display: block;
          padding: 4px;
      }
    }

    #legend-content {
      max-height: 200px;
      padding:4px;
      font-size: 12px;
      overflow-y: scroll;
      color: #333;
      background: @amp-content-bg;

      h3 {
        font-weight: 700;
        font-size: 12px;
      }
    }
  }
}


// ESRI Overrides
.esriSimpleSlider{
  color: @amp-inverse;
  background-color: @amp-map-header-bg;
  border: none;
}

.esriSimpleSliderDecrementButton:hover,
.esriSimpleSliderIncrementButton:hover {
  background-color: #222;
}

.esriSimpleSliderTL {
  top: (@amp-map-header-height + 10);
}
