//
// AMP layout and bootstrap overrides
// --------------------------------------------------

#amp-menu {
  z-index: @amp-menu-layer;
  position: relative;  // for layering
  height: @amp-menu-height;
  color: @amp-content;
  background: @amp-content-bg;
}



#branding {
  padding: 9px 10px 9px;
  text-transform: uppercase;
  .logo {
    max-width: 65px;
    margin: 5px auto;
    display: block;
  }
  h4 {
    font-size:16px;
    margin-bottom: 2px;
  }
  h4.small {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

#sidebar {
  z-index: @amp-sidebar-layer;
  position: absolute;
  top: @amp-menu-height;
  left: 0;
  bottom: 0;
  width: @amp-sidebar-width;
  background: @amp-inverse-bg;
  color: @amp-inverse;

  overflow-y: auto;
  overflow-x: hidden;

  .vertical-expand {
    // sticky-footer
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -@amp-sidebar-quality-height;
  }


  #sidebar-tools {
    // This sucks, but we need to use panel to make accordion parent collapse work,
    // but we don't actually want the panel styles.
    // ticket to watch: https://github.com/twbs/bootstrap/issues/10966
    >.panel{
      border: 0;
      border-radius: 0;
      margin: 0;
      margin-top: 2px;
    }
  }

  .sidebar-tool {
    width: (@amp-sidebar-width - 2);
    color: @amp-content;
    background: @amp-content-bg;

    .accordion-heading {

      > a {
        display: block;

        color: desaturate(lighten(@amp-emph, 13%), 24%);

        &:hover,
        &:active,
        &:focus {
          // see amp-icons.less for the icon swaps on hover
          text-decoration: none;
          color: desaturate(lighten(@amp-emph, 23%), 30%);
        }

        &.collapsed {
          background: @amp-sidebar-item-bg;
        }

        h3 {
          margin: 0;
          padding: 11px 21px;
          font-size: 14px;
          font-weight: @extrabold;
          line-height: 30px;  // matched to icon
          text-transform: uppercase;
        }
      }
    }

    .accordion-body {
      height: auto;

      h4 {
        padding: 4px;
        font-size: 16px;
        font-weight: 700;
        color: @amp-emph;
        background: @amp-content-highlight-bg;

        label {
          margin: 0;
        }
      }

      .description{
        padding: 0 4px;
      }

    }
  }

}

// stickyfooter crap for quality indicator
.quality-push,
#quality-indicator {
  height: @amp-sidebar-quality-height;
}
#quality-indicator {
  // Heads up: any margins or overflow below this will trigger a scrollbar.
  width: @amp-sidebar-width;
  background: @amp-sidebar-special-bg;
  padding-top:5px;

  p {
    margin-bottom: 0;
  }
  .label {
    font-weight: @light;
  }
}

#tool-tools{
  .btn{
    min-width:48%;
  }
}
