//
// AMP layout and bootstrap overrides
// --------------------------------------------------

#amp-menu {
  z-index: @amp-menu-layer;
  position: relative;  // for layering
  height: @amp-map-header-height;
}


#sidebar {
  z-index: @amp-sidebar-layer;
  position: absolute;
  top: @amp-menu-height;
  left: 0;
  bottom: 0;
  width: @amp-sidebar-width;
  padding-bottom: @amp-sidebar-quality-height;  // quality indicator is position: fixed
  background: @amp-bg-inverse;
  color: @amp-text-inverse;

  .sidebar-tool {
    width: (@amp-sidebar-width - 2);
    background: @amp-bg;
    color: darken(@amp-bg-inverse,3%);

    .accordion-heading {
      background: darken(@amp-bg-inverse,1%);
      padding:0 4px;
      border-bottom: 1px solid lighten(@amp-bg-inverse, 5%);

      > a {
        display: block;
        padding:4px;
        color: @amp-text-inverse;
        background: darken(@amp-bg-inverse,1%);
        border-bottom: 1px solid lighten(@amp-bg-inverse, 5%);
        &:hover,a, a:hover{
          text-decoration: none;
        }
      }
    }

    .accordion-body {
      height: auto;
      > .accordion-inner {
       padding: 6px;
      }
    }
  }
}


#quality-indicator {
  background: @amp-bg-inverse;
  color: @amp-text-inverse;
  position:fixed;
  bottom:0;
  width: @amp-sidebar-width;
}

#branding {
  padding:8px;
  background: darken(@amp-bg-inverse,3%);
  .logo{
    max-width: 100px;
    margin:5px auto;
    display: block;
  }
}
