html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: white;
    overflow: hidden;
    font-family: "Trebuchet MS";
}

.roundedCorners {
    -moz-border-radius: 2px;
}

#header {
    border: solid 1px #7EABCD;
    background-color: white;
    color: peru;
    font-size: 18pt;
    text-align: center;
    font-weight: bold;
    height: 60px;
}

#subheader {
    font-size: small;
    color: peru;
}

#rightPane {
    background-color: white;
    color: peru;
    border: solid 1px cornflowerblue;
    width: 20%;
    overflow: hidden;
}

#map {
    background-color: white;
    border: solid 1px cornflowerblue;
}

#footer {
    border: solid 1px #7EABCD;
    background-color: white;
    color: peru;
    font-size: 10pt;
    text-align: center;
    height: 0px;
}

.soria .dojoxGridHeader .dojoxGridCell {
    color: peru !important;
}

.headerBackground {
    background:url(/TEMPLATE/ampTemplate/img_2/mapbg.jpg) repeat-x top;
	height: 50px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header {
    background-color: transparent;
    background-position: left top;
    background-repeat: no-repeat;
    color: White;
    height: 50px;
    left: 90px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
.headerContent {
    background-color: transparent;
    color: White;
    height: 50px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
.headerIcon {
    background-color: transparent;
    left: 5px;
    position: absolute;
    top: 0;
    width: 75px;
    z-index: 100;
}
.basemapThumbnail {
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 7px #000000;
    cursor: pointer;
    height: 65px;
    margin: 1px;
    width: 100px;
}
.baseMapContainerNode {
    float: left;
    margin: 10px;
    width: 100px;
}

div#mainGisMenu{  background:url(/TEMPLATE/ampTemplate/img_2/gis/boxbg.gif);
	position:absolute;
	z-Index:100;
	right:10px;
	top:60px;
	width:160px;
	filter:alpha(opacity=90);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	opacity: .90;
	-moz-opacity:.90;   
    color:#fff;}
div#mainGisMenu ul, div#mainGisMenu ul li {margin:0px;padding:0px;}
div#mainGisMenu ul li {background-position:10px 125px;list-style:none;text-align:right;font-size:12px;width:127px;border-bottom:1px #000 solid;padding:8px 30px 8px 0px;font-weight:bold;border-left:3px solid #000;}
div#mainGisMenu ul li#search{background:url(/TEMPLATE/ampTemplate/img_2/gis/searchstr.png) no-repeat right;background-position:135px 8px;} 
div#mainGisMenu ul li#hlight{background:url(/TEMPLATE/ampTemplate/img_2/gis/highlightregions.png) no-repeat right;background-position:135px 8px;}
div#mainGisMenu ul li#hlightz{background:url(/TEMPLATE/ampTemplate/img_2/gis/highlightzones.png) no-repeat right;background-position:135px 8px;}
div#mainGisMenu ul li#add{background:url(/TEMPLATE/ampTemplate/img_2/gis/addactivity.png) no-repeat right;background-position:135px 8px;}
div#mainGisMenu ul li#structures{background:url(/TEMPLATE/ampTemplate/img_2/gis/structures.png) no-repeat right;background-position:135px 8px;}
div#mainGisMenu ul li#povmap{background:url(/TEMPLATE/ampTemplate/img_2/gis/povertymap.png) no-repeat right;background-position:135px 8px;}
div#mainGisMenu ul li#censusmap{background:url(/TEMPLATE/ampTemplate/img_2/gis/censusmap.png) no-repeat right;background-position:135px 8px;}

.usaidlogo{
    position:absolute;
	z-Index:100;
	display: block;
	bottom:5px;
	left: 5px;
}

.legendContent {
    background:url(/TEMPLATE/ampTemplate/img_2/gis/boxbg.gif);
	position:absolute;
	z-Index:100;
	display: none;
	top:256px;
	width:250px;
	padding:10px; 
	filter:alpha(opacity=80);opacity: .80;-moz-opacity:.80;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";   
    color:#fff;
    right: 10px;
}
.legendContent *{color:#fff;}

.legendContentValue {
	width:100%;
	height:100%;
	border:0px;
}

.legendContentContainer {
	border:1px solid #96adb5;
	padding:2px;
	width:15px;
	height:15px;
	display:block;
	float:left;
}

.legendContentLabel {
	font-size:8pt;
	color:white;
	margin-left:30px;
	height:5px;
   	padding-top: 4px;
}

.legendHeader {
	font-size:9pt;
	color:white;
}

.searchContent {
   background:url(/TEMPLATE/ampTemplate/img_2/gis/boxbg.gif);
	position:absolute;
	z-Index:100;
	margin-left: 600px;
	margin-top: 53px;
	display: none;
	width:250px;
	padding:10px; 
	filter:alpha(opacity=80);opacity: .80;-moz-opacity:.80;  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; 
 	
    
}

.searchContentValue {
	margin-right:10px;
	border:2px solid black;
	display:block;
	width:30px;
	height:20px;
	float:left;
}

.searchContentLabel {
	font-size:8pt;
	color:white;
	margin-left:10px;
	height:20px;
}


.esriBasemapGallery {
	position:absolute;
	background:url(/TEMPLATE/ampTemplate/img_2/gis/boxbg.gif);
	z-index:100;
	margin-top:5%;
	/*margin-left:60%;*/
	font-size: 11px;
	display:none;
	width:377px;
	overflow:auto;
	height:310px;
	padding:10px;
	filter:alpha(opacity=85);opacity: .85;-moz-opacity:.85;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	color:#fff;
}
.esriBasemapGallerySelectedNode .esriBasemapGalleryThumbnail{ 
  border-color: #66FFFF !important; 
}



.tooltip {
	border:5px solid white;
	-moz-border-radius: 5px;
	padding: 5px 5px 5px 5px;
	background-color: rgba(255,255,255,1);
	font-size: 8pt;
}

.esriLegendServiceLabel
{
	color:white; 
	font-size:11pt;
} 

.esriLegendLayer {
	color:white; 
	font-size:9pt;
}

.legendContentValue
{
	/*background-color: rgba(0, 0, 255);*/
	/* border: 2px solid green; */
}

div.gisBoxHeader{width:100%;height:40px;position:relative}
div.gisBoxHeader a{width:10px;height:10px; display:block;position:absolute;right:5px;top:5px;}
div.gisBoxHeader a:hover{width:10px;height:10px; display:block;position:absolute;right:5px;top:5px;background:url(/TEMPLATE/ampTemplate/img_2/gis/close.gif);}

.snapShoots{
		    position:absolute;
			z-Index:100;
			display: block;
			bottom:5px;
			width:auto;
			height:auto;
			margin-left: 25% ;
  			margin-right: 25%; 
			background:url(/TEMPLATE/ampTemplate/img_2/gis/boxbg.gif);
		    color:#fff;
		    }
		    .snapShoots a{
		    	color:#fff;
		    	text-decoration: none;
		    	font-weight: bold;
		    }	
		    
		   .print_snap_shoot_item{
		   		padding:0px;
		   		margin:0px;
			    boder: 2px solid #FF000;
			     width: 0px;
			   
		    }
		    

			.list_carousel {
				margin: 0px 0px 0px 0px;
			}
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.list_carousel li {
				text-align: center;
				overflow:visible;
				padding: 0;
				margin:1px;
				display: block;
				float: left;
				border: 1px solid #FFFFFF;
				
			}
			.list_carousel li:hover {
			border: 1px solid green; 
			}
			
			.clearfix {
				float: none;
				clear: both;
			}
	
	
}


