	#tabview_container .yui-nav{

	}
	#tabview_container .yui-nav li {
		margin-right:0;
 	}

	#tabview_container .yui-content {}
	
	#tabview_container .yui-nav li a { 
			border-top:1px solid #D0D0D0;
			border-left:1px solid #D0D0D0;
			border-right:1px solid #D0D0D0;
			float:left;
			cursor:pointer; 
			text-decoration: none; 
			font-size: 12px; 
			color:#376091;
			font-weight: bold;
			background-color: #EBEBEB;
			margin:0px 0px 0px 5px !important;
			/* background:#3754A1 url(/TEMPLATE/ampTemplate/images/tableftcornerunsel.gif) no-repeat scroll left top; */
	}
	
	#tabview_container li.selected a{ 
			float:left;
			cursor:pointer; 
			text-decoration: none; 
			font-size: 12px; 
			font-weight: bold;
			/* background:#222E5D url(/TEMPLATE/ampTemplate/images/tableftcorner.gif) no-repeat scroll left top; */
			color: #FF6000;
			background-color: #FFFFFF;
			
	}
	#tabview_container li a div{ 
			/* background:url(/TEMPLATE/ampTemplate/images/tabrightcornerunsel.gif) no-repeat scroll right top; */
			padding:  0.6em 1em;
	}
		
	#tabview_container li.selected a div{ 
			/* background:url(/TEMPLATE/ampTemplate/images/tabrightcorner.gif) no-repeat scroll right top; */
			/* padding:  0.7em 2em;*/
	}
	#tabview_container .yui-nav li a:hover {
	   /* background: #455786 url(/TEMPLATE/ampTemplate/images/tableftcornerhover.gif) left top no-repeat;   */
	}
	
	#tabview_container .yui-nav li a:hover div {
	    /* background: url(/TEMPLATE/ampTemplate/images/tabrightcornerhover.gif) right top no-repeat;   */
	}
	#tabview_container .yui-content {
		
	}
	
	#tabview_container .yui-nav{

	}
	#tabview_container .yui-nav li {
		margin-right:0;
 	}
