.yui-panel .hd {
    background-color:#C7D4DB !important;
    color:#000000 !important; 
    font-size:12px !important;
    line-height:100%;
    border-bottom:1px solid #AEBAC0 !important;
    font-weight:bold !important;
    padding:4px;
    white-space:nowrap;
}