tr.firstLevel, td.firstLevel {
	background:#CCFFFF; 
	border-bottom: black 1px solid;
}

tr.secondLevel, td.secondLevel {
	background: #99CCFF;
	border-bottom:#E2E2E2 1px solid;
	border-right:#99CCFF 1px solid;
}

tr.thirdLevel, td.thirdLevel {
	background: #CCCCFF;
	border-bottom:#E2E2E2 1px solid;
	border-right:#CCCCFF 1px solid;
}

tr.oddActivity {
	
}

td.hierarchyCell{
}

tr.reportHeader, td.reportHeader {
	background-color: #313131;
	color: white;
	border-bottom:#313131 1px solid;
	border-right:#313131 1px solid;
	padding-left: 2px; 
	padding-right: 2px;
	font-weight: normal;
	font:9px Arial;
	text-align: center;
	cursor: pointer;
	
}