/* This CSS is used for the EU BlueBook  */
#content {
	width: 740px;
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 8pt;
}

#nav a {
	font-weight: normal;
	color: #FFAD33;
}

#nav a {
	text-decoration: none;
}

/*
Sub menu settings
*/
#nav ul li a {
	display: block;
	font-weight: normal;
	color: #003F7D;
	width: 17em;
	background-color: #FFAD33;
	border: 1px solid brown;
}

#nav ul li a:hover {
	font-weight: normal;
	color: #FFAD33;
	border: 1px solid brown;
	width: 17em;
	background-color: #003F7D;
}

li#smaller {
	float: left;
	position: relative;
	width: 7.4em;
	text-align: center;
	cursor: default;
	background-color: #003F7D;
	border: 1px solid brown;
}
li#smaller a:hover {
	color: #003F7D;
	display: block;
	background-color: #FFAD33;
	width: 7.4em;
}

li#bigger {
	float: left;
	position: relative;
	width: 10em;
	text-align: center;
	cursor: default;
	background-color: #003F7D;
	border: 1px solid brown;
}
li#bigger a:hover {
	color: #003F7D;
	display: block;
	background-color: #FFAD33;
	width: 10em;
}

li ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	font-size: 8pt;
	font-weight: normal;
	background: bottom left no-repeat;
	padding: 0.2em 0 0.2em 0;
}



li li {
	display: block;
	float: none;
	border: 0;
}

li:hover ul, li.over ul {
	display: block;
	border: 1px solid brown;
	background-color: #003F7D;
}

hr {
	display: none;
}

p {
	padding: 1em 1em 0 1em;
	margin: 0;
}

.menuline {
	background-color: #FFAD33;
}

.footerline {
	background-color: #003F7D;
}

.small       { font-family: Arial, Helvetica, 'MS Sans Serif', 'sans serif'; font-size: 8pt }

/* EU BlueBook Formatting */
.country {
	font-size: 10px;
}

.institutions {
	font-size: 11px;
	font-weight: normal;
	text-align: left;
}
.steps p {
	margin-bottom: 10px !important;
}