html {
    height: 100%;
}

body {
    height: 95%;
}

.left {
    margin: 0 460px 0 0;
    height: 90%;
}

.right {
    float: right;
    width: 450px;
}

#map {
    margin: 10px;
    border: 1px solid black;
    height: 95%;
}

#query {
    margin-top: 10px;
}

#criteria * {
	margin: 0;
	padding: 0;
}

#criteria  {
	width: 80%;
	font-family: verdana;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	text-align: left;
}
#criteria div {
	padding: 10px;
	border: none;
	text-decoration: none;
	font-size: 0.8em;
	margin: 0px;
	color: #003366;
	background-color: #DBE2F1;
}
#criteria p {
	margin-bottom: 10px;
}
#criteria h3 {
	cursor:pointer;
	display:block;
	padding: 5px;
	margin-top: 0;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	color: white;
	background-color: #687fab;
	border-bottom: 1px solid #F6F6F6;
	vertical-align: center;
}

#criteria h3.last {
	border-bottom: none;
}
#criteria h3.hover {
	color: white;
	background-color: #ff9900;
}
#criteria h3.selected {
	color: white;
	background-color: #ff9900;
}
#criteria h4 {
	font-size: 1.05em;
}

#criteria span.next {
    display: block;
    margin-top: 5px;
    text-align: right;
}

/* Locations list */
ul#locations li {
    padding-left: 10px;
    background-image: url(/images/arrow.gif);
    background-repeat: no-repeat;
    background-position: 0 .5em;
}

ul#locations { 
    margin-top: 10px;
    list-style-type: none; 
}

ul#locations ul {
    margin-left: 30px;
    list-style-type: none;
}

#loading {
    display: none;
    text-align: center; 
    margin: 0;
}