/*
Blue scale

Header: 
 Background: #4f81bd
 Color: #fff
Row: 
 Background: #b8cce4
 Color: #000
Lighter row: 
 Background: #dbe5f1
 Color: #000

Grayscale:
Header: 
 Background: #000000
 Color: #fff
Row: 
 Background: #a5a5a5
 Color: #000
Lighter row: 
 Background: #d8d8d8
 Color: #000

Greenscale
Header: 
 Background: #9bbb59
 Color: #fff
Row: 
 Background: #d7e4bc
 Color: #000
Lighter row: 
 Background: #eaf1dd
 Color: #000

*/




/* Start PUBLIC style */
/* For PUBLIC using bluescale */

/* Data Tables (usually lists), always preceded by the title as a <H2> tag */
.public #content H2+TABLE {
	text-align: center;
	width: 740px;
	background-color: #dbe5f1;
	border: 0px;
	border-spacing: 0px;
} 

/* Data Table headers (usually lists), always preceded by the title as a <H2> tag */
.public #content H2+TABLE TH {
	color: #fff;
  background-color:#4f81bd;
} 

/* For the data cells of the table */
.public #content H2+TABLE TD {
  background-color:#dbe5f1;
} 

/* Data Table title, preceding the <TABLE> tag */
.public #content H2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #003366;
} 

/* End PUBLIC style */

/* Start FOCAL_POINT style */
/* For FOCAL_POINT using grayscale */
/* Data Tables (usually lists), always preceded by the title as a <H2> tag */
.focal_point #content H2+TABLE {
	text-align: center;
	width: 740px;
	background-color: #dbe5f1;
	border: 0px;
	border-spacing: 0px;
} 

/* Data Table headers (usually lists), always preceded by the title as a <H2> tag */
.focal_point #content H2+TABLE TH {
	color: #fff;
  background-color:#000000;
} 

/* For the data cells of the table */
.focal_point #content H2+TABLE TD {
  background-color:#d8d8d8;
} 

/* Data Table title, preceding the <TABLE> tag */
.focal_point #content H2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #003366;
} 

/* End FOCAL_POINT style */

/* Start ADMIN style */
/* For ADMIN using greenscale */
/* Data Tables (usually lists), always preceded by the title as a <H2> tag */
.admin #content H2+TABLE {
	text-align: center;
	width: 740px;
	background-color: #eaf1dd;
	border: 0px;
	border-spacing: 0px;
} 

/* Data Table headers (usually lists), always preceded by the title as a <H2> tag */
.admin #content H2+TABLE TH {
	color: #fff;
  background-color:#9bbb59;
} 

/* For the data cells of the table */
.admin #content H2+TABLE TD {
  background-color:#eaf1dd;
} 

/* Data Table title, preceding the <TABLE> tag */
.admin #content H2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #003366;
} 


/* End ADMIN style */

/* Start Design Own Report */
.container {
	float: left;
}
div#output_options {
	width: 142px;
	margin-right: 10px;
}
div#filter_criteria {
	width: 426px;
	margin-right: 10px;
}
div#other_criteria {
	width: 142px;
}
div#donor_province {
	width: 170px;
	margin-right: 10px;
}
div#mdg_sector {
	width: 246px;
}

.container h2 {
	margin: 0;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}

.checkbox_container h3 {
	margin: 0;
	padding: 2px;
	font-size: 1.15em;
	display: block;
	border-bottom: 1px solid #777;
	background-color: #687EAB;
	color: #000;
}

ul.checkbox_container {
	margin-top: 10px;
	border: 1px solid #777;
	background-color: #DBE2F1;
}

ul.checkbox_container li {
	display: block;
	clear: both;
	vertical-align: baseline;
	margin-top: 2px;
	margin-bottom: 4px;
}

ul.checkbox_container li.all {
	font-weight: bold;
}

ul.checkbox_container li div {
	display: inline;
	margin-left: 25px;
	padding-top: 3px;
}

ul.checkbox_container li input {
	float: left;
	margin-right: 5px;
}
/* End Design Own Report */

/* Start GENERAL STYLES */

HTML {
	margin: 0;
	padding: 0;
}

BODY { 
  background-color: #fff; 
  color: #333; 
	scrollbar-face-color:#FFFFFF;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#006699;
	scrollbar-darkshadow-color:#006699;
	scrollbar-shadow-color:#FFFFFF;
	scrollbar-arrow-color:#006699;
	scrollbar-track-color:#E2E7EB;
}

BODY, P, OL, UL, TD {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

HR {
	display: none;
}

P {
	padding: 1em 1em 0 1em;
	margin: 0;
}

PRE {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

A { color: #000; }
A:visited { color: #666; }
A:hover { color: #fff; background-color:#000; }
A IMG { border: 0; }


/* Start GENERAL CLASSES */


#content {
	width: 780px;
	margin-left: 0;
	margin-right: 0;
}

#content.fluid {
	width: auto;
}

#footer {
	width: 780px;
	margin-left: 0;
	margin-right: 0;
}

#footer hr {
	display: block;
	border: 1px solid #003F7D;
	height: 3px;
	background-color: #003F7D;
	color: #003F7D;
}


/*
	background-color: #FFAA33;
	border-right: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
	border-left: 1px solid #FF6600;
	padding: 2px;
	text-align: center;
}*/

/* Used in MDGS */
ul.fatlist li {
	display: block;
	padding: 1px;
	border: 1px solid #fff;
	white-space: nowrap;
	margin-bottom: 2px;
}
ul.fatlist.flexible li {
	padding: 2px;
	margin-left: 2px;
	float: left;
}

/* Used in layouts for currency_report, graph windows and report window */
.prt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #003366;
	text-decoration: none;
	background-color: #FFAA33;
	border-top: 1px solid #FF6600;
	border-right: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
	border-left: 1px solid #FF6600;
	padding: 1px;
	width: 80px;
	text-align: center;
}

/* Top Menu Orange line */
.menuline {
	background-color: #FFAD33;
}

/* Class Style for errors defined in ActionPack */
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* Id Style for Explanation of errors defined in ActionPack */
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation H2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation P {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation UL LI {
  font-size: 12px;
  list-style: square;
}
/* End GENERAL CLASSES */

/* End GENERAL STYLES */

/* START TOP MENU STYLES */
/* This CSS is used for the Menu (the left frame and the top frame) */
/* This has to be changed and cleaned up */
#mainMenu
{	margin: 0;
	padding: 0
}
	
#mainMenu li
{	float: left;
    list-style: none;
    font: 12px Tahoma, Arial
}

#mainMenu li a
{
	display: block;
    background: #20548E;
    padding: 5px 12px;
    text-decoration: none;
    border-right: 1px solid white;
    color: #EAFFED;
    white-space: nowrap;
    text-transform:uppercase;
    font-family:Arial,sans-serif;
    font-size:10px;
}

#mainMenu li a:hover
{
	background: #1A4473
}
    
#mainMenu li ul
{	margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    border-top: 1px solid white}

#mainMenu li ul li
{	float: none;
    display: inline}

#mainMenu li ul li a
{
	width: 120px;
    background: #20548E;
}

#mainMenu li ul li a:hover
{
	background: #1A4473
}
/* End TOP MENU STYLES */


/* DATA INPUT FORM STYLES */

/* Clearfix */
ol { overflow: hidden; margin: 0; padding: 0; }

form fieldset {
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em 0;
    background-color: #F8F8F8;
}

form fieldset legend {
    font-size: 1.5em;
    padding: 0 .2em;
    color: #003366;
}

form fieldset ol {
    list-style: none;
}

form fieldset ol li {
    border-bottom: 1px dashed #ccc;
    padding: .5em 0;
}

form fieldset label {
    display: block;
    font-weight: bold;
    font-size: 0.9em;
}

form fieldset label.fluid {
    display: inline;
    padding: 0 !important;
    font-weight: normal;
}

form fieldset input,
form fieldset textarea,
form fieldset select {
    padding: 2px;
    font: 13px "Trebuchet MS", sans-serif;
    border: 1px solid #aaa;
    color: #777;
    margin-top: .2em;
    margin-left: 1em;
}

form fieldset input:focus,
form fieldset textarea:focus {
    border: 1px solid #555 !important;
    color: #555;
}

form label em {
    color: #999;
    font-size: .9em;
}

form fieldset p {
    padding: 1em;
    background: #f5f5f5;
    border: 1px solid #ddd;
    margin: 0 0 1em 0;
    color: #777;
}

form button {
    padding: .5em 2em;
    font: 1.2em "Trebuchet MS", Sans-Serif;
    cursor: pointer;
}    

.buttonHolder {
    background: #eee;
    padding: .5em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
    
/* Validation errors */
form fieldset .error {
  color: #c00;
}

/* Field styles */
form textarea { width: 75%; overflow: auto; }
form fieldset .large { width: 80%; }
form fieldset .full  { width: 95%; }

form fieldset li.fifty { float: left; width: 49.9%; }
form fieldset li.twenty { float: left; width: 20%; }
form fieldset li.thirty { float: left; width: 33.2%; }

form fieldset ol li.noborder { border: 0 !important; }

/* Align checkboxes properly */
form fieldset ol li.checkbox { 
  padding-left: 40px !important; 
  text-indent: -37px; 
}

form fieldset ol li.checkbox input { 
  margin-right: 10px;
  vertical-align: middle;
}
 
/* Subheadings */
form fieldset h3 { 
  font-size: 1.3em;
  font-weight: bold; 
}       

/* End DATA INPUT FORM STYLES */