.activity-table > .react-bootstrap-table {
    width: 100%;
    font-size: 13px;
    max-height: 500px;
    height: 500px;
    min-height: 500px;
    overflow-y: scroll;
}

.table {
    margin-bottom: 0px;
}

.geocoded-table {
    width: 100%;
    max-height: 50px;
    height: 50px;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border-left: none;
    border-right: none;
}

table thead tr th {
    /* Important */
    background-color: #FFFFFF;
    position: sticky;
    z-index: 5;
    top: 0;
    color: #8492B4;
    font-size: 13px;
    font-weight: normal;
}

.table > thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    border: 1px solid #ddd;
}

.table-container > tbody > tr > td {
    border: none;
    color: #81878E;
    font-size: 12px;
    padding: 5px 10px 15px 15px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.table > tbody > tr > td {
    overflow: hidden;
}

.pagination {
    margin: 0;
}

.react-bs-table-sizePerPage-dropdown {
    margin-left: 10px;
}

.react-bootstrap-table-pagination-list {
    margin-bottom: 10px;
}

.react-bootstrap-table-pagination {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-icon {
    margin-left: 5px;
    margin-right: 5px;
}

.search-result {
    float:right;
    padding-bottom: 10px;
}

.modal-backdrop {
    background-color: #FFF;
    opacity: 50%;
}

.modal {
    top: 30%;
}

.location-action {
    margin: 0;
    float: left;
    text-align: center;
    padding-left: 20px;
}

.location-action ul {
    margin: 0;
    padding: 0px;
}

.location-action li {
    text-align: center;
    margin-bottom: 3px!important;
    display: inline-block;
    font-size: 10px;
    padding:0;
    margin-right: 10px;
}

.location-action i {
    display: block;
    text-align: center;
    color: #CCCCCC;
    margin-top:0;
    padding-top:5px;

}

.location-action a {
    color: #2E69A0;
    text-decoration:none;
    width:100%;
    height:100%;
    display:block;
    padding:10px;
}

.location-action a .fa-check-circle{
    color: #5cb85c;
}

.location-action a .fa-times-circle{
    color: #FF0000;
}

.location-action a span {
    color: #2E69A0;
    font-weight: bolder;
    font-style: italic;
    font-size:15px;
    padding:5px 0 0 0;
    display:block;
}

.location-action a:hover { opacity: 50%}

.location-container {
    margin: 0;
    width: 100%;
}

.location-delimiter {
    border-top: 1px solid #ddd;
}

.location-container td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.border-line {
    border-top: 1px solid #ddd;
}

.location-name-column {
    text-align: right;
    vertical-align: top;
    line-height: 26px;
}

.location-name {
    font-weight: bolder;
    font-size:15px;
    color: #2E69A0;
    margin-right: 5px;
}

.location-field-column {
    border-right: 1px solid #ddd;
    padding-left: 10px;
    font-size:13px;
    vertical-align: top;
    line-height: 25px;
}

.col-10 {
    width: 15%;
}

.col-20 {
    width: 20%;
}

.col-70 {
    width: 70%;
}

.alert {
    margin-top: 20px;
}

.alert {
    text-align: left;
}

.btn {
    margin-right: 5px;
    margin-left: 5px;
}

.loading {
    position: fixed;
    top: 30%;
    overflow-x: hidden;
    overflow-y: auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.loading-dialog {
    position: relative;
    width: 600px;
    margin: 30px auto;
}

.loading-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    text-align: center;
}

.loading-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    color: #5cb85c;
}

.loading-spinner {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.loading-text {
    margin-top: 20px;
    margin-bottom: 20px;
}