<% labeled_form_for @government_counterpart do |f| %>
	<% f.field_set do %>
		<li><%= f.text_field :code, :class => 'large' %></li>
		<li><%= f.text_field :name, :class => 'large' %></li>
	<% end %>

	<div class="buttonHolder"><%= f.submit %></div>
<% end %>

