.ni_hierarchyLevel1 {
	background:#9FA9EE; 
	border-bottom: black 1px solid;
	border-right: 1px solid black;
	padding-left: 5px;
	padding-right: 3px;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:11px;
}

.ni_hierarchyLevel2 {
	background: #B6BCFF;
	border-bottom:#A9A9A9 2px solid;
	border-right: #383838 1px solid;
	padding-left: 5px;
	padding-right: 3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.ni_hierarchyLevel3 {
	background: #C9CBFF;
	border-bottom:#A9A9A9 2px solid;
	border-right:#8B9EA3 1px solid;
	padding-left: 5px;
	padding-right: 3px;
	width: 170px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.ni_hierarchyLevel4 {
	background: #CDC9FF;
	border-bottom:#A9A9A9 2px solid;
	border-right:#DBEEF3 1px solid;
	padding-left: 5px;
	padding-right: 3px;
	width: 170px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.ni_hierarchyLevel5 {
	background: #EEEEFF;
	border-bottom:#A9A9A9 2px solid;
	border-right:#DBEEF3 1px solid;
	padding-left: 5px;
	padding-right: 3px;
	width: 170px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

td.ni_trailcell {
	text-align: right;
	font-weight: bolder;	
}

tr.oddActivity {
	
}

td.reportTotals{
	border-bottom: 1px solid black; 
	border-right: 1px solid rgb(226, 226, 226);
	font-family: Arial;
	color:black; 
	font-weight: bold;
	font-size: 12px;
	margin-left: 2px;
}

td.nireport_header {
	white-space: nowrap;
	align: center;
	/* vertical-align: top; */
	
/*	overflow: hidden;
	word-wrap: break-word;
	max-width: 100px;
	white-space: normal;*/
}

tr.nireport_header, td.nireport_header {
	background-color: #E3F4FA;
	color: #000000;
	border-bottom: #EEBBEE 1px solid;
	border-right: #EEBBEE 1px solid;

	font-weight: normal;
	font:11px Arial;
	text-align: center;
	//cursor: pointer;
	font-weight:bold;
}

table.nireport_table {
	border-collapse: collapse;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	
	/*table-layout: fixed;
	width: 100%;*/
}

td.nireport_data_cell {
    border-bottom: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    color: black;
    cursor: default;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	white-space: nowrap;
	/* background-color: rgb(231, 231, 255); */
	padding: 5px;
	padding-left: 12px;
}

a.settingsLink:link, a.settingsLink, A.settingsLink:active, A.settingsLink:visited{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 8pt;		  
	font-weight:normal;
	text-decoration:none;
	cursor: pointer;
}
a.settingsLink:hover{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 8pt;		  
	font-weight:normal;
	text-decoration:none;
	cursor: pointer;
}

	
a.settingsLinkDisable{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 8pt;		  
	font-weight:normal;
	text-decoration:none;
	color: #EEEEEE ;
	cursor: pointer;
}

a.nohoverlink{
	text-decoration:none;
}
a.nohoverlink:hover{
	background-color:transparent;
}

td.ni_hierarchyCell div {padding-left:5px !important;}

.headermeta {
	font-size: 0.8em;
	font-style: italic;
}