.viewmodal_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.view_row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 10px !important;
    transition: 1s ease-out;
}


.input_field {
    width: 100%;
    height: 40px;
    font-size: 16px;
}

.input_field_checkbox {
    width: 100%;
}

/* Remove arrows from number input fields */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.modal_button {
    width: 200px;
}

.modal_footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 40px;
}

.modal_form_group  {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.modal_form_group:last-child {
    border-bottom: none;
}

.input_label {
    font-weight: 600 !important;
    color: #225977 !important;
    font-size: 14px !important;
    margin-bottom: 12px;
    margin-top: 8px;

}

.modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3) !important;
    z-index: 100;
}

.view_row {
    margin: 0 !important;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 7px 10px !important;
}

.view_one_item {
    width: 100%;
    text-align: left;
    margin: 0 1%;
}


.view_item {
    width: 50%;
    text-align: left;
    padding: 10px 20px;
    margin: 0.3% 1% !important;
}

.input_field {
    width: 100%;
    height: 40px;
    font-size: 16px;
}

.is_invalid {
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

.text_is_invalid {
    color: #dc3545;
    font-size: 12px;
}

.checkbox_wrapper {
    margin-left: 20px;
}

.checkbox_label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.form_section {
    margin: 20px 0;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.form_section:last-child {
    border-bottom: none;
}

.Modal_feedback_message {
    margin: 10px 0 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}
