td.teaserTitleBody {
	background-image : url(../images/ui/teaserTileTitle.gif);
	height:25px;
	color : White;
	font-size : 14px;
	font-weight : bold;
}

td.teaserExtraBody {
	background-image : url(../images/ui/teaserExtrainfoTitle.gif);
	height:25px;
	color : #2A3255;
	font-size : 12px;
}

td.teaserBottomBody {
	background-image : url(../images/ui/teaserTileBottom.gif);
	height: 11px;
}

td.bodyLeftTile {
	background-image : url(../images/ui/teaserTileLeft.gif);
	background-position : left;
	background-repeat : repeat-y;
}

td.bodyRightTile {
	background-image : url(../images/ui/teaserTileRight.gif);
	background-position : left;
	background-repeat : repeat-y;
}

td.bodyField{
	background-color : #DCE8ED;
}

td.contentSplitter {
	background-image : url(../images/ui/contentSplitter.gif);
	background-position : center;
	background-repeat : repeat-x;
}

td.headerBgr {
	background-image : url(../images/ui/header/logoBgrTile.gif);
	background-position : top;
	background-repeat : repeat-x;
}

tr.menuBgr {
	background-image : url(../images/ui/header/menuBgrTile.gif );
	background-position : top;
	background-repeat : repeat-x;
}
tr.menuTop {
	background-image : url(../images/ui/header/menuTop.gif );
	background-position : top;
	background-repeat : repeat-x;
}
A.demo, A.demo:ACTIVE, A.demo:FOCUS, A.demo:HOVER, A.demo:LINK, A.demo:VISITED {
	color : White;
	text-decoration : none;
}
A.demo:HOVER {
	color : #D2E8FF;
	text-decoration : underline;
}

input.demo {
	border : 1px solid #637C90;
}

tr.navBarMouseOver {
	background-color: #CFDEE5;
}

tr.navBarDefault {
	
}

A.navBar, A.navBar:ACTIVE, A.navBar:FOCUS, A.navBar:HOVER, A.navBar:LINK, A.navBar:VISITED {
	color : #34495A;
	text-decoration : none;
	font : 12px;
}
A.navBar:HOVER {
	color : #FF6666;
	text-decoration : underline;
}