<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Tabs</title>
<link rel="stylesheet" href="css/jquery-ui.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap-theme.css">

<link rel="stylesheet" href="css/tabs.css">
<script data-main="js/main.js"
	src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.js"></script>

</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-12 bg-info header"></div>
		</div>
		<div class="row">
			<div class="col-md-10 tabs">
				<div id="tabs-container"></div>
			</div>
			<div class="col-md-2 bg-info leftcol"></div>
		</div>
	</div>

</body>
</html>