<!doctype html>
<html>
<head>
<!-- base tag used to simulate problem with jquery tabs (see: http://tjvantoll.com/2013/02/17/using-jquery-ui-tabs-with-the-base-tag) -->
<base href="http://localhost:8080/TEMPLATE/ampTemplate/">
<meta charset="utf-8">
<title>Tabs</title>

<link rel="stylesheet" href="node_modules/amp-filter/dist/amp-filter.css">
<link rel="stylesheet" href="tabs/css/bootstrap.css">
<link rel="stylesheet" href="tabs/css/bootstrap-theme.css">
<link rel="stylesheet" href="tabs/css/jquery-ui.css">
<link rel="stylesheet" href="tabs/js/lib/jqgrid-4.6.0/css/ui.jqgrid.css">
<link rel="stylesheet" href="tabs/css/tabs.css">
<link rel="stylesheet" href="tabs/css/settings.css">

<script data-main="tabs/js/main.js"
	src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.js"></script>

</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-12 bg-info header"></div>
		</div>
		<div class="row">
			<div class="col-md-10 tabs">
				<div id="tabs-container"></div>
			</div>
			<div class="col-md-2 bg-info leftcol"></div>
		</div>
	</div>

</body>
</html>