#!/bin/sh
#
# chkconfig: 35 99 14
# description: Starts and stops the Tomcat daemon.
# Managed by Ansible!


TOMCAT_USER={{common__deployer_user}}
TOMCAT_HOME=/opt/apache/apache-tomcat
STARTUP_SCRIPT=$TOMCAT_HOME/bin/startup.sh
SHUTDOWN_SCRIPT=$TOMCAT_HOME/bin/shutdown.sh

export JAVA_HOME={{tomcat__java_home}}
export PATH=${PATH}:${JAVA_HOME}/bin

start() {
    echo -n $"Starting Tomcat service: "
    su - $TOMCAT_USER -c $STARTUP_SCRIPT
    echo $?
}

stop() {
    echo -n $"Stopping Tomcat service: "
    su - $TOMCAT_USER -c $SHUTDOWN_SCRIPT
    echo $?
}

restart() {
    stop
    start
}

status() {
    ps -aef | grep tomcat | grep headless | grep -v status | grep -v grep
}

# Handle the different input options
case "$1" in
start)
    start
    ;;
stop)
    stop
    ;;
status)
    status
    ;;
restart)
    restart
    ;;
*)
    echo $"Usage: $0 {start|stop|restart|status}"
    exit 1
esac

exit 0
