<center>
	<% odaform_for @agency do |f| %>
		<table width="740" class="list">
			<tr>
				<td class="title" colspan=2><%= lc(:title, :donor => @donor.name) %></td>
			</tr>
			<%= render :partial => 'form', :locals => {:f => f} %>
			<tr>
				<td><%= f.submit %></td>
			</tr>
		</table>
	<% end %>
	<p><b><%= link_to ll(:actions, :back), donor_agencies_path(@donor) %></b>&nbsp;</p>
</center>