
			/* logger default styles */
			/* font size is controlled here: default 77% */
#yui-log {position:absolute;top:1em;right:1em;font-size:77%;text-align:left;}
	/* width is controlled here: default 31em */
			.yui-log {background-color:#AAA;border:1px solid black;font-family:monospace;z-index:9000;}
	.yui-log p {margin:1px;padding:.1em;}
	.yui-log button {font-family:monospace;}
	.yui-log .yui-log-hd {padding:.5em;background-color:#575757;color:#FFF;}
	/* height is controlled here: default 20em*/
			.yui-log .yui-log-bd {width:100%;height:20em;background-color:#FFF;border:1px solid gray;overflow:auto;}
	.yui-log .yui-log-ft {margin-top:.5em;margin-bottom:1em;}
	.yui-log .yui-log-ft .yui-log-categoryfilters {}
	.yui-log .yui-log-ft .yui-log-sourcefilters {width:100%;border-top:1px solid #575757;margin-top:.75em;padding-top:.75em;}
	.yui-log .yui-log-btns {position:relative;float:right;bottom:.25em;}
	.yui-log .yui-log-filtergrp {margin-right:.5em;}
	.yui-log .info {background-color:#A7CC25;} /* A7CC25 green */
			.yui-log .warn {background-color:#F58516;} /* F58516 orange */
			.yui-log .error {background-color:#E32F0B;} /* E32F0B red */
			.yui-log .time {background-color:#A6C9D7;} /* A6C9D7 blue */
			.yui-log .window {background-color:#F2E886;} /* F2E886 tan */


	.draglist { 
	
		position: relative;
		/*width: 87%;*/ 
		height: 300px;
		overflow: auto;
		overflow-x: scroll;
		max-width: 328px;
		width: 328px;
		/*background: #f7f7f7;*/
		/*border: 1px solid;*/
		/*border-right: 1px solid black;*/
		margin:0;
		padding:2px;
		text-align: left;
	}
	ol.draglist{
		list-style-type: upper-roman;
		list-style-position: inside;
	}
	ol.draglist li{
		padding-left: 5px;
	}
	ul.draglist{
		list-style: none;
	}

	.draglist ul.nodragul li, #DHTMLSuite_treeNode1 {
		cursor: auto;
		margin-left: 0px;
	}
	.draglist ul.nodragul ul li {
		cursor: move;
		margin-left: 0px;
	}
	
	.draglist li {
		/*margin: 2px;*/
		cursor: move;
	}
	
	
	.draglist li input, .draglist li img {
		cursor: default;
	}

	ul.draglist_alt { 
		position: relative;
	width: 200px; 
	list-style: none;
	margin:0;
	padding:0;
    /*
			The bottom padding provides the cushion that makes the empty 
			list targetable.  Alternatively, we could leave the padding 
			off by default, adding it when we detect that the list is empty.
	*/
			padding-bottom:20px;
}

	ul.draglist_alt li {
		margin: 1px;
		cursor: move; 
	}


	.list1, .list2 {
		background-color: #E1E1E1;
		border:1px solid #CECECE;
		margin-bottom: 5px;
		margin-top: 5px;
		padding: 1px;
		text-align: left;
		font-size: 11px;
		/*font-weight: bold;*/
		vertical-align: middle;
	}


	
	#dhtmlgoodies_tree {
		list-style-image: none;
		list-style-position: outside;
		list-style-type: none;
		padding: 0px;
		margin:  0px;
	}
	#dhtmlgoodies_tree li {
		padding: 0px;
		margin:  0px;
	}







				#wizard_container {  
					/*width: 90%;
					margin-left: 10px;
					margin-bottom: 100px;*/
				}
				#wizard_container .yui-nav{
					font-weight: normal;
					/*font-size: 8pt;*/
					width: 95%;
					/*border-bottom-width: 2px;
					border-bottom-color: #222e5d;
					border-bottom-style: solid;*/
				}
				#wizard_container .yui-nav li {
						margin-right:0;
				}
				
				#wizard_container .yui-content { 
						/*border-width: 1px; 
						border-style: solid; 
						border-color: #222e5d; 
						width: 95%;
						height: 100%; */
				}
				
				#wizard_container .yui-content div.yui-tab-content { 
						/*padding: 10px 45px 10px 45px;*/ 
						text-align: center;  
						vertical-align: middle; 
						/*width: 100%;*/
						height: 100%;
				}
									
				#wizard_container .yui-nav li a { 
						float:left;
						cursor:pointer; 
						text-decoration: none; 
						/*color:#fff;*/
						background-color: white;
						margin:0pt 0pt 0pt 0pt;
						/*background:#3754A1 url(/TEMPLATE/ampTemplate/images/tableftcornerunsel.gif) no-repeat scroll left top;*/
				}
					
				#wizard_container li.selected a{
					padding-top:7px; 
					padding-bottom:7px; 
					padding-left:7px; 
					font-size:14px; 
					color:#FF6000; 
					font-weight:bold; 
					/*float:left;
					cursor:pointer; 
					text-decoration: none; 
					background:#222E5D url(/TEMPLATE/ampTemplate/images/tableftcorner.gif) no-repeat scroll left top;
					color: white;*/
				}
				#wizard_container li a div{ 
						/*background:url(/TEMPLATE/ampTemplate/images/tabrightcornerunsel.gif) no-repeat scroll right top;*/
						padding: 4px 10px 4px 10px;
						font-size: 8pt;
				}
						
				#wizard_container li.selected a div{ 
						/*background:url(/TEMPLATE/ampTemplate/images/tabrightcorner.gif) no-repeat scroll right top;*/
					padding: 4px 10px 4px 10px;
					font-size: 8pt;
				}
				#wizard_container li.selected a span{ 
					background-color:#FF6000; margin-right:3px; padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px; font-size:11px; color:#FFFFFF; font-weight:bold;
				}
				#wizard_container li.unsel a span{ 
					border:1px solid #CCCCCC; 
					margin-right:3px; 
					padding-top:7px; 
					padding-bottom:7px; 
					padding-left:7px; 
					font-size:14px; 
					/*font-size:10px;*/ 
					color:#B3B3B3;
				}
				
				#wizard_container div.selected {
					margin-left:-1px; 
					background-color:#EFEFEF; 
					border-left:1px solid #EFEFEF; 
					border-top:1px solid #BEBDB6; 
					border-right: 1px solid #BEBDB6; 
					border-bottom:1px solid #BEBDB6; 
					margin-bottom:7px;
				} 
				#wizard_container div.disabled a { 
					color:#B3B3B3;
				}
				#wizard_container div.selected span{
					background-color:#FF6000; margin-right:3px; padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px; font-size:11px; color:#FFFFFF; font-weight:bold;
				}
				#wizard_container div.selected a {
					color:#FF6000;
				}
				
				#wizard_container .yui-nav li a:hover {
						/*background: #455786 url(/TEMPLATE/ampTemplate/images/tableftcornerhover.gif) left top no-repeat;*/
				}
					
				#wizard_container .yui-nav li a:hover div {
						/*background: url(/TEMPLATE/ampTemplate/images/tabrightcornerhover.gif) right top no-repeat;
						font-size: 8pt;*/
				}
				
				#wizard_container li.disabled a, #wizard_container .yui-nav li.disabled a:hover{ 
						float:left;
					cursor:pointer; 
					text-decoration: none; 
					background:#565656 url(/TEMPLATE/ampTemplate/images/tableftcornerdis.gif) no-repeat scroll left top;
					color: white;
				}
				#wizard_container li.disabled a div, #wizard_container .yui-nav li.disabled a:hover div{ 
					background:url(/TEMPLATE/ampTemplate/images/tabrightcornerdis.gif) no-repeat scroll right top;
					padding: 4px 10px 4px 10px;
				}


 .list_header {
 	color: #3754A1;
 	font-size: 10pt;
 	font-weight: bold;
 }

.repbuton {
	font-weight: bold;
}

.subtabs {
	background-color: #CCDBFF;
	font-size: 8pt;
	padding: 4px 4px;
	text-align: center;
}

button.arrow {
	padding: 4px;
}

img.toolbar {
	vertical-align: text-bottom;
	height: 17px;
}

button.toolbar {
	background-color: #CCDBFF; 
	border-width: thin;
	border-style: solid;
	border-color: #CCDBFF;
	font-size: 8pt;
	height: 100%;
	color: black;
	vertical-align: bottom;
	padding: 1px;
	
}
button.ieover {
	background-color:#4A687A; 
	/*border-top: 1px solid #99BAF1; 
	border-left:1px solid #99BAF1; 
	border-right:1px solid #225099; 
	border-bottom:1px solid #225099; 
	color:#FFFFFF;*/ 
}

button.toolbar-dis { 
	background-color: #CCDBFF; 
	border-width: thin;
	border-style: solid;
	border-color: #CCDBFF;
	font-size: 8pt;
	color: gray;
	height: 100%;
	vertical-align: bottom;
	padding: 1px;
}

#wizard_container #searchBox input#searchCriteria
{
	width: 138px;
}

#wizard_container #searchBox .buttonx
{
	padding-left: 3px;
	padding-right: 3px;
}

#wizard_container #searchBox #prevSearchButton, #wizard_container #searchBox #nextSearchButton
{
	width: 25px;
	padding-left: 2px;
	padding-right: 2px;
}

.wizard-body-container {
	width: 100%;
	margin-bottom: 5px;
	margin-top: 5px;
	height: 180px;
	overflow: auto;
	overflow-x: scroll;
	white-space: nowrap;
}
