body {
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #EEE;
}

h3 {
    font-size: 20px;
}

.chart-container {
    border: none; /*1px solid #ddd;*/
    /*border-radius: 5px;*/
    background-color: white;
}

.middle {
    height: 580px
}

.even-middle {
    height: 50%;
    /*margin-top: 10px;*/
}

.even-third {
    height: 33%;
}

.even-sixth {
    height: 66%;
}

.chart-container .chart {
    min-height: 405px;
}

.solar-chart-enter {
    opacity: 0.01;
}

.solar-chart-enter.solar-chart-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.solar-chart-leave {
    opacity: 1;
}

.solar-chart-leave.solar-chart-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.solar-chart-appear {
    opacity: 0.01;
}

.solar-chart-appear.solar-chart-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.loading-absolute {
    position: static;
}

.loading {
    background-image: url("../../../assets/loading.gif");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    position: relative;
    top: 151px;
    background-position: center;
}


/* To fix the modal library. */
.modal {
    display: block;
}

.label-bold {
    font-weight: 700;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    padding: 0px 0px;
}

.panel .inline-heading, .applied-filters {
    display: inline-block;
    margin: 0 7px 0 0;
    position: relative;
    top: 0px;
    /*min-width: 150px;*/
}

.panel-footer {
    background-color: white;
    border: none;
}

.form-inline .form-control {
    background-color: #f6f6f6;
}

.applied-filters {
    display: block;
}

.applied-filters li {
    list-style-type: none;
}

.applied-filters li::before {
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 3px 5px 0 -22px;
    border-radius: .5em;
    background: #a1d367;
}

.applied-filters h5 {
    color: #428bca;
    font-weight: 800;
    text-transform: capitalize;
}

.filter-button {
    position: relative;
    top: 0px;
}

#filter-popup {
    border: 1px solid #337ab7;
}

#filter-popup .btn-success {
    font-family: inherit;
}

.legends-container {
    background-color: white;
    /*border: 1px solid #ddd;
    border-radius: 0;*/
    padding: 10px;
}

.custom-legend-inner {
    padding-right: 10px;
}

.separator {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    width: 100%;
}

.section_title {
    background-color: #f6f6f6;
    /*border: 1px solid #f6f6f6;*/
    color: #423f3f;
    /*font-weight: 600;*/
    font-size: 21px;
    padding: 5px;
}

.section_title span {
    padding: 10px;
}
.main-container .title-fy-source{
    display: none;
}
.radio-fy-source {
    display: inline-block;
    padding-left: 5px;
    padding-right: 15px;
}

.radio-fy-source input {
    margin-right: 5px;
    cursor: pointer;
}

.radio-fy-source label {
    cursor: pointer;
}

.pie-chart-selector {
    padding: 10px;
}

.pie-legend-wrapper {
    position: absolute;
    background-color: #0b58a2;
    border-radius: 5px;
    z-index: 9999;
    width: auto;
}

.line-legend-wrapper {
    position: absolute;
    background-color: #0b58a2;
    border-radius: 5px;
    z-index: 10;
    width: auto;
    pointer-events: none;
    opacity: 1;
}

.funding-sources-title {
    font-size: 18px !important;
}

.funding-sources-title .amount {
    text-align: right;
    font-size: 18px !important;
}

.funding-sources-title > div {
    /*text-transform: uppercase;*/
}

.funding-sources-title .row {
    border-bottom: 1px solid #ddd;;
    margin-left: 0px;
    margin-right: 0px;
}

.programs-dropdown {
    max-width: 435px;
}

.error {
    color: red;
    font-weight: bold;
}

.amount-column {
    text-align: right;
    white-space: nowrap;
}

.table {
    font-size: 12px;
}

.header-row {
    color: #7f8fa4;
    font-weight: 800;
    font-size: 12px;
}

.detail-table-container {
    overflow-y: auto;
    max-height: 350px;
    padding: 5px;
}

.invisible-row {
    display: none;
    visibility: hidden;
}

.modebar {
    display: none !important;
}

.download-image-img {
    width: 25px;
    height: 25px;
    padding: 0px!important;
}

.download-image {
    cursor: pointer;
}

.export-wrapper {
    float: right;
}

.form-check {
    align-items: center;
}

.form-check-label {
    padding-left: 5px;
}

.modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: -14px;
}

.nav-item:first-child {
    margin-left: 48px;
    margin-right: 10px;
}

/* .nav-item:last-child {
    margin-left: 0;
    margin-right: 0;
} */

.nav-link {
    font-size: 20px;
    font-weight: 500;
    color: #f5f5f5;
    padding: 8px 12px;
    background-color: #c2c2c2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 10px 10px 52px -10px rgba(227,227,227,0.79);
}

.nav-link.active {
    background-color: #205581;
    color: #f5f5f5;
}


.nav-link:focus, .nav-link:hover {
    text-decoration: none
}

.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-item {
    margin-bottom: -2px
}


.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    width: 400px;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #e9ecef #e9ecef #dee2e6
}

.nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs  {
    color: black;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.info-icon {
    height: 15px;
    width: 15px;
    float: left;
    margin-right: 3px;
    top: 2px;
    position: relative;
}

.tooltip {
    opacity: 1;
}

.tab-content {
    border: 1px solid #dee2e6;
    display: grid;
}

.tab-pane {
    margin-bottom: 20px;
    background-color: #ffffff;
}

.fade {
    opacity: 1;
}
