<h3>Donors <%= select_deselect_link('donors') %></h3>
<ul class="checkbox_container">
  <li class="all"><%= check_box_tag "donors[]", "all", true %>all</a>
    
  <% for donor in Donor.country.ordered.all %>
    <li><%= check_box_tag "donors[]", donor.id %><%= donor.name %></li>
  <% end %>
</ul>