<h3>UN Agencies <%= select_deselect_link('un_agencies') %></h3>

<ul class="checkbox_container">
  <li class="all"><%= check_box_tag "un_agencies[]", "all", true %>all</a>
    
  <% for un_agency in Donor.un_agency.ordered.all %>
    <li><%= check_box_tag "un_agencies[]", un_agency.id %><%= un_agency.name %></li>
  <% end %>
</ul>