<h3><%= t('.title') %> <%= select_deselect_link('donors','un_agencies') %></h3>

<ul class="checkbox_container_donors">
  <% for un_agency in Donor.un_agency.ordered.all %>
    <li><%= check_box_tag "donors[]", un_agency.id, false, {:group => "un_agencies"} %><%= un_agency.name %></li>
  <% end %>
</ul>