<% javascript 'jquery_tablesorter' %>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() 
	    { 
	        $(".sortable").tablesorter(); 
	    } 
	);
</script>

<h2><%= header t('.title') %></h2>

<%= Reports::ProjectReport.render_html(:data => @data) %>