<h2><%= header t('.title', :sector => @sector.name_with_code) %></h2>

<%= Reports::ProjectReport.render_html(
		:projects => @projects, 
		:fields => %w(factsheet_link donor donor_project_number title total_commitments total_disbursements commitments_forecast disbursements_forecast start_date end_date),
		:middleware => Reports::SectorDisaggregator.new([@sector])) %>