.admin-content {
	direction: rtl;
}

.header-corner{
	background: url(../images/corner-l.gif) no-repeat !important;
}

.form-layout td{
	padding: 5px;
}


.label-column{
   text-align: left !important;
   width: 30%;   
   padding: 5px;
}

.data-column{
  text-align: right !important;
  width: 70%;
}

span.geostyle{
	display: inline-block !important;
}

.org-type-fieldset {
 padding-left:0 !important;
 padding-right:200px !important;
 border:1px solid #CCCCCC; 
 background-color:#FFFFFF; 
 text-align: right !important;
}

.legendClass{
	float: right !important;
}

.exportContactIcon{
 float: left !important;
}

.admin_box_label {
    text-align: right !important;
}

.list-item-image {
    transform: rotate(180deg);
}

.gs-setting-label {
    text-align: left !important;
}