/* GLOBAL */
body {font-family: Arial, Verdana, Helvetica, sans-serif; }
a {color:#376091;}
hr {border: 0; color: #E5E5E5; background-color: #E5E5E5; height: 1px; width: 100%; text-align: left;}
.hr_3 {border: 0; color: #D0D0D0; background-color: #D0D0D0; height: 1px; width: 100%; text-align: left;}
.hr_2 {border: 0; color: #E5E5E5; background-color: #E5E5E5; height: 2px; width: 100%; text-align: left;}
h1 {text-transform:uppercase;}
.l_sm {font-size:11px;}
.l_mid_b {font-size:12px; font-weight:bold;}
.t_sm {font-size:11px; line-height:14px;}
.t_sm_1 {font-size:9px; line-height:14px;}
.l_big_b {font-size:14px; font-weight:bold;}
.sel_mid {color:#FF6000; font-size:12px;}
.sel_sm {color:#FF6000; font-size:11px;}
.buttonx {background-color:#5E8AD1; border-top: 1px solid #99BAF1; border-left:1px solid #99BAF1; border-right:1px solid #225099; border-bottom:1px solid #225099; font-size:11px; color:#FFFFFF; font-weight:bold; padding-left:5px; padding-right:5px; padding-top:3px; padding-bottom:3px;}
.buttonx_dis {background-color:#979797; border-top: 1px solid #C5C5C5; border-left:1px solid #C5C5C5; border-right:1px solid #5D5D5D; border-bottom:1px solid #5D5D5D; font-size:11px; color:#D9D9D9; font-weight:bold; padding-left:5px; padding-right:5px; padding-top:3px; padding-bottom:3px;}
.buttonx_sm {background-color:#5E8AD1; border-top: 1px solid #99BAF1; border-left:1px solid #99BAF1; border-right:1px solid #225099; border-bottom:1px solid #225099; font-size:10px; color:#FFFFFF; font-weight:bold; padding-left:2px; padding-right:2px; padding-top:2px; padding-bottom:2px;}
.buttonx_sm_lgn {background-color:#5E8AD1; border-top: 1px solid #99BAF1; border-left:1px solid #99BAF1; border-right:1px solid #225099; border-bottom:1px solid #225099; font-size:10px; color:#FFFFFF; font-weight:bold; padding:2px; margin-right:0px;}
.button_green {background-color:#83D847; border-top: 1px solid #B9E895; border-left:1px solid #B9E895; border-right:1px solid #499118; border-bottom:1px solid #499118; font-size:11px; color:#FFFFFF; font-weight:bold; padding-left:5px; padding-right:5px; padding-top:3px; padding-bottom:3px; margin-top:10px; margin-bottom:15px;}
.button_green_btm {background-color:#83D847; border-top: 1px solid #B9E895; border-left:1px solid #B9E895; border-right:1px solid #499118; border-bottom:1px solid #499118; font-size:11px; color:#FFFFFF; font-weight:bold; padding-left:5px; padding-right:5px; padding-top:3px; padding-bottom:3px; margin-top:10px; margin-bottom:5px;}
.button_green_btm[disabled="disabled"] {color:#999999;}
.button_green_btm_sm {background-color:#83D847; border-top: 1px solid #B9E895; border-left:1px solid #B9E895; border-right:1px solid #499118; border-bottom:1px solid #499118; font-size:9px; color:#FFFFFF; font-weight:bold; padding-left:1px; padding-right:1px; padding-top:1px; padding-bottom:1px; margin-top:5px; margin-bottom:5px;}
.inputx {border:1px solid #D0D0D0; background-color:#FFFFFF}
.inputx_date {border:1px solid #D0D0D0; background-color:#FFFFFF; width: 80px;}
.dropdwn_sm {border:1px solid #D0D0D0; font-size:11px; background-color:#FFFFFF; min-width:50px; max-width:328px;margin:0px 5px 0px 0px;}
.dropdwn_currency {border:1px solid #D0D0D0; font-size:11px; background-color:#FFFFFF; min-width:50px;max-width:328px;}
fieldset {background-color:#FFFFFF; border-top:1px solid #DADAD6; border-left:1px solid #DADAD6; border-right:2px solid #C2C1BA; border-bottom:2px solid #C2C1BA; padding:10px; margin-top:15px;}
legend {background-color:#4A687A; color:#FFFFFF; font-size:12px; font-weight:bold; padding-left:5px; padding-right:5px;}
.legend_label {line-height:22px;}
.mand {color:#FF0000;}
table.inside, td.inside {border-color: #b8b7b7; border-style: solid; font-size:12px;}
table.inside, td.inside_zebra {background-color:#F2F2F2;border:1px solid #b8b7b7;}
table.inside {border-width: 0 0 1px 1px; }
td.inside {margin: 0; padding: 4px; background-color: #FFF;border:1px solid #b8b7b7;}
.ins_title {font-size:11px; font-weight:bold; color:#767676; white-space:nowrap;}
.ins_title_reg {font-size:11px; color:#767676;}
.ins_title_sm {font-size:9px; color:#767676;}
.ins_title_mid {font-size:10px; color:#767676;}
.ins_header {color:#767676; font-size:12px; font-weight:bold;}
.ln_big {line-height:45px;}
.red {color:#FF0000;}
.green {color:#6AA919;}
.blue {color:#36749B;}
.wht_blck {background-color:#FFFFFF; border:1px solid #CFCFCF; margin-top:10px; margin-bottom:10px;}
.wht_blck_cont {padding:10px;}
.clearing {clear:both;}
.sm_sel {color:#FF6000;}
.txt_sm_b {font-size:11px; font-weight:bold;}


/* WELCOME */
.welcome_menu_item {background-color:#F2F2F2; border:1px solid #E8E8E8; margin-bottom:10px;}
.welcome_menu_item_cont {padding-left:7px; padding-right:7px; padding-top:7px; padding-bottom:7px; font-size:12px; font-weight:bold; text-transform:uppercase;}
.welcome_menu_item_sel {background-color:#FF6000; border:1px solid #FF6000; margin-bottom:10px;}
.wlcm_txt_menu {font-size:12px; color:#CCCCCC; margin-top:5px; margin-bottom:15px;}
.wlcm_txt_menu_spc {margin-left:10px; margin-right:10px;}
.welcome_info {font-size:12px; line-height:17px;}
.welcome_title {font-size:18px; font-weight:bold; margin-bottom:10px;}
.welcome_note {font-size:11px; font-weight:bold; color:#666666;}
.login_here {  background-color: #65B457;   width: 125px;  height: 33px;  margin-right: 10px;  text-align: center;  margin-top: 10px;}
.login_here_cont {padding:5px; font-size:12px;}
.login_here a {color:#000000;}
.wlc_aid_map {background-color:#F4F4F4; border:1px solid #CCCCCC; padding:10px; font-size:12px; width:650px; margin-left:auto; margin-right:auto;}
.wlc_aid_map_dates {font-size:11px; margin-top:10px;}
.min_max_info {font-size:11px; width:500px; margin-left:auto; margin-right:auto; text-align:left;}

/* HEADER */
.header {background-image:url(/TEMPLATE/ampTemplate/img_2/top_bg.gif); height:51px;}
.centering {width:1000px; margin-left:auto; margin-right:auto;}
.logo {padding-top:10px; color:#FFFFFF; font-size:18px; font-weight:bold; float:left;}
.amp_label {padding-top:5px;float:left;font-size:14px;}
.top_nav {float:right; color:#FFFFFF; font-size:12px; font-weight:bold;}
.top_nav a {color:#FFFFFF;}
.login_nav {float:right;  font-size:11px; padding-top:13px;}
.login_nav a {color:#000000;}
.login_label {padding-right:5px; padding-left:10px; color:#000000;}
.top_nav a {color:#FFFFFF;}
.top_sep {margin-left:10px; margin-right:10px;}
.workspace_choose {line-height:35px; font-size:17px; margin-top:25px;}

/* MENU */
.menu_item {background-color:#F2F2F2; border:1px solid #E8E8E8; width:auto; float:left; margin-right:5px;}
.menu_item_cont {padding-left:7px; padding-right:7px; padding-top:3px; padding-bottom:3px; font-size:12px; font-weight:bold; text-transform:uppercase;}
.menu_item_sel {background-color:#FF6000; border:1px solid #FF6000; width:auto; float:left; margin-right:5px;}
.menu_item_cont_sel {color:#FFFFFF; padding-left:7px; padding-right:7px; padding-top:3px; padding-bottom:3px; font-size:12px; font-weight:bold; text-transform:uppercase;}
.menu_item_cont a {text-decoration:none; color:#376091;}
.menu_arr {margin-left:5px; margin-bottom:2px;}


/* BREADCRUMP */
.breadcrump {background-image:url(/TEMPLATE/ampTemplate/img_2/bread_bg.gif); height:40px;}
.breadcrump_cont {padding-top:11px; padding-bottom:10px;}
.sec_name {font-size:12px; font-weight:bold;}
.breadcrump_sep {color:#CCCCCC; margin-left:7px; margin-right:7px; font-size:11px;}
.bread_sel {font-size:11px; font-weight:bold; color:#FF6000;}


/* CONTENT */
.word_break {word-wrap: break-word;}
.main_side {background-color:#EFEFEF; border-left:1px solid #BDBCB5; border-right:1px solid #BDBCB5; border-bottom:1px solid #BDBCB5;}
.main_side_cont {padding:10px; font-size:12px; line-height:22px;}
.tab {border-top:1px solid #BEBDB6; border-right: 1px solid #BEBDB6; border-bottom:1px solid #BEBDB6; margin-bottom:7px;}
.tab_cont {padding-top:7px; padding-bottom:7px; padding-left:7px; font-size:13px;}
.step_num {border:1px solid #CCCCCC; margin-right:3px; padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px; font-size:10px; color:#B3B3B3;}
.step_num_sel {background-color:#FF6000; margin-right:3px; padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px; font-size:11px; color:#FFFFFF; font-weight:bold;}
.tab_sel {margin-left:-1px; background-color:#EFEFEF; border-left:1px solid #EFEFEF; border-top:1px solid #BEBDB6; border-right: 1px solid #BEBDB6; border-bottom:1px solid #BEBDB6; margin-bottom:7px;}
.tab_cont_sel {padding-top:7px; padding-bottom:7px; padding-left:7px; font-size:14px; color:#FF6000; font-weight:bold;}
.step_head {background-image:url(/TEMPLATE/ampTemplate/img_2/step_head.gif);}
.step_head_lng {background-image:url(/TEMPLATE/ampTemplate/img_2/step_head_lng.gif);}
.step_head_cont {padding-left:10px; padding-top:5px; padding-bottom:5px;color:#FFFFFF; font-size:12px; font-weight:bold;}
.cont_search {background-color:#F7F7F7; border:1px solid #E0E0DC; min-height:320px;}
.cont_search_cont {padding:10px;}
.right_menu {margin-bottom:20px;}
.right_menu_header {background-image:url(/TEMPLATE/ampTemplate/img_2/blue_header.gif); width:222px; height:27px;}
.right_menu_header_cont {padding-left:10px; padding-top:6px; color:#FFFFFF; font-size:12px; font-weight:bold;}
.right_menu_box {border-left:1px solid #D0D0D0; border-right:1px solid #D0D0D0; border-bottom:1px solid #D0D0D0; margin-top:0px;background:#fff;}
.right_menu_cont {padding:10px; font-size:11px;margin-top:10px;}
.search_label {font-size:10px; color:#7F7F7F;}
.tbl_spacing {padding-bottom:5px;}
.tri {background:url(/TEMPLATE/ampTemplate/img_2/ico_tri.gif) repeat-x; list-style-position:inside; list-style:none; display:block; font-size:12px; padding-bottom:5px; padding-left:7px;width:148px;}
html.ie .tri {background:url(/TEMPLATE/ampTemplate/img_2/ico_tri.gif) repeat-x; list-style-position:inside; list-style:none; display:block; font-size:12px; padding-bottom:5px; padding-left:7px;width:160px;}
.tri_adv {background-repeat: no-repeat; list-style-position:inside; list-style:none; display:block; font-size:11px; padding-bottom:5px; padding-left:7px; margin-top:7px;}
.desktop_tab_base {border-bottom:1px solid #D0D0D0;}
.filter_tab_base {height:29px; border-bottom:1px solid #D0D0D0; background-color:#FFFFFF;}
.filter_tab {border-top:1px solid #D0D0D0; border-left:1px solid #D0D0D0; border-right:1px solid #D0D0D0; float:left; background-color:#F2F2F2;}
.desktop_tab {border-top:1px solid #D0D0D0; border-left:1px solid #D0D0D0; border-right:1px solid #D0D0D0; float:left; background-color:#F2F2F2;}
li.ui-tabs-selected.desktop_tab {border:1px solid #D0D0D0; float:left; margin-right:10px; margin-top:1px; border-bottom:#FFFFFF; background-color:#FFFFFF;}
li.ui-tabs-selected.filter_tab {border:1px solid #D0D0D0; float:left; margin-right:10px; margin-top:1px; border-bottom:#FFFFFF;	background-color:#FFFFFF;}
.tab_link {font-size:12px; font-weight:bold;}
.tab_opt {background-color:#F2F2F2;}
.tab_opt_box {border:1px solid #EBEBEB;}
.tab_opt_box_cont {padding:5px; font-size:11px; background-color:#FAFAFA;}
.tab_opt_cont {padding:5px; font-size:11px; color:#CCCCCC;}
.res_opt_cont {font-size:12px; color:#CCCCCC;}
.show_hide_setting {float:right; font-size:11px; padding:5px;}
.paging {font-size:11px; color:#CCCCCC; margin-top:10px; margin-bottom:10px;}
.paging_sel {color:#FFFFFF; background-color:#FF6000; padding:2px;}
.show_legend {float:right; font-size:11px; padding-top:9px;} 
.desktop_project_name {font-size:11px;}
.desktop_project_name_op {font-size:11px; color:#FF6000;}
.desktop_project_name_sel {background-color:#F9FFC4; border:1px solid #CCCCCC; padding:3px; font-size:11px;}
.desktop_project_count {font-size:11px;}
.desktop_project_count_sel {font-size:11px; background-color:#F9FFC4; padding:3px; border:1px solid #CCCCCC;}
.organization_box {background-color:#EFEFEF; font-size:11px; margin-bottom:5px;}
.organization_box_content {padding:10px;}
.adding_funding_to_org {background-color:#F8F8F8; border-left:1px solid #EFEFEF; border-right:1px solid #EFEFEF; border-bottom:1px solid #EFEFEF;}
.adding_funding_to_org_cont {padding:10px;}
.funding_name {background-color:#FFFFFF; border:1px solid #CCCCCC; padding:10px; margin-top:5px;}
.funding_info {background-color:#FFFFFF;padding:10px;}
.selector_type {background-color:#ECECEC; border:1px solid #D2D2D2; margin:10px;}
.selector_type_sel {background-color:#FF6000; color:#FFFFFF; border:1px solid #FF6000; margin:10px; font-weight:bold}
.selector_type_cont {padding:5px;}
.selector_count {float:right; color:#000000;}
.selector_count_sel {float:right; color:#FFFFFF;}
.selector_content {margin:10px; height:250px; overflow-y:auto; overflow-x:hidden; padding-right:20px;}
.selector_tree_1 {padding-left:15px; padding-top:5px;}
.error_login {position:absolute; top:40px; margin-left:10px; background-color:#DD0000; color:#FFFFFF; padding:3px; border:1px solid #990000;}
.opt_item {background-color:#F3F2F1; border:1px solid #C2C1C0; margin-top:10px; }
.opt_item_tree_1 {background-color:#F3F2F1; border:1px solid #C2C1C0;  margin-top:10px;}
.opt_item_cont {padding:5px;}
.tree_1 {background-image:url(/TEMPLATE/ampTemplate/img_2/tree_dot.gif); height:37px; padding-left:25px; background-repeat:no-repeat; margin-left:25px;}
.tree_2 {background-image:url(/TEMPLATE/ampTemplate/img_2/tree_dot.gif); height:37px; padding-left:25px; background-repeat:no-repeat; margin-left:75px;}
.issue_act {float:right; color:#999999;}
.rep_tree_item_1 {background-color:#E1E1E1;  border:1px solid #CECECE; padding:1px; font-size:11px; margin-left:17px; margin-top:5px; margin-bottom:5px;}
.rep_tree_item {background-color:#E1E1E1;  border:1px solid #CECECE; padding:1px; font-size:11px; margin-top:5px; margin-bottom:5px;}
.message {background-color:#F6F6F6; margin-top:10px; margin-left:21px; margin-bottom:10px; margin-right:10px; font-size:12px; line-height:18px; border:1px solid #E5E5E5;} 
.message_cont {padding:10px; font-size:11px; line-height:18px;}
.message_body {font-size:12px; padding:10px;}
.create_message {font-size:12px; padding:10px;}
.resource_label_gr {background-color:#5EA226; font-size:11px; color:#FFFFFF; padding:2px; margin-right:3px;}
.resource_label_or {background-color:#FF7800; font-size:11px; color:#FFFFFF; padding:2px; margin-right:3px;}
.resource_label_red {background-color:#FF0000; font-size:11px; color:#FFFFFF; padding:2px; margin-right:3px;}
#add_resource {display:none; margin-top:3px;}
#show_legend_pop_box {display:none; margin-top:3px; position:absolute; width:300px; padding:8px; border:1px solid #CCCCCC; background-color:#FDFFE3;}
#add_filt_btn_box {display:none; margin-top:3px;}
#add_label_btn_box {display:none; margin-top:3px;}
#show_action_box {display:none; margin-top:3px; font-size:11px;}
#show_login_pop_box {display:none; position:absolute; width:240px; padding:10px; border:1px solid #CCCCCC; background-color:#FFFFFF; z-index:9999;}
.resource_label_gr a {color:#FFFFFF;}
.resource_label_or a {color:#FFFFFF;}
.resource_label_red a {color:#FFFFFF;}
.resource_popin {position:absolute; background-color:#FFFFFF; border:1px solid #CCCCCC; padding:10px; font-size:12px; line-height:22px;}
.dashboard_header {background-color:#F0F0F0; height:80px; border-top:5px solid #4A687A; width:1000px; margin-left:auto; margin-right:auto;}
.dashboard_name {float:left; font-size:30px; font-weight:bold; color:#FFFFFF; background-color:#4A687A; margin-left:10px; padding:5px; letter-spacing:-1px; margin-right:10px;}
.dash_ico {float:left; margin-right:15px;}
.dash_ico_link {float:left; padding-top:5px;}
.dashboard_total {float:right; font-size:11px; margin-right:15px; margin-top:18px; text-align:right; line-height:22px;}
.dashboard_total_num {font-size:20px; font-weight:bold; letter-spacing:-1px;}
.dashboard_stat {font-size:11px; margin-left:10px; margin-top:10px;}
.dash_left {padding-left:8px; padding-right:8px; padding-bottom:8px; line-height:22px; font-size:11px;}
.field_text {line-height:17px;}
.dash_graph_opt {float:right; font-size:11px; margin-bottom:10px;}
.ins_box_left {background-color:#F5F5F5; border:1px solid #D0D0D0; width:768px;}
.msg_receivers {border:1px solid #D0D0D0; background-color:#FFFFFF; padding:10px; height:180px; overflow:scroll; margin-top:10px;}
.msg_grp_name {background-color:#EDEDED; font-weight:bold; padding-top:2px; height:20px;}
.msg_lbl {float:left; padding-top:2px; margin-left:3px;}
.msg_grp_mem_name {margin-left:15px; margin-top:5px; margin-bottom:5px;}
.msg_add {margin-top:5px;}
.msg_added_cont {background-color:#EDEDED; margin-top:5px; border:1px solid #D0D0D0; padding:5px; font-weight:bold;}


/* PREVIEW */
.prv_left {font-size:11px; color:#6A6A6A; padding-right:5px; padding-bottom:3px; padding-top:3px; border-bottom:1px solid #D8D8D8; }
.prv_right {font-size:11px; padding-left:5px; padding-bottom:3px; padding-top:3px; border-bottom:1px solid #D8D8D8;}
.funding {background-color:#F3F3F3; margin-top:7px; margin-bottom:7px;}
.funding_cont {padding:10px;}
.funding_det {background-color:#FFFFCC; margin-bottom:2px;}
.funding_det_cont {padding:5px; font-weight:bold;}
.funding_det_sub {border-bottom:1px solid #BABABA; padding-bottom:3px; margin-left:10px; margin-top:5px;}
.component_blk {background-color:#F3F3F3; margin-bottom:5px;}
.component_blk_cont {padding:3px 3px 3px 5px; font-weight:bold;}
.add_inf {float:right; font-size:11px; color:#929292; clear:both;}


/* FOOTER */
.footer {background-color:#8B8B8B; color:#FFFFFF; font-size:11px; margin-top:25px; padding-top:10px; padding-bottom:10px;}
.dialog {display:none;}

/* ADMIN */
.permission {width:1000px; height:35px; background-image:url(/TEMPLATE/ampTemplate/img_2/perm_bg.gif);border:1px solid #C4C2BD; margin-left:auto; margin-right:auto; margin-bottom:10px;}
.permission_sel {width:1000px; background-color:#FAFAFA; border:1px solid #C4C2BD; margin-left:auto; margin-right:auto; margin-bottom:10px;}
.permission_cont {padding:10px;}
.perm_user_info {background-color:#FAF6D3; border:1px solid #F5EEA8; margin-left:20px; margin-top:7px; margin-right:5px; margin-bottom:5px; padding:7px; font-size:11px; line-height:16px;}
.perm_workspace_info {margin-left:20px; margin-top:7px; margin-right:5px; margin-bottom:5px; font-size:11px;}
.perm_search {font-size:12px; margin-top:5px;}
.perm_legend {font-size:11px; color:#999999; line-height:16px; margin-top:5px;}
.perm_edit_user {width:500px; margin-top:20px; margin-bottom:20px;}
.perm_manage {font-size:12px;}
.perm_add {font-size:12px;}
.perm_level {font-size:11px;}
.perm_tree {padding:10px;}
.perm_tree_cont {width:95%; height:300px; overflow:scroll; background-color:#FFFFFF; padding:10px;}
.perm_tree_cont_long {width:95%; height:570px; overflow:scroll; background-color:#FFFFFF; padding:10px;}
.perm_view_cont {padding-top:10px; padding-right:10px; padding-bottom:10px;}
.perm_wrksp {height:200px; overflow:scroll; background-color:#FFFFFF; padding:10px; margin-top:5px; margin-bottom:5px;}
.perm_wrksp_det {height:300px; overflow:scroll; background-color:#FFFFFF; padding:10px; margin-top:5px; margin-bottom:5px;}
.perm_wrksp_det_short {height:200px; overflow:scroll; background-color:#FFFFFF; padding:10px; margin-top:5px; margin-bottom:5px;}
.sliderPM {font-size:12px; font-weight:bold;}
.perm_h3 {font-size:14px; font-weight:bold; text-align: center}



ul.wks_menu, 
ul.wks_menu_vertical {margin: 0px;padding: 0px;list-style-type: none;}
ul.wks_menu ul,ul.wks_menu_vertical ul {display: none;}
ul.wks_menu li {float: left;padding-left:7px;padding-right:7px;height:20px;width:auto; float:left; margin-right:5px;margin-top:5px;}
ul.wks_menu_vertical {width: 300px;}
ul.wks_menu_vertical li {float: none;}

/* -- Sub-Menus -- */
ul.wks_menu ul,ul.wks_menu_vertical ul {position: absolute;display: none;list-style-type: none;margin: 0px;padding: 0px;z-index: 10000;width: auto;background-image:url(/TEMPLATE/ampTemplate/img_2/blue_back.gif);}
ul.wks_menu ul li,ul.wks_menu_vertical ul li {float: none;margin: 0px;}
ul.wks_menu,ul.wks_menu ul,ul.wks_menu_vertical,ul.wks_menu_vertical ul {height: 20px;}
ul.wks_menu_vertical {height: auto;}
ul.wks_menu ul {height: auto;}
ul.wks_menu ul {width: 1%;}
ul.wks_menu li {}
ul.wks_menu li li {width: auto;font-size:12px; }
ul.wks_menu li a {text-decoration:none; color:#FFF;}
ul.wks_menu li.wks_menu_hover,
ul.wks_menu li.wks_menu_active {}
ul.wks_menu ul li.wks_menu_active a.wks_menu_active, 
ul.wks_menu ul li.wks_menu_hover a.wks_menu_hover {color:#FFFFFF;}


/* -- ONE PAGER START -- */
/* AUTOCOMPLETE */
span.wicket-aa { 
padding: 0px 2px 0px 0px;
display: inline-block;
margin: 1px;
border:1px solid #D0D0D0;
background-color:#FFFFFF;
}
div.wicket-aa {
        font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana;
        font-size: 12px;
        background-color: white;
        border-width: 1px;
        border-color: #cccccc;
        border-style: solid;
        padding: 2px;
        margin: 1px 0 0 0;
        text-align:left;
        white-space: nowrap;
        overflow: auto;
        max-height: 300px;
}
div.wicket-aa ul { list-style:none; padding: 2px; margin:0; }
div.wicket-aa ul li.selected { background-color: #486577; color:#ffffff; padding: 2px; margin:0; }

/* Tabs */
div.tabpanel div.tab-row ul {
	background:repeat-x scroll center bottom transparent;
	height:18px;
	margin:0;
	padding-left:5px;
	width: 360px;
}
div.tabpanel div.tab-panel {
	width: 300px;
	border: 1px solid #CCCCCC;
	font-size:10px;
}

div.tabpanel div.comment-word-break {
  /* The following styles prevent unbroken strings from breaking the layout */
  overflow: auto;
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
  -moz-binding: url('xbl.xml#wordwrap'); /* Firefox (using XBL) */
  max-width: 280px; 
  margin-top: 0px; 
  margin-bottom: 0px;
}

div.tabpanel div.tab-row li {
	display:inline;
	list-style-type:none;
	margin:0;
	padding:0;
}
div.tabpanel div.tab-row a:link, div.tabpanel div.tab-row a:visited {
	background:none repeat scroll 0 0 #F3F3F3;
	border:1px solid #CCCCCC;
	color:#666666;
	float:left;
	font-size:11px;
	line-height:12px;
	margin-right:4px;
	padding:2px 4px;
	text-decoration:none;
	margin-top:1px;
}
div.tabpanel div.tab-row li.selected a:link, div.tabpanel div.tab-row a.active:visited {
	background:none repeat scroll 0 0 #FFFFFF;
	border-bottom:1px solid #FFFFFF;
	color:#FF6000;
	margin-top:1px;
	font-size:11px;
	font-weight:bold;
}
div.tabpanel div.tab-row a:hover {
	background:none repeat scroll 0 0 #FFFFFF;
}


/* Translate tags */
div.trncontainer {
    position: relative;
    z-index: 5;
    top: 1px;
}
div.trnpanel div.trn-row ul {
    background:repeat-x scroll center top transparent;
    height:19px;
    margin:0;
    padding-left:5px;
    overflow: hidden;
}
div.trnpanel div.trn-panel {
    width: 300px;
    border: 1px solid #CCCCCC;
    font-size:10px;
}

div.trnpanel div.trn-row li {
    display:inline;
    list-style-type:none;
    margin:0;
    padding:0;
}
div.trnpanel div.trn-row a {
    background:none repeat scroll 0 0 #F3F3F3;
    border:1px solid #CCCCCC;
    float:left;
    font-size:11px;
    line-height:12px;
    margin-right:4px;
    padding:2px 4px;
    text-decoration:none;
    margin-top:1px;
}
div.trnpanel div.trn-row li.selected a {
    background:none repeat scroll 0 0 #FFFFFF;
    border-bottom:1px solid #FFFFFF;
    color:#FF6000;
    margin-top:1px;
    font-size:11px;
    font-weight:bold;
}
div.trnpanel div.trn-row a:hover {
    background:none repeat scroll 0 0 #FFFFFF;
}



.opt_item {background-color:#F3F2F1; border:1px solid #C2C1C0; margin-top:10px; }
.opt_item_tree_1 {background-color:#F3F2F1; border:1px solid #C2C1C0;  margin-top:10px;}
.opt_item_cont {padding:5px;}
.tree_1 {background-image:url(/TEMPLATE/ampTemplate/img_2/tree_dot.gif); height:37px; padding-left:25px; background-repeat:no-repeat; margin-left:25px;}
.tree_2 {background-image:url(/TEMPLATE/ampTemplate/img_2/tree_dot.gif); height:37px; padding-left:25px; background-repeat:no-repeat; margin-left:75px;}

.issue_act {float:right; color:#999999;}

/*FEEDBACK LABEL */
.feedbacklabel {
    font-weight: bold;
}
.feedbacklabel.info { 
    color: green;
}
.feedbacklabel.error {
    color: red;
}
.formcomponent.invalid {
    border: 2px solid red;
}
.formcomponent.valid {
    color: black;
}

.paris_question {background-color:#FFFFFF; border:1px solid #CCCCCC; font-weight:bold; padding-left:7px; margin-top:10px; margin-bottom:2px;}
.paris_answer {background-color:#FFFFFF; border:1px solid #E0E5EB; padding:3px; margin-bottom:5px; line-height:18px;}

.gpi_ni_indicator {background-color:#FFFFFF; border:1px solid #CCCCCC; font-weight:bold; padding-left:7px; margin-top:10px; margin-bottom:2px; font-size: 15px}
.gpi_ni_question {background-color:#FFFFFF; border:1px solid #CCCCCC; font-weight:bold; padding-left:7px; margin-bottom:2px;}
.gpi_ni_answer {background-color:#FFFFFF; padding:3px; margin: 0 5px 10px 10px;}
.gpi_ni_answer label {cursor: pointer; margin: 0 0px 0px 20px; display: block; line-height: 25px;}
.gpi_ni_answer input[type="radio"] {float:left; display: block; margin: 5px 0 0;}
.gpi_ni_indicator_error {font-weight:bold; font-size: 11px}

.sideMenuButtons {background-color:#5E8AD1; border-top: 1px solid #99BAF1; border-left:1px solid #99BAF1; border-right:1px solid #225099; border-bottom:1px solid #225099; font-size:10px; color:#FFFFFF; font-weight:bold; padding-left:5px; padding-right:5px; padding-top:3px; padding-bottom:3px; width:155px !important; overflow:hidden;}

.quickListHighlight {background-color: #F2F2F2; border-bottom: 1px solid lightgray !important; border-right: 1px solid lightgray !important; color: white;}
.padding-two-pixels{padding: 2px;}
.onepager-pic-icon{position: relative; left: -3px; top: -14px; float: right; display: none;}
.invisible-item{display: none;}
.white-item{color: white;}
.marginal-five{margin-right:5px;}
.invisible-item-hidden{visibility: hidden;}

.feedbackPanel{
	padding-left: 2px; 
	list-style-type: none; 
	font-weight:bold;
}
.feedbackPanelERROR{color: red;}
.feedbackPanelINFO{color: green;}
.wicketFloatLeft{float: left;}
.wicketFloatRight{float: right;}
.wicketComponentsDeleteButton{position: absolute;margin-top: 20px;margin-left:-25px;}
.wicketPaddingRight10{padding-right: 10px;}
.wicketPadding2{padding: 2px;}
.wicketPadding5{padding: 5px;}
.wicketMargin5{margin: 5px}
.wicketMarginLeft5{margin-left: 5px}

.quarterPanel{
    border: 1px #003366 solid;
    background: #e7e7e7;
    opacity: 50;
    z-index: 10000;
    position: absolute;
    font-size: small;
}
.wicketHidden{display: none;}
.wicketFundingBoxItem{
    min-height: 50px;
    min-width: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1px;
}
.wicketFundingRowItem{
    border-right: 1px solid #B8B7B7;
    border-bottom: 1px solid #B8B7B7;
}
.wicketClearLeft{
    clear: left;
}
.wicketClearRight{
    clear: right;
}
.holderDiv {
	clear:left;
}
.rejectButton{
	background-color:red;
}

tr.wicketFundingRowItem:nth-child(even) {}
tr.wicketFundingRowItem:nth-child(odd) {background: #FFFFFF}

.tooltip-logo { height: 14px; width: 14px;}
.tooltip-align{vertical-align: middle;}
.field-align{vertical-align: middle;}
/* -- ONE PAGER END -- */

.fundingSummary {
    margin-left: 0;
    padding-left: 0;
    display: inline;
    }
.fundingSummary li:not(:empty) {
    border-left: 1px solid #000;
    padding: 0px 5px 0px;
	}
.fundingSummary li {
	margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    display: inline;
    }
    
.fundingSummary li:first-child {
	border-left: none;
	list-style: none;
	display: inline;
}
.fundingOverviewDiv{
		padding:10px;
	    border-left: 1px solid #ccc;
	    border-right: 1px solid #ccc;
	    border-bottom: 1px solid #ccc;
}
.fundingOverviewDivNoTabs{
		border-top: 1px solid #ccc;
}
	.subscript_role {
		position:relative;
		top: 5px;
		padding-left: 3px;
		font-size: smaller;
		color: #486577;
	}
.custom-file-input {
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 8pt;
  height: 20px; 
  width: 70px;
}

.custom-file-label {
	display: inline;
	position: relative;
	top: -25px;
	left: 110px;
	text-overflow: ellipsis;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 60px;
}
.hidden-file-input {
	height: 0px;
	width: 0px;
	overflow: hidden;
}

#uploadBtn {
	/* IMPORTANT STUFF */
	overflow: hidden;
	position: relative;
	cursor: pointer;
	/* SOME CUSTOM STYLING */
	width: 100px;
	padding: 2px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid green;
	font-weight: bold;
}

#uploadBtn:hover {
	background: #83D847;
	color: black;
}

#upfile {
	height: 30px;
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 100px;
	z-index: 2;
	opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity = 0); /* IE lt 8 */
	-ms-filter: "alpha(opacity=0)"; /* IE 8 */
	-khtml-opacity: 0.0; /* Safari 1.x */
	-moz-opacity: 0.0; /* FF lt 1.5, Netscape */
}

#chooseFileLabel {
	position: relative;
	top: -11px;
}

.custom-file-input{
	box-sizing: content-box;
}
.custom-file-input p{margin: 10px 0}
.button_green_btm{
  box-sizing: content-box;
  height: 12px;
  line-height: normal;
}

.fileupload-progress .progress {
  height: auto;
  margin: 0;
}

.inputx{
    min-height: 26px;
}

.date-position {
	margin-top:-2px;
}

@-moz-document url-prefix() {
    .date-position {
        margin-top: 0px;
    }
}

.mask {
	z-index:10 !important; 
}

.yui-panel-container.shadow {
	z-index:100 !important; 
}
input[disabled], select[disabled]{
	color: #D3D3D3;
}

.resourceButtonPosition {
	float: left;
}

.close-link {
    text-align: right;
    float: right;
    margin-right: 28px;
}

.inside-header {
    text-align: left;
}

.del-funding {
    float: right;
    position: relative;
    top: -15px;
}

.ui-dialog-titlebar-close:after { content: 'X'; font-weight:bold; }

.coordinates-container{
	margin: auto;
}

.ui-widget-header {
	color: #2d5379 !important;
    background: #ededed;
}

.top-padding-10 {
    padding-top: 10px;
}
.save-gray-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 1000; /* Ensure it's above other elements */
    display: none; /* Hidden by default */
}
