.admin-content {
	direction: rtl;
}

.header-corner{
	background: url(../images/corner-l.gif) no-repeat !important;
}

.list-item-image {
  transform: rotate(180deg);
}

.form-layout td{
	padding: 5px;
}