
.radio label {
    padding-right: 20px;
}

.glyphicon-chevron-left:before {
    content: "\e080";
}

.glyphicon-chevron-right:before {
    content: "\e079";
}

#sidebar .sidebar-icons-only-button {
    text-align: left;
    padding-left: 11px;
}

#sidebar {
    direction: rtl;
    right: 0;
    left: auto;
}

#map-container #map-header {
    direction: rtl;
    right: 300px;
    left: 0;
}

.navbar-nav.navbar-right:last-child {
    margin-left: -15px;
}

.navbar-right {
    float: left !important;
}

.navbar-brand {
    float: right;
}

.datasources {
    direction: rtl;
    left: 270px;
    right: auto;
}

.legend {
    direction: rtl;
    left: 5px;
    right: auto;
}

.legend-sample.map-adm-icon {
    float: right;
}

.legend-item-label {
    float: right;
    position: relative;
}

.map-circle {
    margin-right: 19px;
}

.color-block-indicator-join {
    margin-left: 5px;
    margin-right: 5px;
    float: right;
    position: relative;
}

.leaflet-container a.leaflet-popup-close-button {
    left: 0px;
    right: auto;
}

.leaflet-control {
    margin-left: 10px;
    float: left;
}

.leaflet-right {
    margin-left: 10px;
    float: left;
    left: 0;
    right: auto;
}

.leaflet-popup-content-wrapper {
    text-align: right !important;
}

.panel-body, .panel-footer, .panel-heading {
    text-align: right !important;
}

.setting-label {
    text-align: left !important;
    padding: 0px 0px 0px 5px !important;
}

.legend-content h3 {
    text-align: right;
}

.legend-admcluster {
    text-align: right;
}

#map-container.sidebar-icons-only #map-header {
    left: 0px;
    right: 80px;
    width: auto;
}

.leaflet-popup {
    direction: rtl;
    width: max-content;
}

.leaflet-popup-content-label {
    position: relative;
    float: right;
}

.leaflet-popup-content-value {
    position: relative;
    float: right;
}

#basemap-gallery .dropdown-menu {
    right: auto;
    left: 0px
}