@import url("./amp-admin-rtl.css");

@import url("../fonts/droidarabicnaskh.css");

#mainBodyContent {
    direction: rtl;
}

body, div, p {
    font-family: Droid Arabic Naskh, Arial !important;
}

div.trnpanel div.trn-row a {
	background: none repeat scroll 0 0 #F3F3F3;
	border: 1px solid #CCCCCC;
	float: right;
	font-size: 11px;
	line-height: 12px;
	padding: 2px 4px;
	text-decoration: none;
	margin-top: 1px;
}

div.trnpanel div.trn-row ul {
    -webkit-padding-start: 3px;
    padding-right: 0;
}

.resourceButtonPosition {
    float: right;
}

.content-dir {
    direction: rtl;
}

.onepager-pic-icon {
	right: -3px;
	float: left;
}

.right_menu_header_cont {
	padding-right: 10px;
}

.custom-file-label {
    display: inline;
    position: relative;
    top: -25px;
    right: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 60px;
}

.ot-content {
    direction: rtl;
}

.wicketFloatLeft {
    float: right;
}

.wicketFloatRight {
    float: left;
}

.dropdwn_sm {
    margin: 0px 0px 0px 0px;
}

.close-link {
    text-align: left;
    float: left;
    margin-left: 28px;
}

.step_head_cont {
    padding-right: 10px;
}

.inside-header {
    text-align: right;
}

.tri {
    -webkit-transform:scale(-1,1);
    display: table-cell;
}

.tri b {
    text-align: right;
    display: table-cell;
    -webkit-transform:scale(-1,1);
    width: inherit;
}

.triText {
    text-align: right;
    display: block;
    -webkit-transform:scale(-1,1);
    width: inherit;
}

.del-funding {
    float: left;
    position: relative;
    top: -15px;
}

.yui-skin-sam ul {
    direction: rtl;
}

.yui-skin-sam li {
    text-align: right
}

.feedbackPanel {
    padding-right: 2px;
}

.feedbackPanelERROR {
    text-align: right;
}

.right_menu_empty {
    text-align: right;
    color: #376091;
}

.preview-align {
    text-align: left !important;
}

.preview-align-inverse {
    text-align: right;
}

.workspacelist{
    background: url(../images/arrow-014E86-rtl.gif) no-repeat center right #F2F2F2 !important;
    padding: 3px 3px 3px 10px !important;
    background-position: right !important;
}

.content-direction {
    direction: rtl;
}

.legends-container {
    float: left;
}

.ui-tabs .ui-tabs-nav li {
    float: right;
}

.ui-pg-table {
    direction: rtl;
}

.ui-paging-info {
    direction: rtl !important;
    text-align: left !important;
}

.search_results_header {
    float: right;
}

.search-results {
    padding-top: 10px;
}

.tri-desktop {
    background: url(/TEMPLATE/ampTemplate/img_2/ico_tri.gif) no-repeat 4px 1px !important;
}

.ui-widget-content {
    direction: rtl;
}

.ui-dialog .ui-dialog-title {
    float: right;
}

.ui-dialog-titlebar-close {
    right: unset !important;
    left: .3em;
}

.nav > li.tab {
    float: right;
}

.round-filter, .round-filter-group, .round-filter-group {
    float: right !important;
}

.ui-accordion-header-icon {
    left: unset !important;
    right:.5em !important;
}

.ui-accordion-icons {
    padding-right: 2.2em !important;
}

.preview-buttons-align {
    float: left !important;
}

.reportFloatRight {
    float: left !important;
}

#demo .yui-nav li a {
    margin-right: 0px !important;
}

.text-align {
    text-align: right !important;
}

.wizard-toolbar-steps {
    float:right;
    margin-top:10px;
}

.wizard-toolbar-buttons {
    float:left;
    z-index: 3000;
    margin-top:10px;
    margin-left:10px;
}

#wizard_container div.tab {
    border-left: 1px solid #BEBDB6 !important;
    border-right: 0px solid #BEBDB6 !important;
}

.draglist {
    text-align: right !important;
}

.wizard-columns {
    text-align: right !important;
}

.wizard-column-padding {
    padding-right: 0px;
}

.wizard-columns-list {
    padding-right: 13px;
}

.wizard-panel-buttons {
    text-align: left !important;
}

.container-close{
    right: 0px;
    left: 4px !important;
}

.hd {
    text-align:right !important;
}

.panel-one {
    float:right !important;
}

.panel-two {
    float:left !important;
}

.hierarchy-list-margin {
    margin-right: -20px;
}

.filter-item-label {
    padding: 0px 5px 0px 0px !important;
}