fieldset {position: relative; padding:20px 10px 10px 10px; margin-top:25px;}
legend {position: absolute;top: -1.1em;left: .2em;}
.tri {background-image:url(../images/ico_tri_1.gif); background-repeat: no-repeat; list-style:none; display:block; font-size:12px; padding:0px; margin:0px;}
.tri_adv {padding-left:0px;}
.fld_7 {height:1px;}

