html{font-family:arial;}
*{padding:0px;margin:0px;text-decoration:none;}
input{background:none;border:transparent;}
h1{color:#fff;font-size:14px;text-shadow: 1px 1px 5px #2b3942;}
#header h1{line-height:65px;width:400px;float:left;}
#loginbox{width:390px;min-height:205px;margin:0 auto;background:url(/TEMPLATE/ampTemplate/img_2/loginbox.jpg) no-repeat top left;margin-top:20px;padding:0px 0px 0px 0px;}
#loginbox div#footer{height:20px;width:390px;background:url(/TEMPLATE/ampTemplate/img_2/loginft.jpg) no-repeat top left;clear:both;}
#loginbox form{width:352px;margin:10px 20px 0px 18px;}
#loginbox p.userfield{display:block;width:352px;height:37px;background:url(/TEMPLATE/ampTemplate/img_2/login.gif) no-repeat top left;margin:0px 0px 0px 0px;}
#loginbox p.passfield{display:block;width:352px;height:37px;background:url(/TEMPLATE/ampTemplate/img_2/pass.gif) no-repeat top left;margin:10px 0px 5px 0px;}
#loginbox p.userfield input, #loginbox p.passfield input{float: right; width:230px;margin:3px 5px 0px 0px; height:29px;background:none;border:none;}
label{font-size:12px;font-weight:bold;color:#fff;display:block;float:left;line-height:33px;margin:0px 0px 0px 10px;}
input#amplogin{width:61px;height:32px;background:url(/TEMPLATE/ampTemplate/img_2/submit.gif);line-height:30px;color:#fff;font-size:12px;font-weight:bold;float:left;margin:0px 0px 5px 0px;}
.logintitle{background:url(/TEMPLATE/ampTemplate/img_2/ttlbg.gif) repeat-x bottom;width:352px;margin:0 auto;margin-bottom:25px;padding-top:15px;	}
.logintitle h2{padding:5px;display:inline;background:#e6eaed;margin:15px 0px 0px 0px;}
#loginbox p#remember{display:block;float:right;width:210px;font-size:11px;margin:13px 0px 0px 0px;color:#acb7bd;}
#loginbox p#remember input{float:left;}
#loginbox p#remember  label{margin:0px;padding:0px 0px 0px 10px;line-height:auto;color:#acb7bd;margin-top:-10px;}
#loginbox label#actionslabel{color:#acb7bd;text-align:left;display:block;padding:0px;margin-left:0px;clear:both;}
#loginbox h2{color:#3c5260;font-size:18px;}
#changePassword{clear:both; width:352px;margin:0 auto;}
.clear{clear:both;}
a{color:#454545;font-size:12px;font-weight:bold;}
#changePassword a{font-size:11px;color:#4c6b7d;}
.login_nav {float:right; padding-top:13px; width:500px;text-align:right;z-index:9999; height:51px;overflow:visible;margin:0px 20px 0px 0px;}
#toplnk{float:right;width:200px;}
#toplnk a{color:#777; font-size:12px;}
#loginbox li{list-style:none;}
#loginbox select#actions{width:352px;margin:0 auto;margin-top:5px;height:25px;color:#48677b;font-size:11px;}
#loginbox select option{font-weight:normal;color:#48677b;font-size:11px;}
.error{padding:5px;color:red;font-weight:bold;font-size:11px;clear:both;display:block;}
div.utils{clear:both;padding:5px 0px 10px 0px;;border-bottom:1px solid #c6d6e1;}
div.utils a{font-size:11px;color:#44596a;}
div.utils a#changePassword, div.utils a#trouble{color:#6f818d;padding:0px 25px 0px 0px;}
a#new{display:block;padding:10px 0px 10px 20px;background:url(/TEMPLATE/ampTemplate/img_2/add.gif) no-repeat left;color:#415866;}
div.addnew{clear:both;padding:5px 0px;width:340px;}
	
	/* FOOTER */
.footer {background-color: #8B8B8B;color: #FFFFFF;font-size: 11px;margin-top: 25px;padding-bottom: 10px;width:100%;padding-top: 10px; text-align:center;}
.dgf_footer {margin-top:15px; margin-bottom:15px; text-align:center; font-size:11px; color:#8B8B8B; line-height:18px;}
.dgf_logo_footer {margin-bottom:5px;}
.header {
	height: 51px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	position: relative;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-color: #e7e7e7;
}

.logo {color:#FFFFFF; font-size:18px; font-weight:bold; float:left;padding:5px 0px 0px 0px;}
.logo a {color:#FFFFFF; font-size:18px; font-weight:bold;}
.amp_label {
	padding-top: 10px;
	font-size: 14px;
	overflow-y: hidden;
	max-height: 40px;
	max-width: 25em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #777;
}
div.footer {
	margin-top: 15px;
}
.fade {
	display: none;
}