   .yui-content *{font-size:11px !important;}
	#demo .yui-nav, #fundingTabs .yui-nav, #indicatorTabs .yui-nav{

	}
	#demo .yui-nav li, #fundingTabs .yui-nav li, #indicatorTabs .yui-nav li {
		margin-right:0;
 	}

#demo .yui-content {
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #006699;
}
#fundingTabs .yui-content, #indicatorTabs .yui-content {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
}
#fundingTabs .yui-nav li a, #indicatorTabs .yui-nav li a {
			padding: 2px 6px 2px 5px; 
	}
	
	#demo .yui-nav li a, #fundingTabs .yui-nav li a, #indicatorTabs .yui-nav li a {
			border-top:1px solid #D0D0D0;
			border-left:1px solid #D0D0D0;
			border-right:1px solid #D0D0D0;
			float:left;
			cursor:pointer; 
			text-decoration: none; 
			font-size: 11px; 
			color:#376091;
			font-weight: bold;
			background-color: #EBEBEB;
			margin:0pt 5px 0pt 0pt;
			-moz-border-radius-topleft:5px;
			-moz-border-radius-topright:5px;
			border-top-left-radius:5px;
			border-top-right-radius:5px;
			/* background:#3754A1 url(/TEMPLATE/ampTemplate/images/tableftcornerunsel.gif) no-repeat scroll left top; */
	}
	
	#demo .yui-nav li a, #fundingTabs .yui-nav li a, #indicatorTabs .yui-nav li a{
			float:left;
			cursor:pointer; 
			text-decoration: none; 
			font-size: 12px; 
			font-weight: bold;
			/* background:#222E5D url(/TEMPLATE/ampTemplate/images/tableftcorner.gif) no-repeat scroll left top; */
			color: #FF6000;
			background-color: #FFFFFF;
	}
	#demo li a div, #fundingTabs li a div, #indicatorTabs li a div {
			/* background:url(/TEMPLATE/ampTemplate/images/tabrightcornerunsel.gif) no-repeat scroll right top; */
			padding:  0.6em 1em;
	}
		
	#demo li.selected a div{ 
			/* background:url(/TEMPLATE/ampTemplate/images/tabrightcorner.gif) no-repeat scroll right top; */
			/* padding:  0.7em 2em;*/
	}
	#demo .yui-nav li a:hover {
	   /* background: #455786 url(/TEMPLATE/ampTemplate/images/tableftcornerhover.gif) left top no-repeat;   */
	}
	
	#demo .yui-nav li a:hover div {
	    /* background: url(/TEMPLATE/ampTemplate/images/tabrightcornerhover.gif) right top no-repeat;   */
	}
	#demo .yui-content, #demo .yui-content  {
		border:1px solid #CCCCCC;
	}
	#fundingTabs .yui-nav li a,#demo .yui-nav li a, #indicatorTabs .yui-nav li a {
		color: #376091;
		font-weight: bold;
		background-color: #EBEBEB;
	}
	#fundingTabs .yui-nav li.selected a, #demo .yui-nav li.selected a, #indicatorTabs .yui-nav li.selected a{
		color: #FF6000;
		font-weight: bold;
		background-color: #ffffff;
	}

	#fundingTabs .yui-nav li.error a, #indicatorTabs .yui-nav li.error a {
		border: 1px solid red;
	}	
.ins_header {color:#767676; font-size:12px; font-weight:bold;}
hr {border: 0; color: #E5E5E5; background-color: #E5E5E5; height: 1px; width: 100%; text-align: left;}
	