tr.firstLevel, td.firstLevel {
	background:#8DB4E3; 
	border-bottom: black 1px solid;
	border-right: none;
	padding-left: 5px;
	padding-right: 3px;
}

tr.secondLevel, td.secondLevel {
	background: #B6DDE8;
	border-bottom:#E2E2E2 1px solid;
	border-right:#B6DDE8 1px solid;
	padding-left: 5px;
	padding-right: 3px;
}

tr.thirdLevel, td.thirdLevel {
	background: #DBEEF3;
	border-bottom:#E2E2E2 1px solid;
	border-right:#DBEEF3 1px solid;
	padding-left: 5px;
	padding-right: 3px;
	width: 170px;
}

tr.oddActivity {
	
}

td.hierarchyCell{
}

tr.reportHeader, td.reportHeader {
	background-color: #313131;
	color: white;
	border-bottom:white 1px solid;
	border-right:white 1px solid;
	padding-left: 2px; 
	padding-right: 2px;
	font-weight: normal;
	font:12px Arial;
	text-align: center;
	cursor: pointer;
	
}

table.html2ReportTable {
	border-collapse: collapse;
}

.clsTableCellDataHtml {
    border-bottom: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    color: black;
    cursor: default;
    font: 12px "Arial";
}

