tr.firstLevel, td.firstLevel {
	background:#BFC9CE; 
	border-bottom: black 1px solid;
	border-right: none;
	padding-left: 5px;
	padding-right: 3px;
}

tr.secondLevel, td.secondLevel {
	background: #D6DCDF;
	border-bottom:#E2E2E2 1px solid;
	border-right:#B6DDE8 1px solid;
	padding-left: 5px;
	padding-right: 3px;
}

tr.thirdLevel, td.thirdLevel {
	background: #E9EBED;
	border-bottom:#E2E2E2 1px solid;
	border-right:#DBEEF3 1px solid;
	padding-left: 5px;
	padding-right: 3px;
	width: 170px;
}

tr.oddActivity {
	
}

td.hierarchyCell{
}

tr.reportHeader, td.reportHeader {
	background-color: #B4C0C6;
	color: #000000;
	border-bottom:white 1px solid;
	border-right:white 1px solid;
	padding-left: 2px; 
	padding-right: 2px;
	font-weight: normal;
	font:11px Arial;
	text-align: center;
	cursor: pointer;
	font-weight:bold;
	
}

table.html2ReportTable {
	border-collapse: collapse;
}

.clsTableCellDataHtml {
    border-bottom: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    color: black;
    cursor: default;
    font: 12px "Arial";
}

