.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin:0px; border-bottom: 0 !important; padding: 0; white-space: nowrap;  border-top-left-radius:5px; border-top-right-radius:5px;-moz-border-radius-topleft:5px; -moz-border-radius-topright:5px;margin:0px 2px 0px 0px;border-right:1px solid #D0D0D0;}
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em .9em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; color:#FF6000;}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 10px; background: none; border-left: solid 1px #D0D0D0; border-right: solid 1px #D0D0D0; border-bottom: solid 1px #D0D0D0; background-color:#FFFFFF;}
.ui-tabs .ui-tabs-hide { display: none !important; }
.ui-tabs .ui-tabs-nav li.last_tab{border-right:1px solid #D0D0D0;}
.ui-tabs .ui-tabs-nav li.ui-state-active{top: 0px; padding: 0px, 0px, 1px, 0px;}
#tabs .ui-widget-header {
border: none;
padding: none;
margin: none;
border-bottom: solid 1px #D0D0D0;
}

#tabs .ui-corner-top {

}

#tabs.ui-widget-content {
border: none;
}

#tabs .tab_link {
font-family: Arial;
font-size:12px;
font-weight:none;
}