<li class="geo_relevance fifty">
	<%= select_tag "provinces[]", %{<option>#{t('options.national')}</option>} +
			options_from_collection_for_select(Province.ordered, :id, :name, geo_relevance.andand.id),
			:class => "dynamic_select parent large" %>
	<br />
	
	<%= select_tag "project[district_ids][]",
			option_groups_from_collection_for_select(Province.list, :districts, :name, :id, :name, @project.district_ids),
			:multiple => true, :class => "dynamic_select child large", :style => "height: 200px" %>
	
	<%= link_to_function t('projects.delete_associated'), %{
			if ($('.geo_relevance').length > 1) {
				$(this).parents('.geo_relevance').remove();
			}
		}
	%>
</li>