<div class="sector_relevance" style="padding-left:10px;border-bottom:1px dashed #CCCCCC;">
		<%= f.collection_select :dac_sector_id, DacSector.ordered, :id, :name_with_code, 
				{ :prompt => ll(:options, :prompt) }, :class => 'dynamic_select parent large' %>
		
		<%= f.related_collection_select :crs_sector_id, :dac_sector_id, 
				DacSector.ordered, :'crs_sectors.ordered', :name_with_code, :id, :name_with_code, 
				{ :prompt => t('projects.no_subsector'), :label => false }, :class => 'dynamic_select child large' %>
				
		<%= f.text_field :amount %>

<br/>
	<%= f.remove_link t('actions.delete') %>
	
</div>