
.generic-tooltip {
    -webkit-box-shadow: 0 0 7px 2px rgba(204, 204, 204, 0.38);
    box-shadow: 0 0 7px 2px rgba(204, 204, 204, 0.38);
    border: 1px solid #e6eaee;
    background-color: #ffffff;
    padding: 0;
    width: 250px;
    text-align: left !important;

}

.generic-tooltip .inner .percentage {
    font-weight: 600;
    padding-left: 10px;
}

.generic-tooltip .tooltip-header {
    color: #000000;
    font-size: 12px;
    opacity: 0.7;
    padding: 2px;
}

.generic-tooltip .inner .row {
    color: black;
    font-size: 14px;
}
