
.generic-tooltip {
    -webkit-box-shadow: 0 0 7px 2px rgba(204, 204, 204, 0.38);
    box-shadow: 0 0 7px 2px rgba(204, 204, 204, 0.38);
    border: 1px solid #e6eaee;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 0px;
    width: 180px;
    text-align: left !important;
}

.generic-tooltip .formattedValue .generic-tooltip .currency {
    font-size: 14px;
}
.generic-tooltip .currency {
    margin-left: 5px;
}

.generic-tooltip .formattedValue {
    font-weight: bold;
    margin-left: 10px;
}
.generic-tooltip .of-total{
    margin-left: 10px;
}

.generic-tooltip .tooltip-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 7px;
}

.generic-tooltip .grey {
    background-color: lightgrey;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.generic-tooltip .inner {
    color: black;
    font-size: 14px;
}
.generic-tooltip .element{
    padding: 5px;
}
