/* sidebar filters */
.sidebar-filter-wrapper .panel {
    border-bottom: 1px solid #273142;
    border-left: none;
    border-right: none;
    border-top: 1px solid #273142;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
}

.sidebar-filter-wrapper .panel-heading {
    background-color: #223f67;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6bm9uZTtzdHJva2U6Izc5OERBRDtzdHJva2Utd2lkdGg6MzA7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO30KPC9zdHlsZT4KPHBvbHlsaW5lIGNsYXNzPSJzdDAiIHBvaW50cz0iMTEyLDE4NCAyNTYsMzI4IDQwMCwxODQgIi8+Cjwvc3ZnPgo=");
    background-position: 92% center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    color: #798dad;
    padding: 20px;
}

.sidebar-filter-wrapper .panel-heading:hover {
    background-color: #22569e;
    color: #ffffff;
}

.sidebar-filter-wrapper .panel-title {
    font-size: 14px;
    padding-left: 30px;
}

.sidebar-filter-wrapper .panel-title.sector {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMDAgMTAwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6bm9uZTtzdHJva2U6I0RERTVFRDtzdHJva2Utd2lkdGg6MjtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cjwvc3R5bGU+CjxnPgoJPGNpcmNsZSBjbGFzcz0ic3QwIiBjeD0iNTAuNSIgY3k9IjMzLjUiIHI9IjkiLz4KCTxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik01MC4yLDg0LjZMMjguNCw1M2MtOC4yLTEwLjktNy4xLTI5LDIuNS0zOC42bDAsMGMxMC43LTEwLjcsMjgtMTAuNywzOC43LDBsMCwwQzc5LjIsMjQsODAuMyw0Mi4yLDcyLjEsNTMKCQlMNTAuMiw4NC42eiIvPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTMyLjUsNzEuMUMxNy40LDcyLjksNi45LDc3LjgsNi45LDgyLjRjMCw2LjIsMTkuNSwxMS4zLDQzLjYsMTEuM3M0My42LTUuMSw0My42LTExLjMKCQljMC00LjYtMTAuNS05LjUtMjUuNi0xMS4zIi8+CjwvZz4KPC9zdmc+Cg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 17px 17px;
}

.sidebar-filter-wrapper .panel-title.support {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMDAgMTAwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6bm9uZTtzdHJva2U6I0RERTVFRDtzdHJva2Utd2lkdGg6MjtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cjwvc3R5bGU+CjxnPgoJPGxpbmUgY2xhc3M9InN0MCIgeDE9IjUxLjEiIHkxPSI2MC42IiB4Mj0iMzYuNSIgeTI9IjYwLjYiLz4KCTxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik05Mi42LDU0LjhjMS4yLTEsMS40LTIuNywwLjUtMy45Yy0xLjktMi42LTMuNC0zLjItMTAsMC4ybC0xMy4xLDhjLTQsMi4xLTE0LjUsMS41LTE5LDEuNQoJCWMwLDAsMTAuNywwLjcsNi40LTUuNmMtMi4xLTMuMi01LjgtNC45LTkuNi00LjloLTUuOWwwLDBjLTMuNCwwLTYuOC0xLTkuNS0zLjFjLTYuNC00LjgtMTguNi00LjQtMTguNi00LjR2MzYuMUgzNWwwLDAKCQljMywwLDYtMC4yLDktMC43bDE5LjYtM2MwLjcsMCwxLjMtMC4xLDEuOS0wLjJsMCwwYzEuNi0wLjIsMy0xLDQuMi0yLjFMOTIuNiw1NC44eiIvPgoJPHJlY3QgeD0iNi40IiB5PSIzOCIgY2xhc3M9InN0MCIgd2lkdGg9IjcuNSIgaGVpZ2h0PSI0NS4yIi8+Cgk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzAuNSw2NS4xYzAtMy4zLDIuNy00LjUsNi00LjUiLz4KCTxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0zMi42LDQ2LjljMi43LDIuMSw2LjEsMy4xLDkuNSwzLjFINDhjMy44LDAsNy40LDEuOCw5LjYsNC45YzMuMiw0LjgtMi4xLDUuNi00LjksNS42CgkJYzUsMC4xLDEzLjksMC40LDE3LjUtMS41bDIuMy0xLjRjMi0zLjksMy4yLTguMiwzLjItMTIuOWMwLTE1LjQtMTIuNS0yNy44LTI3LjgtMjcuOEMzMywxNi45LDIxLDI4LjQsMjAsNDIuOAoJCUMyNCw0My4zLDI5LjEsNDQuNCwzMi42LDQ2Ljl6Ii8+Cgk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNNTAsMjcuNWMxLjMtMS4zLDItMC4yLDMtMS41czIuMy0xLjEsMy0xLjVjMC44LTAuNCwwLjMtMSwxLjUtMS41cy0wLjItMS40LDEuNS0xLjVzMC43LDEuNCwxLjctMC4xCgkJYzAuMy0wLjQsMC40LTAuNywwLjMtMWMtNC0yLjItOC41LTMuNC0xMy4zLTMuNGMtNC45LDAtOS41LDEuMy0xMy42LDMuNmMwLjksMC43LDIuNCwxLjksMi4zLDIuNWMtMC4yLDAuOC0yLjQsMC44LDAsMS41CgkJczMuOC0wLjgsNiwwYzIuMywwLjgsMy4xLDEuMywzLDEuNWMwLDAtMC40LDEuOSwxLjYsMS40QzQ5LDI2LjksNDguNywyOC44LDUwLDI3LjV6Ii8+Cgk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMjksMzhjLTEtMS4zLTEuNS00LjUtMS41LTQuNUwyNiwyOWMwLDAtMC4yLTAuNC0wLjQtMC45Yy0zLjEsNC4yLTUuMSw5LjItNS41LDE0LjhjMi44LDAuMyw2LjEsMC45LDksMi4xCgkJYzAuMi0wLjgsMC45LDAsMS41LTFjMC43LTEuMS0wLjEtMC45LDAtM0MzMC42LDM4LjksMzAsMzkuMywyOSwzOHoiLz4KCTxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik02OS42LDQ3YzEtMi4zLDAuMy0xLjgsMC0zcy0wLjgtMi40LTEuNS00LjVjLTAuNy0yLjIsMC4xLTEuOCwwLTZzMC0zLDAtM3MwLjMtMS41LDAuOC0zLjgKCQljLTAuNC0wLjQtMC44LTAuOS0xLjItMS4zYy0yLTAuNC00LjEtMC45LTQuMS0wLjlzLTAuOCwxLjktMywzYy0yLjMsMS4xLTAuOSwyLjItMywzcy00LjUsMy00LjUsM2MwLjIsMC40LDAuMSwwLjUsMCwwLjYKCQljLTEuMS0wLjUtMi41LTEtMy0wLjZjLTAuOCwwLjYtNC41LDAtNC41LDBzLTAuMS0yLjEtMS41LDBzLTIuNiwwLjgtMywzczEsMi45LDAsM3MtMS44LDEuNC0xLjUsMS41YzUsMS40LDIuNSwxLjQsNiwxLjUKCQlzNS41LTAuNCw2LDBjMC42LDAuNC0wLjUtMC4zLDEuNSwwYzEuNCwwLjIsMS45LDEuMiwyLjQsMWMwLjEsMC4yLDAuMiwwLjMsMC42LDAuNWMxLjYsMC42LTAuOC0wLjQsMywxLjVzMy45LDAuNCw0LjUsMS41CgkJYzAuNywxLjEtMC4xLDAuMywxLjUsMS41czEuNSwxLjcsMywxLjVDNjcuOCw0Ny45LDY4LjYsNDkuMyw2OS42LDQ3eiIvPgo8L2c+Cjwvc3ZnPgo=");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.sidebar-filter-wrapper .panel-title.download {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMDAgMTAwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6bm9uZTtzdHJva2U6I0RERTVFRDtzdHJva2Utd2lkdGg6MjtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cjwvc3R5bGU+CjxnPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTg2LjMsOTAuMUgxNC44Yy0wLjIsMC0wLjQtMC4xLTAuNC0wLjNMNyw0MC45YzAtMC4yLDAuMi0wLjUsMC40LTAuNWg4Ni4zYzAuMiwwLDAuNCwwLjIsMC40LDAuNWwtNy40LDQ4LjgKCQlDODYuNiw4OS45LDg2LjUsOTAuMSw4Ni4zLDkwLjF6Ii8+Cgk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNODguMiw0MC40VjE3LjVjMC0wLjYtMC41LTEuMi0xLjItMS4ySDQwLjdjLTAuNCwwLTAuOC0wLjItMS0wLjZsLTMuOC02LjRjLTAuMi0wLjMtMC42LTAuNi0xLTAuNkgxNC4xCgkJQzEzLjUsOC44LDEzLDkuMywxMywxMHYzMC40SDg4LjJ6Ii8+Cgk8cmVjdCB4PSIxNy41IiB5PSIzNC40IiBjbGFzcz0ic3QwIiB3aWR0aD0iNjYuMiIgaGVpZ2h0PSI2Ii8+Cgk8cmVjdCB4PSIxOSIgeT0iMjkuOSIgY2xhc3M9InN0MCIgd2lkdGg9IjYzLjIiIGhlaWdodD0iNC41Ii8+Cgk8cmVjdCB4PSIyMC41IiB5PSIyNS40IiBjbGFzcz0ic3QwIiB3aWR0aD0iNjAuMiIgaGVpZ2h0PSI0LjUiLz4KPC9nPgo8L3N2Zz4K");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 17px 17px;
}

/* horizontal filters */
.h-filter-wrapper .inner {
    padding-left: 20px;
    padding-right: 20px;
}

.horizontal-filter .btn {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6bm9uZTtzdHJva2U6I0ZGRkZGRjtzdHJva2Utd2lkdGg6NDg7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO30KPC9zdHlsZT4KPHBvbHlsaW5lIGNsYXNzPSJzdDAiIHBvaW50cz0iMTEyLDE4NCAyNTYsMzI4IDQwMCwxODQgIi8+Cjwvc3ZnPgo=");
    background-position: 95% center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-color: #22569e;
    color: #ffffff;
    font-weight: bold;
    outline: none;
    text-align: left;
    width: 100%;
}

.horizontal-filter .btn[aria-expanded="false"] {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6bm9uZTtzdHJva2U6I0ZGRkZGRjtzdHJva2Utd2lkdGg6NDg7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO30KPC9zdHlsZT4KPHBvbHlsaW5lIGNsYXNzPSJzdDAiIHBvaW50cz0iMTEyLDE4NCAyNTYsMzI4IDQwMCwxODQgIi8+Cjwvc3ZnPgo=");
}

.horizontal-filter .btn[aria-expanded="true"] {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6bm9uZTtzdHJva2U6I0ZGRkZGRjtzdHJva2Utd2lkdGg6NDg7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO30KPC9zdHlsZT4KPHBvbHlsaW5lIGNsYXNzPSJzdDAiIHBvaW50cz0iNDAwLDMyOCAyNTYsMTg0IDExMiwzMjggIi8+Cjwvc3ZnPgo=");
}

.horizontal-filter .btn .select-count {
    color: #cccccc;
    font-weight: normal;
}

.horizontal-filter .filter-list ul {
    list-style: none;
    padding: 0;
}

.horizontal-filter .filter-list .well {
    border-radius: 0;
}

.horizontal-filter .filter-list .well .well-inner {
    min-height: 30px;
    max-height: 90px;
    overflow: auto;
    width: 100%;
}

/* custom checkbox */
.horizontal-filter .filter-list .filter-list-inner input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.horizontal-filter .filter-list .filter-list-inner label {
    cursor: pointer;
    display: inline-block;
    padding: 0 0 0 20px;
    position: relative;
    font-size: 11px;
}

.horizontal-filter .filter-list .filter-list-inner label:before,
.horizontal-filter .filter-list .filter-list-inner label:after {
    display: block;
    height: 15px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 15px;
}

.horizontal-filter .filter-list .filter-list-inner label:before {
    border: 2px solid #cccccc;
    border-radius: 20%;
    content: " ";
}

.horizontal-filter .filter-list .filter-list-inner input[type="checkbox"] + label:after {
    content: "";
    background-color: #2e6da4;
    line-height: 1.5;
    text-align: center;
}

.horizontal-filter .filter-list .filter-list-inner input[type="checkbox"]:checked + label:before {
    background: #eeeeee;
    border-color: #cccccc;
}

.horizontal-filter .filter-list .filter-list-inner input[type="checkbox"] + label:after {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.horizontal-filter .filter-list .filter-list-inner input[type="checkbox"]:checked + label::after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.horizontal-filter .filter-list .filter-list-inner input[type="checkbox"]:checked + label {
    color: #22569e;
}

.horizontal-filter .filter-list .filter-list-inner label::before,
.horizontal-filter .filter-list .filter-list-inner label::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

/* carousel */
.carousel-filters-wrapper {
    height: 50px;
}

.carousel-filters-wrapper .infinite-carousel-dots {
    /* display: none; */
}

.country-search-wrapper {
    padding: 0;
}

.country-search-wrapper .country-search-content {
    position: absolute;
    width: 100%;
}

.country-search-wrapper .country-search-content .well {
    border-radius: 0;
    height: 100%;
    position: fixed;
    width: 100%;
}

.country-search-wrapper .btn {
    background-color: #223f67;
    border: 1px solid #223f67;
    border-radius: 0;
    color: #798dad;
    font-size: 13px;
    height: 60px;
    margin-top: -12px;
    outline: none;
    width: 100%;
}

.InfiniteCarousel {
    margin-top: -12px;
}

.InfiniteCarouselArrowIcon {
    border: solid #4374c7 !important;
    border-width: 0 2px 2px 0 !important;
    padding: 3px !important;
}

.InfiniteCarouselSlide > div {
    cursor: pointer;
    padding-bottom: 3px;
    padding-top: 8px;
}

.InfiniteCarouselSlide:hover {
    background-color: #223f67;
}

.InfiniteCarouselSlide > div.selected {
    background-color: #223f67;
}

.InfiniteCarouselSlide span {
    color: #ffffff;
    display: block;
    font-size: 10px;
    text-align: center;
}

.InfiniteCarouselSlide img {
    display: block;
    height: auto;
    margin: 0 auto 5px auto;
    width: 40px !important;
}

.autocomplete-box {
    padding-bottom: 5px;
}

.autocomplete-box input {
    border: 1px solid #22569e;
    color: #2b4767;
    padding: 4px;
    background: #f8f8f8;
    border-radius: 3px;
    width: 95%;
}

.autocomplete-box input:focus {
    outline: 2px solid #22569e;
}

.autocomplete-box .clear {
    margin-left: -15px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.filter-list-inner .title {
    color: #9f9f9f;
    font-size: 11px;
}

.select-all-none input {
    position: absolute;
    visibility: hidden;
}

.select-all-none label {
    font-size: 10px;
    cursor: pointer;
}

.select-all-none {
    border-bottom: 1px solid #e6eaee;
    height: 30px;
    line-height: 30px;
    padding: 2px 10px;
}

.select-all-none .select-all.all {
    border-right: 1px solid #e6eaee;
    margin-right: 10px;
    padding-right: 10px;
}

.well-inner .filter-list-inner .title {

}

.unselected > .row,
.selected > .row {
    margin-right: 0px;
    margin-left: 0px;
}

.select-all-none input + label {
    font-weight: 500;
}

.select-all-none input:checked + label {
    font-weight: 700;
}
