/*
Copyright DHTMLX LTD. http://www.dhtmlx.com
You allowed to use this component or parts of it under GPL terms
To use it on other terms please contact us at sales@dhtmlx.com
*/

.dhx_cal_event div{
	background-color:#FFE763;
	border:1px solid #B7A543;
	color:#887A2E;
	overflow:hidden;
	width:100%;
	
	font-family:Tahoma;
	font-size:8pt;
}
.dhx_cal_event .dhx_header{
	height:1px; 
	margin-left:1px; 
	border-width:1px 1px 0px 1px;
	cursor:pointer;
}
.dhx_cal_event .dhx_title{
	height:12px;
	border-width:0px 1px 1px 1px;
	border-bottom-style:dotted;
	
	font-size:7pt;
	font-weight:bold;
	text-align:center;
	
	background-image:url(bg_close.png);
	background-position:right;
	background-repeat:no-repeat;
	cursor:pointer;
}
.dhx_cal_event .dhx_body{
	border-width:0px 1px 1px 1px;
	padding:5px;
}
.dhx_cal_event .dhx_footer{
	height:1px; 
	margin-left:2px; 
	border-width:0px 1px 1px 1px;
	cursor:s-resize;
}
.dhx_cal_event_line{
	background-color:#FFE763;
	border:1px solid #B7A543;
	font-family:Tahoma;
	font-size:8pt;
	height:18px;
	padding-left:10px;
	color:#CCCCCC;
	cursor:pointer;
	overflow:hidden;
}
.dhx_cal_event_clear{
	font-family:Tahoma;
	font-size:8pt;
	height:13px;
	padding-left:2px;
	color:#887A2E;	
	white-space:nowrap;
	overflow:hidden;
	cursor:pointer;
}
div.dhx_cal_editor{
	background-color:#FFE763;
	border:1px solid #B7A543;
	border-top-style:dotted;
	z-index:999;
	position:absolute;
	overflow:hidden;
}
textarea.dhx_cal_editor{
	width:100%; 
	height:100%;
	border:0px solid black;
	margin:none;
	padding:none;
}
div.dhx_menu_head{
	background-image:url(imgs/controls.gif);
	background-position: 0px -43px;
	width:10px; height:10px;
	margin-left:5px; margin-top:1px;
	border:none;
	cursor:default;
}
div.dhx_menu_icon{
	background-image:url(imgs/controls.gif);
	width:20px; height:20px;
	margin-left:-5px; margin-top:0px;
	border:none;
	cursor:pointer;
}
div.icon_details{
	background-position: 0px 0px;
}
div.icon_edit{
	background-position: -22px 0px;
}
div.icon_save{
	background-position: -62px 0px;
}
div.icon_delete,div.icon_cancel{
	background-position: -42px 0px;
}