<span class="templateBugWorkaround">
  <small data-i18n="amp.gis:subtitle-export-copypaste">Copy and paste this link to share this map</small>

  <div class="form-group">
    <div class="input-group">
      <input class="form-control share-url" placeholder="Saving, please wait..." />
      <a href="#" class="btn btn-sm input-group-addon"
          title="Click to copy link"
          data-toggle="tooltip"
          data-placement="right">
        <span class="glyphicon glyphicon-link"> </span>
      </a>
    </div>
  </div>
</span>
