<div class="container-fluid">
    <p>
    <div class="form-group">
        <button class="btn btn-sm  btn-block btn-success gis-tool gis-tool-share">
            <span class="glyphicon glyphicon-link"></span> <span data-i18n="amp.gis:subtitle-share">Share</span>
        </button>
        <button class="btn btn-sm  btn-block btn-success gis-tool gis-tool-img">
            <span class="glyphicon glyphicon-download"></span> <span data-i18n="amp.gis:download-image">Download Image</span>
        </button>
    </div>

    <div class="gis-tool-form gis-tool-share-form">
    </div>
    <div class="alert alert-danger" role="alert" style="display: none;">
        <button type="button" class="close">x</button>
        <strong><span data-i18n="amp.gis:error">Error</span>: </strong><span data-i18n="amp.gis:error-message">There was an error trying to download image, please try again</span>
    </div>
    </p>
</div>
