<% @user.password = @user.password_confirmation = nil %>
<%= error_messages_for :user %>

<h2><%= header t('.title') %></h2>
<%= render :partial => 'form' %>

<p><b><%= link_to t('.back'), list_path %></b>&nbsp;</p>