<% @user.password = @user.password_confirmation = nil %>
<%= error_messages_for :user %>

<h2><%= lc(:title) %></h2>
<%= render :partial => 'form' %>

<p><b><%= link_to ll(:actions, :back), list_path %></b>&nbsp;</p>