<div class="layer-heading-container">
  <label>
    <input type="checkbox" />
    <h4>Point Layers</h4>
  </label>
  <a href="#layer-info" class="layer-info"
    data-toggle="popover"
    data-container="body"
    data-placement="right"
    data-trigger="click"
         title="Info about Point Layers"
    data-content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
    <span class="glyphicon glyphicon-info-sign"></span> info
  </a>
</div>

<div class="container-fluid">
  <div class="radio">
    <label>
      <input type="radio" name="optionsPoints" id="optionsAggregated" value="aggregated" checked>
      Projects by Region / District
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="optionsPoints" id="optionsLocations" value="locations">
      Projects by Locations
    </label>
  </div>
</div>


<div class="layer-heading-container">
  <label>
    <input type="checkbox" />
    <h4>Area Layers</h4>
  </label>
  <a href="#layer-info" class="layer-info"
    data-toggle="popover"
    data-container="body"
    data-placement="right"
    data-trigger="click"
         title="Info about Area Layers"
    data-content="Lorem ipsum dolor sit amet, in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
    <span class="glyphicon glyphicon-info-sign"></span> info
  </a>
</div>
<div class="container-fluid">
  <div class="radio">
    <label>
      <input type="radio" name="optionsLayers" id="optionsFunding" value="funding" checked>
      Projects Funding
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="optionsLayers" id="optionsPoverty" value="poverty">
      Poverty
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="optionsLayers" id="optionsMalnutrition" value="malnutrition">
      Malnutrition
    </label>
  </div>
</div>
