<div id='point-selector'></div>

<div class="layer-heading-container">
  <label>
    <h4>
      <input type="checkbox" id="indicatorLayers" />
      Indicator Layers
    </h4>
  </label>
  <a href="#layer-info" class="layer-info"
    data-toggle="popover"
    data-container="body"
    data-placement="right"
    data-trigger="click"
    data-content="Enable a layer of indicators.">
    <span class="glyphicon glyphicon-info-sign"></span>
  </a>
</div>
<div class="container-fluid indicator-selector" style="display:none;">
  <!-- populated by indicator layers -->
</div>
