<h4><label><input type="checkbox"> Point Layers</label></h4>
<div class="container-fluid">
  <div class="radio">
    <label>
      <input type="radio" name="optionsPoints" id="optionsAggregated" value="aggregated" checked>
      Projects by Region / District
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="optionsPoints" id="optionsLocations" value="locations">
      Projects by Locations
    </label>
  </div>
</div>


<h4><label><input type="checkbox"> Area Layers</label></h4>
<div class="container-fluid">
  <div class="radio">
    <label>
      <input type="radio" name="optionsLayers" id="optionsFunding" value="funding" checked>
      Projects Funding
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="optionsLayers" id="optionsPoverty" value="poverty">
      Poverty
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="optionsLayers" id="optionsMalnutrition" value="malnutrition">
      Malnutrition
    </label>
  </div>
</div>
