<div class="layer-heading-container">
  <label>
    <h4>
      <input type="checkbox" id="point-layers"/>
      Point Layers
    </h4>
  </label>
</div>

<div class="container-fluid point-options" style="display:none;">
  <div class="radio">
    <label>
      <input type="radio" name="optionsPoints" id="optionsAggregated" value="aggregated"  checked>
      Aggregated Projects   
      <a href="#layer-info" class="layer-info"
        data-toggle="popover"
        data-container="body"
        data-placement="right"
        data-trigger="click"
        data-content="Projects will be clustered by admin regions.">
        <span class="glyphicon glyphicon-info-sign"></span>
      </a>
    </label>
  </div>
  <div class="aggregate-group radio-group">
    <!-- TODO: dynamically generate based on ADMs available... -->
    <div class="radio">
      <label>
        <input type="radio" name="optionsADM" id="optionsADMByADM1" value="aggregate-adm1" class="amp-uses" checked>
        By Region
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsADM" id="optionsADMByADM2" value="aggregate-adm2" class="amp-uses">
        By District
      </label>
    </div>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="optionsPoints" id="optionsLocations" value="locations" class="amp-uses">
      Projects Sites
      <a href="#layer-info" class="layer-info"
        data-toggle="popover"
        data-container="body"
        data-placement="right"
        data-trigger="click"
        data-content="Individual project sites will be shown.">
        <span class="glyphicon glyphicon-info-sign"></span>
      </a>      
    </label>
  </div>

  <div class="loading-icon" style="display:none;"></div>
</div>


