<div class="radio">
  <label>
 <input type="checkbox" name="<%= obj.group %>" value="<%= obj.id || obj.value %>" <% if(obj.selected){%> checked <%}%> >
 <span class="styled-checkbox"></span>
 <span title="" data-i18n="amp.gis:title-<%= obj.title.replace(/ /g,'') %>"  data-toggle="tooltip"><%= obj.title %></span>
  </label>
  <% if (obj.helpText){ %>
    <a href="#layer-info" class="layer-info"
      data-toggle="popover"
      data-container="body"
      data-placement="right"
      data-trigger="click"
      data-content="<%= helpText %>">
      <span class="glyphicon glyphicon-info-sign"></span>
    </a>
  <%}%>
  <% if (obj.isStoredInLocalStorage){ %>
    <span class="glyphicon glyphicon-info-sign" title ="This is a temporary layer stored in the browser."></span>
  <%}%>
</div>
