<div class="radio">
  <label>
    <input type="checkbox" name="<%= obj.group %>" value="<%= obj.id || obj.value %>" <% if(obj.selected){%> checked <%}%> >
    <span class="styled-checkbox"></span>
    <span data-i18n="amp.gis:radio-title-<%= obj.title.replace(/ /g,'') %>"><%= obj.title %></span>
  </label>
  <% if (obj.helpText){ %>
    <a href="#layer-info" class="layer-info"
      data-toggle="popover"
      data-container="body"
      data-placement="right"
      data-trigger="click"
      data-content="<%= helpText %>">
      <span class="glyphicon glyphicon-info-sign"></span>
    </a>
  <%}%>
</div>
