 <div class="accordion-heading">
   <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#sidebar-tools" href="#collapse-<%= titleID %>">
     <h3><span class="ampicon <%= iconClass %>"></span> <span data-i18n="amp.gis:title-<%= titleID.replace(/ /g,'') %>"><%= title %></span></h3>
   </a>
 </div>

 <div id="collapse-<%= titleID %>" class="accordion-body collapse">
   <div class="accordion-inner">
     <% if (description) { %>
     <div>
       <p class="description " data-i18n="amp.gis:menu-title-<%= titleID %>"><%= description %></p>
     </div>
     <% } %>


     <div class="content">
     <!-- content div will be populated by layer -->
     </div>
   </div>
 </div>
