<table>
	<tr>
		<td colspan = 4>
			<h2>EU Cooperation in Nicaragua</h2>
			<h3>Policy Orientations</h3>
			<h4>EU Co-ordination and Harmonisation Process in 2006</h4>
			<p><b>Efforts to increase aid effectiveness in Vietnam have been intense in the past few years. Since 2002, Vietnam has been chosen as a pilot country in the international agenda of
			OECD/DAC, as well as in the EU process.	</b></p>
			<p>Vietnam and the European Union are fully engaged in the international efforts to increase aid effectiveness through better coordination and harmonisation with other donors. Nearly
			two years have elapsed since the Government of Vietnam, together with the wider community of donors, endorsed the Hanoi Core Statement (HCS), which localises the commitments
			made by the international Community in the 2005 Paris Declaration on Aid Effectiveness. Building on that statement and on the European Consensus on Development, the EU provided
			the basis for four additional commitments detailed in page 8. Moreover, the EU is moving towards a joint programming framework and joint-multi-annual programming.</p>
			<p>The first EU Roadmap for Closer Coordination and Harmonisation was approved in February 2005 by all Heads of EU missions to Vietnam, as a key feature of the cooperation between
			the EU members, the EC and the international community. The Roadmap defined concrete harmonisation actions in line with the commitments made in the Paris Declaration
			on Aid Effectiveness, the HCS and the EU Consensus. The yearly report for 2006 describes actions undertaken and shows in general good progress in achieving anticipated results. In
			addition to the annual joint pledge and joint statement produced for the CG meeting held in December 2006 showing common priorities and areas of concern, the key activities carried
			out in 2006 include:</p>
			<li>Joint analysis of Vietnam’s socio-economic development plan (SEDP): joint contributions during the drafting process were sent to the MPI, as well as for the Vietnam Development
			Report (VDR);</li>
			<li>Support to PGAE: in particular in the four thematic groups chaired by EU donors (as described below);</li>
			<li>Use of Government systems: analysis of the HCS baseline survey shows encouraging trends in the use of Government systems by EU donors;</li>
			<li>Blue Book: the 2006 Blue Book was published, using data from EU donors, pending reliability of the Government’s ODAnic-Database;</li>
			<li>Working Groups: contributions of the EU Working Groups were provided to the political dialogue (VDR, PRSC) on health, private sector and higher education.</li>
			<p>The actions planned for 2007 include the follow up to these activities, which will continue to deserve sustained efforts. In particular, EU donors intend to progress on the following:</p>
			<li>The four additional commitments defined in the European Consensus;</li>
			<li>The extension of joint analytical work to new areas such as Decree 131;</li>
			<li>The harmonisation of EU and UN cost norms to further progress towards donor harmonisation and alignment to the Government cost norms by 2010;</li>
			<li>A new format for the Blue Book, drawing on Government’s DAD-Database;</li>
			<li>The consolidation and further development of initiatives under the EU working Groups.</li>




			In addition, the EU has committed to take concrete steps on how to better organise the complementarity and division of labour between its members. The General Affairs and External
			Relations Council held preliminary discussions in April and October 2006, on the basis of which a Code of Conduct was adopted on 15 May 2007. In line with those recommendations,
			EU donors in Vietnam agreed that the Government should be invited to assume leadership and encourage the wider donor community to engage more in a better division of labour,
			geographically, thematically and on aid modalities. Initiatives for enhancing division of labour and complementarity among donors in Vietnam are already undertaken under different
			forms in global (PRSC), sectoral (education) budget support and donor working groups (PFM). These initiatives should be further strengthened and developed in other sector-wide
			approaches. The perspective of the graduation of Vietnam to middle income country would add to the need to improve complementarity.
			Many of the commitments on donor co-ordination and harmonisation are being addressed at the Partnership Group on Aid Effectiveness (PGAE), which brings together the Vietnamese
			Government and the international community, under the co-chair of MPI and one donor on a rotating basis. The EU plays a major role in this forum and its members have
			co-chaired the group in 2004 (United Kingdom), the first semester of 2005 (EC), and 2006 (Denmark). In 2006, the PGAE established seven Thematic Groups for the implementation
			of the Hanoi Core Statement. The EU members have been deeply engaged in these Thematic Groups and took the lead of four of them, where they had particular added value, i.e.,
			independent monitoring (Denmark), cost norms (EC), environmental and social impact assessment (Sweden) and public financial management (Dfid). The results achieved in 2006 in
			theses areas include:
			l Independent monitoring: it was proposed to undertake a periodic assessment of performance in specific areas of the HCS, based on experiences in other developing countries
			(i.e., Tanzania);
			l Cost norms: a baseline survey was conducted which revealed great disparities concerning cost norms applied by donors for managing ODA. An action plan was thus approved
			by the PGAE for more transparency, harmonisation and alignment;
			l Environmental and social impact assessment: an action plan was drafted to implement safeguards for all development projects in Vietnam;
			l PFM: on the basis of the proposed action plan a Single document on PFM was drafted under the leadership of MOF, a working group on Peer implementation was set up and the
			budget execution report was posted on the website of MOF.
			France and Germany continued their strong support for the 5 Banks Initiative (constituted by the World Bank, ADB, JBIC, AFD and KfW) by taking responsibility for leading harmonization
			activities e.g. in the areas of project preparation and providing comments on a draft Public Investment Decree.
			Joint initiatives are promoted whenever possible, and the EU donors are jointly programming and financing several initiatives with other EU and international donors. These include
			the PRSC, targeted Budget Support for Education, a Multi-donor Trust Fund for PFM; institutional support to the National Assembly; support to the forest sector. In addition, the EU
			donors active in the health sector have jointly funded and conducted a pre-feasibility study to develop a Sector Wide Approach (SWAP) in Health. The final report concluded to the
			interest of such an approach in the sector. The Group is ready to take forward the recommendations and is helping the Ministry of Health developing programmes at the provincial
			and national levels.
		</td>
	</tr>
</table>