<div id="amp-menu"></div>

<!-- TODO: move sidebar content into a siderbar-template.html -->
<div id="sidebar">
  <a class="sidebar-icons-only-button">
    <i class="glyphicon glyphicon-chevron-left" style="font-size:24px;"></i>
  </a>
  <div class="vertical-expand"><!-- for sticky foooter -->
    <div id="sidebar-tools" class="accordion-group"></div><!-- end of sidebar-tools -->
    <div class="quality-push"></div><!-- for sticky-footer -->
  </div><!-- end of vertical-expand -->

  <div id="quality-indicator"></div>
</div>

<div id="map-container" ></div>
