/* $Id: iex.css,v 1.1 2011/12/23 16:56:26 vamirbekyan Exp $ */

.ie-multiple-border-1,
.ie-multiple-border-2 {
  display: block;
  width: 1px;
  float: right;
}
.ie-multiple-border-1 {
  background: #b8c2db;
  height: 245px;
}
.ie-multiple-border-2 {
  background: #687fb3;
  height: 246px;
}
.main-menu-container li.has-submenu>a:after {
  content: url(../images/has-submenu-marker.gif);
}
.elevated-button {
  border: 1px solid #ccc;
}

/* Fix pane-styles.css
------------------------------------------------------------------------------*/
.styled-pane-container {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border: 1px solid #ccc;
}
.styled-pane-container.home-welcome-box .styled-pane {
  padding: 19px 10px 14px;
}

.styled-pane-container.header-carrousel .styled-pane {
  padding: 0;
}

.styled-pane-container .welcome-box:after {
  content: url(../images/welcome-box-corner.gif);
}
.styled-pane-container .sidebar-panel-chipped-corner {
  background-image: url("../images/sidebar-panel-chipped-corner.gif");
}

/* Fix homepage.css and homepage-carrousel.css
------------------------------------------------------------------------------*/
.header-carrousel .carrousel-pager a {
  bottom: -4px;
}

.header-carrousel .pager-element:after {
  content: url(../images/carrousel-blue-corner.gif);
}

.header-carrousel .pager-element.pager-slide-2:after {
  content: url(../images/carrousel-green-corner.gif);
}

.header-carrousel .pager-element.pager-slide-3:after {
  content: url(../images/carrousel-yellow-corner.gif);
}

.styled-pane {
  padding: 5px 15px 5px;
  /* background: url("../images/home-tall-block-bg.png") repeat scroll 0 0 #FCFCFB; */
}

.styled-pane-container.home-welcome-box .styled-pane {
  background: #e2dcd7 url(../images/welcome-box-bg.png) 100% 100% no-repeat;
  height: 162px;
  text-shadow: 1px 1px 0px #f5f3f1;
}

.styled-pane-container.home-welcome-box .home-welcome-corner {
  background: url("/sites/all/themes/corporate/images/welcome-box-corner.png") 100% 100% no-repeat #e2dcd7;
  position: absolute;
  top: 45px;
  left: -6px;
  width: 18px;
  height: 19px;
}

.styled-pane-container.home-welcome-box h4 {
  font: 100 24px/25px Tahoma,Arial,sans-serif;
  color: #247f80;
  margin-bottom: 20px;
}

.styled-pane-container.home-tall-box .styled-pane {
  background: #fcfcfb url(/sites/all/themes/corporate/images/home-tall-block-bg.png);
  height: 330px;
}

.styled-pane-container.home-mid-box .styled-pane {
  background: #fcfcfb url(/sites/all/themes/corporate/images/home-mid-block-bg.png);
  height: 128px;
}

.styled-pane-container.home-short-box .styled-pane {
  background: #fcfcfb url(/sites/all/themes/corporate/images/home-short-block-bg.png);
  height: 50px;
}

.styled-pane-container.stroke-shadow.home-short-box .styled-pane,
.styled-pane-container.stroke-shadow.home-mid-box .styled-pane,
.styled-pane-container.stroke-shadow.home-tall-box .styled-pane {
  padding: 20px 15px 15px;
}

.styled-pane-container.stroke-shadow.home-welcome-box .styled-pane {
  padding: 12px 15px 10px;
}

.styled-pane-container.stroke-shadow {
  border: 3px solid #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 2px 2px 6px #CCC;
  -moz-box-shadow: 2px 2px 6px #CCC;
  -o-box-shadow: 2px 2px 6px #CCC;
  -webkit-box-shadow: 2px 2px 6px #CCC;
}

.styled-pane h1 {
  margin-top: 0;
  margin-bottom: 0;
} 

.item-list ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-media-item ul {
  padding: 0;
  margin: 0;
}

.twitter-container .social-media-item .item-list ul li,
.social-media-item .item-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.printerfriendly_toolbox {
  margin-top: 3px;
}

.dgtwo-columns .printerfriendly_toolbox {
  margin: 3px 5px 0 5px;
}

.sidebar-menu-links ul.menu li {
  width: 100%;
  float: left;
}

.donors-container .view-left-partners .views-row, 
.donors-container .view-right-partners .views-row {
  width: 60px;
}