/*Global styles*/

a.forum:link,a.forum:active,a.forum:visited {
	color : #3567B3;
	text-decoration:none;
 }
a.forum:hover		{ 
	color : #EB8801;
	text-decoration:underline;
}



input.forumControls {
	border : 1px solid Black;
	background: white;
}

input.forumButtons {
	border : 1px solid Black;
	background: #FAFAFA;
	background-image : url(../images/buttonCover.gif);
	background-position : center;
	background-repeat : repeat-x;
}

/*Main listing page styles*/

table.forumListContainer {
	border-collapse: collapse;
	border : 1px solid #3A5A6D;
	font : Sylfaen;
}

th.groupHeader {
	background-color : White;
	font : bold 12px;
	color : #FFA34F;
	background-image : url(../images/cellpic3.gif);
	height: 28px;
}

td.sectionTitle{
	background-color : transparent;
	font : bold 12px;
	color : #006699;
	background-image : url(../images/cellpic1.gif);
	height: 28px;
}

td.forumTitle{
	background-color : #EFEFEF;
	font : bold 12px;
	color : #006699;
}

td.forumInfo{
	background-color : #DEE3E7;
	font : normal 12px;
	color : black;
}
	
font.smallInfoText {
	font : normal 12px;
	color : black;
}

font.verySmallInfoText {
	font : normal 10px;
	color : black;
}

font.smallInfoTextItalic {
	font : normal italic 12px;
	color : black;
}

font.smallLink {
	font : normal 12px;
	color : black;
}

font.attentionText {
	font : bold 12px;
	color : red;
}

td.light{
	background-color : #EFEFEF;
}

td.dark {
	background-color : #DEE3E7;
}

tr.postOdd{
	background-color : #EFEFEF;
}

tr.postEven{
	background-color : #DEE3E7;
}

td.postSplitter{
	background-color : #D1D7DC;
	height: 7px;
}

hr.postStatusSeparator{
	border : 1px solid silver;
	height:1px;
}

td.sectionSplitter{
	background-color : #B0BBC4;
	height: 7px;
	background-image : url(../images/splittedBgr.gif);
	background-position : top;
	background-repeat : repeat-x;
}

table.trailContainer {
	border : 1px solid Gray;
	background: #FAFAFA;
	background-image : url(../images/buttonCover.gif);
	background-position : center;
	background-repeat : repeat-x;
}
