.site_name a, .site_name a:hover {color:#fefefe}
.slogan a, .slogan a:hover {color:#fefefd}

.header-links,
.header-links a,
.header-links ul li a,
.header-links ul li a.active {
  color: #fefefc;
}

a {
  color: #376092;
}

.amp-links-container .links li a {color: #376093}

.node-type-imported-item .views-field-title,
.node-type-imported-item .views-field-title a,
.node-type-imported-item .views-field-title a:visited,
.node-type-news .views-field-title,
.node-type-news .views-field-title a,
.node-type-news .views-field-title a:visited,
.node-type-events .views-field-title,
.node-type-events .views-field-title a,
.node-type-events .views-field-title a:visited {
  color: #376092;
}

.page-news .views-field-title,
.page-news .views-field-title a,
.page-news .views-field-title a:visited {
  color: #376092;
}

.footer-links .links_separator {
  color: #376092;
}

.ampphome-news-teaser-container .views-field-title .field-content a,
.ampphome-news-teaser-container .views-field-title .field-content a:visited {
  color: #376092;
}

.amp-links-container .links li {
  background-color: #f2f2f2;
}

.ampphome-search .rounded-corner.pane, .ampphome-contact-social .rounded-corner.pane {
  background-color: #f2f2f3;
}

.footer-logo {background-color: #8b8b8b}

.master-container-gradient {
background: #333333; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YzZiN2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #333333 0%, #4c6b7d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#4c6b7d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #333333 0%,#4c6b7d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #333333 0%,#4c6b7d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #333333 0%,#4c6b7d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #333333 0%,#4c6b7d 100%); /* W3C */
*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#4c6b7d',GradientType=0 ); /* IE7 */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#4c6b7d',GradientType=0 )\9; /* IE8 */
*zoom: 1;  /* IE7 */
}

.rounded-corner.pane .panel-pane .pane-content {
  background-color: #ffffff;
  border:1px solid #D0D0D0;
  -moz-border-radius: 0 0 10px 10px; -o-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px;
}

.pane-ampp-feedback-feedback .pane-content,
.pane-ampp-projects-ampp-search .pane-content,
.ampphome-donor-map .pane-content {
  background-color: #f2f2f3 !important;
  border:1px solid #cccccc;
  -moz-border-radius: 0 0 10px 10px; -o-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px;
}

.ampphome-news .pane-content {
  background-color: #ffffff;
  border:1px solid #cccccc;
  -moz-border-radius: 0 0 10px 10px; -o-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px;
}

.rounded-corner.pane .panel-pane {
padding: 0;
-moz-border-radius: 10px 10px 15px 15px; -o-border-radius: 10px 10px 15px 15px; -webkit-border-radius: 10px 10px 15px 15px; border-radius: 10px 10px 15px 15px;
background: #333333; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjklIiBzdG9wLWNvbG9yPSIjNGM2YjdkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRjNmI3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #333333 0%, #4c6b7c 20px, #4c6b7c 40px); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(20px,#4c6b7c), color-stop(40px,#4c6b7c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #333333 0%,#4c6b7c 20px,#4c6b7c 40px); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #333333 0%,#4c6b7c 20px,#4c6b7c 40px); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #333333 0%,#4c6b7c 20px,#4c6b7c 40px); /* IE10+ */
background: linear-gradient(to bottom,  #333333 0%,#4c6b7c 20px,#4c6b7c 40px); /* W3C */
*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#4c6b7c',GradientType=0 ); /* IE7 */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#4c6b7c',GradientType=0 )\9; /* IE8 */
*zoom: 1; /* IE7 */
}

.header-container .login {
  border: 1px solid #ffe400;
  *filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe400', endColorstr='#ff8500',GradientType=0 ); /* IE7 hack */
  *border-bottom: 1px solid #ff8500;
  }

.login a {
  color: #000000;
  background: #ffe400;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjg1MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #ffe400 0%, #ff8500 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe400), color-stop(100%,#ff8500));
  background: -webkit-linear-gradient(top,  #ffe400 0%,#ff8500 100%);
  background: -o-linear-gradient(top,  #ffe400 0%,#ff8500 100%);
  background: -ms-linear-gradient(top,  #ffe400 0%,#ff8500 100%);
  background: linear-gradient(to bottom,  #ffe400 0%,#ff8500 100%);
  *filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#ffe400, endColorstr=#ff8500 ); /* IE7 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#ffe400, endColorstr=#ff8500 )\9; /* IE8 */
}
