/* $Id: drupal.css,v 1.5 2012/04/04 06:52:25 eabrahamyan Exp $ */

body.page-admin table {
  width: 100%;
}

body.page-admin #node-admin-buttons {
  clear: both;
  float: none;
  margin-bottom: 20px;
}

body.page-admin #node-admin-buttons {
  clear: both;
  float: none;
  margin-bottom: 20px;
}

body.page-admin fieldset {
  border: 1px solid #666666 !important;
  margin: 20px 0 !important;
  padding: 10px;
}

body.page-admin fieldset.collapsed {
  border-bottom-width: 0 !important;
  border-left-width: 0 !important;
  border-right-width: 0 !important;
}

body.page-admin fieldset legend {
  margin-left: 10px;
  padding: 0 5px;
}

body.page-admin #breadcrumb {
  margin: 10px 0;
}

body#tinymce {
  background-color: #FFFFFF;
}

div.error, tr.error {
  background: none;
  color: #666666;
  padding: 0;
  border: none;
}

.messages.status {
  clear: both;
  height: auto;
  min-height: 40px;
  width: 93%;
  margin-bottom: 10px;
  padding: 5px 10px 5px 50px;
  color: #333333;
  border: 1px solid #025F94;
  position: relative;
  margin-top: 20px;
  background: url(../images/ok.gif) no-repeat scroll 10px 10px #EFEFEF;
}

.messages.warning {
  clear: both;
  height: auto;
  min-height: 40px;
  width: 93%;
  margin-bottom: 10px;
  padding: 5px 10px 5px 50px;
  color: #333333;
  border: 1px solid #025F94;
  position: relative;
  margin-top: 20px;
  background: url(../images/warning.gif) no-repeat scroll 10px 10px #EFEFEF;
}

.messages.error {
  clear: both;
  height: auto;
  min-height: 40px;
  width: 93%;
  margin-bottom: 10px;
  padding: 5px 10px 5px 50px;
  color: #333333;
  border: 1px solid #025F94;
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  background: url(../images/error.gif) no-repeat scroll 10px 10px #efefef;
}

.feedback-form .messages.error {
  width: 87%;
  background: url(../images/error.gif) no-repeat scroll 10px 10px #ffffff;
}

/* messages for feedback form */

#block-feedback-form .messages.status {
  clear: both;
  height: auto;
  min-height: 40px;
  width: 82%;
  margin-bottom: 10px;
  padding: 5px 10px 5px 50px;
  color: #333333;
  border: 1px solid #025F94;
  position: relative;
  margin-top: 20px;
  background: url(../images/ok.gif) no-repeat scroll 10px 10px #EFEFEF;
}

#block-feedback-form .messages.warning {
  clear: both;
  height: auto;
  min-height: 40px;
  width: 82%;
  margin-bottom: 10px;
  padding: 5px 10px 5px 50px;
  color: #333333;
  border: 1px solid #025F94;
  position: relative;
  margin-top: 20px;
  background: url(../images/warning.gif) no-repeat scroll 10px 10px #EFEFEF;
}

#block-feedback-form .messages.error {
  clear: both;
  height: auto;
  min-height: 40px;
  width: 82%;
  margin-bottom: 10px;
  padding: 5px 10px 5px 50px;
  color: #333333;
  border: 1px solid #025F94;
  position: relative;
  margin-top: 20px;
  background: url(../images/error.gif) no-repeat scroll 10px 10px #EFEFEF;
}

.messages ul {
  padding: 0;
}

#messages-placeholder {
  position: relative;
}

span img#close,
span img#feedback-close {
  cursor: pointer;
  cursor: hand;
  position: absolute;
  top: 3px;
  right: 10px;
}

form .description {
  color: #666666;
  margin-bottom: 10px;
}

form .description ul {
  list-style: disc outside none;
  padding-left: 30px;
}

.node-form #field-left-column-blocks-items .form-text,
.node-form #field-center-column-blocks-items .form-text,
.node-form #field-right-column-blocks-items .form-text {
  float: left;
}

.node-form #field-left-column-blocks-items a.custom-content-links,
.node-form #field-center-column-blocks-items a.custom-content-links,
.node-form #field-right-column-blocks-items a.custom-content-links {
  margin: 0 5px;
}

html.js .node-form fieldset {
  margin: 10px 0;
}

/* Loading animations
------------------------------------------------------------------------------*/
html.js a.dgc-throbbing,
html.js span.dgc-throbbing {
  background: url("../images/ajax-loader.gif") no-repeat scroll right center transparent;
  padding-right: 18px;
}

html.js a.dgc-throbbing-white,
html.js span.dgc-throbbing-white {
  background: url("../images/ajax-loader-white-bg.gif") no-repeat scroll right center transparent;
  padding-right: 18px;
}

a.image-captcha-refresh {
  color: #02578A;
  padding-left: 30px;
  text-decoration: none;
}
