/* $Id: feedback.css,v 1.1 2011/12/23 16:56:33 vamirbekyan Exp $ */

/* STyle from the original contrib feedback.css
------------------------------------------------------------------------------*/
#block-feedback-form .feedback-help {
  margin: 0 0 0.5em;
  font-size: 10px;
  line-height: normal;
}
#block-feedback-form .feedback-submitted {
  margin-top: 0.2em;
  font-size: 10px;
}
#block-feedback-form .throbbing {
  background: url(images/throbber.gif) no-repeat left center;
}

/* CUSTOM STYLE
------------------------------------------------------------------------------*/
#block-feedback-form {
  box-shadow:2px 2px 1px #395C84;
  -webkit-box-shadow:2px 2px 12px #395C84;
  -moz-box-shadow:2px 2px 12px #395C84;
  background-color: #FFFFFF;
  bottom: 10px;
  display: none;
  font-size: 10px;
  padding: 0;
  position: fixed;
  right: 45px;
  width: 400px;
  z-index: 9999;
  z-index:9999;
}

/* IE6 seems to be unable to handle fixed */
* html #block-feedback-form {
  position: absolute;
}

#block-feedback-form .content {
  background-color: #FFFFFF;
  overflow: hidden;
  padding: 5px;
}

#block-feedback-form #feedback-submit {
  background: repeat-x scroll 0 0 #025F94;
  border: 1px solid #004E8F;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  margin: 0;
  padding: 2px;
  width: 166px;
}

#block-feedback-form #feedback-throbber {
  float: left;
}

#block-feedback-form a.feedback-close-button {
  float: left;
  font-size:14px;
  padding: 3px 0 0 5px;
}

#block-feedback-form .form-item {
  overflow: hidden;
  width: 390px;
}

#block-feedback-form .form-item label {
  float:left;
  width:66px;
}

#block-feedback-form input.form-text {
  border: 1px solid #025F94;
  color: #444444;
  float: left;
  font-family: Verdana;
  font-size: 12px;
  margin: 0;
  padding: 1px 3px;
  width: 316px;
}


#block-feedback-form input#edit-captcha-response.form-text {
  width: 100px;
}

#block-feedback-form #edit-captcha-response-wrapper input.required:focus {
  background-color: #EEF0F9;
  border: 1px solid #BBBBBB;
}

#block-feedback-form div.resizable-textarea {
  float: left;
  width: auto;
}

#block-feedback-form input.form-textarea {
}

#block-feedback-form .feedback-message {
  border: 1px solid #025F94;
  padding: 3px;
  width: 316px;
}

#block-feedback-form input.form-text:focus,
#block-feedback-form input.form-textarea:focus {
  background-color: #EEF0F9;
  border: 1px solid #BBBBBB;
}

#block-feedback-form fieldset legend {
  border-top:2px solid #BBBBBB;
  font-size:97%;
  margin:0;
  padding:3px 0 0 0;
  width:100%;
  background:none;
}

#block-feedback-form .feedback-link {
  padding:5px;
  font-size:133.33%;
  font-weight:bold;
}

#block-feedback-form h2 {
  background: repeat-x scroll 0 0 #025F94;
  text-shadow:none;
  color:#ffffff;
  padding:5px 0;
  margin: 0;
}

#block-feedback-form #edit-copy-wrapper label.option,
#block-feedback-form #edit-captcha-response-wrapper label {
  clear:both;
  float:none;
  width:auto;
}

#block-feedback-form #edit-copy-wrapper {
  margin:5px 0;
}

#block-feedback-form .form-item input.error,
#block-feedback-form .form-item textarea.error,
#block-feedback-form .form-item select.error {
  border:1px solid #ff0000;
}

#block-feedback-form #close-messages {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px
}
