/* $Id: header-footer.css,v 1.53 2013/11/01 16:16:12 vamirbekyan Exp $ */

/* Header
------------------------------------------------------------------------------*/
.website-switch {
  background: #006595 url(../images/website-switch-background.png) 50% 100% repeat-y;
}
.website-switch-menu {
  float: right; 
  margin-right: 10px;
}

.website-switch-menu li a {
  float: left;
  line-height: 27px;
  margin: 0 3px; 
  padding: 4px 4px; 
  color: #fff;
  text-shadow: 1px 1px 0 #003e6a;
}

.website-switch-menu li a:hover {
  text-decoration: none !important;
  padding-top: 1px;
  border-top: 3px solid #fd0;
}

.website-switch-menu li.active-trail a {
  background: url(../images/website-switch-active.png) 50% 100% no-repeat;
}

.website-switch-menu li.last a {
  margin-right: 0px;
}

.logo-container {
  background: url(../images/logo-separator.png) 218px 0 no-repeat;
  margin-top: 5px;
  margin-bottom: 10px;
}

.print_version_header .logo-container {
  background: none;
}

.print_version_header .dgone-layout {
  border-top: 1px solid rgb(198, 198, 196); 
  margin-top: 5px;
}

.print_version_header .dgone-layout .margin-top-10 {
  margin-top:5px;
}

a#dg_logo_anchor {
  display: block;
  width: 220px;
  height: 100px;
  text-indent: -5000px;
  background: url(../images/logo-development-gateway.png);
}

a#dgi_logo_anchor {
  display: block;
  width: 220px;
  height: 100px;
  text-indent: -5000px;
  background: url(../images/logo-development-gateway-int.png);
}

.print_version_header .section-header h2 a {
  display: block;
  width: 165px;
  height: 75px;
  text-indent: -5000px;
  background: url(../images/logo-development-gateway_pf.png);
}

.section-header .logo-container h2 {
  text-shadow: 1px 1px 0px #FFF;
  color: #0588CB;
  font: 500 16px/100px Tahoma,Arial,sans-serif;
  letter-spacing: -1px;
}

.section-header .logo-container h2.omega {
  background:url("../images/logo-container.png") no-repeat scroll 0 0 transparent;
  margin-top: 43px;
  height: 50px;
}

form.header-search-form {
  margin-top: 40px;
}

/* In-line forms
------------------------------------------------------------------------------*/
form.inline-form {
  -moz-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: 2px 2px 3px #e9e9e9 inset;
  -o-box-shadow: 2px 2px 3px #e9e9e9 inset;
  -webkit-box-shadow: 2px 2px 3px #e9e9e9 inset;
  box-shadow: 2px 2px 3px #e9e9e9 inset;
  background-color: #FFFFFF;
  border: 1px solid #CFCFCF;
  clear: right;
  overflow: hidden;
  padding: 1px;
}

form.inline-form .form-item.input-wrapper {
  float: left;
  margin: 0;
}

form.inline-form .form-item.submit-wrapper {
  float: right;
  height: 22px;
  margin: 0;
  padding: 0;
  width: 22px;
}

form.inline-form .form-item input.form-text {
  background-color: transparent;
  border: 0 none;
  color: #AEAEAE;
  font-size: 14px;
  margin: 3px 5px 1px;
  padding: 0;
  width: 180px;
}

form.inline-form .form-item input.form-text:active,
form.inline-form .form-item input.form-text:focus {
  color: #333333;
}

form.inline-form .form-item input.form-submit {
  float: right;
  height: 22px;
  width: 22px;
}

/* Main Menu
------------------------------------------------------------------------------*/
.main-menu-container {
  /*margin-top: 8px;*/
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  background: #025f94 0 0 repeat-x;
  z-index: 9999;
  overflow: visible !important;
  position: relative;
}
.main-menu-container ul li {
  cursor: pointer;
  list-style: none outside none;
  margin: 0;
  padding: 1px 0;
  position: relative;
  z-index: 9998;
  float: left;
}
.main-menu-container ul li a {
  background: #025f94 0 0 repeat-x;
  font: 900 13px/37px Tahoma,Arial,sans-serif;
  color: #fff;
  text-shadow: 1px 1px 0px #013e78;
  text-decoration: none;
  width: 132px;
  float: left;
  text-align: center;
  margin: 1px;
  border-radius: 4px 4px 0 0;
  -moz-border-radius:  4px 4px 0 0;
  -o-border-radius:  4px 4px 0 0;
  -webkit-border-radius:  4px 4px 0 0;
  position: relative;
  z-index: 9997;
}
.main-menu-container ul li.expanded a {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}
.main-menu-container ul li.expanded.last a {
  border-radius: 4px 4px 4px 0;
  -moz-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}
.main-menu-container ul li.expanded .menu_span a:after,
.main-menu-container ul li.collapsed .menu_span a:after {
  padding-left: 5px;
  padding-bottom: 3px;
  content: url(/sites/all/themes/corporate/images/has-submenu-marker.png);
  position: relative;
  z-index: 9999;
}

.main-menu-container ul li a:hover,
.main-menu-container ul li a.hovered {
  background-color: #0385be;
  background-position: 0 -50px;
}
.main-menu-container ul li a.active {

}
.main-menu-container ul li a:active {
  background-color: #07b6df;
  background-position: 0 -100px;
  line-height: 35px;
  padding-top: 2px;
}
.main-menu-container ul li.first a {
  width: 134px;
  background-position: 0 0;
}

.main-menu-container ul li ul {
  background: #0385be;
  border: 1px solid #025f94;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  display: none;
  left: 0;
  position: absolute;
  top: 39px;
  width: 220px;
  z-index: 9996;
  padding-bottom: 1px;
}
.main-menu-container ul li.last ul {
  border-radius: 0 4px 4px 4px;
  -moz-border-radius: 0 4px 4px 4px;
  -o-border-radius: 0 4px 4px 4px;
  -webkit-border-radius: 0 4px 4px 4px;
  left: auto;
  right: 0;
}
.main-menu-container ul li:hover ul {
  display: block;
}
.main-menu-container ul li ul li {
  width:220px;
}

.main-menu-container ul li ul li a {
  display: block;
  width: 203px;
  height: 30px;
  line-height:30px;
  margin: 1px;
  text-align:left;
  padding-bottom: 0 !important;
  padding-left:15px;
  background: none;
  font-weight: 100;
  border-radius: 3px 3px 3px 3px !important;
  -moz-border-radius: 3px 3px 3px 3px !important;
  -o-border-radius: 3px 3px 3px 3px !important;
  -webkit-border-radius: 3px 3px 3px 3px !important;
}
.main-menu-container ul li ul li a:hover {
  background: #06add6;
}
.main-menu-container ul li ul li a:active {
  background: #23c0e6;
  line-height: 28px;
  height: 28px;
  padding-top: 2px;
  paddin-bottom: 0;
  padding-left: 15px;
}
.main-menu-container ul li ul li.first a {
  width: 203px;
}

/* Footer
------------------------------------------------------------------------------*/
.section-footer {
  margin-top: 0px;
  bottom: 40px;
  position: relative;
}

.footer-illustration-bottom {
  background: url(../images/footer-bottom-tile.png) 0 0 repeat-x #ffffff;
  border: 1px solid #c6c6c4;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  height: auto;
  margin-bottom: 50px;
  margin-right: 2px;
  box-shadow: 2px 0px 0px #687fb3;
  -moz-box-shadow: 2px 0px 0px #687fb3;
  -o-box-shadow: 2px 0px 0px #687fb3;
  -webkit-box-shadow: 2px 0px 0px #687fb3;
  padding: 0 10px 20px;
  width: 916px;
  float: left;
}

.footer-left-column {
  float: left;
  width: 690px;
}
.footer-left-column h2 {
  font: 100 18px/20px Tahoma,Arial,sans-serif;
  color: #247f80;
  text-shadow: 1px 1px 0px #FFF;
  text-align: center;
  margin: 15px 50px;
  width: 300px;
}
.footer-right-column {
  float: right;
  width: 220px;
  padding-top: 15px;
}
.footer-right-column h3 {
  margin-bottom: 5px;
}

.ie-multiple-border-1,
.ie-multiple-border-2 {
  display: none;
}

.social-media-icons {
  margin-top: 8px;
}
.footer-social-icons-chain a {
  margin-right: 25px;
  margin-top: 2px;
}
.footer-social-icons-chain a:hover {
  margin-top: 0;
  padding-bottom: 2px;
}
.footer-social-icons-chain a:active {
  margin-top: 2px;
  padding-bottom: 0;
}

.social-media-icons a {
  float: left;
  text-indent: -9000px;
  width: 36px;
  height: 36px;
  background: url(../images/social-media-icons.png) 0 0 no-repeat;
}
.social-media-icons a.icon-twitter {
  background-position: 0 0;
}
.social-media-icons a.icon-facebook {
  background-position: -62px 0;
}
.social-media-icons a.icon-rss {
  background-position: -124px 0;
}
.social-media-icons a.icon-youtube {
  background-position: -186px 0;
}
.social-media-icons .last a {
  margin-right: 0;
}


.elevated-button {
  background: #AAA url("../images/elevated-button.gif") 0 0 repeat-x;
  text-align: center;
  border-radius: 11px 11px 11px 11px;
  -moz-border-radius: 11px 11px 11px 11px;
  -o-border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  box-shadow: 0 1px 3px #666666;
  -moz-box-shadow: 0 1px 3px #666666;
  -o-box-shadow: 0 1px 3px #666666;
  -webkit-box-shadow: 0 1px 3px #666666;
  color: #666666;
  font: 900 13px Arial;
  letter-spacing: -1px;
  margin: 0 auto;
  outline: medium none;
  padding: 5px 13px;
  text-shadow: 0 1px 1px #FFFFFF;
}
.elevated-button:hover {
  color: #333;
  text-decoration: none;
}
.elevated-button:active {
  background-position: 0 -50px;
  color: #333;
  margin: 1px 0 0 1px;
}

.footer-copyright-notice {
  text-align: right;
  font: 100 11px/15px Tahoma,Arial,sans-serif;
  color: #404040;
  text-shadow: 1px 1px 0px #FFF;
  margin-top: 10px;
  white-space: pre;
}

.footer-resources {
  float: right;
  margin-top: 10px;
}

.footer-resources li:after {
  content: "|";
  padding: 0 3px 0 6px;
  color: #959494;
}

.footer-resources li a.active {
  color: #006595;
}

.footer-feedback-link:hover {
  cursor: pointer;
  cursor: hand;
}

.footer-resources ul.horizontal {
  float: left; 
  margin-right: 3px;
}

.donors-and-supporters {
  margin-top: 18px;
}

.donors-and-supporters .footer-half-column {
  margin-right: 10px;
  float: left;
}

.donors-and-supporters .last {
  margin: 0;
}

.donors-and-supporters .footer-half-column h3 {
  margin: 5px 10px;
  width: 205px;
}

.donors-container {
  border: 1px solid #d6d6d6;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background: #f5f2f2 url(../images/donors-container-logo.png) 0 0 repeat-x;
  padding: 5px 7px;
}

.last .donors-container {
  width: 210px;
  height: 55px;
}

.donors-container li {
  text-align: center;
  font-size: 11px;
  width: 56px;
  float: left;
  margin: 0 2px;
}

.footer-country-flags {
  width: 36px;
  height: 36px;
  margin: 4px 0;
  background: url(../images/country-flags-sprite-36.png) 0 0;
}

.donors-container .flag-germany {
  background-position: -50px 0;
}

.donors-container .flag-japan {
  background-position: -100px 0;
}

.footer-donors-logos {
  width: 44px;
  height: 44px;
  background: url(../images/footer-donors-logos-sprite-36.png) -3px -3px;
}

.donors-container .logo-unfpa {
background-position: -53px -3px;
}

.donors-container .logo-wb {
  background-position: -103px 0;
}

/* Donors style
------------------------------------------------------------------------------*/
.donors-and-supporters .views-row {
  float: left;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #444444;
  width: 60px;
}

.footer-left-column {
  width: 690px;
}

.donors-and-supporters .views-row a, 
.donors-and-supporters .views-row a:visited, 
.donors-and-supporters .views-row a:hover, 
.donors-and-supporters .views-row a:active {
  color: #444444;
  text-decoration: none;
  line-height: 1em;
}

.donors-and-supporters .views-field-field-logo-fid img {
}

.donors-and-supporters .views-field-field-url-url {
}

.donors-container .views-field-field-url-url-1 {
  clear: both;
  width: 60px;
  margin: 0 auto;
}

.donors-container .views-field-field-logo-fid,
.donors-container .views-field-field-logo-fid-1 {
  overflow: hidden;
  border: 1px solid #D6D6D6;
}

/* top menu styling */
.active-trail a,
.active-trail a:visited,
.active-trail a:link {
  background-position: 0 -50px;
}

.print_version_header .footer-copyright-notice {
  text-shadow: none;
}

.print_version_header a#dg_logo_anchor {
  background: url("../images/logo-development-gateway_pf.png") no-repeat scroll 0 0 transparent;
  height: 75px;
}

.donors-container .view-left-partners .views-row  {
  width: 60px;
}
h2.logo {
  float: left;
  margin-top: 7px; 
}

.login {
  float: left;
  padding: 10px;
}

.header-links,
.header-links a,
.header-links ul li a,
.header-links ul li a.active {
  font-size: 11px;
  font-family: Arial;
}

.header-links .links li a {
  text-decoration: underline;
}

.header-links {
  float: right;
  margin: 0 5px 0 10px;
}

.header-links ul li {
  float: left;
  padding: 10px 5px 10px 0;
}

.footer-links {
  float: right;
}

.footer-links ul li {
  float: left;
  padding: 0 9px 10px;
}

.links_separator {
  float: left;
  padding: 10px 5px 10px 0
}

.footer-links .links_separator {
  padding: 0;
  float: left;
}

.footer-links ul.links a {
  text-decoration: underline;
  float: left;
}

.footer-logo {
  clear: both;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 11px;
  font-weight: normal;
  font-family: Arial;
}

.dg-footer-container {
  padding: 15px 0 25px 0;
  text-align: center;
  font-size: 11px;
  line-height: 18px;
  font-family: arial;
  color: #8B8B8B;
  background: #fff;
}

.dg-footer-container a img {
  margin-bottom: 5px;
}

.amp-links-container .links li {
  float: left;
  border: 1px solid #e8e8e8;
  margin: 0px 3px;
  padding: 0;
}

.amp-links-container .links li a {
  font-weight: bold;
  font-size: 11px;
  font-family: Arial,sans-serif;
  padding: 0 5px;
}

.language-switch {
  float: right;
  padding: 0 3px;
  margin: 6px;
}

.header-container {
  height: 51px;
  position: relative;
}

h2.social-links {
  float: left;
  width: 100px;
  margin: 10px 0;
}

#langauge_select {
  font-weight: bold; 
  margin-left: 10px; 
  font-family: Tahoma; 
  font-size: 12px;
}

h2.site_name {
  float: left; 
  margin-top: 10px; 
  font-size: 15px;
}

h2.site_name a,
h2.site_name a:hover {
  text-decoration: none;
}

.header-container .login {
  margin-left: 50px;
  padding: 0;
  -moz-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px; 
  border-radius: 10px 10px 10px 10px; 
  margin-top: 7px;
  overflow: hidden;
}

.login a {
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
  font-family: Arial;
  padding: 5px 10px;
  display: block;
}

noindex:-o-prefocus, .login a { /* Opera hack for rounded corners on*/
  color:#fff;
  border-radius: 10px 10px 10px 10px; 
} 

#top-nav {
  //float: right;
  //width: 500px;
}

h2.slogan {
  margin: 0;
  font-size: 11px;
}

.logo-headings {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

.logo-block img {
  vertical-align: middle;
}

.logo-block {
  display: inline;
  margin-top: 7px;
  color: #ffffff;
  float: left;
}

.site_name a:hover,
.logo-block span a:hover {
  text-decoration: none;
}

.site_name {
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
}

.slogan {
  font-size: 11px;
}

div.logo-block {
  width:500px;
}

.logo-block span {
  display: block;
  line-height: 1em;
  //width:430px;
}

#ampp_logo_anchor {
  display: table-cell;
}

*+html #ampp_logo_anchor {
  float: left;
}

*+html .header-links .links li a {
  float: left;
}

*+html .links_separator {
  float: none;
  margin-left: 5px;
}

*+html .footer-links ul li {
  padding: 0 5px 10px;
}

.amp-links-container {
  margin: 6px 0 20px 10px;
  float: left;
}

.footer-logo img {margin-right: 10px;}
.section-footer h2.social-links {width: auto;font-weight: normal}
.section-footer #addthis_lable {float: left}
.section-footer .addthis_toolbox {float:left;margin-left: 10px; width: 300px}
.section-footer {margin-top: 20px; bottom: 0}
.page-homepage .section-footer {margin-top: 0; bottom: 0px}