/* $Id: homepage-carrousel.css,v 1.1 2011/12/23 16:57:13 vamirbekyan Exp $ */

.header-carrousel {
  position: relative;
}

.header-carrousel .view-empty {
  background-color: #FFFFFF;
  height: 197px;
}

.header-carrousel.stroke-shadow,
.header-carrousel.stroke-shadow .pane-content {
  padding: 0;
}

.header-carrousel .pager-element a {
  color: #FFFFFF;
  text-shadow: none
}

.header-carrousel .views-slideshow-controls-bottom {
  bottom: 0;
  height: 100px;
  position: absolute;
  z-index: 17;
}

.header-carrousel .pager-element {
  position: absolute;
  display: block;
  bottom: -4px;
  left: 30px;
  width: 150px;
  padding: 6px 10px 3px;
  background: #0490cb url(../images/carrousel-pager-bg.png) 0 0 repeat-x;
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  box-shadow: 2px 2px 6px #666;
  -moz-box-shadow: 2px 2px 6px #666;
  -o-box-shadow: 2px 2px 6px #666;
  -webkit-box-shadow: 2px 2px 6px #666;
  text-decoration: none;
  color: #fff;
  border-top: 1px solid #38b3e7;
  border-left: 1px solid #269bcc;
  border-right: 1px solid #10698f;
}

.header-carrousel .pager-element:hover,
.header-carrousel .activeSlide .pager-element {
  padding-top: 9px;
}

.header-carrousel .pager-element:after {
  content: url(../images/carrousel-blue-corner.png);
  position: absolute;
  left: 171px;
}

.header-carrousel .pager-element.pager-slide-2:after {
  content: url(../images/carrousel-green-corner.png);
}

.header-carrousel .pager-element.pager-slide-3:after {
  content: url(../images/carrousel-yellow-corner.png);
}

.header-carrousel .pager-element.pager-slide-2 {
  left: 222px;
  background-color: #05894c;
  background-position: 0 -150px;
  border-top-color: #11be6e;
  border-left-color: #08a059;
  border-right-color: #055831;
}

.header-carrousel .pager-element.pager-slide-3 {
  left: 416px;
  background-color: #fcd601;
  background-position: 0 -300px;
  border-top-color: #DFA081;
  border-left-color: #DFA081;
  border-right-color: #A85329;
}

.header-carrousel .span-like-h2 {
  font-size: 18px;
  line-height: 18px;
  height: 40px;
  overflow: hidden;
  display: block;
  margin-bottom: 2px;
  cursor: pointer;
  cursor: hand;
}

.header-carrousel .span-like-p {
  font-size: 12px;
  line-height: 14px;
  height: 28px;
  overflow: hidden;
  display: none;
  margin-bottom: 2px;
}

.header-carrousel .span-like-a {
  color: #FFFFFF;
  display: none;
  font-size: 12px;
  font-weight: 900;
  line-height: 14px;
  text-decoration: none;
}

.header-carrousel .activeSlide .pager-element span {
  display: block;
}

.header-carrousel .pager-element span.span-like-a:hover {
  text-decoration: underline;
}
