/* $Id: homepage.css,v 1.177 2013/11/27 20:51:17 vamirbekyan Exp $ */

/* 960.gs alterations
------------------------------------------------------------------------------*/
.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.grid_4_plus {
  float: left;
  width: 310px;
}

.grid_8_minus_margin {
  float: left;
  width: 620px;
}

.grid_3_plus {
  float: left;
  width: 230px;
}

.grid_6_plus {
  float: left;
  width: 470px;
}

.grid_6_minus_margin {
  float: left;
  width: 460px;
}

/* Homepage style
------------------------------------------------------------------------------*/
.page-homepage h1 a {
  color: #247f80;
}

.page-homepage h1 a:hover {
  text-decoration: none;
}

.news-featured-box img {
  -moz-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 3px;
}

.news-list-box .news-rss-button {
  float: right;
  margin-top: -5px !important;
}

.page-homepage .date {
  color: #626262;
  font-style: italic;
}

.page-homepage h4.title a,
.page-homepage a.more-link {
  font-weight: 900;
}

.news-list-box .views-row {
  margin-bottom: 5px;
  line-height: 1.4em;
}

.news-featured-box .views-row p {
  margin-bottom: 0;
}

.news-list-box .views-row p {
  display: inline;
  margin-bottom: 0;
}

.map-box a {
	display: block;
}

/* Zunia feed box
------------------------------------------------------------------------------*/
.zunia-feed-box .attachment-before {
  float: left;
  padding: 20px 0 10px;
  width: 200px;
}

.zunia-feed-box .attachment-before a.zunia-logo {
  background: url(../images/zunia-big-logo.png) 0 0 no-repeat;
  display: block;
  height: 67px;
  text-indent: -5000px;
  width: 191px;
}

.zunia-feed-box .view-aggregated-content {
  position: relative;
}

.zunia-feed-box .views-slideshow-controls-top {
  left: 73px;
  position: absolute;
  text-align: center;
  top: 106px;
  width: 48px;
}

.zunia-feed-box .views-slideshow-controls-top .pager-item {
  padding: 0px;
}

.zunia-feed-box .views-slideshow-controls-top a {
  background: url(../images/bullets.png) no-repeat scroll 0 -100px;
  display: block;
  float: left;
  height: 16px;
  overflow: hidden;
  text-indent: -5000px;
  width: 16px;
}

.zunia-feed-box .views-slideshow-controls-top .activeSlide a {
  background-position: 0 0;
}

.zunia-feed-box .views-slideshow-controls-top a:hover {
  background-position: 0 -50px;
}

.zunia-feed-box .view-content {
  background: url(../images/zunia-cell-vertical-separator.png) 0 50% no-repeat;
  display: table-cell;
  height: 128px;
  margin-left: 210px;
  padding-left: 30px;
  vertical-align: middle;
}

.zunia-feed-box .views_slideshow_singleframe_slide {
  width: 194px;
}

.zunia-feed-box .views-row p {
  margin-bottom: 0;
}

/* Social media box
------------------------------------------------------------------------------*/
.facebook-container .social-media-cell {
  float: left; 
  margin-left: 10px; 
  margin-top: 4px;
}

.twitter-container .social-media-cell {
  float: left; 
  margin-left: 10px; 
  margin-top: 19px;
}

.facebook-container .social-media-item {
  margin-left: 60px;
  overflow: hidden;
}

.twitter-container .social-media-item {
  margin-top: -15px;
  margin-left: 60px;
  overflow: hidden;
}

/* homepage layout styling */

#col1 {
  float: left;
  margin: 10px 0;
}

#col2 {
  float: right;
  margin: 10px 0;
  padding: 1px;
}

.page-homepage #col1 {
  width: 670px;
}

.page-homepage #col2 {
  width: 320px;
}

.page-admin #col1 {
  width: 570px;
}

.page-admin #col2 {
  width: 220px;
}

/* no style styling */

.ampphome-donor-map,
.ampphome-contact-social,
.ampphome-search {
  width: auto;
  clear: both;
  position: relative;
}

.ampphome-donor-map .views-field-title {
  margin: 0pt; 
  background: url("../images/transparent_bg.png") repeat scroll 0pt 0pt transparent !important;
  width: 310px;
  padding: 1px 5px;
  color: #ffffff;
  text-align: left;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  min-height: 36px;
}

.ampphome-donor-map .views-slideshow-cycle-main-frame-row-item {
  position: relative;
  bottom: 0;
} 

.ampphome-news-slideshow-container .views-field-title a {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.ampphome-news-teaser-container {
  float: left; 
  border: 1px solid #f2f2f2;
  padding: 30px 10px 0;
  -moz-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;  
  width: 300px;  
}

.ampphome-news-teaser-container .read_all_news {
  margin: 10px;
  text-align: center;
  clear: both;
}

.ampphome-news-teaser-container .read_all_news a {
  text-decoration: underline;
  font-size: 11px;
}

.ampphome-news-teaser-container .pane-homepage-slideshow h2.pane-title {
  background: none;
  padding: 0;
  color: #000000;
} 

.read_all_news {text-align:center;margin: 10px 0}

h2.pane-title {
  background: none !important;
}

/* end of no style styling  */

/* rounded corners styling */

.page-admin .ampphome-donor-container .rounded-corner,
.page-admin .ampphome-map-container .rounded-corner {
  width: 270px;
  float: left;
  padding: 0px;
  margin: 0 10px 15px 0;
  height: auto;

}

.page-admin .ampphome-news-slideshow-container .rounded-corner {
  width: 220px;
  float: left;
  padding: 1px;
  margin: 0 10px 0 0;
  height: auto;
  -moz-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;   
}

.page-homepage .rounded-corner .form-item .form-text {
  width: 450px;
  margin-left:0px;
  border: 1px solid #cacaca;
  -moz-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 5px 5px 5px 10px;  
}
.page-homepage .rounded-corner .feedback-form .form-item .form-text {margin-left:0px;width: 465px;}
.page-homepage .rounded-corner .pane-projects-search-form .form-item-period-start-date input,
.page-homepage .rounded-corner .pane-projects-search-form .form-item-period-end-date input {
  width: 80px;
}
.page-homepage .rounded-corner .pane-projects-search-form .container-inline-date {
  width:450px;  
  float: left;
  clear: none;
}
.page-homepage .rounded-corner .pane-projects-search-form .container-inline-date .form-item, .container-inline-date .form-item input {
  margin-bottom:0px;
}
#ampp-search-form .form-type-item {
  padding-bottom: 0px;
}
.page-homepage #ampp-search-form .form-type-item {
  padding-bottom: 25px;
}
.page-homepage .rounded-corner .pane-projects-search-form .date-padding {
  padding-left:0px;
  float:left;
}
.page-homepage .rounded-corner .pane-projects-search-form .form-item-period-start .description {
  margin-left:12px;
}
.page-homepage .rounded-corner .pane-projects-search-form .container-inline-date .date-padding {
  padding-top:0px;
  padding-bottom:0px;
}

/* end of rounded corners styling */

/* homepage styling */

.page-homepage .ampphome-donor-container,
.page-homepage .ampphome-map-container {
  width: 322px;
  float: left;
  padding: 0px;
  margin: 0 10px 0 0;
  height: auto;
}

.page-homepage .ampphome-news-slideshow-container {
  float: left;
}

.page-homepage .ampphome-contact-social,
.page-homepage .ampphome-search {
  width: 653px;
}

/* end of homepage styling */

/* page-admin styling */

.page-admin .ampphome-donor-container,
.page-admin .ampphome-map-container {
  width: 270px;
  float: left;
  padding: 0px;
  margin: 0 10px 15px 0;
  background: url("/sites/all/themes/ampp/images/block-heading.png") repeat-x scroll 0 0 #F2F2F2;
  height: auto;
  border: 1px solid #d0d0d0;
}

.page-admin .ampphome-news-slideshow-container {
  width: 220px;
  float: left;
  padding: 1px;
  margin: 0 10px 0 0;
  height: auto;
}

.page-admin .ampphome-contact-social,
.page-admin .ampphome-search {
  background: none;
  width: 550px;
  margin-bottom: 20px;
}

/* end of page-admin styling */

div.views-slideshow-ddblock-cycle-vsd-default div.slide-text-bottom {
  bottom: 0;
}

.slide .slide-inner {
  position: relative;
}

div.views-slideshow-ddblock-cycle-vsd-default div.slide-text {
  background: url("../images/transparent_bg.png") repeat scroll 0 0 transparent !important;
  height: auto;
  position: absolute;
  padding: 0;
  color: #ffffff;
  bottom: 0;
  width: 1000px;
}

div.views-slideshow-ddblock-cycle-vsd-default div.slide-body-horizontal {
  width: auto !important;
}

.views-slideshow-pager-field-item {
  float: left;
  padding:3px;
}

div.views-slideshow-ddblock-cycle-vsd-default div.slide-body-inner {
  font-weight: normal;
  color: #ffffff;
  padding: 3px 0px;
  font-size: 87%;
}

.ampphome-news-teaser-container .views-field-field-image .field-content {
  float: left;
  margin-right: 10px;
}

.ampphome-news-teaser-container .views-field-field-image .field-content img {
  padding: 1px;
  border: 1px solid #c3c3c3;
  margin-top: 3px;
}

.ampphome-news-teaser-container .views-row {
  margin: 0;
  padding: 0;
  border-bottom: 1px dotted #C3C3C3;
  clear: both;
}

.ampphome-news .view-footer .view-homepage-slideshow .view-content .views-row.views-row-last {
  border-bottom: none;
  clear: both;
}

.ampphome-news-teaser-container .views-field-created .field-content a {
  color: #8e8e8e;
}

.view-homepage-slideshow .views-field-created .field-content a:hover {
  text-decoration: none;
}

.view-homepage-slideshow .views-field-title .field-content a,
.view-homepage-slideshow .views-field-title .field-content a:visited {
  font-weight: bold;
  font-size: 12px;
}

.views-slideshow-cycle-main-frame-row-item a,
.views-slideshow-cycle-main-frame-row-item a:visited {
  color: #ffffff;
}

.views-slideshow-ddblock-prev-next-slide {
  height: 170px;
  position: absolute;
  top: 0 !important;
  z-index: 100;
  width: 1000px !important;
} 

.views-slideshow-ddblock-prev-next-slide .prev-container {
  float: left;
  height: 175px !important;
  width: 100px !important;
}

.views-slideshow-ddblock-prev-next-slide .next-container {
  float: right; 
  right: 0pt; 
  height: 175px !important;
  width: 100px !important;
}

.ampphome-news-teaser-container .view-homepage-slideshow .views-row {
  margin: 10px 0 5px;
  padding: 5px 0 10px;
}

.ampphome-news-teaser-container .view-homepage-slideshow .views-field-title .field-content a, 
..ampphome-news-teaser-container .view-homepage-slideshow .views-field-title .field-content a:visited {
  color: #ffffff
}

.ampphome-news-teaser-container .views-field-field-image {
  float: left; 
  width: 61px; 
  height: 72px;
}

.views-slideshow-pager-field-item span {
  display: block;
  width: 8px;
  height: 8px;
  background: url("/sites/all/themes/ampp/images/slideshow_bullet_passive.png") repeat-x scroll 0pt 0pt transparent; 
}

.views-slideshow-pager-field-item.active span {
  display: block;
  width: 8px;
  height: 8px;
  background: url("/sites/all/themes/ampp/images/slideshow_bullet.png") repeat-x scroll 0pt 0pt transparent; 
}

div.views-slideshow-ddblock-cycle-vsd-default div.container-inner {
  height: 220px;
  position: relative;
  z-index: 0;
}

.views-slideshow-controls-bottom {
  margin: 0 auto;
  text-align: center;
  background: #f2f2f2;
}

.views-slideshow-pager-field-processed {
  display: inline-block;
}

.views-slideshow-cycle-main-frame-row-item {
  position: relative;
}

.slideshow_created {
  font-weight: normal;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
}

.slideshow_title {
  clear: both;
  display: block;
  text-decoration: underline;
  font-weight: bold;
}

.view-display-id-block_1 .views-field-title .field-content a:hover {
  border-bottom: none;
}

.breadcrumb {
  clear: both;
  margin-left: 10px;
  padding-top: 10px;
}

.feedback-form label {
  float: left;
  font-weight: normal;
  width: 100px;
}

.page-homepage .feedback-form .form-textarea-wrapper textarea {
  border: 1px solid #cacaca;
  width: 485px;
  padding: 5px;
}

.page-homepage .form-item .form-text,
.page-search .form-item .form-text {
  width: 500px;
  border: 1px solid #cacaca;
  padding: 5px;  
}

#edit-captcha-response {
  -moz-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;  
}

.feedback-form .resizable-textarea .grippie {
  margin-left: 107px;
  width: 485px;
}

.feedback-form .form-submit,
#ampp-search-form .form-submit {
  background: #5e8ad1;
  margin-left: 107px;
  color: #ffffff;
}
.contextual-links-wrapper {
  display: none;
}

.captcha.form-wrapper .fieldset-wrapper {
  margin-left: 100px;
}

.pane-ampp-feedback-feedback .pane-content,
.pane-ampp-projects-ampp-search .pane-content {
  padding: 0 0 20px 20px;
}

.page-homepage .form-item .description {
  margin-left: 110px;
  clear: left;
  width:430px;
}
.page-search .form-item .description {
  margin-left: 110px;
  clear: left;
  width:auto;
}
.page-homepage #col2 .pane-projects-search-form .form-item .description {
  margin-left: 0px;
  clear: left;
  width:230px;
}
#modalContent .form-item .description {
  margin-left: 0;
}

ul.token-input-list li input {
  margin: 2px 0;
}

div.token-input-dropdown,
div.token-input-dropdown-facebook {
  background: #FEFEFE;
  font-family: Tahoma,Arial,Verdana;
  font-size: 10px;
  width: 500px;
  -moz-box-shadow: 3px 3px 3px #cccccc;
  -webkit-box-shadow: 3px 3px 3px #cccccc;
  box-shadow: 3px 3px 3px #cccccc;
  z-index: 9999;
  margin-left: 5px;
}

li.token-input-token,
li.token-input-input-token,
li.token-input-input-token-facebook {
   border-radius: 5px 5px 5px 5px;
   color: #000000;
   cursor: default;
   float: left;
   font-size: 11px;
   height: auto !important;
   overflow: hidden;
   padding: 1px 3px;
   white-space: nowrap;
   font-weight: normal;
}

li.token-input-token-facebook span,
li.token-input-token span,
li.token-input-input-token-facebook span,
li.token-input-input-token span {
   color: #A6B3CF;
   cursor: pointer;
   font-weight: bold;
   margin-left: 5px;
   float: none;  
}

li.token-input-token-facebook p,
li.token-input-token p,
li.token-input-input-token-facebook p,
li.token-input-input-token p {
  display: inline;
}

.form-item-captcha-response .form-text {
  width: 170px !important;
}

.form-item input.error, 
.form-item textarea.error, 
.form-item select.error {
 border: 2px solid red !important;
}

.page-homepage .form-item label,
.page-search .form-item label {
  float: left;
  font-weight: normal;
  width: 108px;
}

.page-homepage #col2 .form-item label {width: auto; float: none;}
.page-homepage #col2 ul.token-input-list, .page-homepage #col2 ul.token-input-list-facebook {width: 250px; padding-left: 5px}
.page-homepage #col2 .form-item .description {margin-left: 0}
.page-homepage #col2 .ampphome-donor-map .pane-content, .page-homepage #col2 .ampphome-news .pane-content {padding: 0 20px 20px}
.page-homepage #col2 .pane-ampp-projects-ampp-search {width: 320px}
.page-homepage #col2 #ampp-search-form .form-item-sector, .page-homepage #col2 #ampp-search-form .form-item-donor, .page-homepage #col2 #ampp-search-form .form-item-region, .page-homepage #col2 #ampp-search-form .form-item-keyword {width: auto}
.page-homepage #col2 .rounded-corner .form-item .form-text, .page-homepage #col2 .form-item .form-text {width:230px; margin-left:0px; margin-right:10px;}
.page-homepage #col2 .rounded-corner .form-item-institutions .hierarchical-select .selects .form-select {width:260px;margin-bottom:10px;}
.page-homepage #col2 .feedback-form .form-textarea-wrapper textarea {width: 260px}
.page-homepage #col2 .feedback-form .resizable-textarea .grippie {width: 258px; margin-left: 0}
.page-homepage #col2 .captcha.form-wrapper .fieldset-wrapper {margin-left: 0}
.page-homepage #col2 .feedback-form .form-submit, .page-homepage #col2 #ampp-search-form .form-submit {margin-left: 0}
.page-homepage #col2 .hierarchical-select-wrapper .hierarchical-select .selects .grippie {margin-right: 3px}
.page-homepage #col2 .hierarchical-select-wrapper .hierarchical-select .selects .grippie {width: 258px; margin-left: 0}
.page-homepage #col2 #ampp-search-form div span.modal-list-more {right: 0; margin: 34px 10px 0 10px;}
.page-homepage #col2 ul.token-input-list-facebook li input {padding: 3px}

*+html .views-slideshow-cycle-main-frame-row-item .views-field-title {
  float: left; /* IE7 news slideshow title fix */
}

#field-link-add-more-wrapper .link-field-url .form-item {
  margin: 0;
}

.slide-body-inner p {
  margin-bottom: 0;
}

/* rounded corners edited */

.rounded-corner.pane h2.pane-title,.rounded-corner.pane h2 {color: #ffffff; height: 30px; background-position:8px 8px !important;padding:13px 0 0 45px}
.rounded-corner.pane {margin-bottom:20px; text-align: left;}
.rounded-corner.pane ul.token-input-list, .rounded-corner.pane ul.token-input-list-facebook {-moz-border-radius: 10px 10px 10px 10px;  -o-border-radius: 10px 10px 10px 10px;  -webkit-border-radius: 10px 10px 10px 10px;  border-radius: 10px 10px 10px 10px;}
.rounded-corner.region {border: 1px solid #d0d0d0; -moz-border-radius: 10px 10px 10px 10px; -o-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; border-radius: 10px 10px 10px 10px;padding:1px}

ul.token-input-list, ul.token-input-list-facebook {clear: none;  width: 470px;  border: 1px solid #cacaca; float: left; padding: 0 0 0 15px}
.page-homepage .rounded-corner.pane .feedback-form .form-textarea-wrapper textarea {-moz-border-radius: 10px 10px 0 0; -o-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0; padding: 5px;}
#other_news {padding:0px 5px;font:900 14px/18px Tahoma,Arial,sans-serif;color:#000000}
.page-homepage .ampphome-contact-social .pane-feedback .feedback-form {padding: 0 0 10px 10px}
.ampphome-news .view-footer {margin-top:20px}
.ampphome-news .view-footer .view-display-id-block_4 .view-content {padding: 0 10px}
.view-footer .view-display-id-block_4 .view-content {padding: 0 10px}
.ampphome-news .view-footer .view-homepage-slideshow .view-content .views-row {padding:15px 5px;border-bottom:1px dotted #c3c3c3}
.view-display-id-block_4 .view-content .views-row {padding:15px 5px;border-bottom:1px dotted #c3c3c3}
.ampphome-news .view-homepage-slideshow .view-content .views-row .views-field-field-image img {float:left;padding:1px;border:1px solid #c3c3c3;margin-top:4px}
.view-homepage-slideshow .view-content .views-row .views-field-field-image img {float:left;padding:1px;border:1px solid #c3c3c3;margin-top:4px}
.ampphome-news-slideshow-container .pane-content {background:#ffffff}
.view-display-id-block_4 .views-field-title, .view-display-id-block_4 .views-field-created {margin-left:60px}
.ampphome-donor-map .views-field-title a {text-decoration: underline;font-weight:bold}
.ampphome-news .view-footer .views-field-title span a {text-decoration:underline;font-weight:bold}

.ampphome-donor-map .views-slideshow-controls-bottom {background:none}
.dgone-footer .total-amounts {float:right;margin-right:10px}
.page-search .views-field-commitment-amount, .page-search .views-field-disbursement-amount,.page-search .dgone-footer .total-amounts td.views-field {text-align:right}
.magnifier {cursor:pointer} 
.page-search div.token-input-dropdown,
.page-search div.token-input-dropdown-facebook {width:auto}
div.token-input-dropdown,div.token-input-dropdown-facebook {max-height:300px;overflow:auto}

.page-homepage .ampphome-donor-map .pane-content,.page-homepage .ampphome-news .pane-content {margin-top:0}
.page-homepage .rounded-corner.pane h2.pane-title, .page-homepage .rounded-corner.pane h2 {padding:13px 0 0 45px;background-position:8px 8px !important}

.hierarchical-select .selects .form-select {width:99%;margin:10px 5px 0 2px;min-height:27px;border:1px solid #CACACA;padding:3px;-moz-border-radius: 10px 0 0 0; -o-border-radius: 10px 0 0 0; -webkit-border-radius: 10px 0 0 0; border-radius: 10px 0 0 0;}
#ampp-search-form div span.modal-list-more {background:url("../images/list.png") no-repeat scroll 0 0 transparent;float:left;position: relative;margin-top:15px;margin-left:5px;}
#ampp-search-form div span#loading-count {background:none;float:none;margin:0;} 
.page-homepage .ui-dialog-content #modal-sector-iframe {width:95%;height:383px} 
.page-homepage .ui-dialog-content #modal-sector-iframe body {overflow:hidden}
.hierarchical-select-wrapper .hierarchical-select .selects {width:100%}
#modal-sector-iframe .hierarchical-select .selects .form-select {width:99%}
.page-homepage .ui-dialog .ui-dialog-content {padding:0.5em 3px}
.hierarchical-select-wrapper .dropbox {margin:0}
.hierarchical-select-wrapper .dropbox-title {text-align:left}
.form-item-institutions .hierarchical-select-wrapper .hierarchical-select .selects {width:auto}
.form-item-institutions .hierarchical-select .selects .form-select {margin:0 3px 0 0;width:auto;padding:0}
.hierarchical-select-wrapper .hierarchical-select select, .hierarchical-select-wrapper .hierarchical-select .add-to-dropbox, .hierarchical-select-wrapper .hierarchical-select .create-new-item {margin:5px 0.5em 3px 0}
.hierarchical-select-wrapper .hierarchical-select option.has-children {padding-right: 20px}
.dropbox table td {padding:3px}

.page-search #ampp-search-form .form-item-sector, .page-search #ampp-search-form .form-item-donor, .page-search #ampp-search-form .form-item-region, .page-search #ampp-search-form .form-item-keyword {width:96%}
.page-search ul.token-input-list, .page-search ul.token-input-list-facebook {width:84%; float: left; background: #ffffff}
.page-search .form-item .form-text, .page-search .form-item .form-text {width:83%;padding:2px 7px 2px 16px}

#ampp-search-form .form-type-checkbox .form-checkbox {float: left; margin-right: 5px} 
#ampp-search-form .form-type-checkbox label.option {width: auto}
#ampp-search-form .form-type-checkbox {float: left; width: 100%; margin: 0 0 5px}
#ampp-search-form .form-submit {margin-left: 0}
.pane-ampp-projects-ampp-search-result-totals .total-amounts.view-projects-search-result, .pane-search-result-totals .total-amounts.view-projects-search-result {float: right; margin-top: 0}
.pane-projects-as-of {position: absolute; right: 0; margin-top: -25px}

.view-top-activities-by-disbursment table th, .view-top-activities-by-disbursment table td {font-size: 10px; padding: 10px; vertical-align: top; background: #ffffff}
.view-top-activities-by-disbursment table th {background: #dddddd}
.view-top-activities-by-disbursment table {margin: 20px 0}

.rounded-corner.pane .panel-pane.pane-projects-search-form .pane-content {padding: 0 0 20px 20px}
.page-homepage #col2 .ampphome-news .pane-content {padding: 0 0 20px}
.page-homepage #ampp-search-form ul li input[type=text] {border: 0; margin-left: 0px}

.page-homepage .ampphome-contact-social .pane-feedback .pane-content {padding: 0 0 20px 20px}
.page-search .pane-projects-search-form .rounded-corner #ampp-search-form .form-item-keyword #edit-keyword {-moz-border-radius: 10px 10px 10px 10px;  -o-border-radius: 10px 10px 10px 10px;  -webkit-border-radius: 10px 10px 10px 10px;  border-radius: 10px 10px 10px 10px; padding: 5px}

.page-homepage .feedback-form .form-item-captcha-response {margin-left: 5px;}
ul.token-input-list-facebook li input {background-color: white; border: 0 none; margin: 2px 0; padding: 3px 8px; width: 100px;}

li.token-input-token-facebook {background-color: #EFF2F7; border: 1px solid #CCD5E4; border-radius: 5px 5px 5px 5px; color: #000000; cursor: default; float: left; font-size: 11px; height: auto !important; margin: 3px; overflow: hidden; padding: 1px 3px; white-space: normal;}
li.token-input-selected-token-facebook {background-color: #5670A6; border: 1px solid #3B5998; color: #FFFFFF;}
div.token-input-dropdown-facebook {background-color: #FFFFFF; border-bottom: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; cursor: default; font-family: Verdana; font-size: 11px; overflow: hidden; position: absolute; width: auto; z-index: 1;}
div.token-input-dropdown, div.token-input-dropdown-facebook {max-height: 300px; overflow: auto;}
div.token-input-dropdown, div.token-input-dropdown-facebook {background: none repeat scroll 0 0 #FEFEFE; box-shadow: 3px 3px 3px #CCCCCC; font-family: Tahoma,Arial,Verdana; font-size: 10px; margin-left: 5px; width: auto; z-index: 9999;}
div.token-input-dropdown-facebook ul {}
div.token-input-dropdown-facebook ul li {cursor: pointer; padding: 3px 5px}
div.token-input-dropdown-facebook ul li:hover {background: #376091; color: #ffffff}
div.token-input-dropdown-facebook p {margin-left: 3px; padding: 2px; font-weight: bold; color: #666666}

.page-homepage #col2 .ampphome-contact-social, .page-homepage #col2 .ampphome-search {width: auto}
.page-homepage #col2 .ampphome-news .pane-feedback .pane-content {padding: 0 0 0 20px}
.page-homepage #col2 #ampp-search-form {padding-left:20px;}