/* $Id: ie6.css,v 1.1 2011/12/23 16:57:07 vamirbekyan Exp $ */

.section-header h2 a {
  background-image: url(../images/logo-development-gateway.gif);
}

.logo-container {
  background-image: url(../images/logo-separator.gif);
}

.section-header .logo-container h2.omega{background:url("../images/logo-container.gif") no-repeat scroll 0 0 transparent;margin-top:43px;height:50px}

.section-header {
  background-image: none;
}

.website-switch-menu li.active a {
  background-image: url(../images/website-switch-active.gif);
}

.social-media-icons a {
  background-image: url(../images/social-media-icons.gif);
}

.dgtwo-columns,
.dgthree-columns {
  background-image: url(../images/left-menu-background.jpg);
}

.sidebar-menu-links ul li {
  background-image: url(../images/left-menu-li-background.gif);
}

.sidebar-menu-links a {
  background-image: url(../images/left-menu-li-background-hover.gif);
}

.grid_12 {
  position: static
}