/* $Id: listing.css,v 1.2 2013/03/01 12:26:38 eabrahamyan Exp $ */

/* Style pagers.
------------------------------------------------------------------------------*/
.item-list ul.pager {
  margin: 0;
  overflow: hidden;
  text-align: left;
  font-size: 11px;
  padding: 0;
}

.item-list ul.pager li {
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid #02578a;
  margin: 0 5px 0 0;
  float: left;
  padding: 2px;
}

.item-list ul.pager li a {
  color: #006595;
  float: left;
  padding: 0 5px;
  text-decoration: none !important;
}

.item-list ul.pager li a:hover,.item-list ul.pager li:hover {
  background-color: #CEE4F2;
}

.item-list ul.pager li a.views-throbbing {
  padding-right: 18px;
}

.item-list ul.pager li.pager-current,
.item-list ul.pager li.pager-ellipsis {
  background-color: #02578A;
  color: #FFFFFF;
  padding: 2px 7px;

}

/* Style search page.
------------------------------------------------------------------------------*/
body.page-search .search-sidebar-links h2 {
  font-weight: normal;
  margin: 20px 10px;
  text-align: right;
}

body.page-search .sidebar-menu-links a.active {
  color: #006595;
}
.view-search .attachment-before {
  margin: 20px 0;
  overflow: hidden;
}

.view-search .attachment-before h1 {
  float: left;
  margin: 0;
}

.view-search .attachment-before .search-results-position {
  float: right;
  color: #8A8A8A;
  font: 100 12px/16px Tahoma,Arial,sans-serif;
}

.view-search .view-filters {
  margin:0 0 20px;
}

.view-search .view-filters .views-exposed-widget,
.view-search .view-filters .views-exposed-widgets {
  margin: 0;
  padding: 0;
}

.view-search .view-filters .form-submit {
  height: 22px;
  margin: 1px 1px 1px -22px;
  width: 22px;
}

.view-search .view-filters #edit-s-wrapper {
  float: left;
  margin: 0;
}

.view-search .view-filters #edit-s-wrapper .form-text {
  border: 1px solid #CFCFCF;
  padding: 3px 8px;
  width: 222px;
  font-weight:bold;
  color:#AEAEAE;
  font-family:Verdana;
  border-radius:4px 4px 4px 4px;
  box-shadow:2px 2px 3px #E9E9E9 inset;
}

.search-select-wrapper select#edit-t{
  border:1px solid #CFCFCF;
  font-weight:bold;
  padding:2px 0 2px 5px;
  height:24px;
  color:#AEAEAE;
  border-radius:4px 4px 4px 4px;
  box-shadow:2px 2px 3px #E9E9E9 inset;
}

.search-select-wrapper select#edit-t option{
  padding:2px 0 2px 8px;
}

/* Style listing pages.
------------------------------------------------------------------------------*/
.views-content-listing-page h2,
.views-content-listing-page p {
  margin-bottom: 5px;
  margin-left: 0px;
}

.views-content-listing-page .views-row {
  margin-bottom: 20px;
  overflow: hidden;
}

.views-content-listing-page .date {
  color: #888888;
  display: block;
}

.views-content-listing-page img {
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  float: left;
  height: 87px;
  padding: 3px;
  width: 132px;
  position:relative;
  margin:0 10px 0 0;
}

.field-field-featured-image,
.field-field-featured-video {
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 3px;
}

.views-content-listing-page .has-thumbnail h2,
.views-content-listing-page .has-thumbnail p,
.views-content-listing-page .has-thumbnail .date,
.views-content-listing-page .date {
  margin-left: 0px;
}

.views-content-listing-page .field-featured-video-embed span.field-content {
 padding: 0;
}

/* Top Story styling ---- */
.container_12 .grid_9 .view-display-id-block_3 .field-featured-video-embed,
.container_12 .grid_9 .view-display-id-block_3 .field-featured-image-fid {
  float: left;
  margin: 0 20px 20px 0;
}

.container_12 .grid_9 .view-display-id-block_3 .title {
  padding:35px 0 5px 0;
}

.container_12 .grid_9 .view-display-id-block_3 .body {
  line-height:1.6em;
}

.container_12 .grid_9 .view-display-id-block_3 .title a {
  color:#247F80;
  font:100 18px/20px Tahoma,Arial,sans-serif;
  text-shadow:1px 1px 0 #FFFFFF;
}

.container_12 .grid_9 .view-display-id-block_3 .created {
  color: #616161;
  font-style: italic;
  padding-top: 5px;
}

h1.node-title {
  margin: 0;
}

.container_12 .grid_9 {
  margin-top: 0px;
}
.pane-node-content .pane-content .submitted {
  color: #616161;
  font-style: italic;
  padding-top: 5px;
}

.pane-node-content .pane-content .meta {
 margin-bottom: 20px;
}

.container_12 .grid_9 .jcarousel-skin-tango {
  clear: both;
}

.container_12 .grid_9 .jcarousel-skin-tango .jcarousel-container-horizontal {
  width: 620px;
  height: auto;
  background: #ffffff;
  margin: 0;
}

.container_12 .grid_9 .jcarousel-skin-tango .jcarousel-item {
  margin: 0 10px;
  height: auto;
  border: 0;
}

.container_12 .grid_9 .jcarousel-skin-tango .jcarousel-clip-horizontal {
  width: auto;
}

.view-id-news .field-featured-video-embed span.field-content, 
.field-featured-image-fid span.field-content {
  display: block;
  padding: 5px 3px;
  border: 1px solid #e4e4e4;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.jcarousel-item .field-featured-image-fid {
  width: 156px;
  margin: 0;
  padding: 0;
}

.jcarousel-item .field-featured-video-embed span.field-content, 
.jcarousel-item .field-featured-image-fid span.field-content {
  width: 150px;
}

.views-content-listing-page .field-featured-video-embed span.field-content {
  border:0;
}

.container_12 .grid_9 .view-display-id-block_3 .field-featured-video-embed span.field-content {
  padding: 5px;
}

.container_12 .grid_9 .jcarousel-skin-tango .title {
  text-align: left;
  margin: 4px 10px;
  float: left;
  width: 138px;
}

.container_12 .grid_9 .jcarousel-skin-tango .title span {
  line-height: 1.5em;
}
.container_12 .grid_9 .jcarousel-skin-tango .title a {
  color: #02578a;
  font-weight: bold;
}
.container_12 .grid_9 .jcarousel-skin-tango .created {
  color: #616161;
  font-style: italic;
  padding: 5px 0 5px 7px;
  text-align: right;
  width: 150px;
}

.container_12 .grid_9 .jcarousel-skin-tango .jcarousel-container {
  border: 1px solid #e4e4e4;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.container_12 .grid_9 .jcarousel-skin-tango .jcarousel-next, 
.container_12 .grid_9 .jcarousel-skin-tango .jcarousel-prev {
  background-image: url("../images/carousel-arrows.png");
}
.container_12 .grid_9 .jcarousel-skin-tango .jcarousel-next, 
.container_12 .grid_9 .jcarousel-skin-tango .jcarousel-prev {
  background-image: url("../images/carousel-arrows.png");
}
.container_12 .grid_9 .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal, 
.container_12 .grid_9 .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
  background-position: -87px 0;
}
.container_12 .grid_9 .jcarousel-skin-tango .jcarousel-prev-horizontal {
  background-position: -87px 64px;
  left: 10px;
  top: 86px;
}
.container_12 .grid_9 .jcarousel-skin-tango .jcarousel-next, 
.container_12 .grid_9 .jcarousel-skin-tango .jcarousel-prev {
  height: 64px;
  width: 29px;
}
.container_12 .grid_9 .jcarousel-skin-tango .jcarousel-next-horizontal {
  background-position: 29px 0;
  right: 10px;
  top: 86px;
}
.container_12 .grid_9 .jcarousel-skin-tango .jcarousel-next-horizontal:hover {
  background-position: 29px -64px;
  right: 10px;
  top: 86px;
}
.container_12 .grid_9 .jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
  background-position:  -87px 0;
}