/* $Id: pane-styles.css,v 1.2 2012/02/09 09:07:12 eabrahamyan Exp $ */

/* Generic
------------------------------------------------------------------------------*/
.styled-pane-container a {
  text-shadow: 1px 1px 0px #FFF;
  font-family: Arial
}

.styled-pane-container.stroke-shadow h1,
.styled-pane-container.stroke-shadow h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.sidebar-column .styled-pane-container.first {
  margin-top: 30px;
}

.views-content-nothing {
  cursor: pointer;
  cursor: hand;
}

/* Style administration links
------------------------------------------------------------------------------*/
.styled-pane-container .administration-links {
  background-color: #FFFFFF;
  display: none;
  font-size: xx-small;
  margin-right: 1em;
  margin-top: -1.5em;
  padding-bottom: 2px;
  position: absolute;
  z-index: 201;
}

.styled-pane-container .administration-links a {
  background-color: #FFFFFF;
  color: #AAAAAA;
  margin: 2px;
  text-shadow: none;
}

.styled-pane-container .administration-links a:before {
  content: "[";
}

.styled-pane-container .administration-links a:after {
  content: "]";
}

.styled-pane-container:hover .administration-links {
  display: block;
}

.styled-pane-container .administration-links:hover a {
  color: #000000;
}


/* Shadow
------------------------------------------------------------------------------*/
.styled-pane-container.stroke-shadow {
  border: 3px solid #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 2px 2px 6px #CCC;
  -moz-box-shadow: 2px 2px 6px #CCC;
  -o-box-shadow: 2px 2px 6px #CCC;
  -webkit-box-shadow: 2px 2px 6px #CCC;
}

.styled-pane-container.stroke-shadow .styled-pane {
  padding: 9px 15px;
}

.styled-pane-container.stroke-shadow.home-short-box .styled-pane,
.styled-pane-container.stroke-shadow.home-mid-box .styled-pane,
.styled-pane-container.stroke-shadow.home-tall-box .styled-pane {
  padding: 20px 15px 15px;
}

.styled-pane-container.stroke-shadow.home-welcome-box .styled-pane {
  padding: 12px 15px 10px;
}

.styled-pane-container.stroke-shadow.no-padding .styled-pane {
  padding: 0;
}


/* Gradient
------------------------------------------------------------------------------*/
.styled-pane-container.gradient-light-box .styled-pane {
  background: #fcfcfb url(../images/home-mid-block-bg.png) 100% 100% repeat-x;
  position: relative;
  padding-top: 9px;
  padding-bottom: 9px;
}
.styled-pane-container.gradient-dark-box .styled-pane {
  background: #e4dfcc url(../images/sidebar-block-bg.png) 0 0 repeat-x;
  position: relative;
  padding-top: 9px;
  padding-bottom: 9px;
}


/* Chipped corner
------------------------------------------------------------------------------*/
.styled-pane-container.chipped-corner-box {
  position: relative;
}

.styled-pane-container.chipped-corner-box .styled-pane {
  background: #e4dfcc url(../images/sidebar-block-bg.png) 0 0 repeat-x;
}

.styled-pane-container.chipped-corner-box .chipped-corner {
  background: url(../images/sidebar-panel-chipped-corner.png) no-repeat 0 0 transparent;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 22px;
  left: -6px;
}


/*  Collapsible
------------------------------------------------------------------------------*/
.styled-pane-container.collapsible-box a.pane-toggle {
  width: 37px;
  height: 37px;
  float: right;
  margin-right: 10px;
  background: url(../images/toggle-paragraph.png) 0 -50px no-repeat;
  text-indent: -5000px;
}

.styled-pane-container.collapsible-box.expanded a.pane-toggle {
  background-position: 0 0;
}

.styled-pane-container.collapsible-box h2 {
  line-height: 22px;
  border-bottom: 1px solid #dad4c5;
  margin-bottom: 20px;
}

.styled-pane-container.collapsible-box .pane-content {
  display: none;
}

.styled-pane-container.collapsible-box.expanded .pane-content {
  display: block;
}


/* Homepage Welcome
------------------------------------------------------------------------------*/
.styled-pane-container.home-welcome-box {
  max-width: 400px;
  position: relative;
  background: #e2dcd7 url(../images/welcome-box-bg.png) 100% 100% no-repeat;
}

.styled-pane-container .home-welcome-corner {
  background: url("/sites/all/themes/corporate/images/welcome-box-corner.png") 100% 100% no-repeat #e2dcd7;
  position: absolute;
  top: 39px;
  left: -6px;
  width: 18px;
  height: 19px;
}

.styled-pane-container.home-welcome-box h4 {
  font: 100 24px/25px Tahoma,Arial,sans-serif;
  color: #247f80;
  margin-bottom: 20px;
}

.styled-pane-container.home-welcome-box h1 a {
  line-height: 20px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 0px #f5f3f1;
  margin-top: 0;
  margin-bottom: 10px;
  font: 100 18px/20px Tahoma,Arial,sans-serif;
  color: #247F80;
}

.styled-pane-container.home-welcome-box a {
  font-weight: 900;
  font-family:Tahoma,Arial,sans-serif;
  font-size: 13px;
  color: #02578a;
  text-shadow: 1px 1px 0px #f5f3f1;
}


/*  Homepage Tall-Mid-Short
------------------------------------------------------------------------------*/
.styled-pane-container.home-tall-box .styled-pane {
  background: #fcfcfb url(../images/home-tall-block-bg.png);
  height: 330px;
}

.styled-pane-container.home-mid-box .styled-pane {
  background: #fcfcfb url(../images/home-mid-block-bg.png);
  height: 128px;
}

.styled-pane-container.home-short-box .styled-pane {
  background: #fcfcfb url(../images/home-short-block-bg.png);
  height: 50px;
}


/*  File Icon and Video Icon Box
------------------------------------------------------------------------------*/
a.play-icon,
a.file-download-icon {
  display: block;
  float: left;
  font: 900 15px/16px Tahoma,Arial,sans-serif;
  padding: 15px 0 10px 45px;
  text-decoration: none !important;
}

a.play-icon {
  background: url(../images/files-icons.png) no-repeat scroll 0 0 transparent;
}

a.file-download-icon {
  background: url(../images/file-download-icons.png) no-repeat scroll 0 0 transparent;
}

a.play-icon span,
a.file-download-icon span {
  font: 100 11px/12px Tahoma,Arial,sans-serif;
  color: #828282;
  font-style: italic;
  display: block;
}

a.play-icon.icon-video {
  background-position: 0 -100px;
}

a.file-download-icon.icon-generic {
  background-position: 0 0;
}

a.file-download-icon.icon-doc {
  background-position: 0 -100px;
}

a.file-download-icon.icon-ppt {
  background-position: 0 -200px;
}

a.file-download-icon.icon-xls {
  background-position: 0 -300px;
}

a.file-download-icon.icon-pdf {
  background-position: 0 -400px;
}

a.file-download-icon.icon-txt {
  background-position: 0 -500px;
}

a.file-download-icon.icon-jpg {
  background-position: 0 -600px;
}

a.file-download-icon.icon-mp3 {
  background-position: 0 -700px;
}

a.file-download-icon.icon-avi {
  background-position: 0 -800px;
}

a.file-download-icon.icon-zip {
  background-position: 0 -900px;
}

/*  Listing styling in RTE
------------------------------------------------------------------------------*/
.pane-content ol {
  list-style-type: decimal;
  padding-left:15px;
}
.pane-content ul {
  list-style-type: none;
  padding-left: 15px;
}
.twitter-container .social-media-item .item-list ul li,
.social-media-item .item-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.facebook-container p {
  margin-bottom: 10px
}

.twitter-container p {
  display: none;
}

.collapsible-box h2:hover {
  cursor: pointer;
  cursor: hand;
}
