/* $Id: sidebar-menu.css,v 1.1 2011/12/23 16:57:19 vamirbekyan Exp $ */

/* Left column
------------------------------------------------------------------------------*/
.dgtwo-columns,
.dgthree-columns {
  background: url(../images/left-menu-background.png) 0 0 no-repeat;
}

.dgtwo-columns .dgtwo-columns-inner,
.dgthree-columns .dgthree-columns-inner {
  padding-bottom: 20px;
  background: url(../images/page-menu-bottom-mask.png) 0 100% no-repeat;
  margin-top: 20px;
}

/* Left menu
------------------------------------------------------------------------------*/
.sidebar-menu-links li.first {
  margin: 0;
  padding: 5px 0 0;
}

.dgtwo-columns-inner h1 {
  margin-top: 0;
}

.sidebar-menu-links li li.first {
  margin: 0;
}

.sidebar-menu-links h2.first {
  margin: 20px 0 0; 
  padding: 0 10px;
}

.sidebar-menu-links .menu-content {
  margin: 0;
  padding-top: 1px;
}

.sidebar-menu-links ul li {
  background: url(../images/left-menu-li-background.png) 100% 100% no-repeat;
  list-style-image: none;
  margin: 0;
  padding: 0 0 1px;
}

.sidebar-menu-links ul li.expanded {/*
  list-style-image: url("/sites/all/themes/corporate/images/menu-expanded.png"); */
}

.sidebar-menu-links a {
  display: block;
  padding: 0 10px;
  text-decoration: none !important;
  font: 100 15px/24px Tahoma,Arial,sans-serif; 
  background: url(../images/left-menu-li-background-hover.png) 0 -1000px no-repeat;
}

.sidebar-menu-links li a:hover {
  background-position: 0 100%;
}

.sidebar-menu-links li.active-trail a {
  background: #fafafa url(../images/left-menu-li-background-active.png) 0 0 no-repeat;
  line-height: 1.3em;
  padding: 5px 0;
}

.sidebar-menu-links ul li.expanded.active-trail a {
  background: none;
}

.sidebar-menu-links ul li.expanded.active-trail a.active,
.sidebar-menu-links ul li.expanded a.active {
  background: url("../images/left-menu-li-background-active.png") no-repeat scroll 0 0 #FAFAFA;
}

.sidebar-menu-links li.active-trail a.active {
  color: #006595;
  font-weight: 900 !important;
}

.sidebar-menu-links li.active-trail a:hover {
  background-position: 0 0;
  text-decoration: underline;
}

.sidebar-menu-links li.active-trail.first a {
  background-image: url(../images/left-menu-li-first-background-active.png);
}

.sidebar-menu-links ul ul {
  padding-bottom: 0px;
  padding-left: 20px;
}

.sidebar-menu-links ul ul li,
.sidebar-menu-links ul ul a {
  background: none repeat scroll 0 0 transparent;
  font-size: 13px;
}

.sidebar-menu-links ul ul a {
  font: 100 13px/21px Tahoma,Arial,sans-serif !important;
  padding: 2px 0 1px;
}

.sidebar-menu-links a,
.sidebar-menu-links li a,
.sidebar-menu-links li a.active {
  color: #006595;
  padding: 5px 0;
}

.sidebar-menu-links ul li ul li a,
.sidebar-menu-links ul li ul li a.active {
  padding: 5px 0;
}

.sidebar-menu-links a:hover{
  text-decoration: underline;
}

.sidebar-menu-links ul li {
  list-style-type: none;
}

.sidebar-menu-links ul {
  padding-left: 0;
}

.main-menu-container ul.menu li span.menu_switch {
  display: none;
}

.pane-sidebar-menu ul.menu li span.menu_switch {
  float: right;
  height: 20px;
}

.pane-sidebar-menu ul.menu li.expanded span.menu_switch a {
  background: url("../images/left-menu-expanded.png") no-repeat scroll 5px 0% transparent;
  width: 30px; 
  height: 20px; 
  margin: 5px 0 5px 15px;
}

.pane-sidebar-menu ul.menu li.collapsed span.menu_switch a {
  background: url("../images/left-menu-collapsed.png") no-repeat scroll 5px 0% transparent;
  width: 30px; 
  height: 20px; 
  margin: 5px 0 5px 15px;
}

.pane-sidebar-menu ul.menu li span.menu_switch a,
.pane-sidebar-menu ul.menu li span.menu_switch a:hover,
.pane-sidebar-menu ul.menu li span.menu_switch a:active,
.pane-sidebar-menu ul.menu li span.menu_switch:hover  {
  text-decoration: none;
}