// big mess of styles that should probably be organized

body {
  background: #eee;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

.dash-row {
  padding: 0 16px;
}

.chart-container {
  height: 260px;
  .big-chart & {
    height: 350px;
  }
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 7px;
  padding-right: 7px;
}

h3 {
  // for filters and share
  font-size: 20px;
  vertical-align: middle;
}

.inline-heading {
  display: inline-block;
  margin: 0 20px 0 0;
  vertical-align: bottom;
}

.applied-filters {
  display: inline-block;
  margin: 0 20px 0 0;
  vertical-align: bottom;
}

.dash-form {

  label {
    color: #333;
  }

  .radio-ui {
    display: inline-block;
    height: 1em;
    width: 1em;
    position: absolute;
    margin: 4px 0 0 -16px;
    border-radius: 0.5em;
    border: 2px solid #ccc;
    background: #eee;
  }

  input {
    opacity: 0;
    &:checked + .radio-ui {
      border-color: #3071a9;
      background: #3071a9;
    }
  }
}

.dollaz {
  white-space: nowrap;
}

.panel {

  &.panel-chart {
    border: 1px solid #ddd;
    border-radius: 0;

    .panel-heading {
      h2 {
        margin: 5px 0 0.2em;
        font-size: 1.6em;
        text-transform: uppercase;
        font-weight: 800;
        color: @c-title;
        .big-chart & {
          font-size: 2em;
        }
      }
    }

    .panel-footer {
      form {
        display: inline-block;
      }
      .cheat-lineheight {
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        margin-right: -1px;
        background: transparent;
        min-height: 30px;
      }
    }
  }

  &.panel-popover {
    margin-bottom: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.333);
    .panel-heading {
      text-transform: uppercase;
      font-weight: 800;
    }
  }

  b {
    color: @c-title;
  }

  .panel-heading,
  .panel-body,
  .panel-footer {
    padding: 9px 12px;
  }
}


.big-number {
  font-size: 2.4em;
  line-height: 1em;
  b {
    color: #666;
  }
  .big-chart & {
    font-size: 3em;
  }
}


.legend-value {
  white-space: nowrap;
  .legend-key {
    display: inline-block;
    height: 1em;
    width: 1em;
  }
}


.dash-chart-diagnostic {
  position: absolute;
  width: 100%;
  padding-top: 80px;
  color: rgb(48, 113, 169);
  text-shadow: 0 0 1em #fff;
  font-weight: 800;
}

.modal-dialog {
  // where did the z-index get lost???
  z-index: 1080;
}

.filters-err {
  vertical-align: bottom;
  margin-right: 10px;
}
