// big mess of styles that should probably be organized

body {
  background: #eee;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

.dash-row {
  padding: 0 16px;
}

// .dash-chart-wrap svg {
//   height: 260px;
//   .big-chart & {
//     height: 350px;
//   }
// }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 7px;
  padding-right: 7px;
}

h1 {
  font-size: 24px;
  font-weight: 800;
  color: @c-title;
}

h3 {
  // for filters and share
  font-size: 20px;
  vertical-align: middle;
}

.inline-heading {
  display: inline-block;
  margin: 0 20px 0 0;
  // vertical-align: bottom;
}
.dash-header .inline-heading {
  vertical-align: baseline;
}

.applied-filters {
  display: inline-block;
  margin: 0 20px 0 0;
  vertical-align: top;

  h5 {
    color: @c-title;
    font-weight: 800;
  }
  li {
    list-style-type: none;
    &:before {
      content: "";
      display: inline-block;
      height: 1em;
      width: 1em;
      margin: 3px 5px 0 -22px;
      border-radius: 0.5em;
      background: #a1d367;
    }
  }
}

.dash-form {

  label {
    color: #333;
  }

  .radio-ui {
    display: inline-block;
    height: 1em;
    width: 1em;
    position: absolute;
    margin: 4px 0 0 -16px;
    border-radius: 0.5em;
    border: 2px solid #ccc;
    background: #eee;
  }

  input {
    opacity: 0;
    &:checked + .radio-ui {
      border-color: #3071a9;
      background: #3071a9;
    }
  }
}

.dollaz {
  white-space: nowrap;
}

.panel {

  &.panel-chart {
    border: 1px solid #ddd;
    border-radius: 0;

    .panel-heading {
      h2 {
        margin: 5px 0 0.2em;
        font-size: 1.6em;
        text-transform: uppercase;
        font-weight: 800;
        color: @c-title;
        .big-chart & {
          font-size: 2em;
        }
      }
    }

    .dash-chart-wrap {
      height: 300px;
      overflow-y: auto;
      .big-chart & {
        min-height: 400px;
      }
    }

    .panel-footer {
      form {
        display: inline-block;
      }
      .cheat-lineheight {
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        margin-right: -1px;
        background: transparent;
        min-height: 30px;
      }
    }
  }

  &.panel-popover {
    margin-bottom: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.333);
    .panel-heading {
      text-transform: uppercase;
      font-weight: 800;
    }
  }

  b {
    color: @c-title;
  }

  .panel-heading,
  .panel-body,
  .panel-footer {
    padding: 9px 12px;
  }
}


.big-number {
  font-size: 2.4em;
  line-height: 1em;
  b {
    color: #666;
  }
  .big-chart & {
    font-size: 3em;
  }
}


.legend-value {
  white-space: nowrap;
  .legend-key {
    display: inline-block;
    height: 1em;
    width: 1em;
  }
}


.dash-chart-diagnostic {
  position: absolute;
  width: 100%;
  padding-top: 80px;
  color: rgb(48, 113, 169);
  text-shadow: 0 0 1em #fff;
  font-weight: 800;
}

.modal-dialog {
  // where did the z-index get lost???
  z-index: 1080;
}
.dash-settings-modal {
  width: 610px;
}
.dash-settings-modal .modal-dialog,
.dash-settings-modal .panel {
  // width: 805px
}
.dash-settings-modal .nav-pills > li > a {
  font-weight: 800;
  font-size: 0.9em;
  border-radius: 0;
}
.dash-settings-modal .sub-filters-content {
  width: 347px;
}

.filters-err {
  vertical-align: bottom;
  margin-right: 10px;
}

.table-responsive {
  overflow-x: auto;
}


.chart-drawing-area {
  position: absolute;
  left: -99999em;
}

@preview-width: 1000px;  // sync with views/download.js
@preview-height: 400px;  // sync with views/download.js
.dash-download-modal {
	width: @preview-width;
}
.preview-area .svg-wrap {
  height: @preview-height;
  width: @preview-width - (15px * 2);
  opacity: 0.0;
}
.preview-area .canvas-wrap {
  height: @preview-height + 50px;
  width: @preview-width - (15px * 2);
}
.modal-dialog.download {
  width: @preview-width + (15px * 2);
}


.modal-dialog .container {
  width: auto;
}

.csv-preview {
  display: block;
  width: 100%;
  height: 200px;
  margin-bottom: 1em;
  font: 16px monospace;
  background: eee;
}

.download-chart {
  position: relative;
  & > object {
    position: absolute;
    top: 0;
    left: 0;
  }
}



.like-btn-sm {
  height: 30px;  // default 34
  padding-top: 4px;  // default 6
  padding-bottom: 4px;  // default 6
}
