// big mess of styles that should probably be organized

body {
  background: #eee;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

.dash-row {
  padding: 0 16px;
}

.box {
  margin-top: 14px;
  background: #fff;
  border: 1px solid #ddd;

  header {
    padding: 0 16px;
    h2 {
      margin: 16px 0 0.2em;
      font-size: 1.6em;
      text-transform: uppercase;
      font-weight: 800;
      color: @c-title;
    }
    h3,
    .adj-type label {
      margin-top: 0;
      font-size: 1em;
      color: #970101;
    }
  }
}

.chart-container {
  margin-top: 20px;
  height: 240px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 7px;
  padding-right: 7px;
}

.big-number {
  font-size: 2.4em;
  line-height: 1em;
  font-weight: 800;
  color: #666;
}


.dash-form {

  label {
    color: #333;
  }

  .radio-ui {
    display: inline-block;
    height: 1em;
    width: 1em;
    position: absolute;
    margin: 4px 0 0 -16px;
    border-radius: 0.5em;
    border: 2px solid #ddd;
  }

  input {
    opacity: 0;
    &:checked + .radio-ui {
      border-color: #a1d367;
      background: #a1d367;
    }
  }

  .inline-text {
    position: relative;
    min-height: 20px;
    vertical-align: middle;
    color: #970101;
  }
}
