.simple-legend {
    display: inline-block;
    width: 100%;
    padding-left: 10px;
}

.simple-legend ul {
    padding: 0;
    margin: 0;
}

.simple-legend-inner {
    text-align: left;
    padding: 10px;
}

.simple-legend ul > li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-right: 6px;
}

.simple-legend ul li .label {
    margin-left: 5px;
    color: black;
}

.simple-legend ul li .symbol {
    display: inline-block;
    border-radius: 100%;
    background-color: transparent;
    background-clip: padding-box;
    height: 10px;
    margin-top: 3px;
    width: 10px;
}