<center>
	<% odaform_for :government_counterpart_names, :url => { :action => :update, :id => @government_counterpart_names } do |f| %>
		<table width="740" class="list">
			<tr>
				<td class="title" colspan=2>Edit Government Counterpart</td>
			</tr>
			<%= render :partial => 'form', :locals => {:f => f} %>
			<tr>
				<td><%= f.submit 'Edit' %></td>
			</tr>	
		</table>
	<% end %>
	<p><b><%= link_to 'Back', :action => 'list' %></b>&nbsp;</p>
</center>