<center>
	<table width="740" class="list">
		<% if @government_counterpart_names.blank? %>
			<tr>
				<td class="exist">No Government Counterparts Exist in the Database. Please create a Government Counterpart first.</td>
			</tr>
		<% else %>
			<tr>
				<td class="title" colspan=2>List of Government Counterparts</td>
			</tr>

			<% for government_counterpart in @government_counterpart_names %> 
			<tr>
				<td width=90%><%= government_counterpart.name %></td>
				<td width=10%><%= link_to 'Edit', :action => 'edit', :id => government_counterpart.id %></td>
			</tr>
			<% end %>
		<% end %>
	</table>
	<p><b><%= link_to 'Add Government Counterpart', :action => 'new' %></b></p>
</center>