<li class="geo_information fifty">
	<%= select_tag "project[province_ids][]", '<option value="">National</option>' +
		options_from_collection_for_select(Province.ordered, :id, :name, (relevant_area.id rescue nil)), 
		:class => "dynamic_select parent large"
	 %><br />
	
	<%= select_tag "project[district_ids][]", 
		option_groups_from_collection_for_select(Province.ordered, :districts, :name, :id, :name, (@project.district_ids rescue nil)), 
		:multiple => true, :class => "dynamic_select child large", :style => "height: 200px"
	%>
	
	<%= link_to_function ll(:actions, :delete), <<-END_JS
		if ($('.geo_information').length > 1) {
			$(this).parents('.geo_information').remove();
		} else {
			alert("#{lc(:zero_provinces_warning)}");
		}
		END_JS
	%>
</li>