<tr>
	<td class="sub_title_bold" colspan=2>Millennium Development Goals and Targets*</td>
</tr>
<% Target.find(:all).each do |t| %>
 <tr>
	<td class="sub_title"><%= t.name %></td>
	<td>
		<%= check_box_tag("project[target_ids][]",
                                t.id,
                                @project ? @project.targets.include?(t) : false) %>
 	</td>
	
</tr>
<% end %>