<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="panel">
    <div class="panel-body">
      <h3 data-i18n="amp.dashboard:dashboard-settings" class="inline-heading">Settings</h3>
      <button type="button" class="btn btn-sm btn-default pull-right dash-settings-button">
        <span class="glyphicon glyphicon-edit"></span>
        <span data-i18n="amp.dashboard:settings-edit">edit settings</span>
      </button>
    </div>
  </div>
</div>
<div id="amp-settings" style="display:none;"></div>
