<h2><%= header t('.title', :donor => @donor.name) %></h2>

<%= Reports::ProjectReport.render_html(
		:projects => @projects, 
		:fields => %w(factsheet_link donor donor_project_number title total_commitments total_disbursements commitments_forecast disbursements_forecast actual_start actual_end)) %>