
# Ignore local deployer files.
.vagrant
*.retry
AnsibleMain.local.yml
DeployerSettings.local.yml
VagrantSettings.local.yml

# Ignore archives and database dumps.
/*.7z
/*.gz
/*.sql
/*.tar
/*.tgz
/*.zip
