<tr>
	<td class="sub_title">
		<%= glossary_icon_for :focal_sector, "Focal Sector / Focal Region" %> Focal Sector / Focal Region:
		<div id="add_sector_loading" style="display: none">
			<b>Please wait..</b>
		</div>
	</td>
	<td id="sector_details">
		<% @country_strategy.sector_details.each_with_index do |object, index| %>
			<%= render :partial => 'sector_detail', :object => object, :locals => { :index => index } %>
		<% end %>
	</td>
</tr>
<tr>
	<td colspan="2">
		<%= render :partial => 'add_sector_link', :locals => { :index => @country_strategy.sector_details.size } %>
	</td>
</tr>