.right_text {
    /*text-align: right;*/
}

.blue_widget {
    background: #EBEBEB !important;
}

.round-filter {
    border: 1px solid #376091;
    border-radius: 4px;
    padding: 4px;
    margin-right: 5px;
    background: #ffffff;
}

#filters-collapsible-area {
	float:right;
	width:675px;
}

.filters-area-button {
	float:left;
	width:230px;
	padding-top: 3px;
}

.ui-accordion-content-active {
	background: #f5f5f5;
}