.right_text {
	/*text-align: right;*/
	
}

.blue_widget {
	background: #EBEBEB !important;
}

.round-filter {
	border: 1px solid #376091;
	border-radius: 4px;
	padding: 3px;
	margin-right: 5px;
	background: #ffffff;
	margin-bottom: 3px;
}

#filters-collapsible-area {
	float: right;
	width: 675px;
}

.filters-area-button {
	float: left;
	width: 230px;
	padding-top: 3px;
}

.ui-accordion-content-active {
	background: #f5f5f5;
}

.header {
	font-size: 24pt;
	height: 30px;
}

.leftcol {
	height: 40em;
}

.tabs {
	padding-top: 20px;
}

.invisible-tabs a {
	color: blue;
	font-size: 1em;
}

#dynamic-filters-region {
	border: 2px solid rgb(56, 121, 146);
	max-height: 500px;
	/*padding: 5px;*/
}

#dynamic-legends-region {
	padding: 5px;
	text-align: right;
}

.legends-container {
	float: right;
}

.wrap-cell {
	white-space: normal !important;
}

/* Overriding jQueryUI section */
.ui-widget-header {
	color: orange;
}

/* Overriding jqGrid section */
th.ui-th-column div {
	white-space: normal !important;
	height: auto !important;
	padding: 2px;
}