.red {
	color: #FF0000;
}

.green {
	color: #6AA919;
}

.blue {
	color: #36749B;
}

.right_text {
	/*text-align: right;*/
	
}

.blue_widget {
	background: #EBEBEB !important;
}

.round-filter {
	border: 1px solid #376091;
	border-radius: 4px;
	padding: 3px;
	margin-right: 5px;
	background: #ffffff;
	margin-bottom: 3px;
	float: left;
}

.pointer {
	cursor: pointer;
}

#filters-collapsible-area {
	float: right;
	width: 630px;
}

.filters-area-button {
	float: left;
	width: 255px;
	padding-top: 3px;
}

.ui-accordion-content-active {
	background: #f5f5f5;
}

.header {
	font-size: 24pt;
	height: 30px;
}

.leftcol {
	height: 100%;
}

.tabs {
	padding-top: 20px;
}

.invisible-tabs a {
	color: blue;
	font-size: 1em;
	cursor: pointer;
}

#dynamic-filters-region {
	border: 2px solid rgb(56, 121, 146);
	max-height: 300px;
	min-height: 200px;
	/*padding: 5px;*/
	position: absolute;
	z-index: 100;
	width: inherit;
}

#dynamic-filters-region hr {
	margin: 0px;
}

#dynamic-legends-region {
	padding: 5px;
	text-align: right;
}

.legends-container {
	float: right;
}

.wrap-cell {
	white-space: normal !important;
}

.status_1 {
	color: blue;
}

.status_2 {
	color: red;
}

.status_3 {
	color: green;
}

.dynamic-content-table tr {
	overflow: visible;
}

.dynamic-content-table td {
	overflow: visible;
	/*max-height:24px !important;
    border: 1px solid #cccccc;
    width:10px;*/
}

/* Overriding jQueryUI section */
.ui-widget-header {
	color: orange;
}

/* Overriding jqGrid section */
th.ui-th-column div {
	white-space: normal !important;
	height: auto !important;
	padding: 2px;
}

.ui-jqgrid tr.ui-row-ltr td {
	border-color: lightgrey;
	padding: 5px;
}

.myAltRowClassEven {
	background: rgb(242, 242, 242);
}

.myAltRowClassOdd {
	background: transparent;
}

.ui-state-hover.myAltRowClassEven {
	color: inherit;
	background: rgb(242, 242, 242);
}

.ui-state-hover.myAltRowClassOdd {
	color: inherit;
	background: transparent;
}

.ui-tabs .ui-tabs-panel {
	height: 100%;
}
/*
.ui-state-highlight.myAltRowClassEven { color: PaleGreen; }
.ui-state-highlight.myAltRowClassOdd { color: Sienna; }
*/