#tabs-container {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#filters-container {
	z-index: 10000;
}

.noTabsMessage {
	font-weight: bolder;
}

.tab-item {
	max-width: 190px;
}

.tab-li {
	word-wrap: break-word;
}

.full-width {
	width: 100%;
}

.red {
	color: #FF0000;
}

.green {
	color: #6AA919;
}

.blue {
	color: #36749B;
}

.right_text {
	text-align: right;
}

.blue_widget {
	background: #EBEBEB;
}

.round-filter {
	border: 1px solid #376091;
	border-radius: 4px;
	padding: 3px;
	margin-right: 5px;
	background: #ffffff;
	margin-bottom: 3px;
	float: left;
}

.pointer {
	cursor: pointer;
}

#filters-collapsible-area {
	float: right;
	width: 100%;
}

.filters-area-button {
	float: left;
	width: 255px;
	padding-top: 3px;
}

.ui-accordion-content-active {
	background: #f5f5f5;
}

.header {
	font-size: 24pt;
	height: 30px;
}

.leftcol {
	height: 100%;
}

.tabs {
	padding-top: 20px;
}

.invisible-tabs a {
	color: blue;
	font-size: 1em;
	cursor: pointer;
}

#dynamic-filters-region {
	border: 2px solid rgb(56, 121, 146);
	max-height: 300px;
	min-height: 200px;
	/*padding: 5px;*/
	position: absolute;
	z-index: 2;
	width: inherit;
}

#dynamic-filters-region hr {
	margin: 0px;
}

#dynamic-legends-region {
	padding: 1px;
	text-align: right;
}

.legends-container {
	float: right;
	padding-bottom: 3px;
	-webkit-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
}

.legends-container .pointer {
	
}

.legends-container .pointer :hover {
	background: #ededed;
	color: #2290d3;
}

#show_legend_pop_box {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.wrap-cell {
	white-space: normal !important;
	font-size: 12px;
	font-weight: normal;
}

.status_1 {
	color: #00496B !important;
}

.status_2 {
	color: red !important;
}

.status_3 {
	color: green !important;
}

table.dynamic-content-table {
	
}

table.dynamic-content-table th,td {
	/* border: 1px solid black;
    overflow: visible;
    width: 200px;*/;
	
}

.dynamic-content-table tr {
	overflow: visible;
}

.dynamic-content-table td {
	overflow: visible;
	/*max-height:24px !important;
    border: 1px solid #cccccc;
    width:10px;*/
}

/* Overriding Filter Widget section */
.input-group-btn {
	font-size: 14px;
}

/* Overriding jQueryUI section */
.ui-widget-header {
	color: orange;
}

/* Overriding jqGrid section */
.ui-jqgrid tr.footrow-ltr td {
	border-right-width: 0px;
}

.ui-jqgrid-sortable {
	font-weight: bolder;
}

.jqgrid-loading-img {
	padding-right: 2px;
}

.ui-jqgrid-view {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.ui-jqgrid .ui-jqgrid-htable th div {
	text-align: center;
}

th.ui-th-column div {
	white-space: normal !important;
	height: auto !important;
	padding: 2px;
}

.ui-jqgrid tr.ui-row-ltr td {
	border-color: lightgrey;
	padding: 5px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

.myAltRowClassEven {
	background: rgb(242, 242, 242);
}

.myAltRowClassOdd {
	background: transparent;
}

.ui-state-hover.myAltRowClassEven {
	color: inherit;
	background: rgb(242, 242, 242);
}

.ui-state-hover.myAltRowClassOdd {
	color: inherit;
	background: transparent;
}

.ui-tabs .ui-tabs-panel {
	height: 100%;
}
/*
.ui-state-highlight.myAltRowClassEven { color: PaleGreen; }
.ui-state-highlight.myAltRowClassOdd { color: Sienna; }
*/

/* Galina's new styles section */
.ui-tabs {
	position: relative;
	/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: 0;
	border: none;
	background: none;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
}

.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 0;
	border-bottom-width: 0;
	padding: 10px 0px 10px 0px;
	white-space: normal;
	font-size: 11px;
	line-height: 12px;
	font-weight: 700;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 1px solid #d7d6d6;
	background: #f0f0f0;
	outline: none;
}

.ui-tabs .ui-tabs-nav li:first-child {
	margin-left: 0;
}

.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em .9em;
	text-decoration: none;
	outline: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	margin-bottom: 0;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-state-processing a
	{
	cursor: text;
}

.ui-tabs .ui-tabs-nav li a,.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a
	{
	cursor: pointer;
}
/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 10px;
	background: #ffffff;
	border: 1px solid #d0d0d0;
}

.ui-tabs .ui-tabs-hide {
	display: none !important;
}

.ui-tabs .ui-tabs-nav li.last_tab {
	border-right: 1px solid #D0D0D0;
}

.ui-tabs .ui-tabs-nav li:hover,.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
	background: #ffffff;
	border-top: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	border-bottom: 1px solid #ffffff !important;
	color: #305a81;
	outline: none;
	padding: 10px 0px 10px 0px;
}

#tabs .ui-widget-header {
	border: none;
	padding: none;
	margin: none;
	border-bottom: solid 1px #D0D0D0;
}

#tabs .ui-corner-top {
	
}

#tabs.ui-widget-content {
	border: 1px solid #ffffff;
}

#tabs .tab_link {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor
	{
	cursor: text;
	outline: none;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: 5px 5px;
	text-decoration: none;
}

.ui-tabs .ui-tabs-nav li .ui-tabs-anchor {
	color: #555555;
}

.ui-tabs .ui-tabs-nav li .ui-tabs-anchor:hover,.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor
	{
	color: #305a81;
}

.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited
	{
	color: #555555;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	color: #305a81;
}

/*sidebar*/
.right_menu_header {
	width: 162px;
	height: 27px;
	background: #438ccc !important;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.buttonx {
	background: #65b457;
	padding: 8px 10px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	margin: 10px auto 30px auto;
	width: 100px;
	border: none;
}

/*buttons within tabs*/
.ui-widget-content .ui-state-default {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #2d5379;
	background: #ededed;
	border: 1px solid #ededed;
	font-weight: normal;
	background: #ededed url('images/new-admin-sprite.png') no-repeat;
	background-position: 0 -20px;
}

.ui-widget-content .ui-state-hover,.ui-widget-content .ui-state-focus {
	border: 1px solid #ededed;
	background: #cccccc;
	font-weight: normal;
	/*color: #2290d3;*/
}

/*icons in table grid*/
.ui-icon.ui-icon-circlesmall-plus {
	background: url('images/new-admin-sprite.png') no-repeat;
	background-position: 1px 0;
	margin-right: 10px;
	margin-left: 5px;
	height: 18px;
}

.ui-icon.ui-icon-circlesmall-minus {
	background: url('images/new-admin-sprite.png') no-repeat;
	background-position: -18px 0;
	margin-right: 10px;
	margin-left: 5px;
	height: 18px;
}

.ui-jqgrid tr.ui-row-ltr td {
	padding: 5px 5px;
}

.ui-jqgrid td {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*color: #464646;*/
}

.ui-jqgrid td:hover {
	background: #ececec;
}

.ui-jqgrid tr.ui-row-ltr td a img {
	opacity: 1;
	-webkit-transition: all 100ms ease-in;
	-o-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}

.ui-jqgrid tr.ui-row-ltr td a img:hover {
	opacity: 0.6;
}