.ui .form .fields {
    margin: 20px 30px !important;
}

.ui.form .field>label {
    font-weight: 600 !important;
    color: #225977 !important;
    font-size: 14px !important;
    margin-bottom: 10px !important;
    margin-top: 8px !important;
}

.ui .modal {
    height: max-content;
    position: relative !important;
}

.ui.modal>.actions {
    background: #ffffff !important;
    padding: 20px 43px !important;
}

.Modal_feedback_message {
    margin: 10px 0 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.ui.form .field>h6 {
    margin: 10px 0 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}
