<div id="footer" style="clear: both;background-color:#27415f;color:#fff;"> 
	<p style="margin:0;line-height:20px;font-size:8pt;">
      <a href="http://www.dgfoundation.org" target="_blank"><img src="/images/DGF_Logo.gif" align="absmiddle"/></a> ODAnic 2.6c - Created through support from DFID.  ODAdata is an aid information management system of the Development Gateway
	</p>
</div>
