<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
	  <title>ODAnic - Official Development Assistance to Nicaragua Database</title>
		<link rel="stylesheet" href="/openlayers/theme/default/style.css" type="text/css" />
		<script type="text/javascript" src="/open_layers/OpenLayers.js"></script>
		
	  	<%= stylesheet_link_tag('scaffold', 'odadata', 'odamap', :media => :all, :cache => false) %>
		<%= javascript_include_tag('jquery', 'jquery_color', 'jquery_dimensions', 'odamap', 'behavior/checkboxes') %>
							
		<script type="text/javascript" charset="utf-8">
			window.$ = window.jQuery;
			
			$(function() {
				$('div#criteria> div:not(.default)').hide(); 
				$('div#criteria> h3').click(function() {			
			    	$(this).next('div:not(:visible)').slideToggle('fast')
			    	.siblings('div:visible').slideUp('fast');
					$('h3.selected').removeClass('selected');
					$(this).addClass('selected');
			  	}).hover(
					function () {
						$(this).addClass('hover');
					}, 
					function () {
				  		$(this).removeClass('hover');
					}
			   );
			});
						
			function init_map() {
				var options = {
					controls: [new OpenLayers.Control.MouseDefaults()],
					maxExtent: new OpenLayers.Bounds(-87.6903, 10.7075, -82.5921, 15.0259),
					maxResolution: 0.01991484375,
					numZoomLevels: 5
				}
				
						
				map = new OpenLayers.Map( 'map', options );
				layer = new OpenLayers.Layer.WMS( "Nicaragua",
				        "/odamap/wxs", {layers: 'basic'},
						{singleTile: false, transitionEffect: 'resize'});		
            	
				//map.addControl( new OpenLayers.Control.LayerSwitcher() );
				map.addControl(new OpenLayers.Control.PanZoomBar());
				//vectors = new OpenLayers.Layer.Vector("Selected Features");
				//map.addLayers([layer, vectors]);
				map.addLayer(layer);
								
				// Add locations to list
				map.events.register('click', map, function (e) {
					var coord = new OpenLayers.Pixel(e.xy.x, e.xy.y);
					var lonlat = map.getLonLatFromPixel(coord);
					
					show_loading_indicator();
					$.ajax({
						cache: false,
						data: { lon: lonlat.lon, lat: lonlat.lat },
						dataType: "json",
						url: "/odamap/query",
						success: function(data, textStatus) {
							update_locations(data);
						},
						complete: function(XMLHttpRequest, textStatus) {
							hide_loading_indicator();
						}
					});
				});
					
				map.zoomToMaxExtent();
			}
		</script>
	</head>
	<body onload="init_map();">
		<div class="right">
	  		<div id="query">
	  			<center>
	  				<img src="/images/ODAnicLogo_small.jpg" style="width: 376px; height: 98px"/>
	  			</center>
				<%= render :partial => "odamap/query_options" %>
	  			<div id="help"></div>
	  		</div>
	  	</div>
		<div class="left">
			<div id="map"></div>
		</div>
	</body>
</html>