<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
	  <title><%=  t('.title') %></title>
		<link rel="stylesheet" href="/openlayers/theme/default/style.css" type="text/css" />
		<script type="text/javascript" src="/open_layers/OpenLayers.js"></script>
		
	  <%= stylesheet_link_tag('scaffold', 'odadata', 'odamap', :media => :all, :cache => false) %>
		<%= javascript_include_tag('jquery', 'jquery_color', 'jquery_dimensions', 'odamap', 'behavior/checkboxes') %>
	</head>
	
	<script type="text/javascript" charset="utf-8">
	  $(document).ready(function() {
	    initAttributeSliders();
	    initMap();
	  });
	</script>
	
	<body>
		<%= yield %>
	</body>
</html>