.green_text {
    color: green;
}

.red_text {
    color: #c30606;
}

.bold {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.info-icon {
    height: 15px;
    width: 15px;
    margin-right: 3px;
    top: -1px;
    position: relative;
    margin-left: 5px;
}

.filters_segment {
    min-height: 4rem !important;
    background-color: #e7f1fd !important;
}

.invisible-tab {
    display: none;
    visibility: hidden;
}

.navigation-buttons {
    padding-top: 50px;
}

.option-list-content {
    border: 1px solid #d3d3d3;
    background-color: #D3D3D31C;
    padding: 10px;
    height: 85%;
}

.option-list-content, form {
    height: 100%;
}

.option-list-content, form, textarea {
    height: 100%;
}

.option-list-content .sortable-tr {
    font-weight: bold;
}

.sortable-tr label {
    font-weight: bold;
}

.sortable-td {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
}

.td-arrows {
    max-width: 25px;
}

.option-list-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.fields-vertical {
    flex-direction: column !important;
}

.fields-vertical .radio, .checkbox {
    margin-top: 0px !important;
}

.field span {
    position: relative;
    top: -16px;
    right: -10px;
}

.show, .tooltip {
    opacity: 1;
}

.column-item {
    width: 100%;
}

.column-item radio, checkbox {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-right: 5px;
}

.column-item label {
    vertical-align: top;
    padding-left: 8px;
    top: -2px;
    position: relative;
    font-weight: bold;
    cursor: pointer;
}

.sort-column-item {
    /*border: 1px solid #d3d3d3;*/
    padding: 8px;
    margin-bottom: 2px;
    font-weight: bold;
}

.ui.radio.checkbox input:checked ~ label::after {
    background-color: #21C11C;
}

.ui.radio.checkbox label::before {
    content: '';
    transform: none;
    width: 20px;
    height: 20px;
    border-radius: 500rem;
    top: -2px;
    left: -1px;
}

.ui.radio.checkbox label::after {
    border: none;
    content: '' !important;
    line-height: 25px;
    top: -12px;
    left: -11px;
    width: 40px;
    height: 40px;
    border-radius: 500rem;
    transform: scale(0.46666667);
}

.ui.toggle.checkbox input:checked ~ label::before {
    background-color: #21C11C !important;
}

.ui.checkbox input:checked ~ label::before {
    background-color: #21C11C;
}

.ui.checkbox input:checked ~ label::after {
    opacity: 1;
    color: rgba(255, 255, 255, 1);
    font-weight: lighter;
}

i, i.arrow {
    font-size: 0.8em;
    float: right;
    cursor: pointer;
}

.disabled {
    opacity: 0.35;
    pointer-events: none;
}
