.green_text {
    color: green;
}

.red_text {
    color: #c30606;
}

.bold {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.save_buttons_item .button {
    min-width: 48%;
    width: 48%;
    padding-left: 0;
    padding-right: 0;
}

.narrowRow {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.info-icon {
    height: 15px;
    width: 15px;
    margin-right: 3px;
    top: -1px;
    position: relative;
    margin-left: 5px;
}

.filters_segment {
    min-height: 4rem !important;
    background-color: #e7f1fd !important;
    margin-right: 2rem !important;
}

.errors_segment {
    min-height: 4rem !important;
    background-color: white !important;
    margin-right: 2rem !important;
    font-weight: bold;
    border-color: #c20000 !important;
}

.invisible-tab {
    display: none;
    visibility: hidden;
}

.max-content {
    width: max-content;
}

.navigation-buttons {
    padding-top: 0px;
}

.separator {
    width: 10px;
}

.option-list-content {
    border: 1px solid #d3d3d3;
    background-color: #D3D3D31C;
    padding: 10px;
    height: 85%;
}

.description {
    height: 100% !important;
    padding-bottom: 0px !important;
}

textarea {
    height: 100%;
}

.option-list-content .sortable-tr {
    font-weight: bold;
}

.smallHeight {
    max-height: 400px;
    min-height: 400px;
    overflow-y: auto;
    scrollbar-color: #3e98dc #acc8dc;
    scrollbar-width: thin;
}

.sortable-tr label {
    font-weight: bold;
}

.reset-text {
    position: absolute;
    bottom: 1.5em;
    width: max-content;
    right: 4%;
}

.sortable-td {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
}

.td-arrows {
    max-width: 25px;
}

.option-list-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.fields-vertical {
    flex-direction: column !important;
}

.fields-vertical .radio, .checkbox {
    margin-top: 0px !important;
}

.field span {
    position: relative;
    top: -16px;
    right: -10px;
}

.show, .tooltip {
    opacity: 1;
}

.column-item {
    width: 100%;
}

.column-item radio, checkbox {
    margin: 0;
    margin-top: 0px;
    margin-right: 5px;
}

.column-item label {
    vertical-align: top;
    padding-left: 8px;
    top: -2px;
    position: relative;
    font-weight: bold;
    cursor: pointer;
}

.sort-column-item {
    /*border: 1px solid #d3d3d3;*/
    padding: 8px;
    margin-bottom: 2px;
    font-weight: bold;
}

.dropdown-right {
    float: right !important;
}

.ui.radio.checkbox input:checked ~ label::after {
    background-color: #21C11C;
}

.ui.radio.checkbox label::before {
    content: '';
    transform: none;
    width: 20px;
    height: 20px;
    border-radius: 500rem;
    top: -2px;
    left: -1px;
}

.ui.radio.checkbox label::after {
    border: none;
    content: '' !important;
    line-height: 25px;
    top: -12px;
    left: -11px;
    width: 40px;
    height: 40px;
    border-radius: 500rem;
    transform: scale(0.46666667);
    background-color: transparent;
}

.ui.toggle.checkbox input:checked ~ label::before {
    background-color: #21C11C !important;
}

.ui.checkbox input:checked ~ label::before {
    background-color: #21C11C;
    border-color: transparent;
}

.ui.checkbox input:checked ~ label::after {
    opacity: 1;
    color: rgba(255, 255, 255, 1);
    font-weight: lighter;
}

.ui.fluid.accordion {
    height: 100%;
}

.accordion .title:hover {
    color: #2480c6 !important;
}

.ui.checkbox label:hover {
    color: #2480c6 !important;
}

.ui.form {
    height: max-content;
    padding-bottom: 10px;
}

.ui.loading.form {
    background-color: #D3D3D31C;
    min-height: 75px;
}

.ui.loading.form::before {
    background-color: #fafafa;
}

.ui.modal {
    overflow: initial;
}

.ui.modal > .header {
    padding: 0.75rem 1rem;
}

.ui > .modal > .form {
    padding: 1em;
}

.ui > .content > .form > .field > .label {
    background-color: white;
}

i.arrow {
    font-size: 0.8em;
    float: right;
    cursor: pointer;
}

.ui.dimmer {
    background: rgba(0, 0, 0, 0.50);
}

.ui.styled.accordion .title {
    color: black;
}

.ui.styled.accordion .content {
    margin-left: 1em;
}

.general-checkbox input:checked ~ label::before {
    background-color: #f2711c !important;
    border-color: rgba(34, 36, 38, 0.35);
}

.general-checkbox {
    margin-bottom: 0;
}

.category-title {
    position: relative;
    top: -6px;
}

.active.title {
    padding-bottom: 0 !important;
}

/* .ui.styled.accordion :hover {
    background-color: rgba(92, 153, 199, 0.55);
} */

.disabled {
    opacity: 0.35;
    pointer-events: none;
}

.save-modal {
    height: max-content;
    top: 25%;
    left: 35%;
    width: 30% !important;
}

.preview-container {
    width: 100%;
    height: 400px;
    overflow: auto;
    background-color: white;
    font-size: 0.8em;
    font-weight: bold;
    /*border: 1px solid #e7e6e6;
    border-top: none;*/
    scrollbar-color: #21C11C #e7e7e7;
    scrollbar-width: thin;
}

.preview-container td {
    border-bottom: 1px solid #e7e6e6;
}

.preview-container th.col {
    border: 1px solid #e7e6e6;
    /*background: #d6e7fd none repeat scroll 0% 0%;*/
    text-align: center;
    font-size: 1em;
    padding: 0 5px;
}

.preview-container td.text {
    vertical-align: center;
    font-size: 0.8em;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #e7e6e6;
}

.preview-container td.measure {
    border-left: 1px solid #e7e6e6;
    border-top: 1px solid #e7e6e6;
    text-align: right;
    font-size: 0.8em;
    padding-right: 5px;
}

.preview-container td.total {
    background: #eef4fc none repeat scroll 0% 0%;
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
    font-size: 0.8em;
    padding-right: 5px;
}

.category-dropdown span {
    position: static !important;
}

.filter-title {
    float: left;
    width: max-content;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
}

.settings-title {
    float: right;
    position: absolute;
    right: 15px;
    margin-top: 0;
}

.invisible-applied-filters {
    visibility: hidden;
    display: none;
}

.applied-filters {
    float: left;
    width: max-content;
}

#previsualization_tree {
    /*top: 20px;
    position: relative;
    left: 10px;
    width: max-content;*/
    font-size: 0.9em;
}

#previsualization_tree ul {
    list-style-type: none;
    padding-left: 10px;
}
