<center>
	<% odaform_for @exchange_rate do |f| %>
		<table width="740" class="list">
			<tr>
				<td class="title" colspan=2><%= lc(:title) %></td>
			</tr>
			<%= render :partial => 'form', :locals => {:f => f} %>
			<tr>
				<td><%= f.submit %></td>
			</tr>
		</table>
	<% end %>
	<p><b><%= link_to ll(:actions, :back), exchange_rates_path %></b>&nbsp;</p>
</center>