<div class="filter-type">
  <h4>
    <label>
       <input type="checkbox"> Organizations
    </label>
    <span class="filter-count pull-right">23/375</span>
  </h4>
</div>

<div class="filter-type">
  <h4>
    <label>
       <input type="checkbox"> Organization Type
    </label>
    <span class="filter-count pull-right">23/375</span>
  </h4>
</div>

<div class="filter-type">
  <h4>
    <label>
       <input type="checkbox"> Locations
    </label>
    <span class="filter-count pull-right">23/375</span>
  </h4>
</div>


<div class="filter-type">
  <h4>
    <label>
       <input type="checkbox"> Years
    </label>
    <span class="filter-count pull-right">23/375</span>
  </h4>
</div>
