a {color:#376091;}

div.gisReportTableBevelCellContainer{
	border: 1px solid #CCCCCC;
	width: 100%;
	height: 100%;
/*	padding : -1px; */
}

div.gisReportTableBevelCell{
	width: 100%;
	height: 100%;
}

div.gisReportTableBevelCellBgNormal{
	background-color : #F2F2F2;
	padding: 0px;
}

div.gisReportTableBevelCellBgDash{
	background-color : #D4D0C8;
	padding: 0px;
	background-image : url(../images/dashPatern.gif);
}

div.gisReportWarning {
	background-color : #FFCECE;
	border : 1px solid #FD0000;
	color : #FD0000;
	text-align : center;
	padding: 0px;
}

.tableMainHeader{
    color:#FFFFFF;
    font-weight:bold;
    background:#222E5D;
    font-size:11px
}

.tableHeader{
background-color: #F2F2F2;
color:#5E5E5E;
}