@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.container-fluid.no-padding {
    padding: 0;
}

.content-wrapper {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin-top: -30px;
}

.content-wrapper > .row {
    margin: 0;
}

.footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.dgf_footer {
    display: none;
}

[id^=accordion] .panel {
    margin-bottom: 0;
    background-color: inherit;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media print {


    .footer {
        visibility: hidden;
    }

}
