<div class="tab-content filter-options">
  <div class="tab-pane active">
    <ul class="sub-filters-titles nav nav-pills nav-stacked">
      <% _(settings.getVisible()).each(function(setting) { %>
        <li <%= setting.id === current.id ? 'class="active"' : '' %>>
          <a class="setting-select" href="#<%= setting.id %>"><span><%= setting.get('name') %></span></a>
        </li>
      <% }) %>
    </ul>
    <div class="sub-filters-content">
      <select class="form-control setting-value">
        <% _(current.get('options')).each(function(option) { %>
          <option value="<%= option.id %>" <%= option.selected ? 'selected="selected"' : '' %>><%= option.name %></option>
        <% }) %>
      </select>
    </div>
  </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-success apply" data-i18n="amp.dashboard:apply" data-dismiss="modal">Apply</button>
    <button type="button" class="btn btn-primary" data-i18n="amp.dashboard:close" data-dismiss="modal">Close</button>
</div>
