<center>
	<table width="740" class="list">
		<% if @exchange_rates.blank? %>
			<tr>
				<td class="exist">No Exchange Rates Exist in the Database. Please contact Master Focal Point to create a New Exchange Rate.</td>
			</tr>
		<% else %>
			<tr>
				<td class="head1" colspan=3>Exchange Rates</td>
			</tr>

			<% @exchange_rates.each do |e| %> 
				<tr>
					<td class="head2" colspan=3><%= e[0] %></td>
				</tr>

				<tr>
					<td class="title">Currency</td>
					<td class="title">Euro Exchange Rate</td>
				</tr>
				<% e[1].each do |rate| %>
					<tr>			
						<td><%= rate.currency %></td>
						<td><%= rate.euro_rate %></td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</table>
	<p><b><%= link_to 'Printable Version', { :action => 'exchange_rate_list_print' }, :popup => ['new_window', 'height=500,width=800,scrollbars=yes'] %></b></p>
</center>