.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff
}

.dropdown-item.disabled, .dropdown-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent
}

.form-container {
    border: 1px solid #dfdada;
    border-radius: 8px 8px 8px 8px;
    padding: 10px;
}

.clickable {
    cursor: pointer;
}

.success-color {
    color: #5CB85C;
}

.error-color {
    color: #ff0000;
}

.notifications {
    border: 1px solid #dfdada;
    padding-top: 5px;
    padding-bottom: 5px;
}

.is-invalid input {
    border-color: red;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25)
}

.float-right {
    float: right;
}

.ndd-container {
    min-height: 82vh;
}

.custom-panel > span {
    margin-top: 10px;
}

.button-wrapper {
    margin-top: 0 !important;
}

.footer {
    position: relative !important;
}