.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff
}

.dropdown-item.disabled, .dropdown-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent
}

.form-container {
    border: 1px solid #dfdada;
    border-radius: 8px 8px 8px 8px;
    padding: 10px;
}

.clickable {
    cursor: pointer;
}

.success-color {
    color: #5CB85C;
    font-weight: bold;
}

.error-color {
    color: #ff0000;
    font-weight: bold;
}

.notifications {
    border: 1px solid #dfdada;
    padding-top: 5px;
    padding-bottom: 5px;
}

.is-invalid input {
    border-color: red;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25)
}

.float-right {
    float: right;
}

.ndd-container {
    min-height: 82vh;
}

.custom-panel > span {
    margin-top: 10px;
}

.button-wrapper {
    margin-top: 0 !important;
}

.footer {
    position: relative !important;
}

.title {
    text-align: center;
    padding-bottom: 30px;
}

.programs-table {
    width: 100%;
}

.programs-table td {
    padding-right: 5%;
    padding-bottom: 1%;
}

.margin_2 {
    margin: 2px;
}

.insert-data-text {
    color: green;
}

.add-new-text {
    padding-left: 5px;
}

.required-fields {
    color: #ff0000;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav-link {
    display: block;
    padding: .5rem 1rem
}

.nav-link:focus, .nav-link:hover {
    text-decoration: none
}

.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6
}

.nav-tabs .nav-item {
    margin-bottom: -1px
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #e9ecef #e9ecef #dee2e6
}

.nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.info-icon {
    height: 15px;
    width: 15px;
    float: left;
    margin-right: 3px;
    top: 2px;
    position: relative;
}

.tooltip {
    opacity: 1;
}
