/************************************************************************************************************
*	Drag and drop folder tree	(CSS)
*
*	Created:			August, 23rd, 2006
*	Purpose of class:	Transforms an UL,LI list into a folder tree with drag and drop capabilities.
*						
*			
* 	Update log:
*
************************************************************************************************************/

.DHTMLSuite_tree p{
}
.DHTMLSuite_tree a{
	color:#000;
	size:10
	text-decoration:none	
}

.DHTMLSuite_tree,#floatingContainer{
	margin:0px;
	padding:0px;
	z-index:220000;	/* You shouldn't change this value */
}
.DHTMLSuite_tree ul{	/* Sub menu groups */
	margin-left:20px;	/* Left spacing */
	padding-left:0px;
	display:none;	/* Initially hide sub nodes */
}

#floatingContainer ul{
	margin-left:20px;	/* Left spacing */
	padding-left:0px;	
}
.DHTMLSuite_tree li,#floatingContainer li{	/* Nodes */
	list-style-type:none;
	vertical-align:middle;
	
}
.DHTMLSuite_tree li a,#floatingContainer li a{	/* Node links */
	color:#000;
	padding-left:3px;
	line-height:13px;
	
}	
/* CSS for the imageSelection class. in case nodes in this tree are possible destination nodes for images etc. */
.DHTMLSuite_tree li a.imageSelection{
	background-color:#316AC5;
	color:#FFF;
}