/************************************************************************************************************

	DHTML Suite for Applications
	(C) www.dhtmlgoodies.com, January 2007

	CSS for the DHTMLSuite.window class
	
	
	www.dhtmlgoodies.com
	Alf Magne Kalleland

************************************************************************************************************/

.DHTMLSuite_window{	/* The bar that is parent of the menu strip */
	background-color:#FFF;
	border:1px solid #8eb9f3;
	width:330px;
	height:200px;
	overflow:hidden;
	top:0px;
	left:0px;
	z-index:1000;
	
}

.DHTMLSuite_windowInnerDiv{	/* This div is the parent parent element of window elements such as tabs, content and status bar, i.e. the primary main parent element for a window */
	position:relative;
	background-color:#FFF;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#C3DAF9;
}

.DHTMLSuite_windowTitleBar{
	background-image:url(../images_dhtmlsuite/window/window_titlebar.png);
	background-repeat:repeat-x;
	height:17px;
	position:relative;	/* IMPORTANT */
}
.DHTMLSuite_windowTitleInTitleBar{	/* The title text in the title bar */
	padding:1px;
	font-size:11px;
}
.DHTMLSuite_windowButtonDiv{	/* Div for the buttons in the title bar */
	position:absolute;
	right:1px;
	top:1px;
	width:100px;
}

.DHTMLSuite_windowButtonDiv div{
	float:right;
}
/* General button rules */
.DHTMLSuite_windowMinimizeButton,.DHTMLSuite_windowCloseButton,.DHTMLSuite_windowMaximizeButton{
	background-repeat:no-repeat;
	background-position:center center;
	padding:2px;
	width:11px;
	height:11px;

}

/* Close button */
.DHTMLSuite_windowCloseButton{
	background-image:url(../images_dhtmlsuite/window/window-close.gif);

}
/* Minimize button */
.DHTMLSuite_windowMinimizeButton{
	background-image:url(../images_dhtmlsuite/window/window-minimize.gif);
}

/* Minimize button */
.DHTMLSuite_windowMaximizeButton{
	background-image:url(../images_dhtmlsuite/window/window-maximize.gif);
}

.DHTMLSuite_windowButtonOver{	/* General roll over effects for buttons */
	padding:1px;
	border:1px solid #8eb9f3;
	background-color:#FFF;
	cursor:pointer;
}

/* CSS for the tab row */
.DHTMLSuite_windowTabRow{
	background-color:#C3DAF9;
	padding-top:1px;
	height:26px;
	border-top:1px solid #8eb9f3;
	padding-left:5px;
	position:relative;
	width:1900px;
	z-index:500;	/* IMPORTANT */
}
.DHTMLSuite_windowTabRow table{
	padding-top:3px;
}
.DHTMLSuite_windowTabRow td{
	text-overflow:ellipsis;
	white-space:nowrap;
	font-weight:bold;
}
.DHTMLSuite_windowTabRow td div{
	
}	
.DHTMLSuite_windowATab{
	float:left;	
	background-position:bottom right;
	background-repeat:no-repeat;
	height:23px;
	cursor:pointer;
	font-size:11px;
	line-height:26px;
	font-family:arial;
	overflow:hidden;
}

.DHTMLSuite_windowATabInnerDiv{
	background-repeat:no-repeat;
	background-position:bottom left;
	height:23px;
	position:relative;
	z-index:10000;
	padding-left:5px;
	margin-right:25px;
	padding-right:4px;
}

.DHTMLSuite_windowActiveTabCell{	/* Active tab - td tag */
	background-image:url('../images_dhtmlsuite/window/tab-active-right.png');	
	position:relative;
	bottom:-1px;
}

.DHTMLSuite_windowInactiveTabCell{	/* Inactive tab, <td> tag */
	background-image:url('../images_dhtmlsuite/window/tab-inactive-right.png');
	position:relative;
}
.DHTMLSuite_windowActiveTabCellContent{	/* Active tab - inner div */
	background-image:url('../images_dhtmlsuite/window/tab-active-left.png');
	height:21px; /* These three lines are added in order to make the text of active tab appear on line with text of inactive tabs */
	line-height:24px;	
	padding-bottom:2px;
}
.DHTMLSuite_windowInactiveTabCellContent{
	background-image:url('../images_dhtmlsuite/window/tab-inactive-left.png');
}


.DHTMLSuite_windowContent{
	overflow:auto;
	background-color:#FFF;
	margin-left:2px;
	margin-right:2px;
	border:1px solid #8eb9f3;
	padding-bottom:1px;
	position:relative;
}

.DHTMLSuite_windowContent .DHTMLSuite_windowContentInner{	/* Div for each of the tab content divs */
	padding:1px;
}
/* Start css for window status bar */
.DHTMLSuite_windowStatusBar{
	height:14px;
	border:1px solid #8eb9f3;
	background-color:#C3DAF9;
	margin:2px;
	position:relative;
	overflow:hidden;
}
.DHTMLSuite_windowStatusBarText{	/* Text inside status bar */
	font-size:11px;
	line-height:13px;
	padding:1px;
}

.DHTMLSuite_windowResizeHandle{
	background-image:url('../images_dhtmlsuite/window/resize-handle-bottom-right.gif');
	background-repeat:no-repeat;
	position:absolute;
	bottom:1px;
	right:1px;
	width:14px;
	height:14px;
}
