<div class="container-fluid">
  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" name="source-categories" id="source-category-1" value="source-category-1" checked="checked" />
          Government Sources
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" name="source-categories" id="source-category-2" value="source-category-2" checked="checked" />
          Civil Society Organisations
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" name="source-categories" id="source-category-3" value="source-category-3" checked="checked" />
          Open-Source Datasets
      </label>
    </div>
  </div>
</div>
