<div class="container-fluid">
  <div class="form-group">
    <button type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
    <button type="button" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-floppy-open"></span> Load</button>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-share-alt"></span> Export</button>
    <button type="button" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-link"></span> Share</button>
  </div>
</div>
