<div class="container-fluid">
  <h4>Available Settings</h4>
  <div class="form-group">
    <div class="radio">
      <label>
        <input type="radio" name="settings" id="data-source-1" value="data-source-1" checked="checked" />
          <h5>Pogo Stick Survey</h5>
          <cite><small>World Bank 1997-1999</small></cite>
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="radio">
      <label>
        <input type="radio" name="settings" id="data-source-2" value="data-source-2" />
          <h5>Favourite fruit for juice</h5>
          <cite><small>Open Street Maps</small></cite>
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="radio">
      <label>
        <input type="radio" name="settings" id="data-source-3" value="data-source-3" />
          <h5>Average age for midlife crises</h5>
          <cite><small>USAID 2013</small></cite>
      </label>
    </div>
  </div>
</div>
