<div class="form-group">
  <label class="control-label"><%= obj.name %></label>
  <select class="form-control" id="<%= obj.id %>">
  <% _.each(obj.options, function(option){ %>
    <option value="<%= option.id %>"  <% if(obj.selected == option.id){ %> selected <% } %> >
      <%= option.name %>
    </option>
  <%}); %>
  </select>
<!--  <label class="control-label"><%= settingsObject.name %></label>-->
<!--  <select class="form-control" id="<%= settingsObject.id %>">-->
<!--    <% _.each(settingsObject.options, function(option){ %>-->
<!--    <option value="<%= option.id %>"  <% if(settingsObject.selected == option.id){ %> selected <% } %> >-->
<!--    <%= option.name %>-->
<!--    </option>-->
<!--    <%}); %>-->
<!--  </select>-->
</div>
