
# Ignore environment specific files or files that may contain sensitive information.
.htaccess
robots.txt
sites/*/drushrc.custom.php
sites/*/settings.custom.php

# Ignore paths that contain uploaded and generated content.
sites/*/files

# Ignore development specific files.
sites/all/modules/dev
sites/default/update_scripts/environment/setup.local.php
xdebug

# Ignore archives and database dumps.
/*.7z
/*.gz
/*.sql
/*.tar
/*.tgz
/*.zip
