.table_header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.table_header_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table_header_bottom_left {
    display: flex;
    align-items: center;
}

.export_button {
    margin-left: 2%;
    padding: 0;
    border: 0;
    background: transparent;
    border: none;
    outline: none;
}

.table_header_bottom_right {
    display: flex;
    align-items: center;
    gap: 10px;
    float: right;
}

.sector_filter_container {
    margin-left: 5%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search_container {
    align-items: center;
    float: right;
}

.table_header_titles {
    background-color: #d9e0e2;
}

.table_body {
    border: 1px solid #141414;
}

.table_footer {
    background-color: red;
}