---
# Only the main Sass file needs front matter (the dashes are enough)
---
$content-width: 1024px;

@import "minima";

.site-title::after {
	content: url("{{ site.baseurl }}/assets/img/header.jpg");
	display: inline-block;
	position: relative;
	left: 600px;
	top: 5px;
}