<% header lc(:title) %>

<table>
	<% if @implementing_agencies.blank? %>
		<tr><td class="empty"><%= lc(:empty) %></td></tr>
	<% else %>
		<% @implementing_agencies.each do |implementing_agency| %> 
			<tr>
				<td><%= implementing_agency.name %></td>
				<td><%= link_to ll(:actions, :edit), edit_implementing_agency_path(implementing_agency) %></td>
			</tr>
		<% end %>
	<% end %>
</table>
	
<p><b><%= link_to lc(:new), new_implementing_agency_path %></b></p>
