<h3 style="text-align: center">ODAnic Custom Report</h2>
<table class="admin" style="border: 1px solid #bbb; margin-top: 10px">
	<thead>
		<%= render :partial => "table_header" %>
	</thead>
	
	<tbody>
		<%= render :partial => "project_row", :collection => @projects %>
	</tbody>
</table>
	