<span class="templateBugWorkaround">
    <h3 data-i18n="amp.gis:title-<%= title %>"><%= title %></h3>
  <small><%= obj.description %></small>

  <% if (status === 'loading') { %>
    <p><em data-18n="amp.gis:legend-loading">Loading...</em>></p>
  <% } else if(colourBuckets && colourBuckets.length > 0) { %>
    <% colourBuckets.each(function(bucket) { %>
      <% if(bucket.get('value') && !_.isNaN(bucket.get('value')[0]) && _.isFinite(bucket.get('value')[0])) { %>
      <div>
        <span style="background: <%= bucket.hex() %> !important" class="color-block legend-sample"></span>
        <% var values = getLegendValues(model, bucket) %>        
         <%= values.min %>
         <%if(values.min !==values.max ){%>
            &mdash;<%= values.max %> 
         <%}%>
         <%if(!values.isPercent){%>        
            <%= unit %>
        <%}%>     
      </div>
      <% } %>
    <% }) %>
  <% } else { %>
    <p><em data-18n="amp.gis:legend-noDataAvailable">No Data Available</em>></p>
  <% } %>
</span>
