<h3 data-i18n="amp.gis:legend-item-structures">
  <select class="form-control" >
    <option value="Primary Sector Id" <%= (obj.selectedVertical == "Primary Sector Id"? 'selected': '') %>>
      <%= title %> By Sector
    </option>

    <option value="Donor Id" <%= (obj.selectedVertical == "Donor Id"? 'selected': '') %>>
     <%= title %> By Donor
    </option>
  </select>
</h3>

<% if (status === 'loading') { %>
  <p><em>loading...</em></p>

<% } else if (obj.imageBuckets) {
  _.each(palletteElements ,function(element) {
    if(element.code && element.name){ %>
      <div><img src="img/map-icons/<%= obj.imageBuckets[element.code] %>" width="19px"> <%= element.name %></div>
<% }
 }); %>

<% } else {  %>
  <% colourBuckets.each(function(bucket) { %>
    <div>
      <span style="background: <%= bucket.hex() %>" class="legend-sample color-circle"></span>
      <%= bucket.get('value') %>
    </div>
  <% }) %>
<% }%>
