<h3><%= title %></h3>

<% if (status === 'loading') { %>
  <p><em>loading...</em></p>
<% } else { %>
  <% if (legendType === 'colours') { %>
    <% colourBuckets.each(function(bucket) { %>
      <div>
        <span style="background: <%= bucket.hex() %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <% if (typeof blah !== 'undefined') { %>
          <%= bucket.get('value') %>
        <% } else { %>
          <%= bucket.get('value')[0] %>&mdash;<%= bucket.get('value')[1] %>
          <%= (typeof unit !== 'undefined') ? unit : '' %>
        <% } %>
      </div>
    <% }) %>
  <% } else if (legendType === 'img') { %>
    <img alt="legend" title="Image legend for <%= title %>" src="<%= legendSrc %>" />
  <% } %>
<% } %>
