<div><h3 data-i18n="amp.gis:title-<%= obj.title.replace(/ /g,'') %>"><%= obj.title %></h3></div>


<div>
  <div class="map-adm-icon legend-sample">
    <% if(obj.features[0] && features[0].properties.activityid.length <= 9999) { %>
      <div class="map-circle">
    <% } else { %>
      <div class="map-circle large">
    <% } %>
      #
    </div>
    <div class="map-circle-label"><%= (obj.features[0] ? features[0].properties.admName : '' )%></div>
  </div>
  <span data-i18n="amp.gis:legend-desc">Straight out <%= obj.value %></span>&nbsp;
  <span data-i18n="amp.gis:title-<%= obj.title.replace(/ /g,'') %>"><%= obj.title %></span>
</div>
