<span class="templateBugWorkaround">
  <h3><span data-i18n="amp.gis:legend-item-structures"><%= title %></span>
    <select class="form-control" >
      <% if (obj.gisSettings.gis_sectors_enabled == true){ %>
      <option data-i18n="amp.gis:legend-by-sector" value="Primary Sector" <%= (obj.selectedVertical == "Primary Sector"? 'selected': '') %>>
         By Sector
      </option>
      <% } %>

       <% if (obj.gisSettings.gis_programs_enabled == true){ %>
      <option data-i18n="amp.gis:legend-by-program" value="Program" <%= (obj.selectedVertical == "Program"? 'selected': '') %>>
         By Program
      </option>
      <% } %>

      <option data-i18n="amp.gis:legend-by-donor" value="Donor Agency" <%= (obj.selectedVertical == "Donor Agency"? 'selected': '') %>>
        By Donor
      </option>
    </select>

<% if (obj.selectedVertical == "Primary Sector") { %>
  <button class="info-icon"
          data-toggle="popover"
          data-container="body"
          data-placement="left"
          data-content="&nbsp;"
          data-trigger="focus">
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
<% } else if (obj.selectedVertical == "Program") { %>
    <button class="info-icon"
            data-toggle="popover"
            data-container="body"
            data-placement="left"
            data-content="&nbsp;"
            data-trigger="focus">
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
<% } %>

  </h3>


  <% if (status === 'loading') { %>
    <p><em data-18n="amp.gis:legend-loading">Loading...</em>></p>

  <% } else if (obj.imageBuckets) {
    _.each(palletteElements ,function(element) {
      var styleCode =  obj.DEFAULT_ICON_CODE;
      if (obj.imageBuckets[element.code]) {
        styleCode = element.code;
      }
      if(element.code && element.name){ %>
    <div><span class="svg-map-icon svg-map-icon-<%= styleCode %> legend-svg-map-icon">&nbsp;</span> <%= element.name %></div>
  <% }
   }); %>

  <% } else {  %>
    <% colourBuckets.each(function(bucket) { %>
      <div>
        <span style="background: <%= bucket.hex() %> !important" class="legend-sample color-circle"></span>
        <%= bucket.get('value') %>
      </div>
    <% }) %>
  <% }%>
</span>
<div>

<% if (customStructureColors.length > 0) { %>
 <br>
<h3><span data-i18n="amp.gis:legend-custom-structure-colors">Infrastructure Colors</span></h3>
<% customStructureColors.forEach(function(custom) { %>
   <div>
        <span style="background: <%= custom.color %> !important" class="legend-sample color-circle"></span>
        <%= custom.label %>
      </div>
    <% }) %>
</div>
<% }%>
