<!--h5>A list of projects TODO use activityCollection.getPageDetails() for a small template here </h5-->
<table class="table table-4 table-striped table-condensed">
  <thead>
    <tr>
      <th data-i18n="amp.gis:activities-project-title">Project Title</th>
      <th>
        <span class="setting-donors" data-i18n="amp.gis:activities-donors">Funding Organizations</span>
        <span class="setting-executings" data-i18n="amp.gis:activities-executings">Executing Agency</span>
      </th>
      <% if (obj.gisSettings.gis_sectors_enabled == true){ %>
      <th data-i18n="amp.gis:activities-sectors">Sectors</th>
      <% } %>

      <% if (obj.gisSettings.gis_programs_enabled == true){ %>
      <th data-i18n="amp.gis:activities-programs">Programs</th>
      <% } %>

      <!-- TODO: translation needs to handle actual and planned, may need some DOM work.. -->
      <th>
        <span class="setting-actual" data-i18n="amp.gis:activities-commitments">Actual Commitments</span>
        <span class="setting-planned" data-i18n="amp.gis:activities-planned-commitments">Planned Commitments</span>
        <span class="text-right setting-scc" data-i18n="amp.gis:activities-bilateral-commitments">Bilateral
                  SSC Commitments</span>
      </th>
      <th>
        <span class="setting-actual" data-i18n="amp.gis:activities-disbursements">Actual Disbursements</span>
        <span class="setting-planned" data-i18n="amp.gis:activities-planned-disbursements">Planned Disbursements</span>
        <span class="text-right setting-scc"
              data-i18n="amp.gis:activities-triangular-commitments">Triangular SSC Commitments</span>
      </th>
    </tr>
  </thead>
</table>
<div class="btn btn-sm btn-info load-more pull-right load-more-hide"><span data-i18n="amp.gis:popup-loadmore">load more</span>...</div>
  <!-- TODO: use the human-friendly version, not ADM-N (from value) -->
