<tr>
  <td data-th="title"><a target="_blank" href="<% if (activity) { %> <%= activity.ampUrl%><% } %>"><%= activity["Project Title"] %></a>
  </td>
  <td class="executings" data-th="executings"><%= obj.orgColumnName %> </td>
  <% if (obj.gisSettings.gis_sectors_enabled == true){ %>
  <td class="sectors" data-th="sectors"><%= activity.sectorNames %> </td>
  <% } %>

  <td class="commitments" data-th="commitments"><%= obj.formattedColumnName1 %></td>
  <td class="disbursements" data-th="disbursements"><%= obj.formattedColumnName2 %></td>
</tr>
