@import url("./amp-admin-rtl.css");

@import url("./amp-gis-rtl.css");

@import url("../fonts/droidarabicnaskh.css");

#mainBodyContent {
    direction: rtl;
}

.flag {
    float: right !important;
    margin-right: -4px !important;
    margin-left: 4px;
}

div#amp-header .double-row .nav > li > a {
    padding-left: 10px !important;
}

body, div, p {
    font-family: Droid Arabic Naskh, Arial !important;
}

div.trnpanel div.trn-row a {
	background: none repeat scroll 0 0 #F3F3F3;
	border: 1px solid #CCCCCC;
	float: right;
	font-size: 11px;
	line-height: 12px;
	padding: 2px 4px;
	text-decoration: none;
	margin-top: 1px;
}

div.trnpanel div.trn-row ul {
    -webkit-padding-start: 3px;
    padding-right: 0;
}

.resourceButtonPosition {
    float: right;
}

.content-dir {
    direction: rtl;
}

.onepager-pic-icon {
	right: -3px;
	float: left;
}

.right_menu_header_cont {
	padding-right: 10px;
}

.custom-file-label {
    display: inline;
    position: relative;
    top: -25px;
    right: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 60px;
}

.ot-content {
    direction: rtl;
}

.wicketFloatLeft {
    float: right;
}

.wicketFloatRight {
    float: left;
}

.dropdwn_sm {
    margin: 0px 0px 0px 0px;
}

.close-link {
    text-align: left;
    float: left;
    margin-left: 28px;
}

.step_head_cont {
    padding-right: 10px;
}

.step_head_cont_name {
    float: left !important;
    padding-right: 2px !important;
}

.inside-header {
    text-align: right;
}

.tri {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.tri b {
    text-align: right;
    display: table-cell;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    width: inherit;
}

.triText {
    text-align: right;
    display: block;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    width: inherit;
}

.text-right {
    text-align: left !important;
}

.del-funding {
    float: left;
    position: relative;
    top: -15px;
}

.yui-skin-sam ul {
    direction: rtl;
}

.yui-skin-sam li {
    text-align: right
}

.feedbackPanel {
    padding-right: 2px;
}

.feedbackPanelERROR {
    text-align: right;
}

.right_menu_empty {
    text-align: right;
    color: #376091;
}

.preview-align {
    text-align: left !important;
}

.preview-align-inverse {
    text-align: right;
}

.workspacelist{
    background: url(../images/arrow-014E86-rtl.gif) no-repeat center right #F2F2F2 !important;
    padding: 3px 3px 3px 10px !important;
    background-position: right !important;
}

.content-direction {
    direction: rtl;
}

#amp_info_filters {
    float: left;
    left: 35px;
    right: auto;
}

.sub-filters-titles {
    float: right;
}

.sub-filters-content {
    border-right: solid 1px #ADD2F1;
    border-left: 0px;
}

.form-group {
    text-align: right;
}

.panel-title {
    text-align: right;
}

.close {
     float: left;
 }

.setting-dialog-footer {
    text-align: left;
}

#filter-popup li a {
    text-align: right;
}

.pull-right {
    float: left!important;
}

.nav-tabs>li {
    float: right;
}

.nav {
    padding-right: 0px;
}

.toggle-all, .tree-container {
    text-align: right
}

.tree .selectable {
    float: right;
    margin-left:5px;
}

.lalign {
    text-align: right;
}

#toolbar {
    background: -webkit-gradient(linear, right top, right bottom, from(#EEEEEE), to(#DDDDDD));
}

#toolbar ul li {
    float: right;
    padding-right: 6px;
}
#toolbar ul li.separator {
    border-right: 1px solid #CCC;
}
.tabs {
    text-align: right;
}
.tabs ul li {
    float: right;
    padding-right: 4px;
    border-right: 1px solid #DDD;
}
.tabs ul li.selected {
    border-left: 1px solid rgb(204, 204, 204);
    background: -webkit-gradient(linear, right top, right bottom, from(#FFFFFF), to(#F0F0F0));
}
.sidebar {
    float: right;
}

#query_info {
    padding-right: 0;
}

.dimension_tree ul li,
.measure_tree ul li {
    padding-right: 0;
}

.measure_tree ul li ul li a {
    padding-right: 10px;
}

.dimension_tree .hierarchy {
    padding-right: 0px;
}
.dimension_tree .hierarchy a {
    padding-right: 20px;
}
.workspace {
    float: right;
    margin-right: 0px;
    text-align: right;
}
.workspace_inner {
    margin-right: 0px;
}
.ui-dialog.ui-draggable-dragging {
    text-align: right !important;
}

.ui-dialog.ui-draggable-dragging .form_button {
    background: -webkit-gradient(linear, right top, right bottom, from(#FFFFFF), to(#F0F0F0)) !important;
}
.datatable .str {
    text-align: right;
}

.ui-dialog-titlebar {
    background: -webkit-gradient(linear, right top, right bottom, from(#FFFFFF), to(#F0F0F0));
}

.ui-dialog-titlebar .ui-dialog-title {
    float: right;
}
.dialog_icon {
    float: right;
}


.dialog_selections .dialog_body .available_selections {
    padding-right: 5px;
    float: right;
}
.dialog_selections .dialog_body .selection_buttons {
    float: right;
    padding-right: 25px;
}

.dialog_selections .header_selections input {
    margin-right: 5px;
}

.dialog_selections .dialog_body .used_selections {
    padding-right: 25px;
    float: right;
}

.dialog_selections .dialog_body .updown_buttons {
    float: right;
    padding-right: 25px;
}

.dialog_selections .dialog_body .selection_options ul {
    padding-right: 3px;
}

.dialog_selections .options, .dialog_selections .hint, .dialog_selections .info {
    float: right;
    text-align: right;
}

.ui-menu {
    float: right;
}
.ui-menu .ui-menu-item {
    float: right;
    clear: right;
}

.dialog_footer .form_button {
    margin-right: 5px;
}

.workspace_editor {
    padding-right: 5px;
}

.parameter_input {
    padding-right: 5px;
}
.processing_container, .blockOverlay {
    right: 0;
}

.processing, .blockElement {
    right: 40%;
}

.workspace_toolbar ul li {
    float: right;
    padding-right: 5px;
}

.workspace_toolbar ul li.seperator {
    border-right: 1px solid #D5D5D5;
    margin-right: 5px;
}

.query_toolbar_vertical {
    border-right: 1px solid #CCC;
    float: right;
}

.query_toolbar_horizontal {
    border-right: 1px solid #CCC;
}


.query_toolbar ul.renderer {
    padding-right: 3px;
}
.query_toolbar ul.renderer li {
    padding-right: 1px;
}

.query_toolbar ul li {
    float: right;
    padding-right: 5px;
}

.query_toolbar ul li.seperator {
    border-right: 1px solid #D5D5D5;
    margin-right: 5px;
}

.form_button {
    background: -webkit-gradient(linear, right top, right bottom, from(#FFFFFF), to(#F0F0F0));
}

.bucket_items ul li {
    float: right;
    padding-right: 5px;
}
.bucket_items ul li.seperator {
    border-right: 1px solid #D5D5D5;
    margin-right: 5px;
}

.filter_items ul li {
    float: right;
    padding-right: 5px;
}
.filter_items ul li.seperator {
    border-right: 1px solid #D5D5D5;
    margin-right: 5px;
}

.tipsy-n .tipsy-arrow {
    right: 50%;
    margin-right: -4px;
}

.tipsy-nw .tipsy-arrow {
    right: 10px;
}

.tipsy-ne .tipsy-arrow {
    right: 10px;
}

.tipsy-s .tipsy-arrow {
    right: 50%;
    margin-right: -4px;
    background-position: bottom right;
}

.tipsy-sw .tipsy-arrow {
    right: 10px;
    background-position: bottom right;
}

.tipsy-se .tipsy-arrow {
    right: 10px;
    background-position: bottom right;
}

.tipsy-e .tipsy-arrow {
    right: 0;
    background-position: top right;
}

.tipsy-w .tipsy-arrow {
    right: 0;
}

input.search_file {
    margin-right:10px;
}
span.cancel_search {
    float: left;
    right: 175px;
}

.RepositoryObjects li.query {
    margin-right: 16px;
}

.RepositoryObjects ul.folder_content {
    margin-right: 13px;
    padding-right: 0px;
}
.chart_toolbar {
    right: 3px;
}
.chart_toolbar ul li {
    float: right;
    padding-right: 5px;
}
.chart_toolbar ul li.seperator {
    border-right: 1px solid #D5D5D5;
    margin-right: 5px;
}

.chartworkspace_inner {
    margin-right: 400px;
}

.dialog_response {
    text-align: right;
}

#navlist table
{
    float:right;
}

#deflated-currencies-container{
    right: 50%;
    margin-right: -200px;
}

a.first_page {
    background-position: -125px 4px;
}
a.prev_page {
    background-position: -85px 4px;
}
a.next_page {
    background-position: -43px 4px;
}
a.last_page {
    background-position: -3px 4px;
}
.legends-container {
    float: left;
}

.ui-tabs .ui-tabs-nav li {
    float: right;
}

.ui-pg-table {
    direction: rtl;
}

.ui-paging-info {
    direction: rtl !important;
    text-align: left !important;
}

.search_results_header {
    float: right !important;
}

.search-results {
    padding-top: 10px;
}

.tri-desktop {
    background: url(/TEMPLATE/ampTemplate/img_2/ico_tri.gif) no-repeat 4px 1px !important;
}

.ui-widget-content {
    direction: rtl;
}

.ui-dialog .ui-dialog-title {
    float: right;
}

.ui-dialog-titlebar-close {
    right: auto !important;
    left: .3em;
}

.nav > li.tab {
    float: right;
}

.round-filter, .round-filter-group, .round-filter-group {
    float: right !important;
}

.ui-accordion-header-icon {
    left: unset !important;
    right:.5em !important;
}

.ui-accordion-icons {
    padding-right: 2.2em !important;
}

.ui-icon-triangle-1-e {
    background-position: -96px -16px;
}

.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary {
    right: .5em;
}

.ui-button-text-icon-primary .ui-button-text {
    padding:.4em 2.1em .4em 1em;
}

.ui-jqgrid .ui-pg-input {
    height: 14px !important;
}

.ui-dialog-titlebar.ui-widget-header {
    background: #ededed !important;
}

#closepanel {
    -moz-transform: scale(-1, 1) !important;
    -webkit-transform: scale(-1, 1) !important;;
    -o-transform: scale(-1, 1) !important;;
    -ms-transform: scale(-1, 1) !important;;
    transform: scale(-1, 1) !important;
}

.preview-buttons-align {
    float: left !important;
}

.reportFloatRight {
    float: left !important;
}

#demo .yui-nav li a {
    margin-right: 0px !important;
}

.text-align {
    text-align: right !important;
}

.wizard-toolbar-steps {
    float:right !important;
    margin-top:10px !important;
}

.wizard-toolbar-buttons {
    float:left !important;
    z-index: 3000 !important;
    margin-top:10px !important;
    margin-left:10px !important;
}

#wizard_container div.tab {
    border-left: 1px solid #BEBDB6 !important;
    border-right: 0px solid #BEBDB6 !important;
}

.draglist {
    text-align: right !important;
}

.wizard-column-padding {
    padding-right: 0px;
}

.wizard-columns-list {
    padding-right: 13px;
}

.wizard-columns-list li {
    text-align: right !important;
}

.wizard-panel-buttons {
    text-align: left !important;
}

.wizard-filters-div strong {
    float: right !important;
}

.wizard-settings-List {
    float: right !important;
}

.wizard-settings-List-div {
    float: right !important;
    padding-right: 5px !important;
}

.container-close{
    right: 0px;
    left: 4px !important;
}

.hd {
    text-align:right !important;
}

.panel-one {
    float:right !important;
}

.panel-two {
    float:left !important;
}

.hierarchy-list-margin {
    margin-right: -20px;
    margin-left: 0px !important;
}

.filter-item-label {
    padding: 0px 5px 0px 0px !important;
}

.applied-filters li:before {
    margin: 3px -22px 0 5px;
}

.btn-group>.btn {
    float: right;
}

.nvd3 text {
  font: inherit;
}

.modal-content {
    direction: rtl;
}

.panel.panel-chart .panel-heading h2 {
    float: right;
}

.panel {
    direction: rtl;
}

.nvtooltip {
    text-align: right;
}
.nvtooltip .panel-footer{
    direction: ltr;
}

.heatmap-chart g text {
    direction: ltr;
}

.chart-currency {
    float: left !important;
    padding-right: 10px;
}

.dollaz b {
    direction: ltr;
    unicode-bidi: embed;
    float: right;
    padding-left: 5px;
}

.table.table-striped.table-condensed th {
    text-align: right;
}

.table.table-striped.table-condensed td {
    direction: ltr;
}

.dash-chart-wrap {
    direction: ltr !important;
}

.datasourcesTable .table.table-striped.table-condensed td {
    direction: rtl;
}

.scroll-container .table.table-striped.table-condensed td {
    direction: rtl;
}

.radio label {
    padding-right: 20px;
}

.glyphicon-chevron-left:before {
    content: "\e080";
}

.glyphicon-chevron-right:before {
    content: "\e079";
}


#sidebar .sidebar-icons-only-button {
    text-align: left;
    padding-left: 11px;
}

th {
    text-align: right !important;
}

td[role=gridcell] {
    direction: ltr;
}

td[role=gridcell].wrap-cell {
    direction: rtl;
}

.nireport_header th, th.col {
    text-align: center !important;
}

td.data, td.measure {
    direction: ltr !important;
}

.ltr-input {
    text-align: right !important;
}

.ui-jqgrid tr.jqgroup span b {
    direction: ltr;
    unicode-bidi: bidi-override;
}

.ui-pnotify {
    left: 25px !important;
    right: 0px !important;
    direction: rtl !important;;
}

.ui-pnotify-icon, .ui-pnotify-icon span {
    float: right !important;;
    margin-left: .2em !important;;
}

.ui-pnotify-closer, .ui-pnotify-sticker {
    float: left !important;;
    margin-right: .2em !important;;
}

.dropdown-menu ul {
    right: auto !important;
    left: 0 !important;
}

.wizard-invisible-button {
    display: block !important;
}

.wizard-visible-button {
    display: none !important;
}

.search-panel-title {
    padding: 10px 5px;
    text-align: right;
}

.tree ul {
    margin-left: 0px !important;
}

.parent_li {
    margin: 0px 0px 0px 0px !important;
}

.tree li::before, .tree li::after {
    left: auto;
    right: -5px;
}

.search_results_header_keyword {
    float: left !important;
    padding-right: 2px !important;
}

@media (min-width: 768px) {
    .col-sm-offset-1 {
        margin-right: 8.33333333%;
    }
}

.grouping_selector_wrapper {
    float: right !important;
}

.member_selector_wrapper {
    float: right !important;
}
.ui-jqgrid .ui-jqgrid-hbox-rtl {
    float: unset;
}

.ui-jqgrid tr.ui-row-rtl td {
    border-color: lightgrey;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    text-align: right;
}

.panel-body, .panel-footer {
    text-align: right !important;
}

.red, .blue, .green {
    float: right;
}

td.inside ul {
    padding-right: 1.3em;
}

.search-form span.input-group-btn .btn-success {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.search-form div.form-group .search-text {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.legend g{
    direction: ltr!important;
    left: 5px;
    right: auto;
}
.dash-chart-wrap .table-responsive{
    direction: rtl;
}
.dash-chart-wrap .table-responsive .table.table-striped.table-condensed td {
    direction:rtl;
}

.filter-just-search {
    float: right !important;
}

.nv-group .nv-bar text{
    direction: rtl !important;
}
.nv-pieLabels .nv-label text{
    direction: rtl !important;
}

.tick text {
    direction: rtl !important;
}