<div id="footer" style="clear: both;background-color:#27415f;color:#fff;"> 
<p style="margin:0;line-height:10px;">	
&copy; 2007-2008 ODAdata Aid Information Management Systems (AIMS) - <a href="http://www.odadata.eu" style="color:white">www.odadata.eu</a>
</p>
</div>
