<%= render :partial => "/layouts/header_bluebook" %>

<body>
	<%= render :partial => '/layouts/navigation/bluebook' %>

<div id="content">
	<%= yield  %>		
</div>

<%= render :partial => '/shared/footer' %>
</body>
</html>
