<%= render :partial => "layouts/header" %>

	<body>
		<div style="text-align: right; margin-top: 10px; margin-bottom: 5px"><a class="prt" href="#" onclick="window.print();"><%= ll(:actions, :print) %></a> <a class="prt" href="#" onclick="window.close();"><%= ll(:actions, :close_window) %></a></div>
		<div id="content" class="fluid">
			<center>
				<%= yield %>
			</center>
		</div>
	</body>

</html>