/* Start Design Own Report */
.container {
	float: left;
}
div#output_options {
	width: 170px;
	margin-right: 15px;
}
div#filter_criteria {
	width: 518px;
	margin-right: 15px;
}
div#other_criteria {
	width: 170px;
}
div#donor_province {
	width: 200px;
	margin-right: 5px;
}
div#mdg_sector {
	width: 313px;
}

.container h2 {
	margin: 0;
	display:block;
	border-bottom:1px solid black;
	margin-bottom:10px;
}

.checkbox_container h3 {
	margin: 0;
	padding: 2px;
	font-size: 8pt;
	display: block;
	border-bottom: 1px solid #777;
	background-color: #687EAB;
	color: #000;
	height:20px;
}
.checkbox_container .link {
	float:right;
	font-size:9px;
	cursor:pointer;
}


ul.checkbox_container {
	margin-top: 10px;
	font-size:8pt;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	border: 1px solid #777;
	background-color: #DBE2F1;
}

ul.checkbox_container li {
	display: block;
	clear: both;
	vertical-align: baseline;
	margin-top: 2px;
	margin-bottom: 4px;
	padding-left: 5px;
}

ul.checkbox_container li.all {
	font-weight: bold;
}

ul.checkbox_container li div {
	display: inline;
	margin-left: 25px;
	padding-top: 3px;
}

ul.checkbox_container li input {
	float: left;
	margin-right: 5px;
	margin-left: 0;
}
/* End Design Own Report */
