/* Start Design Own Report */
div.container {
  padding: 0 20px;
}

h2 {
	margin: 0;
	display:block;
	border-bottom:1px solid black;
	margin: 10px 0;
}

h3 {
	margin: 0;
	padding: 2px;
	font-size: 8pt;
	display: block;
	border-bottom: 1px solid #777;
	color: #000;
	height:20px;
}

.checkbox_container .link {
	float:right;
	font-size:9px;
	cursor:pointer;
}


div.checkbox_container {
	margin-top: 10px;
	font-size:8pt;
	margin:0;
	padding:0;
	border: 1px solid #777;
	background-color: #DBE2F1;
}

div.checkbox_container ul {
  list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding: 0;
}

div.checkbox_container ul li {
	display: block;
	clear: both;
	vertical-align: baseline;
	margin-top: 2px;
	margin-bottom: 4px;
	padding-left: 5px;
}

ul.checkbox_container li.all {
	font-weight: bold;
	margin-top: -16px;
}

ul.checkbox_container li div {
	display: inline;
	margin-left: 25px;
	padding-top: 3px;
}

ul.checkbox_container li input {
	float: left;
	margin-right: 5px;
	margin-left: 0;
}

ul.checkbox_container {
	margin-top: 10px;
	font-size:8pt;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 20px 0 0 0;
}

ul.checkbox_container li {
	display: block;
	clear: both;
	vertical-align: baseline;
	margin-top: 2px;
	margin-bottom: 4px;
	padding-left: 5px;
}

table.checkbox_container {
  border: 1px solid #777 !important;
  border-spacing: 0 !important;
  margin-bottom: 20px;
}

table.checkbox_container ul {
  padding-left: 10% !important;
}

table.checkbox_container h3 {
  margin-bottom: 1.5em;
}

span.select_all {
  float: right;
}
/* End Design Own Report */
