/* This CSS is used for the Menu (the left frame and the top frame) */

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 8pt;
}

#nav a {
	font-weight: normal;
	color: #FFAD33;
	text-decoration: none;
}

#nav * {
	z-index: 20;
	cursor: pointer;
}

/*
Sub menu settings
*/
#nav ul li a {
	display: block;
	font-weight: normal;
	color: #003F7D;
	width: 12em;
	background-color: #FFAD33;
	border: 1px solid brown;
}

#nav ul li a:hover {
	font-weight: normal;
	color: #FFAD33;
	border: 1px solid brown;
	width: 12em;
	background-color: #003F7D;
}

li#smaller {
	float: left;
	position: relative;
	width: 6.1em;
	text-align: center;
	cursor: default;
	background-color: #003F7D;
	border: 1px solid brown;
}

li#smaller a:hover {
	color: #003F7D;
	display: block;
	background-color: #FFAD33;
	width: 6.1em;
}

li#smallera {
	float: left;
	position: relative;
	width: 5.9em;
	text-align: center;
	cursor: default;
	background-color: #003F7D;
	border: 1px solid brown;
}

li#smallera a:hover {
	color: #003F7D;
	display: block;
	background-color: #FFAD33;
	width: 5.9em;
}

li#bigger {
	float: left;
	position: relative;
	width: 11.6em;
	text-align: center;
	cursor: default;
	background-color: #003F7D;
	border: 1px solid brown;
}
li#bigger a:hover {
	color: #003F7D;
	display: block;
	background-color: #FFAD33;
	width: 11.6em;
}

li#biggera {
	float: left;
	position: relative;
	width: 11.2em;
	text-align: center;
	cursor: default;
	background-color: #003F7D;
	border: 1px solid brown;
}
li#biggera a:hover {
	color: #003F7D;
	display: block;
	background-color: #FFAD33;
	width: 11.2em;
}

li#smallmfp {
	float: left;
	position: relative;
	width: 6.1em;
	text-align: center;
	cursor: default;
	background-color: #003F7D;
	border: 1px solid brown;
}

li#smallmfp a:hover {
	color: #003F7D;
	display: block;
	background-color: #FFAD33;
	width: 6.1em;
}

li#biggermfp {
	float: left;
	position: relative;
	width: 13em;
	text-align: center;
	cursor: default;
	background-color: #003F7D;
	border: 1px solid brown;
}
li#biggermfp a:hover {
	color: #003F7D;
	display: block;
	background-color: #FFAD33;
	width: 13em;
}

li#biggestmfp {
	float: left;
	position: relative;
	width: 14.9em;
	text-align: center;
	cursor: default;
	background-color: #003F7D;
	border: 1px solid brown;
}
li#biggestmfp a:hover {
	color: #003F7D;
	display: block;
	background-color: #FFAD33;
	width: 14.9em;
}

li#eubb {
	float: left;
	position: relative;
	width: 7.2em;
	text-align: center;
	cursor: default;
	background-color: #003F7D;
	border: 1px solid brown;
}

li#eubb a:hover {
	color: #003F7D;
	display: block;
	background-color: #FFAD33;
	width: 7.2em;
}

li#donoradmin {
	float: left;
	position: relative;
	width: 8em;
	text-align: center;
	cursor: default;
	background-color: #003F7D;
	border: 1px solid brown;
}

li#donoradmin a:hover {
	color: #003F7D;
	display: block;
	background-color: #FFAD33;
	width: 8em;
}

li ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	font-size: 8pt;
	font-weight: normal;
	background: bottom left no-repeat;
	padding: 0.2em 0 0.2em 0;
}



li li {
	display: block;
	float: none;
	border: 0;
}

li:hover ul, li.over ul {
	display: block;
	border: 1px solid brown;
	background-color: #003F7D;
}

li#biggestmfp ul a {
	display: block;
	font-weight: normal;
	color: #FFAD33;
	width: 14.2em;
	background-color: #003F7D;
	border: 1px solid brown;
}

li#biggestmfp ul a:hover {
	font-weight: normal;
	color: #003F7D;
	border: 1px solid brown;
	width: 14.2em;
	background-color: #FFAD33;
}

hr {
	display: none;
}

p {
	padding: 1em 1em 0 1em;
	margin: 0;
}

.menuline {
	background-color: #FFAD33;
}