html {
	margin: 0;
	padding: 0;
}

body {
	margin-top: 0;
	scrollbar-face-color:#FFFFFF;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#006699;
	scrollbar-darkshadow-color:#006699;
	scrollbar-shadow-color:#FFFFFF;
	scrollbar-arrow-color:#006699;
	scrollbar-track-color:#E2E7EB;
	background-color: #FFFFFF;
}

.bt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #003366;
	text-decoration: none;
	background-color: #FFAA33;
	border-top: 1px solid #FF6600;
	border-right: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
	border-left: 1px solid #FF6600;
	padding: 2px;
	text-align: center;
}

.btx {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #003366;
	text-decoration: none;
	background-color: #FFAA33;
	border-top: 1px solid #FF6600;
	border-right: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
	border-left: 1px solid #FF6600;
	padding: 1px;
	width: 100px;
	text-align: center;

}

.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #003366;
}

.txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	color: #003366;
	text-decoration: none;
	
}

.filet {
	padding: 3px;
	border: 1px solid #BCBCBC;


}
a.txt:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #CC3300;
	text-decoration: underline;
	

}

}
.grandTitre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.lLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #003366;
	text-decoration: none;

}
a.lLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FF9900;
	text-decoration: underline;

}
.hpdiv {
	position: relative;
	top: 20%;

}
.fondJaune {
	background-color: #FFAD33;
}
.nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #FFAD33;
	background-color: #003F7D;
	height: 3px;
	padding: 3px;
	width: 75px;
	text-align: center;
	letter-spacing: 1px;
	text-decoration: none;
	border-top: 1px solid #0066CC;
	border-right: 1px solid #003366;
	border-bottom: 1px solid #003366;
	border-left: 1px solid #0066CC;
}
a.nav:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #003366;
	background-color: #FFAD33;
	text-align: center;
	padding: 3px;
	width: 75px;
	text-decoration: none;
	border-top: 1px solid #FF6600;
	border-right: 1px solid #FFCC00;
	border-bottom: 1px solid #FF9900;
	border-left: 1px solid #FF6600;
}
.subnav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #FFAD33;
	background-color: #003F7D;
	height: 3px;
	padding: 3px;
	width: 120px;
	text-align: center;
	letter-spacing: 1px;
	text-decoration: none;
	border-top: 1px solid #0066CC;
	border-right: 1px solid #003366;
	border-bottom: 1px solid #003366;
	border-left: 1px solid #0066CC;
}
a.subnav:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #003366;
	background-color: #FFAD33;
	text-align: center;
	padding: 3px;
	width: 120px;
	text-decoration: none;
	border-top: 1px solid #FF6600;
	border-right: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
	border-left: 1px solid #FF6600;
}
.f-menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #FFAD33;
	background-color: #003F7D;
	padding: 3px;
	width: 120px;
	text-align: center;
	letter-spacing: 1px;
	text-decoration: none;
	border-top: 1px solid #0066CC;
	border-right: 1px solid #003366;
	border-bottom: 1px solid #003366;
	border-left: 1px solid #0066CC;


}
a.f-menu:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #003366;
	background-color: #FFAD33;
	text-align: center;
	padding: 3px;
	width: 120px;
	text-decoration: none;
	border-top: 1px solid #FF6600;
	border-right: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
	border-left: 1px solid #FF6600;





}
.t-menu{
	position: absolute;
	width: auto;
	visibility: hidden;
	z-index: 5;



}
.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #003366;
}

.sublabel {
	background-color: #003F7D;
	font-size: 11px;
	font-weight: normal;
	color: #BCBCBC;
	font-family: Arial, Helvetica, sans-serif;
	margin: 1px;
	font-style: normal;



}
a.sublabel:hover {
	background-color: #003F7D;
	font-size: 11px;
	font-weight: normal;
	color: #FFAD33;
	font-family: Arial, Helvetica, sans-serif;
	text-indent: 2px;
	margin: 1px;
	font-style: normal;
	text-decoration: underline;

}
.dot {
	background-attachment: fixed;
	background-image: url('../images/dot.gif');
	background-repeat: no-repeat;
	background-position: left center;
	height: 10px;
	width: 10px;
	padding-right: 3px



}
.redTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #CC0000;
}
.cache {
	visibility: visible;
	z-index: 5;
}
.txtIntro {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #003366;
	text-decoration: none;
}


.small       { font-family: Arial, Helvetica, 'MS Sans Serif', 'sans serif'; font-size: 8pt }



/* Data Entry Forms */
.data_entry label, .data_entry input {
	display: block;
	width: 20%;
	float: left;
	margin-bottom: 5px;
}

.data_entry label {
	text-align: right;
	width: 30%;
	padding-right: 5px;
}

.data_entry p {
	clear: left;
}

.data_entry .error {
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: red;
}

.error {
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: red;
}

table.list {
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
	font-weight: normal;
	font-size: 11px;
	color: #fff;
	width: 740px;
	background-color: #666;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
}

table.list td {
	background-color: #CCC;
	color: #000;
	padding: 4px;
	text-align: left;
	border: 1px #fff solid;
}

table.list td.head1 {
	background-color: #444;
	color: #fff;
	padding: 4px;
	text-align: left;
	border-bottom: 2px #fff solid;
	font-size: 16px;
	font-weight: bold;
}

table.list td.head2 {
	background-color: #555;
	color: #fff;
	padding: 4px;
	text-align: left;
	border-bottom: 2px #fff solid;
	font-size: 14px;
	font-weight: bold;
}

table.list td.title {
	background-color: #666;
	color: #fff;
	padding: 4px;
	text-align: left;
	border-bottom: 2px #fff solid;
	font-size: 12px;
	font-weight: bold;
}

table.list td.sub_title {
	background-color: #777;
	color: #fff;
	padding: 4px;
	text-align: left;
	border-bottom: 2px #fff solid;
	font-size: 12px;
	vertical-align: top;
}

table.list td.exist {
	background-color: #444;
	color: red;
	padding: 4px;
	text-align: left;
	border-bottom: 2px #fff solid;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

table.admin {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
    font-weight: normal;
    font-size: 11px;
    color: #fff;
    background-color: #DBE2F1;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    margin-top: 20px
}

table.admin td {
	text-align: left;
	background-color: #DBE2F1;
	color: #000;
	padding: 4px;
	border: 1px #fff solid;
	font-size: 11px;
}

table.admin td.field_justify
{background-color: #DBE2F1;
color: #000;
padding: 4px;
text-align: justify;
border: 1px #fff solid;
font-size: 11px;}

table.admin th {
	text-align: left;
	background-color: #687eab;
	color: #fff;
	padding: 4px;
	text-align: left;
	border: 1px #fff solid;
	font-size: 11px;
}

table.admin p
{background-color: #DBE2F1;
color: #000;
font-size: 11px;
margin: 0;
padding: 0;}

table.admin td.head1
{background-color: #001F7D;
color: #fff;
padding: 4px;
text-align: left;
border-bottom: 2px #fff solid;
font-size: 16px;
font-weight: bold;}

table.admin td.head2
{background-color: #002F7D;
color: #fff;
padding: 4px;
text-align: left;
border-bottom: 2px #fff solid;
font-size: 14px;
font-weight: bold;}

table.admin td.title
{background-color: #003F7D;
color: #fff;
padding: 4px;
text-align: left;
border-bottom: 2px #fff solid;
font-size: 12px;
font-weight: bold;}

table.admin td.eu_title
{background-color: #003F7D;
color: #fff;
padding: 4px;
text-align: center;
border-bottom: 2px #fff solid;
font-size: 12px;
vertical-align: top;
font-weight: bold;}

table.admin td.sub_title
{background-color: #687EAB;
color: #fff;
padding: 4px;
text-align: left;
border-bottom: 2px #fff solid;
font-size: 12px;
vertical-align: top;}

.sub_title
{background-color: #687EAB;
color: #fff;
padding: 4px;
text-align: left;
border-bottom: 2px #fff solid;
font-size: 12px;
vertical-align: top;}

table.admin td.eu_sub_title
{background-color: #687EAB;
color: #fff;
padding: 4px;
text-align: center;
vertical-align: top;
border-bottom: 2px #fff solid;
font-size: 12px;
vertical-align: top;
font-weight: bold;}

table.admin td.sub_title_bold
{background-color: #687EAB;
color: #fff;
padding: 4px;
text-align: left;
border-bottom: 2px #fff solid;
font-size: 12px;
font-weight: bold;
vertical-align: top;}

table.admin td.sub_button
{background-color: #777;
color: #fff;
padding: 4px;
text-align: left;
border-bottom: 2px #fff solid;
font-size: 12px;
}


/* For cycling table backgrounds */
tr.odd td { background-color: #dbe2f1; }
tr.even td { background-color: #cbe2f1; }

tr.simple td { padding: 1px; margin: 0; white-space: nowrap; }
table.simple_list td { vertical-align: top; }

.currency { white-space: nowrap; }
.currency.right { text-align: right !important; }

tr.totals td { font-weight: bold; white-space: nowrap; }

.sector_detail { margin-bottom: 20px; }

.annotation {
	padding-top: 5px;
	padding-left: 5px;
	font-size: 8px;
}

/* Main content */

#content {
	width: 740px;
	margin-left: auto;
	margin-right: auto;
}

#content.fluid {
	width: auto;
}

#footer {
	clear: left;
	width: 740px;
	margin: 0px auto 5px auto;
	padding-top: 30px;
}

#footer hr {
	display: block;
	border: 1px solid #003F7D;
	height: 3px;
	background-color: #003F7D;
	color: #003F7D;
}

/* Design Own Report */
.container {
	float: left;
	/*border: 1px solid #c00;*/
}
div#output_options {
	width: 142px;
	margin-right: 10px;
}
div#filter_criteria {
	width: 426px;
	margin-right: 10px;
}
div#other_criteria {
	width: 142px;
}
div#donor_province {
	width: 170px;
	margin-right: 10px;
}
div#mdg_sector {
	width: 246px;
}

.container h2 {
	margin: 0;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}

.checkbox_container h3 {
	margin: 0;
	padding: 2px;
	font-size: 1.15em;
	display: block;
	border-bottom: 1px solid #777;
	background-color: #687EAB;
	color: #000;
}

ul.checkbox_container {
	margin-top: 10px;
	border: 1px solid #777;
	background-color: #DBE2F1;
}

ul.checkbox_container li {
	display: block;
	clear: both;
	vertical-align: baseline;
	margin-top: 2px;
	margin-bottom: 4px;
}

ul.checkbox_container li.all {
	font-weight: bold;
}

ul.checkbox_container li div {
	display: inline;
	margin-left: 25px;
	padding-top: 3px;
}

ul.checkbox_container li input {
	float: left;
	margin-right: 5px;
}

.disabled {
	background-color: #ccc;
	color: #000;
}

/* ========================= */
/* = table.admin like list = */
/* ========================= */
ul.fatlist li {
	display: block;
	padding: 1px;
	border: 1px solid #fff;
	white-space: nowrap;
	margin-bottom: 2px;
}

ul.fatlist.flexible li {
	padding: 2px;
	margin-left: 2px;
	float: left;
}


/* ========================= */
/* = print and close window on pop-up = */
/* ========================= */
.prt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #003366;
	text-decoration: none;
	background-color: #FFAA33;
	border-top: 1px solid #FF6600;
	border-right: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
	border-left: 1px solid #FF6600;
	padding: 1px;
	width: 80px;
	text-align: center;