/*
Blue scale

Header: 
 Background: #4f81bd
 Color: #fff
Row: 
 Background: #b8cce4
 Color: #000
Lighter row: 
 Background: #dbe5f1
 Color: #000

Grayscale:
Header: 
 Background: #000000
 Color: #fff
Row: 
 Background: #a5a5a5
 Color: #000
Lighter row: 
 Background: #d8d8d8
 Color: #000

Greenscale
Header: 
 Background: #9bbb59
 Color: #fff
Row: 
 Background: #d7e4bc
 Color: #000
Lighter row: 
 Background: #eaf1dd
 Color: #000

*/




/* Start PUBLIC style */
/* For PUBLIC using bluescale */

/* Data Tables (usually lists), always preceded by the title as a <H2> tag */
.public #content TABLE {
	text-align: center;
	width: 100%;
	border: 0px;
	border-spacing: 1px;
} 

/* Data Table headers (usually lists), always preceded by the title as a <H2> tag */
.public #content TABLE TH {
	color: #fff;
	background-color:#687eab;
	text-align:left;
	padding:2px 2px 2px 2px;
	border-bottom:2px solid white;
	font-size:13px;
} 

/* For the data cells of the table */
.public #content TABLE TD {
	font-size:11px;
  	background-color:#dbe2f1;
	border-spacing: 1px;
	text-align:left;
	padding:2px 2px 2px 2px;
} 

/* Data Table title, preceding the <TABLE> tag */
.public #content H2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #003366;
} 

/* End PUBLIC style */

/* Start FOCAL_POINT style */
/* For FOCAL_POINT using grayscale */
/* Data Tables (usually lists), always preceded by the title as a <H2> tag */
.focal_point #content TABLE {
	font-size:11px;
	text-align: center;
	width: 100%;
	border: 0px;
	border-spacing: 1px;
} 

.focal_point #content TABLE TH {
	color: #fff;
	background-color:#687eab;
	text-align:left;
	padding:2px 2px 2px 2px;
	border-bottom:2px solid white;
} 

/* For the data cells of the table */
.focal_point #content TABLE TD {
	font-size:11px;
  	background-color:#dbe2f1;
	border-spacing: 1px;
	text-align:left;
	padding:2px 2px 2px 2px;
} 

/* Data Table title, preceding the <TABLE> tag */
.focal_point #content H2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #003366;
} 
/* End FOCAL_POINT style */

/* Start ADMIN style */
/* For ADMIN using greenscale */
/* Data Tables (usually lists), always preceded by the title as a <H2> tag */
.admin #content TABLE {
	font-size:11px;
	width: 100%;
	border: 0px;
	border-spacing: 1px;
} 

/* Data Table headers (usually lists), always preceded by the title as a <H2> tag */
.admin #content TABLE TH {
	text-align:left;
	padding:2px 2px 2px 2px;
	color: #fff;
  background-color:#666666;
} 

/* For the data cells of the table */
.admin #content TABLE TD {
	background-color:#cccccc;
	border-spacing: 1px;
	text-align:left;
	padding:2px 2px 2px 2px;
} 

/* Data Table title, preceding the <TABLE> tag */
.admin #content H2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #003366;
} 

/* End ADMIN style */

/* Start Design Own Report */
.container {
	float: left;
}
div#output_options {
	width: 170px;
	margin-right: 15px;
}
div#filter_criteria {
	width: 518px;
	margin-right: 15px;
}
div#other_criteria {
	width: 170px;
}
div#donor_province {
	width: 200px;
	margin-right: 5px;
}
div#mdg_sector {
	width: 313px;
}

.container h2 {
	margin: 0;
	font-size: 1.3em;
	font-weight: bold;
	display:block;
	border-bottom:1px solid black;
	margin-bottom:10px;
}

.checkbox_container h3 {
	margin: 0;
	padding: 2px;
	font-size: 1.15em;
	display: block;
	border-bottom: 1px solid #777;
	background-color: #687EAB;
	color: #000;
}

ul.checkbox_container {
	margin-top: 10px;
	font-size:8pt;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	border: 1px solid #777;
	background-color: #DBE2F1;
}

ul.checkbox_container li {
	display: block;
	clear: both;
	vertical-align: baseline;
	margin-top: 2px;
	margin-bottom: 4px;
}

ul.checkbox_container li.all {
	font-weight: bold;
}

ul.checkbox_container li div {
	display: inline;
	margin-left: 25px;
	padding-top: 3px;
}

ul.checkbox_container li input {
	float: left;
	margin-right: 5px;
}
/* End Design Own Report */

/* Start GENERAL STYLES */

HTML {
	margin: 0;
	padding: 0;
}

BODY { 
	background-color: #eee; 
	color: #333; 
	scrollbar-face-color:#FFFFFF;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#006699;
	scrollbar-darkshadow-color:#006699;
	scrollbar-shadow-color:#FFFFFF;
	scrollbar-arrow-color:#006699;
	scrollbar-track-color:#E2E7EB;
	margin:0 0;
}

BODY, P, OL, UL, TD {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

HR {
	display: none;
}

P {
	padding: 1em 1em 0 1em;
	margin: 0;
}

PRE {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

A { color: #000; }
A:visited { color: #666; }
A:hover { color: #fff; background-color:#000; }
A IMG { border: 0; }


/* Start GENERAL CLASSES */

.horizontalBox {
	width:890px;
	height:45px;
}

.horizontalBox div {
	float:right;
	height:35px;
	color:#003366;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	
}

.bt {
	background-color:#FFAA33;
	border:1px solid #FF6600; 
	color:#003366;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	padding:2px;
	text-align:center;
	text-decoration:none;
}

#leftColumn {
	width:160px;
	float:left;
	text-align:center;
}

#centerColumn {
	width:560px;	
	float:left;
}

#rightColumn {
	width:160px;	
	float:left;
	text-align:center;
}


#generalContainer {
	width:900px;
	background-color:#fff;	
	border-left:1px solid #CECECE;
	border-right:1px solid #CECECE;
}
#header {
	width:900px;
 }


#content {
	text-align:left;
	width: 892px;
	padding-left: 4px;
	padding-right: 4px;
}

#content.fluid {
	width: auto;
}

#footer {
	width: 900px;
	margin-left: 0;
	margin-right: 0;
	text-align:center;
	vertical-align:middle;
	height:35px;
}

#footer hr {
	display: block;
	border: 1px solid #003F7D;
	height: 3px;
	background-color: #003F7D;
	color: #003F7D;
}


/*
	background-color: #FFAA33;
	border-right: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
	border-left: 1px solid #FF6600;
	padding: 2px;
	text-align: center;
}*/

/* Used in MDGS */
ul.fatlist li {
	display: block;
	padding: 1px;
	border: 1px solid #fff;
	white-space: nowrap;
	margin-bottom: 2px;
}
ul.fatlist.flexible li {
	padding: 2px;
	margin-left: 2px;
	float: left;
}

/* Used in layouts for currency_report, graph windows and report window */
.prt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #003366;
	text-decoration: none;
	background-color: #FFAA33;
	border-top: 1px solid #FF6600;
	border-right: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
	border-left: 1px solid #FF6600;
	padding: 1px;
	width: 80px;
	text-align: center;
}

/* Top Menu Orange line */
.menuline {
	background-color: #FFAD33;
}

/* Class Style for errors defined in ActionPack */
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* Id Style for Explanation of errors defined in ActionPack */
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation H2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation P {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation UL LI {
  font-size: 12px;
  list-style: square;
}
/* End GENERAL CLASSES */

/* End GENERAL STYLES */

/* START TOP MENU STYLES */
/* This CSS is used for the Menu (the left frame and the top frame) */
/* This has to be changed and cleaned up */
#mainMenu {
	list-style-type: none;
	background-color: #376091;
	height: 22px;
	position: relative;
	padding:0;
	margin:0;
	float:left;
	width:900px;
}

#mainMenu li {
    font-family:Arial,sans-serif;
    font-size:10px;
	height: 22px;
	line-height: 22px;
	float: left;
	position: relative;
	border-right:1px solid white;
}

#mainMenu li a {
    white-space: nowrap;
    text-transform:uppercase;
	display: block;
	float: left;
	color: #FFFFFF;
	text-decoration: none;
	padding: 0 10px;
}

#mainMenu li a:hover {
	background-color: #222e5d;
}
#mainMenu li.selected a {
	background-color: #222e5d;
}

#mainMenu li a.arrow {
	padding: 0;
	height:22px;
}
#mainMenu li a.no_cursor {
	cursor:default;
}

#mainMenu li ul {
	margin:0;
	padding:0;
	_min-width: 180px;
	width:180px;
	list-style-type: none;
	position: absolute;
	background: #376091;
	height: auto;
	top: 22px;
	left: -1px;
	border: 1px solid #3B5998;
	border-top: 0;
	display: none;
	padding: 5px 0;
	overflow: hidden;
}
#mainMenu li.selected ul {
	display: block;
}
#mainMenu li ul li {
	width: auto;
	float: left;
	width: 123px;
	font-weight: normal;
}
#mainMenu li ul li a, #mainMenu li.selected ul li a {
	width:180px;
	display: block;
	padding: 0 9px;
	color: #fff;
	background: #376091;
	float: none;
	text-align:left;
}
#mainMenu li ul li a:hover, #mainMenu li.selected ul li a:hover {
	background-color: #222e5d;
	color: #FFFFFF;
}

#mainMenu li a img {
	border: 0;
}

/* End TOP MENU STYLES */


/* DATA INPUT FORM STYLES */

/* Clearfix */
ol { overflow: hidden; margin: 0; padding: 0; }

form fieldset {
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em 0;
    background-color: #F8F8F8;
}

form fieldset legend {
    font-size: 1.5em;
    padding: 0 .2em;
    color: #003366;
}

form fieldset ol {
    list-style: none;
}

form fieldset ol li {
    border-bottom: 1px dashed #ccc;
    padding: .5em 0;
}

form fieldset label {
    display: block;
    font-weight: bold;
    font-size: 0.9em;
}

form fieldset label.fluid {
    display: inline;
    padding: 0 !important;
    font-weight: normal;
}

form fieldset input,
form fieldset textarea,
form fieldset select {
    padding: 2px;
    font: 13px "Trebuchet MS", sans-serif;
    border: 1px solid #aaa;
    color: #777;
    margin-top: .2em;
    margin-left: 1em;
}

form fieldset input:focus,
form fieldset textarea:focus {
    border: 1px solid #555 !important;
    color: #555;
}

form label em {
    color: #999;
    font-size: .9em;
}

form fieldset p {
    padding: 1em;
    background: #f5f5f5;
    border: 1px solid #ddd;
    margin: 0 0 1em 0;
    color: #777;
}

form button {
    padding: .5em 2em;
    font: 1.2em "Trebuchet MS", Sans-Serif;
    cursor: pointer;
}    

.buttonHolder {
    background: #eee;
    padding: .5em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
    
/* Validation errors */
form fieldset .error {
  color: #c00;
}

/* Field styles */
form textarea { width: 75%; overflow: auto; }
form fieldset .large { width: 80%; }
form fieldset .full  { width: 95%; }

form fieldset li.fifty { float: left; width: 49.9%; }
form fieldset li.twenty { float: left; width: 20%; }
form fieldset li.thirty { float: left; width: 33.2%; }

form fieldset ol li.noborder { border: 0 !important; }

/* Align checkboxes properly */
form fieldset ol li.checkbox { 
  padding-left: 40px !important; 
  text-indent: -37px; 
}

form fieldset ol li.checkbox input { 
  margin-right: 10px;
  vertical-align: middle;
}
 
/* Subheadings */
form fieldset h3 { 
  font-size: 1.3em;
  font-weight: bold; 
}       

/* End DATA INPUT FORM STYLES */